<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>IOTMACH</title>
    <link href="/static/agricultura/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/agricultura/font-awesome/css/font-awesome.css" rel="stylesheet">
    <!-- Toastr style -->
    <link href="/static/agricultura/css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <link href="/static/agricultura/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">


    {% block css %}

    {% endblock css %}

    <link href="/static/agricultura/css/animate.css" rel="stylesheet">
    <link href="/static/agricultura/css/style.css" rel="stylesheet">

    <link href="/static/agricultura/css/submenu.css" rel="stylesheet">

    <!-- Importaciones Propias -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}agricultura/img/iotmach.ico">
    <link href="/static/agricultura/css/hover.css" rel="stylesheet">
    <style>
        .lazur-bg-modificado {
            background-color: #6EABD4;
            color: #ffffff;
        }

        .fixed-tam {
            min-height: 158px;
        }

        .fixed-tam-tex {
            min-height: 72px;
        }

        .fixed-tam-panel {
            min-height: 292px;
        }

        .fixed-tam-titulo {
            min-height: 52px;
        }
    </style>
</head>

<body class="pace-done fixed-sidebar mini-navbar">
{# mini-navbar #}

    <div id="wrapper">
        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
                <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="container-fluid">
                        <div class="navbar-collapse right" id="nav1">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown" style=";margin-left: 100px;width: 250px">
                                    <a style="color:white" href="#" id="dlabel" class="btn btn-success dropdow-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-user"></i> {{ usuario.get_full_name }}
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu" arial-labelledby="dlabel">
                                        <li>
                                            <a href="/empresa/personas/editar/" title="Haga click aqui para ver su perfil">
                                                Ver Perfil
                                            </a>
                                        </li>
                                        <li>
{#                                            <a href="http://192.168.1.5:6001" title="Ir al Panel de aplicaciones">Panel de Aplicaciones</a>#}
                                        </li>
                                        <li>
                                            <a href="/cerrarsesion/" title="Haga click aqui para cerrar sesión">
                                                Cerrar Sesión
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            {% block contenido %}
            <div class="row border-bottom white-bg page-heading">
                <div class="row">
                    <div class="col-lg-10">
                        <h2>IOTMACH SERVER</h2>
                        <ol class="breadcrumb">
                            <li><a href="http://192.168.0.42:6001"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                            <li class="dropdown">
                              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Inicio<span class="caret"></span></a>
                              {% include "dropdown-menu.html" %}
                            </li>
                            <li class="active">
                                <strong>Pagina Inicial</strong>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <br>
            <div class="row animated fadeInRightBig">
                <div class="col-lg-offset-1 col-lg-2 hvr-grow">
                    <div class="fixed-tam-panel widget-head-color-box lazur-bg-modificado p-lg text-center">
                        <div class="m-b-md">
                        <h2 class="font-bold no-margins fixed-tam-titulo">
                            Empresa
                        </h2>
                            <!-- <small>Iotmach Server</small> -->
                        </div>
                        <a href="/empresa/areas/listar/">
                        <img src="{{ STATIC_URL }}recursos/images/menu/empresa.png" style="width:140px;height:140px" class="img-circle circle-border m-b-md" alt="profile"></a>
                    </div>
                    <div class="widget-text-box fixed-tam">
                        <p class="fixed-tam-tex">Administración de areas y subareas que pertenecen a la empresa.</p>
                        <div class="text-center">
                            <a href="/empresa/areas/listar/" class="btn btn-success btn-rounded hvr-icon-forward"> Ingresar</a>
                        </div>
                    </div>
                </div>
                    <div class="col-lg-2 hvr-grow">
                    <div class="fixed-tam-panel widget-head-color-box lazur-bg-modificado p-lg text-center">
                        <div class="m-b-md">
                        <h2 class="font-bold no-margins fixed-tam-titulo">
                            Agricultura
                        </h2>
                            <!-- <small>Iotmach Server</small> -->
                        </div>
                        <a href="/agricultura/cultivo_ver/">
                            <img src="{{ STATIC_URL }}recursos/images/menu/agricultura.jpg" style="width:140px;height:140px" class="img-circle circle-border m-b-md" alt="profile">
                        </a>
                    </div>
                    <div class="widget-text-box fixed-tam-tex">
                        <p class="fixed-tam-tex">Gestión del proceso de creacion de un cultivo hasta su posterior cosecha.</p>
                        <div class="text-center">
                            <a href="/agricultura/cultivo_ver/" class="btn btn-success btn-rounded hvr-icon-forward"> Ingresar</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 hvr-grow">
                    <div class="fixed-tam-panel widget-head-color-box lazur-bg-modificado p-lg text-center">
                        <div class="m-b-md">
                        <h2 class="font-bold no-margins fixed-tam-titulo">
                            Monitoreo y Control
                        </h2>
                            <!-- <small>Iotmach Server</small> -->
                        </div>
                        <a href="/iot/visualizar_zonas/">
                            <img src="{{ STATIC_URL }}recursos/images/menu/dashboard.png" style="width:140px;height:140px" class="img-circle circle-border m-b-md" alt="profile">
                        </a>
                    </div>
                    <div class="widget-text-box fixed-tam">
                        <p class="fixed-tam-tex">Gestión de las datos recibidos de los sensores y actuadores al sistema.</p>
                        <div class="text-center">
                            <a href="/iot/visualizar_zonas/" class="btn btn-success btn-rounded hvr-icon-forward"> Ingresar</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 hvr-grow">
                    <div class="fixed-tam-panel widget-head-color-box lazur-bg-modificado p-lg text-center">
                        <div class="m-b-md">
                        <h2 class="font-bold no-margins fixed-tam-titulo">
                            Gestión de Eventos
                        </h2>
                            <!-- <small>Iotmach Server</small> -->
                        </div>
                        <a href="/reglas/acciones_reglas">
                            <img src="{{ STATIC_URL }}recursos/images/menu/eventosGestion.png" style="width:140px;height:140px" class="img-circle circle-border m-b-md" alt="profile">
                        </a>
                    </div>
                    <div class="widget-text-box fixed-tam">
                        <p class="fixed-tam-tex">Evalua el flujo de eventos provenientes de la WSN permitiendo tomar decisiones.</p>
                        <div class="text-center">
                            <a href="/reglas/monitoreo_paquetes/" class="btn btn-success btn-rounded hvr-icon-forward"> Ingresar</a>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-2 hvr-grow">
                    <div class="fixed-tam-panel widget-head-color-box lazur-bg-modificado p-lg text-center">
                        <div class="m-b-md">
                        <h2 class="font-bold no-margins fixed-tam-titulo">
                            Reportes
                        </h2>
                            <!-- <small>Iotmach Server</small> -->
                        </div>
                        <a href="/reportes/inicio/">
                            <img src="{{ STATIC_URL }}recursos/images/menu/reportes.png" style="width:140px;height:140px" class="img-circle circle-border m-b-md" alt="profile">
                        </a>
                    </div>
                    <div class="widget-text-box fixed-tam">
                        <p class="fixed-tam-tex">Gestión de reportes de cultivo y sensores del sistema Iotmach.</p>
                        <div class="text-center">
                            <a href="/reportes/inicio/" class="btn btn-success btn-rounded hvr-icon-forward"> Ingresar</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endblock %}
        <div class="footer">
            <div class="pull-right hidden-xs">
                Proyecto IOT
            </div>
            <div>
                <strong>Copyright &copy; 2016 <a href="#">IOTMACH SERVER</a>.</strong> Todos los Derechos reservados.
            </div>
        </div>
        </div>


        </div>
        

    <!-- Mainly scripts -->
    <script src="/static/agricultura/js/jquery-2.1.1.js"></script>
    <script src="/static/agricultura/js/bootstrap.min.js"></script>
    <script src="/static/agricultura/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/static/agricultura/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Flot -->
    <script src="/static/agricultura/js/plugins/flot/jquery.flot.js"></script>
    <script src="/static/agricultura/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
    <script src="/static/agricultura/js/plugins/flot/jquery.flot.spline.js"></script>
    <script src="/static/agricultura/js/plugins/flot/jquery.flot.resize.js"></script>
    <script src="/static/agricultura/js/plugins/flot/jquery.flot.pie.js"></script>
    <script src="/static/agricultura/js/plugins/flot/jquery.flot.symbol.js"></script>
    <script src="/static/agricultura/js/plugins/flot/jquery.flot.time.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="/static/agricultura/js/inspinia-base.js"></script>
    <script src="/static/agricultura/js/plugins/pace/pace.min.js"></script>

    <!-- Sparkline -->
    <script src="/static/agricultura/js/plugins/sparkline/jquery.sparkline.min.js"></script>

    <!-- Toastr script -->
    <script src="/static/agricultura/js/plugins/toastr/toastr.min.js"></script>
    
    <!-- Sweet alert -->
    <script src="/static/agricultura/js/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="/static/agricultura/scripts/validaciones.js"></script>


    {% block scripts %}
        
    {% endblock scripts %}

 <div class="theme-config" style="margin-top: 17px;">
    <div class="theme-config-box">
        <div class="spin-icon">
            <i class="fa fa-cogs fa-spin"></i>
        </div>
        <div class="skin-setttings">
            <div class="title">Configuracion</div>
            <div class="setings-item">
                    <span>
                        Collapse menu
                    </span>

                <div class="switch">
                    <div class="onoffswitch">
                        <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="collapsemenu">
                        <label class="onoffswitch-label" for="collapsemenu">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="setings-item">
                    <span>
                        Fixed sidebar
                    </span>

                <div class="switch">
                    <div class="onoffswitch">
                        <input type="checkbox" name="fixedsidebar" class="onoffswitch-checkbox" id="fixedsidebar">
                        <label class="onoffswitch-label" for="fixedsidebar">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="setings-item">
                    <span>
                        Top navbar
                    </span>

                <div class="switch">
                    <div class="onoffswitch">
                        <input type="checkbox" name="fixednavbar" class="onoffswitch-checkbox" id="fixednavbar">
                        <label class="onoffswitch-label" for="fixednavbar">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="setings-item">
                    <span>
                        Boxed layout
                    </span>

                <div class="switch">
                    <div class="onoffswitch">
                        <input type="checkbox" name="boxedlayout" class="onoffswitch-checkbox" id="boxedlayout">
                        <label class="onoffswitch-label" for="boxedlayout">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="setings-item">
                    <span>
                        Fixed footer
                    </span>

                <div class="switch">
                    <div class="onoffswitch">
                        <input type="checkbox" name="fixedfooter" class="onoffswitch-checkbox" id="fixedfooter">
                        <label class="onoffswitch-label" for="fixedfooter">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </div>
            </div>

           <div class="title">Skins</div>
            <div class="setings-item default-skin">
                    <span class="skin-name ">
                         <a href="#" class="s-skin-0">
                             Defecto
                         </a>
                    </span>
            </div>
            <div class="setings-item blue-skin">
                    <span class="skin-name ">
                        <a href="#" class="s-skin-1">
                            Azul
                        </a>
                    </span>
            </div>
            <div class="setings-item yellow-skin">
                    <span class="skin-name ">
                        <a href="#" class="s-skin-3">
                            Amarillo/Morado
                        </a>
                    </span>
            </div>
        </div>
    </div>
</div>

<script>
    // Enable/disable boxed layout
    $('#boxedlayout').click(function () {
        if ($('#boxedlayout').is(':checked')) {
            $("body").addClass('boxed-layout');
            $('#fixednavbar').prop('checked', false);
            $(".navbar-fixed-top").removeClass('navbar-fixed-top').addClass('navbar-static-top');
            $("body").removeClass('fixed-nav');
            $(".footer").removeClass('fixed');
            $('#fixedfooter').prop('checked', false);

            if (localStorageSupport) {
                localStorage.setItem("fixednavbar",'off');
            }

            if (localStorageSupport) {
                localStorage.setItem("fixedfooter",'off');
            }


            if (localStorageSupport) {
                localStorage.setItem("boxedlayout",'on');
            }
        } else {
            $("body").removeClass('boxed-layout');

            if (localStorageSupport) {
                localStorage.setItem("boxedlayout",'off');
            }
        }
    });

    // Enable/disable fixed footer
    $('#fixedfooter').click(function () {
        if ($('#fixedfooter').is(':checked')) {
            $('#boxedlayout').prop('checked', false);
            $("body").removeClass('boxed-layout');
            $(".footer").addClass('fixed');

            if (localStorageSupport) {
                localStorage.setItem("boxedlayout",'off');
            }

            if (localStorageSupport) {
                localStorage.setItem("fixedfooter",'on');
            }
        } else {
            $(".footer").removeClass('fixed');

            if (localStorageSupport) {
                localStorage.setItem("fixedfooter",'off');
            }
        }
    });

    // SKIN Select
    $('.spin-icon').click(function () {
        $(".theme-config-box").toggleClass("show");
    });

    // Default skin
    $('.s-skin-0').click(function () {
        $("body").removeClass("skin-1");
        $("body").removeClass("skin-2");
        $("body").removeClass("skin-3");
        if (localStorageSupport) {
            localStorage.setItem("skin",'default');
        }
    });

    // Blue skin
    $('.s-skin-1').click(function () {
        $("body").removeClass("skin-2");
        $("body").removeClass("skin-3");
        $("body").addClass("skin-1");
        if (localStorageSupport) {
            localStorage.setItem("skin",'skin-1');
        }
    });

    // Inspinia ultra skin
    $('.s-skin-2').click(function () {
        $("body").removeClass("skin-1");
        $("body").removeClass("skin-3");
        $("body").addClass("skin-2");
        if (localStorageSupport) {
            localStorage.setItem("skin",'skin-3');
        }
    });

    // Yellow skin
    $('.s-skin-3').click(function () {
        $("body").removeClass("skin-1");
        $("body").removeClass("skin-2");
        $("body").addClass("skin-3");
        if (localStorageSupport) {
            localStorage.setItem("skin",'skin-2');
        }
    });

    if (localStorageSupport) {
        var collapse = localStorage.getItem("collapse_menu");
        var fixedsidebar = localStorage.getItem("fixedsidebar");
        var fixednavbar = localStorage.getItem("fixednavbar");
        var boxedlayout = localStorage.getItem("boxedlayout");
        var fixedfooter = localStorage.getItem("fixedfooter");
        var skin        = localStorage.getItem("skin");

        // if (collapse == 'on') {
        //     $('#collapsemenu').prop('checked','checked')
        // }
        // if (fixedsidebar == 'on') {
        //     $('#fixedsidebar').prop('checked','checked')
        // }
        if (fixednavbar == 'on') {
            $('#fixednavbar').prop('checked','checked')
        }
        console.log(skin);
        if (boxedlayout == 'on') {
            $('#boxedlayout').prop('checked','checked')
        }
        if (fixedfooter == 'on') {
            $('#fixedfooter').prop('checked','checked')
        }
        if (skin == 'default'){
            setDefault();
        }
        if (skin == 'skin-1'){
            setSkin1();
        }
        if (skin == 'skin-2'){
            setSkin2();
        }
    }

    function setDefault(){
        $("body").removeClass("skin-1");
        $("body").removeClass("skin-2");
        $("body").removeClass("skin-3");
    }

    function setSkin1(){
        $("body").removeClass("skin-2");
        $("body").removeClass("skin-3");
        $("body").addClass("skin-1");
    }

    function setSkin2(){
        $("body").removeClass("skin-1");
        $("body").removeClass("skin-2");
        $("body").addClass("skin-3");
    }

    document.onload = inicio();
    function inicio() {
        //toastr.options.positionClass = 'toast-top-center';
        {% if messages %}
            {% for msg in messages %}
                {% if msg.tags == 'success' %}
                    toastr.options={"progressBar": true}
                    toastr.success('{{ msg }}','Estado')
                {% else %}
                    {% if msg.tags == 'warning' %}
                        toastr.options={"progressBar": true ,"showDuration": "500", "hideDuration": "3000", "timeOut": "10000","extendedTimeOut": "3000"}
                        toastr.warning('{{ msg }}','Estado')
                    {% else %}
                        toastr.options={"progressBar": true}
                        toastr.error('{{ msg }}','Estado')
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}

            msg = sessionStorage.getItem("mensaje");
            if(msg != 'ok'){
                toastr.options = {
                                  "closeButton": true,
                                  "debug": false,
                                  "progressBar": true,
                                  "preventDuplicates": false,
                                  "positionClass": "toast-top-right",
                                  "onclick": null,
                                  "showDuration": "400",
                                  "hideDuration": "1000",
                                  "timeOut": "7000",
                                  "extendedTimeOut": "1000",
                                  "showEasing": "swing",
                                  "hideEasing": "linear",
                                  "showMethod": "slideDown",
                                  "hideMethod": "fadeOut"
                                }
                toastr.success('Bienvenido a IOTMACH SERVER.', 'Hola')
            }
            sessionStorage.setItem('mensaje','ok')
        }
</script>


</body>
</html>
