<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {% load static %}
    <title>Dyuyay Server | Inicio</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
      <link rel="icon" href="{% static 'recursos/images/ico/focoDYuyay.ico' %}"/>
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="{% static 'plantilla/bootstrap/css/bootstrap.min.css' %}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static 'font-awesome-4.3.0/css/font-awesome.min.css' %}">
    <!-- Ionicons >
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'plantilla/dist/css/AdminLTE.min.css' %}">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="{% static 'plantilla/dist/css/skins/_all-skins.min.css' %}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="{% static 'recursos/css/alertify.css' %}"/>

      <!-- jQuery 2.1.4 -->
    <script src="{% static 'plantilla/plugins/jQuery/jQuery-2.1.4.min.js' %}"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="{% static 'plantilla/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- SlimScroll -->
    <script src="{% static 'plantilla/plugins/slimScroll/jquery.slimscroll.min.js' %}"></script>
    <!-- FastClick -->
    <script src="{% static 'plantilla/plugins/fastclick/fastclick.min.js' %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static 'plantilla/dist/js/app.min.js' %}"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{% static 'plantilla/dist/js/demo.js' %}"></script>

    <!--loader-->
{#    <script src="{% static 'loader/spin.min.js' %}" type="text/javascript"></script>#}
    <script src="{% static 'recursos/js/alertify.min.js' %}"></script>


  </head>
  <!-- ADD THE CLASS layout-top-nav TO REMOVE THE SIDEBAR. -->
  <body class="hold-transition skin-blue layout-top-nav">

<div id="modalPass" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Recuperar contraseña</h4>
            </div>
            <form action="/seguridad/usuarios/recuperar/" method="post">{% csrf_token %}
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-offset-2 col-md-8">
                            <label>Nombre de usuario</label>
                            <div class="form-group has-feedback">
                                <input autocomplete="off" placeholder="Escriba su nombre de usuario" class="form-control" type="text" id="txtUsername" name="txt_username" required/>
                                <span class="fa fa-user form-control-feedback"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-2 col-md-8">
                            <label>Correo electrónico</label>
                            <div class="form-group has-feedback">
                                <input type="email" class="form-control" placeholder="Escriba su correo electrónico" name="txt_email" id="txt_email" required>
                                <span class="fa fa-envelope-square form-control-feedback"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button class="btn btn-success" id="modificar">Recuperar</button>
                </div>
            </form>
        </div>
    </div>
</div>



    <div class="wrapper">

      <header class="main-header">
        <nav class="navbar navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <a href="/" class="navbar-brand">
                  <span class="logo-mini"><img src="{% static 'recursos_admin/dist/img/iotmach.png' %}" width="30" height="30"></span>
                  <b>Dyuyay Server</b></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse pull-left" id="navbar-collapse">

            </div><!-- /.navbar-collapse -->
            <!-- Navbar Right Menu -->

          </div><!-- /.container-fluid -->
        </nav>
      </header>
      <!-- Full Width Column -->
      <div class="content-wrapper">
        <div class="container">


            <!-- Content Header (Page header) -->
          <section class="content-header">
            {% block contenido1 %} {% endblock %}
          </section>

          <!-- Main content -->
          <section class="content">
            {% block contenido %}
            {% endblock %}
          </section><!-- /.content -->
        </div><!-- /.container -->
      </div><!-- /.content-wrapper -->
      <footer class="main-footer">
        <div class="container">
          <div class="pull-right hidden-xs">
            Proyecto IOT
          </div>
          <strong>Copyright &copy; 2016 <a href="#">IOTMACH</a>.</strong> Todos los Derechos reservados.
        </div><!-- /.container -->
      </footer>
    </div><!-- ./wrapper -->
  </body>


</html>
