<ul class="dropdown-menu" role="menu">
    <li><a href="/">Inicio</a></li>
    <li class="dropdown-submenu">
        <a tabindex="-1" href="/empresa/inicio/">Empresa <i class="fa fa-chevron-right"></i></a>
        <ul class="dropdown-menu">
            {% for i in menu %}
                {% if i.men_plantilla == "empresa" %}
                    {% if i.men_estado_url %}
                        <li class="dropdown-submenu">
                            <a href="{{ i.men_ruta }}">
                                <span class="texto_menu">{{ i.men_nombre }}</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="dropdown-submenu">
                            <a href="#">
                                <span class="texto_menu">{{ i.men_nombre }}</span>
                                <span class="fa fa-chevron-right"></span>
                            </a>
                            <ul class="dropdown-menu">
                                {% for j in submenu %}
                                    {% if i.pk == j.men_id_padre.pk %}
                                        {% if j.men_estado_url %}
                                            <li class="dropdown-submenu">
                                                <a href="{{ j.men_ruta }}">{{ j.men_nombre }}</a>
                                            </li>
                                        {% else %}
                                            <li class="dropdown-submenu">
                                                <a href="#">{{ j.men_nombre }} <span class="fa fa-chevron-right"></span></a>
                                                <ul class="dropdown-menu">
                                                    {% for k in items %}
                                                        {% if j.pk == k.men_id_padre.pk %}
                                                            <li class="dropdown-submenu">
                                                                <a href="{{ k.men_ruta }}">{{ k.men_nombre }}</a>
                                                            </li>
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% for j in submenu %}
                {% if j.men_id_padre == None and j.men_plantilla == "empresa"%}
                    {% if j.men_estado_url %}
                        <li class="dropdown-menu">
                            <a href="{{ j.men_ruta }}">
                                <span class="texto_menu">{{ j.men_nombre }}</span>
                                <span class="fa fa-chevron-right"></span>
                            </a>
                        </li>
                    {% else %}
                        <li class="dropdown-submenu">
                            <a href="#">
                                <span class="texto_menu">{{ j.men_nombre }}</span>
                                <span class="fa fa-chevron-right"></span>
                            </a>
                            <ul class="dropdown-menu">
                                {% for k in items %}
                                    {% if j.pk == k.men_id_padre.pk %}
                                        <li class="treeview">
                                            <a href="{{ k.men_ruta }}">
                                                {{ k.men_nombre }}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% for k in items %}
                {% if k.men_id_padre == None and k.men_plantilla == "empresa" %}
                    <li class="dropdown-submenu">
                        <a href="{{ k.men_ruta }}" title="{{ k.men_nombre }}">
                            <span class="texto-menu">{{ k.men_nombre }}</span>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </li>
    <li class="dropdown-submenu">
        <a tabindex="-1" href="/agricultura/cultivo_ver/">Agricultura&nbsp;<i class="fa fa-chevron-right"></i></a>
        <ul class="dropdown-menu">
            {% for i in menu %}
                {% if i.men_plantilla == "agricultura" %}
                    {% if i.men_estado_url %}
                        <li class="dropdown-submenu">
                            <a href="{{ i.men_ruta }}">
                                <span class="texto_menu">{{ i.men_nombre }}</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="dropdown-submenu">
                            <a href="#">
                                <span class="texto_menu">{{ i.men_nombre }}</span>
                                <span class="fa fa-chevron-right"></span>
                            </a>
                            <ul class="dropdown-menu">
                                {% for j in submenu %}
                                    {% if i.pk == j.men_id_padre.pk %}
                                        {% if j.men_estado_url %}
                                            <li class="dropdown-submenu">
                                                <a href="{{ j.men_ruta }}">{{ j.men_nombre }}</a>
                                            </li>
                                        {% else %}
                                            <li class="dropdown-submenu">
                                                <a href="#">{{ j.men_nombre }} <span class="fa fa-chevron-right"></span></a>
                                                <ul class="dropdown-menu">
                                                    {% for k in items %}
                                                        {% if j.pk == k.men_id_padre.pk %}
                                                            <li class="dropdown-submenu">
                                                                <a href="{{ k.men_ruta }}">{{ k.men_nombre }}</a>
                                                            </li>
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% for j in submenu %}
                {% if j.men_id_padre == None and j.men_plantilla == "agricultura"%}
                    {% if j.men_estado_url %}
                        <li class="dropdown-menu">
                            <a href="{{ j.men_ruta }}">
                                <span class="texto_menu">{{ j.men_nombre }}</span>
                                <span class="fa fa-chevron-right"></span>
                            </a>
                        </li>
                    {% else %}
                        <li class="dropdown-submenu">
                            <a href="#">
                                <span class="texto_menu">{{ j.men_nombre }}</span>
                                <span class="fa fa-chevron-right"></span>
                            </a>
                            <ul class="dropdown-menu">
                                {% for k in items %}
                                    {% if j.pk == k.men_id_padre.pk %}
                                        <li class="treeview">
                                            <a href="{{ k.men_ruta }}">
                                                {{ k.men_nombre }}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% for k in items %}
                {% if k.men_id_padre == None and k.men_plantilla == "agricultura" %}
                    <li class="dropdown-submenu">
                        <a href="{{ k.men_ruta }}" title="{{ k.men_nombre }}">
                            <span class="texto-menu">{{ k.men_nombre }}</span>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </li>
    <li class="dropdown-submenu">
        <a tabindex="-1" href="/iot/visualizar_zonas/">Monitoreo y Control&nbsp;<i class="fa fa-chevron-right"></i></a>
        <ul class="dropdown-menu">
            {% for i in menu %}
                {% if i.men_plantilla == "iot" %}
                    {% if i.men_estado_url %}
                        <li class="dropdown-submenu">
                            <a href="{{ i.men_ruta }}">
                                <span class="texto_menu">{{ i.men_nombre }}</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="dropdown-submenu">
                            <a href="#">
                                <span class="texto_menu">{{ i.men_nombre }}</span>
                                <span class="fa fa-chevron-right"></span>
                            </a>
                            <ul class="dropdown-menu">
                                {% for j in submenu %}
                                    {% if i.pk == j.men_id_padre.pk %}
                                        {% if j.men_estado_url %}
                                            <li class="dropdown-submenu">
                                                <a href="{{ j.men_ruta }}">{{ j.men_nombre }}</a>
                                            </li>
                                        {% else %}
                                            <li class="dropdown-submenu">
                                                <a href="#">{{ j.men_nombre }} <span class="fa fa-chevron-right"></span></a>
                                                <ul class="dropdown-menu">
                                                    {% for k in items %}
                                                        {% if j.pk == k.men_id_padre.pk %}
                                                            <li class="dropdown-submenu">
                                                                <a href="{{ k.men_ruta }}">{{ k.men_nombre }}</a>
                                                            </li>
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% for j in submenu %}
                {% if j.men_id_padre == None and j.men_plantilla == "iot"%}
                    {% if j.men_estado_url %}
                        <li class="dropdown-menu">
                            <a href="{{ j.men_ruta }}">
                                <span class="texto_menu">{{ j.men_nombre }}</span>
                                <span class="fa fa-chevron-right"></span>
                            </a>
                        </li>
                    {% else %}
                        <li class="dropdown-submenu">
                            <a href="#">
                                <span class="texto_menu">{{ j.men_nombre }}</span>
                                <span class="fa fa-chevron-right"></span>
                            </a>
                            <ul class="dropdown-menu">
                                {% for k in items %}
                                    {% if j.pk == k.men_id_padre.pk %}
                                        <li class="treeview">
                                            <a href="{{ k.men_ruta }}">
                                                {{ k.men_nombre }}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% for k in items %}
                {% if k.men_id_padre == None and k.men_plantilla == "iot" %}
                    <li class="dropdown-submenu">
                        <a href="{{ k.men_ruta }}" title="{{ k.men_nombre }}">
                            <span class="texto-menu">{{ k.men_nombre }}</span>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </li>
    <li><a href="/reglas/acciones_reglas/">Gestion de Eventos</a></li>
    <li class="dropdown-submenu">
        <a tabindex="-1" href="/reportes/inicio">Reportes&nbsp;<i class="fa fa-chevron-right"></i></a>
        <ul class="dropdown-menu">
            {% for i in menu %}
                {% if i.men_plantilla == "reportes" %}
                    {% if i.men_estado_url %}
                        <li class="dropdown-submenu">
                            <a href="{{ i.men_ruta }}">
                                <span class="texto_menu">{{ i.men_nombre }}</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="dropdown-submenu">
                            <a href="#">
                                <span class="texto_menu">{{ i.men_nombre }}</span>
                                <span class="fa fa-chevron-right"></span>
                            </a>
                            <ul class="dropdown-menu">
                                {% for j in submenu %}
                                    {% if i.pk == j.men_id_padre.pk %}
                                        {% if j.men_estado_url %}
                                            <li class="dropdown-submenu">
                                                <a href="{{ j.men_ruta }}">{{ j.men_nombre }}</a>
                                            </li>
                                        {% else %}
                                            <li class="dropdown-submenu">
                                                <a href="#">{{ j.men_nombre }} <span class="fa fa-chevron-right"></span></a>
                                                <ul class="dropdown-menu">
                                                    {% for k in items %}
                                                        {% if j.pk == k.men_id_padre.pk %}
                                                            <li class="dropdown-submenu">
                                                                <a href="{{ k.men_ruta }}">{{ k.men_nombre }}</a>
                                                            </li>
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% for j in submenu %}
                {% if j.men_id_padre == None and j.men_plantilla == "reportes"%}
                    {% if j.men_estado_url %}
                        <li class="dropdown-menu">
                            <a href="{{ j.men_ruta }}">
                                <span class="texto_menu">{{ j.men_nombre }}</span>
                                <span class="fa fa-chevron-right"></span>
                            </a>
                        </li>
                    {% else %}
                        <li class="dropdown-submenu">
                            <a href="#">
                                <span class="texto_menu">{{ j.men_nombre }}</span>
                                <span class="fa fa-chevron-right"></span>
                            </a>
                            <ul class="dropdown-menu">
                                {% for k in items %}
                                    {% if j.pk == k.men_id_padre.pk %}
                                        <li class="treeview">
                                            <a href="{{ k.men_ruta }}">
                                                {{ k.men_nombre }}
                                            </a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
            {% for k in items %}
                {% if k.men_id_padre == None and k.men_plantilla == "reportes" %}
                    <li class="dropdown-submenu">
                        <a href="{{ k.men_ruta }}" title="{{ k.men_nombre }}">
                            <span class="texto-menu">{{ k.men_nombre }}</span>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </li>
</ul>