{% extends "baseInicio.html" %}
{% load static %}
{% block contenido1 %}
    <legend>DYUYAY Server</legend>
{% endblock %}
{% block contenido %}
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Inicio de Sesión</h4>
                        <img src="{% static 'recursos/images/ico/iotmach.ico' %}" width="80" style="float: right; margin-top: -50px"/>
                    </div>
                    <div class="modal-body">
                        <div id="alerta_login"></div>

                        <form action="/iniciosesion/" method="post" id="form-login">{% csrf_token %}
                            <div class="row">
                                <div class="col-md-offset-2 col-md-8">
                                    <div class="form-group has-feedback">
                                        <input name="txtUsuario" type="text" class="form-control" style="width: 100%" placeholder="Usuario" autocomplete="off" autofocus required>
                                        <span class="glyphicon glyphicon-user form-control-feedback"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-offset-2 col-md-8">
                                    <div class="form-group has-feedback">
                                        <input name ="txtPassword" type="password" class="form-control" style="width: 100%" placeholder="Contraseña" required>
                                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-offset-2 col-md-8">
                                    <div>
                                        <a data-toggle="modal" href="#modalPass" style="padding-right: 50px" data-dismiss="modal">¿Olvidó su Contraseña?</a>
                                        <div class="pull-right">
                                            <button id="btn_entrar" type="submit" class="btn btn-primary btn-block btn-flat">Iniciar Sesión <i class="fa fa-sign-in"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <br/>
                        {% for msg in messages %}
                            {% if msg.tags == 'success' %}
                                <p style="color: green;text-align: center">{{ msg }}</p>
                            {% else %}
                                <p style="color: red;text-align: center">{{ msg }}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
