  {% extends "agricultura/base_agricultura.html" %}

  {% block css %}

  <link href="/static/agricultura/css/plugins/chosen/chosen.css" rel="stylesheet">
  <!-- Data Tables -->
  <link href="/static/agricultura/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
  <link href="/static/agricultura/css/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
  <link href="/static/agricultura/css/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet">
  <link href="/static/agricultura/css/plugins/footable/footable.core.css" rel="stylesheet">
  <link href="/static/agricultura/css/plugins/cropper/cropper.min.css" rel="stylesheet">
  <link href="/static/agricultura/css/plugins/switchery/switchery.css" rel="stylesheet">

  {% endblock css %}

  {% block contenido %}

  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Gestión Parcelas</h2>
        <h2 class="pull-right" style="margin-top: -35px;">{{empresa}}</h2>
        <ol class="breadcrumb">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Inicio<span class="caret"></span></a> {% include "dropdown-menu.html" %}
            </li>
            <li>
                <a href="/agricultura/inicio">Módulo agricultura</a>
            </li>
            <li class="active">
                <strong>Parcelas</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
  </div>


  <div class="wrapper wrapper-content animated fadeIn">

    <div class="row">
    </div>
    <div class="row">
        {% if 'agricultura.list_agr_parcela' in usuario.get_all_permissions %}
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Detalle de la parcela</h5>
                    </div>
                    <div class="ibox-content">
                        <input type="text" class="form-control input-sm m-b-xs" id="filter"
                               placeholder="Search in table">
                        <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="8" data-filter=#filter>
                            <thead>
                            <tr>
                                <th data-toggle="true">Nombre</th>
                                <th>Latitud</th>
                                <th>Longitud</th>
                                <th data-hide="all">Área Neta</th>
                                <th data-hide="all">Área Bruta</th>
                                <th data-hide="all">Hectáreas</th>
                                <th data-hide="all">Hectáreas Disponibles</th>
                                {% if 'agricultura.change_agr_parcela' in usuario.get_all_permissions %}
                                    <th>Estado</th>
                                {% endif %}
                                {% if 'agricultura.change_agr_parcela' in usuario.get_all_permissions %}
                                    <th>Acción</th>
                                {% endif %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for datos in datos_parcela %}
                                <tr>
                                    <td>{{datos.par_id.sar_nombre}}</td>
                                    <td>{{datos.par_id.sar_latitud}} {{datos.par_id.sar_hem_lat}}</td>
                                    <td>{{datos.par_id.sar_longitud}} {{datos.par_id.sar_hem_lon}}</td>
                                    <td>{{datos.par_area_neta}}</td>
                                    <td>{{datos.par_area_bruta}}</td>
                                    <td>{{datos.par_hectareas}}</td>
                                    <td>{{datos.par_disponibles}}</td>
                                    {% if 'agricultura.change_agr_parcela' in usuario.get_all_permissions %}
                                        <td>
                                        <div class="switch">
                                            <div class="onoffswitch">
                                                {% if datos.par_estado %}
                                                    <input type="checkbox" checked class="onoffswitch-checkbox" value="{{ datos.par_estado }}" id="{{ datos.par_id.sar_id}}" onchange="baja_parcela(this, '{{ datos.par_id.sar_id }}')" >
                                                {% else %}
                                                    <input type="checkbox" class="onoffswitch-checkbox" value="{{ datos.par_estado }}" id="{{ datos.par_id.sar_id}}" onchange="baja_parcela(this, '{{ datos.par_id.sar_id }}')" >
                                                {% endif %}
                                                <label class="onoffswitch-label" for={{datos.par_id.sar_id }}>
                                                    <span class="onoffswitch-inner"></span>
                                                    <span class="onoffswitch-switch"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </td>
                                    {% endif %}
                                    {% if 'agricultura.change_agr_parcela' in usuario.get_all_permissions %}
                                        <td>
                                            <a onclick="editar_parcela({{ datos.par_id.sar_id }})" class="btn btn-warning btn-xs "data-toggle="tooltip" data-placement="top" title="Editar" data-original-title="Mark as read"><i class="fa fa-edit fa-xl"> Editar</i> </a>
                                        </td>
                                    {% endif %}
                                    {% if 'agricultura.add_agr_archivo' in usuario.get_all_permissions %}
                                        <td>
                                            <a class="btn btn-success btn-xs" data-toggle="tooltip" data-placement="top" title="Ver Archivos" href="/agricultura/parcela/archivos/{{datos.par_id.sar_id}}"> <i class="fa fa-edit fa-xl"> Ver Archivos</i></i> </a>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="5">
                                    <ul class="pagination pull-right"></ul>
                                </td>
                            </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>
            </div>
        {% endif %}
        {% if 'agricultura.add_agr_parcela' in usuario.get_all_permissions %}
            <div class="col-md-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Ingreso de Parcelas</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content" style="display: block;">
                        <form id="form_parcela" class="form-horizontal" enctype="multipart/form-data" method="post" action="{% url 'agricultura:url_guardar_parcela' %}"> {% csrf_token %}
                            <div class="form-group">
                                <input type="text" name="tipo_envio" id="tipo_envio"  class="hide" value="parcela">

                                <label class="col-lg-3 control-label">Localización</label>
                                <div class="col-lg-5">
                                <select data-placeholder="Escoga Ubicación..."  style="width: 110%" class="chosen-select" style="width:250px;" tabindex="2" id="select_local" name="select_local">
                                    {% for i in datos_subareas %}
                                        <option value="{{ i.sar_id }}">{{ i.sar_nombre }}</option>
                                    {% endfor %}
                                </select>
                                 </div>
                                <div class="col-lg-4">
                                     {% if 'app_empresa.add_proy_subarea' in usuario.get_all_permissions %}
                                <a  onclick="agregarSubArea()" class="related-widget-wrapper-link add-related" id="add_id_sar_region" title="Agregar Áreas"><img src="/static/admin/img/icon_addlink.gif" width="10" height="10" alt="Agregar"></a>
                                {% endif %}
                                 </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Área</label>
                                <div class="col-lg-5">
                                    <input type="text" placeholder="Neta" class="form-control" name="txtAreaNeta" id="txtAreaNeta" required onkeypress="validaSoloNumeros()">
                                </div>
                                <div class="col-lg-4">
                                    <input type="text" placeholder="Bruta" class="form-control" name="txtAreaBruta" id="txtAreaBruta" required onkeypress="validaSoloNumeros()">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Número de Hectáreas</label>
                                <div class="col-lg-9">
                                    <input type="text" placeholder="Hectáreas" class="form-control" name="numHectareas" id="numHectareas" required onkeypress="validaSoloNumeros()">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 control-label">Tipo de Suelo</label>
                                <div class="col-xs-5">
                                    <div id="contenedorSelect">
                                        <select class="chosen-select"  style="width: 110%" id = "select_suelo" name="select_suelo" >
                                            {% for i in datos_suelo %}
                                                <option value="{{ i.tsue_id }}">{{ i.tsue_nombre }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                        <div class="col-lg-4">
                                        {% if 'agricultura.add_agr_tipo_suelo' in usuario.get_all_permissions %}
                                            <a  onclick="agregarTipoSuelo()" class="related-widget-wrapper-link add-related" id="" title="Agregar Tipo de suelo"><img src="/static/admin/img/icon_addlink.gif" width="10" height="10" alt="Agregar"></a>
                                        {% endif %}
                                        </div>
                            </div>
                            <div class="form-group" id="div_estado">
                                <!-- <label class="col-lg-3 control-label">Estado</label> -->
                                <div class="switch col-lg-9">
                                    <!-- <input type="checkbox" class="js-switch hide" checked id="check_estado" name="check_estado" /> -->
                                </div>
                            </div>
                            <div class="ibox-footer">
                                <div class="form-group">
                                    <div id="contenedor_btn">
                                        <div class="col-lg-offset-5">
                                             <button class="btn btn-primary" type="submit">Guardar Cambios</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}

    </div>

</div>


    <!-- modales -->
<div class="modal inmodal fade" id="modalVer" tabindex="-1" role="dialog"  aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="animated bounceInRight">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
            <center>
                <img id="imagen" width="400" height="400">
            </center>
        </div>
    </div>
</div>
{% include "includes/modales.html" %}
{% endblock contenido %}

{% block scripts %}

<script src="/static/agricultura/js/plugins/chosen/chosen.jquery.js"></script>
<script src="/static/agricultura/js/plugins/cropper/cropper.min.js"></script>
<script src="/static/agricultura/js/plugins/switchery/switchery.js"></script>

<!-- DataTables -->
<script src="/static/agricultura/js/plugins/footable/footable.all.min.js"></script>
<script src="/static/agricultura/scripts/op_modales.js"></script>


<script src="/static/app_empresa/sector/sector.js"></script>
<script src="/static/app_empresa/sector/typeahead.js"></script>
<script src="/static/plantilla/plugins/typeahead/jquery.easy-autocomplete.min.js"></script>
 <script>

var latitud;
var longitud;

//google.maps.event.addDomListener(window, 'load', init);
document.onload = inicio();
    function agregarArea(){
        $('#modalSubArea').modal('hide');
        $("#modalArea").modal()
    }
    function agregarTipoSuelo(){
        $("#modalSuelo").modal()
    }
    function inicio(){
    var config = {
        '.chosen-select'           : {},
        '.chosen-select-deselect'  : {allow_single_deselect:true},
        '.chosen-select-no-single' : {disable_search_threshold:10},
        '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
        '.chosen-select-width'     : {width:"95%"}
    };
    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }

    var elem = document.querySelector('.js-switch');
    var switchery = new Switchery(elem, { color: '#1AB394' });
    //configuracion de la tabla
    $('.footable').footable();
    $('#contenedorParcela').addClass('active');
    $('#parcela').addClass('active');
    
   $('#frmSub').on("submit",function(){
        event.preventDefault();
        $.ajax({
            type:"POST",
            url: "/empresa/subarea/sav/",
            dataType: 'json',
            data:$(this).serialize(),
            success: function(response){
                $('#sub_nom').val("");
                $('#sub_etq').val("");
                $('#sub_lat').val("");
                $('#sub_lng').val("");
                $('#sub_hla').val("");
                $('#sub_hlo').val("");
                
                $('#modalSubArea').modal('hide');
                $.get("/empresa/subarea/get/",$.getDataSubArea); // get without token_crsf
                $("#select_local").trigger("chosen:updated");
                
                toastr.options={"progressBar":true};
                toastr.success(response.mensaje,'Subarea');
                
            },

            error: function(){
                toastr.options={"progressBar":true};
                toastr.error("Error",'Subarea');
            }
        });
    });
   $('#frmSuelo').on("submit",function(){
        event.preventDefault();
        $.ajax({
            type:"POST",
            url: "/agricultura/tipo_suelo_agregar/",
            dataType: 'json',
            data:$(this).serialize(),
            success: function(response){
                $('#id_suelo').val("");
                $('#txt_nombre').val("");
                $('#modalSuelo').modal('hide');
                toastr.options={"progressBar":true};
                toastr.success(response.mensaje,'Tipo de Suelo');
                $.get("/agricultura/tiposSuelo/",$.getDataSuelo); // get without token_crsf
            },
            error: function(){
                toastr.options={"progressBar":true};
                toastr.error("Error",'Tipo de Suelo');
            }
        });
    });
    $.getDataSubArea = function(response)
    {
        var datos = "";
        data = response.data;
        $.each(response.data, function(i,value){
            datos+= "<option value="+value.sar_id+">"+value.sar_nombre+"</option>";
        });
        $('#select_local').html(datos);       
        $("#select_local").trigger("chosen:updated");
    };

}

$('#modalVer').on('show.bs.modal', function(e) {
    var imagen = $(e.relatedTarget).data('par-imagen');
    document.getElementById('imagen').src=imagen;
});

function editar_parcela(id){
    $.ajax({
        data: {'id': id},
        url: '/agricultura/ver_datos_parcela/',
        type: 'get',
        success: function (data) {
            if(data.length != 0){
                //ASI SE OBTIENEN LOS DATOS
                console.log(data.parcelaNombre);
                ////////////////////////////////
                $("input[type=text]").focusin();
                $("#contenedor_btn").empty();
                $("#contenedor_btn").append('<div class="col-md-offset-4 col-md-2"><button onclick="enviar_datos('+data.id+')" class="btn btn-primary" id="btn_modificar" type="button" >Modificar</button></div>');
                $("#contenedor_btn").append('<div class="col-md-2"><button onclick="regresar()" class="btn btn-danger" id="btn_cancelar" type="button" >Cancelar</button></div>');
                $("#id").val(data.id);
                $("#txtAreaNeta").val(data.areaNeta);
                $("#txtAreaBruta").val(data.areaBruta);
                $("#numHectareas").val(data.hectareas);
                $("#select_local").val(data.id);
                $("#select_suelo").val(data.suelo);
                $("#select_local").trigger("chosen:updated");
                $("#select_suelo").trigger("chosen:updated");
                document.getElementById('select_local').disabled  =  false;
                $("#div_estado").empty();
                    if(data.estado==true){
                    }else{
                    }
            }else{
                alert('Parcela no encontrado');
            }
        }
        });
        
}

function enviar_datos(id){
    var datos = new FormData($('#form_parcela')[0]);
    var areaNeta = $("#txtAreaNeta").val();
    var areaBruta = $("#txtAreaBruta").val();
    var hectareas = $("#numHectareas").val();
    if (areaNeta != "" && areaBruta != "" && hectareas != "") {
        $.ajax({
            data: datos,
            url: '/agricultura/modificar_datos_parcela/',
            type: 'POST',
            contentType:false,
            'dataType': 'json',
            processData:false,
            success: function (data) {
                if(data.result=='OK'){
                    location.href="/agricultura/parcelas";
                }else{
                    alert('Error al modificar');
                }
            }
        });
    }else{
        swal("Error en los datos", "Verifique los datos ingesados e intente nuevamente", "error");
    }
}
    $('#modalSubArea').bind('shown.bs.modal', function(e){
        $.get("/empresa/areas/get/",$.getDataArea); // get without token_crsf
        sub_nom.focus();
    });

    $('#modalArea').bind('hidden.bs.modal', function(e){
        $('#title').html("Crear Area");
        $('#are_nom').val("");
        $('#are_des').val("");
        $('#are_etq').val("");
        $('#are_dir').val("");
        $('#are_est').prop("checked",false);
        $('#accion').val("0");
    });
function agregarSubArea(){
        $("#modalSubArea").modal()
            }
function regresar(){
   location.href="/agricultura/parcelas";
}

function baja_parcela(elemento,id){
    var estado=true;
        if(elemento.checked == false){
            estado = false;
        }
        $.ajax({
            data: {'id': id, 'estado': estado},
            url: '/agricultura/bajaParcela/',
            type: 'get',
            success: function (data) {
                if (data.result=="OK"){
                    toastr.options={"progressBar": true}
                    toastr.success('Se cambio de estado','Estado')
                }else{
                }
            }
        });
}    cargarDependencias_typeahead("/empresa/sector/cargarDependencias/");
    cargarUbicaciones("{% url 'URLempresa:url_ubicaciones' %}");
    
</script>

{% endblock scripts %}
