<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Dyuyay Server - Monitoreo y Control</title>
	<meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="viewport" content = "width = device-width, initial-scale = 1, user-scalable = no" />

    <link rel="stylesheet" href="/static/agricultura/ion.rangeSlider/css/ion.rangeSlider.css">
    <link rel="stylesheet" href="/static/agricultura/ion.rangeSlider/css/ion.rangeSlider.skinModern.css">

    <link href="/static/agricultura/css/bootstrapNav.css" rel="stylesheet">
    <link href="/static/agricultura/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/static/agricultura/css/style2.css" rel="stylesheet">

    <link href="/static/agricultura/freeboard/css/freeboard.css" rel="stylesheet" />

    <link rel="stylesheet" href="/static/agricultura/freeboard/css/css_manuales.css">

    <link rel="stylesheet" href="/static/agricultura/freeboard/css/boton_master.css">

    <style>

        @-webkit-keyframes hvr-pulse {
          25% {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
          }

          75% {
            -webkit-transform: scale(0.9);
            transform: scale(0.9);
          }
        }

        @keyframes hvr-pulse {
          25% {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
          }

          75% {
            -webkit-transform: scale(0.9);
            transform: scale(0.9);
          }
        }

        .hvr-pulse {
          display: inline-block;
          vertical-align: middle;
          -webkit-transform: translateZ(0);
          transform: translateZ(0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          -moz-osx-font-smoothing: grayscale;

          -webkit-animation-name: hvr-pulse;
          animation-name: hvr-pulse;
          -webkit-animation-duration: 1s;
          animation-duration: 1s;
          -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
          -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
        }

    </style>

    <script src="/static/agricultura/freeboard/js/freeboard.thirdparty.js"></script>
    <script src="/static/agricultura/freeboard/js/mqttws31.js"></script>
    <script type="text/javascript">
        var hhost = document.location.host.split(":")[0];
        var gtopicos = [{
					'name' : 'test',
					'value' : 'test'
				}];
        head.js("/static/agricultura/freeboard/js/freeboard_plugins.js",
                "/static/agricultura/freeboard/js/boton.widget.js",
                "/static/agricultura/freeboard/js/medidor.js",
                "/static/agricultura/freeboard/js/boton.range.widget.js",
                "/static/agricultura/freeboard/js/boton.master.js",

                
                "/static/agricultura/freeboard/plugins/freeboard/freeboard.widgets.js",
                "/static/agricultura/freeboard/plugins/freeboard/plugin_node.js",
                // *** Load more plugins here ***
                function(){
                    $(function()
                    { //DOM Ready
                        freeboard.initialize(true);
                        var flag = '{{ estado }}';
                        if (flag != 'vacio'){

                            var a = {{ datosPanel|safe }}
                            a = JSON.parse(a)
                            console.log(a);
                            setTimeout(function(){
                                freeboard.loadDashboard(a, function(){
                                    freeboard.setEditing(false);
                                });
                            },500);

                        }
                    });
                });
    </script>
</head>
<body>

    <div id="board-content">
        <img id="dash-logo" data-bind="attr:{src: header_image}, visible:header_image()">
        <div class="gridster responsive-column-width">
            <ul data-bind="grid: true">
            </ul>
        </div>
    </div>
    <header id="main-header" data-bind="if:allow_edit">
        <div id="admin-bar">
            <div id="admin-menu">
                <div id="board-tools">
                    <h1 id="board-logo" class="title bordered">Monitoreo y Control</h1>
                    <div id="board-actions">
                        <ul class="board-toolbar vertical">
                            <li data-bind="click: loadDashboardFromLocalFile"><i id="full-screen-icon" class="icon-folder-open icon-white"></i><label id="full-screen">Cargar Paneles</label></li>
                            <li><i class="icon-download-alt icon-white"></i>
                                <label data-bind="click: saveDashboardClicked">Descargar Paneles</label>
                                <label style="display: none;" data-bind="click: saveDashboard" data-pretty="true">[Pretty]</label>
                                <label style="display: none;" data-bind="click: saveDashboard" data-pretty="false">[Minified]</label>
                            </li>
                            <li id="add-pane" data-bind="click: createPane"><i class="icon-plus icon-white"></i><label>Agregar Panel</label></li>
                        </ul>
                    </div>
                </div>
                <div id="datasources">
                    <h2 class="title">FUENTE DE DATOS</h2>

                    <div class="datasource-list-container">
                        <table class="table table-condensed sub-table" id="datasources-list" data-bind="if: datasources().length">
                            <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Ultima Actualización</th>
                                <th>&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody data-bind="foreach: datasources">
                            <tr>
                                <td>
                                    <span class="text-button datasource-name" data-bind="text: name, pluginEditor: {operation: 'edit', type: 'datasource'}"></span>
                                </td>
                                <td data-bind="text: last_updated"></td>
                                <td>
                                    <ul class="board-toolbar">
                                        <li data-bind="click: updateNow"><i class="icon-refresh icon-white"></i></li>
                                        <li data-bind="pluginEditor: {operation: 'delete', type: 'datasource'}">
                                            <i class="icon-trash icon-white"></i></li>
                                    </ul>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <span class="text-button table-operation" data-bind="pluginEditor: {operation: 'add', type: 'datasource'}">AGREGAR</span>
                </div>
            </div>
        </div>
        <div id="column-tools" class="responsive-column-width">
            <ul class="board-toolbar left-columns color">
                <li class="column-tool add" data-bind="click: addGridColumnLeft"><span class="column-icon right"></span><i class="icon-arrow-left icon-white"></i></li>
                <li class="column-tool sub" data-bind="click: subGridColumnLeft"><span class="column-icon left"></span><i class="icon-arrow-right icon-white"></i></li>
            </ul>
            <ul class="board-toolbar right-columns color">
                <li class="column-tool sub" data-bind="click: subGridColumnRight"><span class="column-icon right"></span><i class="icon-arrow-left icon-white"></i></li>
                <li class="column-tool add" data-bind="click: addGridColumnRight"><span class="column-icon left"></span><i class="icon-arrow-right icon-white"></i></li>
            </ul>
        </div>
        <div id="toggle-header" data-bind="click: toggleEditing">
            <i id="toggle-header-icon" class="icon-wrench icon-white"></i>
        </div>
    </header>

    <div style="display:hidden">
        <ul data-bind="template: { name: 'pane-template', foreach: panes}">
        </ul>
    </div>

    <div id="footer-bar">
        <div id="footer-menu">
            <div id="board-title">
                <div>
                    <div id="estilo-lista-panel" class="styled-select custom-select">
                        <select id="lista-paneles">
                            {% for ds in lisDashboards %}
                                {% ifequal ds.zsa_id id_zona %}
                                    <option value="{{ ds.zsa_id }}" selected>{{ ds.zsa_nombre }} - {{ ds.sar_id.sar_nombre }}</option>
                                {% else %}
                                    <option value="{{ ds.zsa_id }}">{{ ds.zsa_nombre }} - {{ ds.sar_id.sar_nombre }}</option>
                                {% endifequal %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>

            <ul id="footer-toolbar" class="board-toolbar">
                 <li onclick="restaurar();">
                    <i class="icon-arrow-left icon-white"></i><label>Restaurar Panel</label>
                </li>
                <li id="full-screen-action" onclick="guardarPanel({{id_zona}})"><i id="full-screen-icon" class="icon-inbox icon-white"></i>
                    <label id="full-screen">Guardar Cambios</label>
                </li>
                <li id="clone-action" onclick="inicio();"><i class="icon-home icon-white"></i>
                    <label>Inicio</label>
                </li>
            </ul>
        </div>
    </div>

    <script type="text/html" id="pane-template">
        <li data-bind="pane: true">
            <header>
                <h1 data-bind="text: title"></h1>
                <ul class="board-toolbar pane-tools">
                    <li data-bind="pluginEditor: {operation: 'add', type: 'widget'}">
                        <i class="icon-plus icon-white"></i>
                    </li>
                    <li data-bind="pluginEditor: {operation: 'edit', type: 'pane'}">
                        <i class="icon-wrench icon-white"></i>
                    </li>
                    <li data-bind="pluginEditor: {operation: 'delete', type: 'pane'}">
                        <i class="icon-trash icon-white"></i>
                    </li>
                </ul>
            </header>
            <section data-bind="foreach: widgets">
                <div class="sub-section" data-bind="css: 'sub-section-height-' + height()">
                    <div class="widget" data-bind="widget: true, css:{fillsize:fillSize}"></div>
                    <div class="sub-section-tools">
                        <ul class="board-toolbar">
                            <!-- ko if:$parent.widgetCanMoveUp($data) -->
                            <li data-bind="click:$parent.moveWidgetUp"><i class="icon-chevron-up icon-white"></i></li>
                            <!-- /ko -->
                            <!-- ko if:$parent.widgetCanMoveDown($data) -->
                            <li data-bind="click:$parent.moveWidgetDown"><i class="icon-chevron-down icon-white"></i></li>
                            <!-- /ko -->
                            <li data-bind="pluginEditor: {operation: 'edit', type: 'widget'}"><i class="icon-wrench icon-white"></i></li>
                            <li data-bind="pluginEditor: {operation: 'delete', type: 'widget'}"><i class="icon-trash icon-white"></i></li>
                        </ul>
                    </div>
                </div>
            </section>
        </li>
    </script>

    <script>

        document.onload = tema();

        function tema(){
            $("body").removeClass("skin-2");
            $("body").removeClass("skin-3");
            $("body").removeClass("skin-1");
        }

        function mostrar(){
            $('nav').toggleClass('mostrar');
        }

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }


        function consulta(id){
            window.open('/reglas/monitoreo_paquetes/');
        }


        function guardarPanel(id){
            var resultado = JSON.stringify(freeboard.serialize());
            resultado = resultado.replace(/\\"]/g, "");
            resultado = resultado.replace(/\[\\"/g, ".");
            console.log(resultado);
            var csrftoken = getCookie('csrftoken');
            $.ajax({
                data:{
                    'dato':resultado,
                    'id' : id,
                    csrfmiddlewaretoken: csrftoken
                },
                url: '/agricultura/guardar/',
                type: 'POST',
                async:false,
                dataType:'json',
                success: function (data) {
                    if(data.result=='OK'){
                        freeboard.showDialog($("<div align='center'>Datos guardados exitosamente!</div>"),"Success!","OK",null,function(){});
                    }else{
                        alert('Error al guardar los datos');
                    }
                },
                error: function(err){
                    console.log(err);
                }
            });
        }

        function serializarPanel(){
            var guardar = [JSON.stringify(freeboard.serialize())];
            console.log(guardar);
            var a = JSON.parse(guardar)
            freeboard.loadDashboard(a, function(){
                freeboard.setEditing(false);
            })
            console.log(guardar);
        }

        function inicio(){
            location.href='/iot/visualizar_zonas/';
        }

        function restaurar(){
            var a = {{ datosPanel|safe }}
            a = JSON.parse(a)
            console.log(a);
            setTimeout(function(){
                freeboard.loadDashboard(a, function(){
                    freeboard.setEditing(false);
                });
            },500);
        }

        $("#lista-paneles").change(function(){
            window.location = '/agricultura/monitoreo/'+$("#lista-paneles option:selected").val();
        });

    </script>
    <script src="/static/agricultura/ion.rangeSlider/js/ion-rangeSlider/ion.rangeSlider.js"></script>
    <script src="/static/agricultura/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/static/agricultura/js/bootstrap.min.js"></script>
    <script src="/static/agricultura/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/static/agricultura/js/inspinia.js"></script>
</body>
</html>
