{% extends "iot/base_iot.html" %}

{% block css %}

<link href="/static/agricultura/css/plugins/chosen/chosen.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/select2/select2.min.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/cropper/cropper.min.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/switchery/switchery.css" rel="stylesheet">

<!-- Data Tables -->
<link href="/static/agricultura/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/footable/footable.core.css" rel="stylesheet">

{% endblock css %}

{% block contenido %}
<div class="row border-bottom white-bg page-heading">
  <div class="row">
    <div class="col-lg-12">
        <h2>Gestión Dispositivos</h2>
        <h2 class="pull-right" style="margin-top: -35px;">{{empresa}}</h2>
        <ol class="breadcrumb">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Inicio<span class="caret"></span></a>
                {% include "dropdown-menu.html" %}
            </li>
            <li>
                <a href="/iot/visualizar_zonas/">Módulo Monitoreo y Control</a>
            </li>
            <li class="active">
                <strong>Gestionar dispositivos</strong>
            </li>
        </ol>
    </div>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
    {% if 'iot.list_iot_dispositivo' in usuario.get_all_permissions %}
        <div class="col-md-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title" style="width: 100%;">
                    <h5>Lista de Dispositivos Ingresados</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content">
                    <div class="col-md-10">
                            <input type="text" class="form-control input-sm m-b-xs" id="filter"
                                   placeholder="Buscar">
                    </div>
                    <div class="col-md-2">
                            <button class="btn btn-info btn-circle" type="button" onclick="actualizarDispositivos()" title="Actulizar Lista"><i class="fa fa-refresh"></i></button>
                            </div>
                            <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="8" data-filter=#filter id="tblDispositivo" name="tblDispositivo">
                                <thead>
                                <tr>
                                    <th data-toggle="true">Nombre</th>
                                    <th>Mac</th>
                                    <th>Fecha Registro</th>
                                    <th>Estado</th>
                                    {% if 'iot.change_iot_dispositivo' in usuario.get_all_permissions %}
                                    <th class="text-right footable-visible footable-last-column" data-sort-ignore="true">Editar</th>
                                    <th class="text-right footable-visible footable-last-column" data-sort-ignore="true">Eliminar</th>
                                    {% endif %}
                                    <th data-hide="all">Descripción </th>
                                    <th data-hide="all">Fecha Última Lectura </th>
                                    <th data-hide="all">Localización</th>
                                    <th data-hide="all">Empresa</th>
                                    <th data-hide="all">Sub Area</th>
                                    <th data-hide="all">Imagen</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for disp in dispositivos %}
                                <tr>
                                    <td>{{ disp.dis_nombre }}</td>
                                    <td>{{ disp.dis_mac }}</td>
                                    <td>{{ disp.dis_fecha_registro }}</td>
                                        {% if 'iot.change_iot_dispositivo' in usuario.get_all_permissions %}
                                            <td>
                                                <div class="switch">
                                                    <div class="onoffswitch">
                                                        {% if disp.dis_activo %}
                                                            <input type="checkbox" checked class="onoffswitch-checkbox" value={{ disp.dis_activo }} id={{ disp.dis_id}} onchange="baja_disp(this, '{{ disp.dis_id }}')" >
                                                        {% else %}
                                                            <input type="checkbox" class="onoffswitch-checkbox" value={{ disp.dis_activo }} id={{ disp.dis_id}} onchange="baja_disp(this, '{{ disp.dis_id }}')">
                                                        {% endif %}
                                                            <label class="onoffswitch-label" for={{ disp.dis_id }}>
                                                                <span class="onoffswitch-inner"></span>
                                                                <span class="onoffswitch-switch"></span>
                                                            </label>
                                                    </div>
                                                </div>
                                            </td>
                                    <td class="text-right footable-visible footable-last-column">
                                        <button class="btn-white btn btn-xs" onclick="editar_dispositivo({{ disp.dis_id }})">Editar</button>
                                    </td> 
                                    <td><a onclick="eliminarDispositivo({{ disp.dis_id }})" class="btn btn-danger btn-xs "data-toggle="tooltip" data-placement="top" title="" data-original-title="Mark as read"><i class="fa fa-times fa-xl"></i> </a>
                                    </td>
                                        {% else %}
                                            <td>
                                                {% if disp.dis_activo %}
                                                    <span class="label label-primary">ON</span>
                                                {% else %}
                                                    <span class="label label-danger">OFF</span>
                                                {% endif %}
                                            </td>
                                        {% endif %}
                                    <td>{{ disp.dis_descripcion }}</td>
                                    <td>{{ disp.dis_fecha_ultima_lectura}}</td>
                                    <td>{{ disp.dis_localizacion  }}</td>
                                    <td>{{ disp.emp_id.emp_nombre_comercial  }}</td>
                                    <td>{{ disp.sar_id.sar_nombre  }}</td>
                                    <td><a href="#modaImagen" class="btn btn-info btn-xs " data-toggle="modal" data-dis-imagen='{{disp.dis_imagen.url}}' data-target="#modalImagen" data-placement="top" title="Ver" data-original-title="Mark as read"><i class="fa fa-eye fa-xl"></i> Ver</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5">
                                    <ul class="pagination pull-right"></ul>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        {% endif %} {% if 'iot.change_iot_dispositivo' in usuario.get_all_permissions %}
        <div class="col-md-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title hvr-overline-from-left" style="width: 100%;">
                    <h5>Dispositivos</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" style="display: block;">
                    <form class="form-horizontal" id="frmDis"method="post" enctype="multipart/form-data" action="{% url 'iot:url_disp_agregar' %}">{% csrf_token %}
                    {% csrf_token %}
                        <div class="form-group"><label class="col-lg-3 control-label">Nombre:</label>
                            <div class="col-lg-9">
                                <input type="text" placeholder="Nombre del Dispositivo" class="form-control" name="dis_nom" id="dis_nom" required onkeypress="">
                                <input name="id" class="hide" id="id">
                            </div>
                        </div>

                        <div class="form-group"><label class="col-lg-3 control-label">Descripción:</label>
                            <div class="col-lg-9">
                                <textarea rows="5"  placeholder="Descripcion del Dispositivo" class="form-control" name="dis_des" id="dis_des" ></textarea>
                            </div>
                        </div>

                        <div class="form-group"><label class="col-lg-3 control-label">MAC:</label>
                            <div class="col-lg-9">
                                <input type="text" placeholder="Ejem: 80-56-F2-97-81-9F" class="form-control" name="dis_mac" id="dis_mac" required onkeypress="">
                            </div>
                        </div>

                        <div class="form-group"><label class="col-lg-3 control-label">Fecha de Registro:</label>
                            <div class="col-lg-9">
                                <input type="date" class="form-control" name="dis_reg" id="dis_reg">
                            </div>
                        </div>                        

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Localización:</label>
                            <div class="col-lg-9">
                                <input type="text" placeholder="Localizacion de le zona" class="form-control" id="dis_localizacion" name="dis_localizacion" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Imagen:</label>
                            <div class="col-lg-9">
<div class="col-md-12">
                                        <h4></h4>
                                            <div class="image-crop" style="max-height: 300px; max-width:100%;">
                                                <div id="contenedor_img">
                                                <!--<img src="/static/agricultura/img/p3.jpg">-->
                                                 </div>
                                            </div>
                                        </div>                            
                                <div class="btn-group">
                                                    <label title="Upload image file" for="inputImage" class="btn btn-primary">
                                                        <!--<input type="file" accept="image/*" name="file" id="inputImage" class="hide">
                                                        Seleccionar Imagen-->
                                                        <input type="file" accept="image/*" name="file1" id="inputImage1">
                                                    </label>
                                                </div>
                            </div>                        
                        </div>

                        <div class="form-group">
                            <label class="col-lg-3 control-label">Sub Area</label>
                            <div class="col-lg-9">
                                <div id="contenedorSelect">
                                    <select data-placeholder="Escoga Subarea..." class="chosen-select" style="width:250px;" tabindex="2" id="select_sub_area" name="select_sub_area">
                                        {% for i in subareas %}
                                        <option value="{{ i.sar_id }}">{{ i.sar_nombre }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group text-rigth">
                            <div class="col-lg-offset-5">
                                <div id="contenedor_btn">
                                 <button class="btn btn-primary" type="submit">Guardar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
            </div>
        </div>
    {% endif %}
    </div>

</div>

    <!-- modales -->
    <div class="modal inmodal fade" id="modalImagen" tabindex="-1" role="dialog"  aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="animated bounceInRight">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
            <center>
                <img id="imagen" width="400" class="img-circle" height="400">
            </center>
        </div>
    </div>
</div>
{% endblock contenido %}

{% block scripts %}

<script>
    document.onload = cargarFunciones();
    function cargarFunciones(){
        // $('#contenedorEspecie').addClass('active');
        $('#dispositivo').addClass('active');
    }

$('#modalImagen').on('show.bs.modal', function(e) {
    var imagen = $(e.relatedTarget).data('dis-imagen');
    document.getElementById('imagen').src = imagen;
});
function eliminarDispositivo(id){

            swal({ title: "Esta seguro?",
                text: "Eliminar este dispositivo!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Si",
                cancelButtonText: "No!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
            function(isConfirm){
               if (isConfirm) {
                $.ajax({
                    data: {'id': id},
                    url: '/iot/eliminar_dispositivo/',
                    type: 'get',
                    success: function (data) {
                        if(data.result == "OK"){
                            swal({   title: "Borrado!",
                                text: "El dato a sido borrado con exito",
                                type: "success",
                                confirmButtonText: "OK",
                                closeOnConfirm: false,
                                closeOnCancel: false
                            },
                                function(){
                                    location.href='/iot/dispositivo/';
                                });
                        }else{
                            alert('Parametro no encontrado');
                        }
                    }
                });
                } else {
                     swal("Cancelado", "No se ha borrado", "error");
                 }
             });
    }
    function actualizarDispositivos(){
        // $("#tblDispositivo").load(location.href+" #tblDispositivo>*","");
        location.href = "/iot/dispositivo";
    }
</script>

<script src="/static/agricultura/js/plugins/chosen/chosen.jquery.js"></script>
<script src="/static/agricultura/js/plugins/select2/select2.full.min.js"></script>
<script src="/static/agricultura/js/plugins/cropper/cropper.min.js"></script>
<script src="/static/agricultura/js/plugins/switchery/switchery.js"></script>

<!-- DataTables -->
<script src="/static/agricultura/js/plugins/footable/footable.all.min.js"></script>


<script src="/static/iot/dispositivo/dispositivo.js"></script>
{% endblock scripts %}
