﻿{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Informacion de Dispositivo</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/iot/informacion/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="/static/iot/informacion/css/freelancer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/iot/informacion/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
          type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container text-center">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <a class="navbar-brand" href="#page-top">Información de Dispositivo</a>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <img class="img-responsive" src="
                        {% if dispositivo.dis_imagen %}{{ dispositivo.dis_imagen.url }}{% else %}http://www.pertiga.es/wp-content/uploads/2014/09/arduino.png{% endif %}"
                     alt="dispositivo_imagen" width="350px" height="350px">
                <div class="intro-text">
                    <span class="name">Descripción</span>
                    <hr class="star-light">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h4 class="descripcion">{{ dispositivo.dis_descripcion }}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <h3 class="etiqueta">Nombre:</h3>
            </div>
            <div class="col-xs-6">
                <h3 class="campo">{{ dispositivo.dis_nombre }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <h3 class="etiqueta">Empresa:</h3>
            </div>
            <div class="col-xs-6">
                <h3 class="campo">{{ empresa.emp_nombre_comercial }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <h3 class="etiqueta">Fecha última lectura:</h3>
            </div>
            <div class="col-xs-6">
                <h3 class="campo">{{ dispositivo.dis_fecha_ultima_lectura }}</h3>
            </div>
        </div>
        <br>


    </div>
</header>
{% if user.is_autenthicated %}
    <!-- Seccion sensores -->
    <section id="portfolio">
        <div class="container">
            {% if lista_sensores %}
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h2>Sensores</h2>
                        <hr class="star-primary">
                    </div>
                </div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th class="col-xs-6"><h3>Sensor</h3></th>
                        <th class="col-xs-6"><h3>Última Lectura</h3></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for sensor in lista_sensores %}
                        <tr>
                            <td><h4>{{ sensor.sa_nombre }}</h4></td>
                            <td><h4>{{ sensor.sa_ult_medida }}</h4></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
            {% if lista_actuadores %}
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h2>Actuadores</h2>
                        <hr class="star-primary">
                    </div>
                </div>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th class="col-xs-6"><h3>Actuador</h3></th>
                        <th class="col-xs-6"><h3>Último Valor</h3></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for actuador in lista_actuadores %}
                        <tr>
                            <td><h4>{{ actuador.sa_nombre }}</h4></td>
                            <td><h4>{{ actuador.sa_ult_medida }}</h4></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </section>
{% endif %}
<!-- Footer -->
<footer class="text-center">
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; IOTMACH 2016
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>


<!-- jQuery -->
<script src="/static/iot/informacion/vendor/jquery/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/static/iot/informacion/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

<!-- Theme JavaScript -->
<script src="/static/iot/informacion/js/freelancer.js"></script>

</body>

</html>
