.titulo{
  font-family: 'Merienda One'
}
.switch {
  margin: 0px auto;
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 66px;
  height: 25px;
  padding: 2px;
  background-color: #ccc;
  border-radius: 18px;
  cursor: pointer;
}

.switch-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.switch-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 10px;
  text-transform: uppercase;
  background: #F45B5B;
  border-radius: inherit;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
  -webkit-transition-property: opacity background;
  -moz-transition-property: opacity background;
  -o-transition-property: opacity background;
  transition-property: opacity background;
}
.switch-label:before, .switch-label:after {
  position: absolute;
  top: 50%;
  margin-top: -.5em;
  line-height: 1;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}
.switch-label:before {
  content: attr(data-off);
  right: 11px;
  color: #fff;
}
.switch-label:after {
  content: attr(data-on);
  left: 11px;
  color: white;
  opacity: 0;
}
.switch-input:checked ~ .switch-label {
  background: #47a8d8;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.switch-input:checked ~ .switch-label:before {
  opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
  opacity: 1;
}

.switch-handle {
  position: absolute;
  top: 3px;
  left: 2px;
  width: 28px;
  height: 23px;
  background: #ccc;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}
.switch-handle:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -6px;
  width: 12px;
  height: 12px;
  background: #bbb;
  border-radius: 6px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}
.switch-input:checked ~ .switch-handle {
  left: 40px;
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}

.switch-green > .switch-input:checked ~ .switch-label {
  background: #4fb845;
}

#back-spinner{
    position: absolute;
    background-color: rgba(0,0,0,.6);
    top:0;
    width: 100%;
    height: 100%;
    z-index: 99999999999999999;
}

.spinner {
  margin: 270px auto 0;
  width: 90px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  margin-right: 8px;
  background-color: #fff;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}


@-webkit-keyframes amarillo-verde {
    0% {
           background-color: rgba(255,255,0,0);
    }
    25% {
           background-color: rgba(255,255,0,1);
    }
    50% {
           background-color: rgba(0,255,0,0);
    }
    75% {
           background-color: rgba(0,255,0,1);
    }
    100% {
           background-color: rgba(0,255,0,0);
    }
}
@keyframes amarillo-verde {
    0% {
           background-color: rgba(255,255,0,0);
    }
    25% {
           background-color: rgba(255,255,0,1);
    }
    50% {
           background-color: rgba(0,255,0,0);
    }
    75% {
           background-color: rgba(0,255,0,1);
    }
    100% {
           background-color: rgba(0,255,0,0);
    }
}

@-webkit-keyframes rojo-verde {
    0% {
           background-color: rgba(255,0,0,0);
    }
    25% {
           background-color: rgba(255,0,0,1);
    }
    50% {
           background-color: rgba(0,255,0,0);
    }
    75% {
           background-color: rgba(0,255,0,1);
    }
    100% {
           background-color: rgba(0,255,0,0);
    }
}
@keyframes rojo-verde {
    0% {
           background-color: rgba(255,0,0,0);
    }
    25% {
           background-color: rgba(255,0,0,1);
    }
    50% {
           background-color: rgba(0,255,0,0);
    }
    75% {
           background-color: rgba(0,255,0,1);
    }
    100% {
           background-color: rgba(0,255,0,0);
    }
}

@-webkit-keyframes rojo-amarillo {
    0% {
           background-color: rgba(255,0,0,0);
    }
    25% {
           background-color: rgba(255,0,0,1);
    }
    50% {
           background-color: rgba(255,255,0,0);
    }
    75% {
           background-color: rgba(255,255,0,1);
    }
    100% {
           background-color: rgba(255,255,0,0);
    }
}

@keyframes rojo-amarillo {
    0% {
           background-color: rgba(255,0,0,0);
    }
    25% {
           background-color: rgba(255,0,0,1);
    }
    50% {
           background-color: rgba(255,255,0,0);
    }
    75% {
           background-color: rgba(255,255,0,1);
    }
    100% {
           background-color: rgba(255,255,0,0);
    }
}

@keyframes rojo-amarillo-verde {
    0% {
           background-color: rgba(255,0,0,0);
    }
    17% {
           background-color: rgba(255,0,0,1);
    }
    34% {
           background-color: rgba(255,255,0,0);
    }
    51% {
           background-color: rgba(255,255,0,1);
    }
    66% {
           background-color: rgba(255,255,0,0);
    }
    82% {
           background-color: rgba(0,255,0,1);
    }
    100% {
           background-color: rgba(0,255,0,0);
    }
}

@-webkit-keyframes rojo-amarillo-verde {
    0% {
           background-color: rgba(255,0,0,0);
    }
    17% {
           background-color: rgba(255,0,0,1);
    }
    34% {
           background-color: rgba(255,255,0,0);
    }
    51% {
           background-color: rgba(255,255,0,1);
    }
    66% {
           background-color: rgba(255,255,0,0);
    }
    82% {
           background-color: rgba(0,255,0,1);
    }
    100% {
           background-color: rgba(0,255,0,0);
    }
}

@keyframes rojo {
    0% {
           background-color: rgba(255,0,0,1);
    }
    50% {
           background-color: rgba(255,0,0,0);
    }
    100% {
           background-color: rgba(255,0,0,1);
    }
}

@-webkit-keyframes rojo {
    0% {
           background-color: rgba(255,0,0,1);
    }
    50% {
           background-color: rgba(255,0,0,0);
    }
    100% {
           background-color: rgba(255,0,0,1);
    }
}

@-webkit-keyframes verde {
    0% {
           background-color: rgba(0,255,0,1);
    }
    50% {
           background-color: rgba(0,255,0,0);
    }
    100% {
           background-color: rgba(0,255,0,1);
    }
}
@keyframes verde {
    0% {
           background-color: rgba(0,255,0,1);
    }
    50% {
           background-color: rgba(0,255,0,0);
    }
    100% {
           background-color: rgba(0,255,0,1);
    }
}

@-webkit-keyframes amarillo {
    0% {
           background-color: rgba(255,255,0,1);
    }
    50% {
           background-color: rgba(255,255,0,0);
    }
    100% {
           background-color: rgba(255,255,0,1);
    }
}

@keyframes amarillo {
    0% {
           background-color: rgba(255,255,0,1);
    }
    50% {
           background-color: rgba(255,255,0,0);
    }
    100% {
           background-color: rgba(255,255,0,1);
    }
}

 .alarma {

    padding: 15px 15px 15px 15px;
    text-align:center;
    margin-top: -4px !important;
     width: 20px;
     height: 20px;
     border: 1px solid rgba(204,204,204,.2);
    border-radius: 90px;
    -moz-transition:all 0.5s ease-in-out;
    -webkit-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    -ms-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
}

.alarma-anim-rojo{

      -moz-animation:rojo normal 1s infinite ease-in-out;

    -webkit-animation:rojo normal 1s infinite ease-in-out;

    -ms-animation:rojo normal 1s infinite ease-in-out;
    animation:rojo normal 1s infinite ease-in-out;
}
.alarma-anim-verde{

      -moz-animation:verde normal 1s infinite ease-in-out;

    -webkit-animation:verde normal 1s infinite ease-in-out;

    -ms-animation:verde normal 1s infinite ease-in-out;
    animation:verde normal 1s infinite ease-in-out;
}

.alarma-anim-amarillo{
      -moz-animation:amarillo normal 1s infinite ease-in-out;

    -webkit-animation:amarillo normal 1s infinite ease-in-out;

    -ms-animation:amarillo normal 1s infinite ease-in-out;
    animation:amarillo normal 1s infinite ease-in-out;
}

.alarma-anim-amarillo-verde{
      -moz-animation:amarillo-verde normal 1.5s infinite ease-in-out;

    -webkit-animation:amarillo-verde normal 1.5s infinite ease-in-out;

    -ms-animation:amarillo-verde normal 1.5s infinite ease-in-out;
    animation:amarillo-verde normal 1.5s infinite ease-in-out;
}

.alarma-anim-rojo-verde{
      -moz-animation:rojo-verde normal 1.5s infinite ease-in-out;

    -webkit-animation:rojo-verde normal 1.5s infinite ease-in-out;

    -ms-animation:rojo-verde normal 1.5s infinite ease-in-out;
    animation:rojo-verde normal 1.5s infinite ease-in-out;
}

.alarma-anim-rojo-amarillo{
      -moz-animation:rojo-amarillo normal 1.5s infinite ease-in-out;

    -webkit-animation:rojo-amarillo normal 1.5s infinite ease-in-out;

    -ms-animation:rojo-amarillo normal 1.5s infinite ease-in-out;
    animation:rojo-amarillo normal 1.5s infinite ease-in-out;
}

.alarma-anim-rojo-amarillo-verde{
      -moz-animation:rojo-amarillo-verde normal 1.5s infinite ease-in-out;

    -webkit-animation:rojo-amarillo-verde normal 1.5s infinite ease-in-out;

    -ms-animation:rojo-amarillo-verde normal 1.5s infinite ease-in-out;
    animation:rojo-amarillo-verde normal 1.5s infinite ease-in-out;
}

.rojo-log{
  background: rgba(255,84,84,0.5);
}
.amarillo-log{
  background: rgba(255,255,0,0.5) !important;
}
.verde-log{
  background: rgba(84,255,84,0.5) !important;
}

.log-msj{
  padding: 15px;

  border-bottom: 1px solid #2A2A2A;
}

.mensaje-log{
  width: 80%;
  display: inline-block;
  color: #EEE;
}

.timeago{
  width: 10%;
  display: inline-block;
  color: #fff;
}

.check-log{
  width: 10%;
display: inline-block;
}
