@font-face {
  font-family: 'fontello';
  src: url('/fonts/fontello.eot?8090164');
  src: url('/fonts/fontello.eot?8090164#iefix') format('embedded-opentype'),
       url('/fonts/fontello.woff?8090164') format('woff'),
       url('/fonts/fontello.ttf?8090164') format('truetype'),
       url('/fonts/fontello.svg?8090164#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?39657065#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
 
  line-height: 1em;
 
  margin-left: .2em;
 
 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
 

.icon-plus:before { content: '\e800'; } /* '' */
.icon-exchange:before { content: '\e801'; } /* '' */
.icon-down-open:before { content: '\e802'; } /* '' */
.icon-wrench:before { content: '\e803'; } /* '' */
.icon-resize-full:before { content: '\e804'; } /* '' */
.icon-trash:before { content: '\e805'; } /* '' */
.icon-lock:before { content: '\e806'; } /* '' */
.icon-up-open:before { content: '\e807'; } /* '' */
.icon-plus-squared:before { content: '\e808'; } /* '' */
.icon-resize-small:before { content: '\e809'; } /* '' */
.icon-database:before { content: '\e80a'; } /* '' */
.icon-eye:before { content: '\e80b'; } /* '' */
.icon-lock-open-alt-1:before { content: '\e80c'; } /* '' */
.icon-th-large:before { content: '\e80d'; } /* '' */
.icon-upload-cloud-1:before { content: '\e80e'; } /* '' */
.icon-eye-off:before { content: '\e80f'; } /* '' */
.icon-power:before { content: '\e810'; } /* '' */
.icon-check:before { content: '\e811'; } /* '' */
.icon-cancel:before { content: '\e812'; } /* '' */
.icon-help:before { content: '\e813'; } /* '' */
.icon-location:before { content: '\e814'; } /* '' */
.icono-minus:before {
  font-family: "fontello";
  content: '\e805';
    font-style: normal;
  font-weight: normal;line-height: 1em;padding: 0 !important;
}

div.custom-select {
    position: relative;
    display: inline-block;
  -webkit-appearance: none;
}

    .custom-select select {
        display: inline-block;
        width: 200px;
        -webkit-appearance:none; /* remove the strong OSX influence from Webkit */
        cursor: pointer;
        font-size: 17px;
    }

    /* for Webkit's CSS-only solution */
    @media screen and (-webkit-min-device-pixel-ratio:0) { 
        .custom-select select {
            padding-right:30px;    
        }
    }
    

    
    /* Select arrow styling */
    .custom-select:after {
      font-family: "fontello";
        content: '\e801';
        font-size: 1.2em !important;
        color: white;
        position: absolute;
        top: 1px;
        right: 1px;
        bottom: 0;
        line-height: 27px;
        height: 24px !important;
        padding: 0 7px;
        padding-bottom: 4px;
        background: #272727;
        pointer-events:none;
    }
    
    .no-pointer-events .custom-select:after {
        content: none;
    }