{% extends "agricultura/base.html" %}
{% load static %}
{% block contenido %}
    <br>
<div class="row">
    <div class="col-lg-offset-2 col-lg-8">
        <div class="ibox float-e-margins" style="border: 2px solid #adadad;">
            <div class="ibox-title" style="border-bottom: 1px solid #d8d8d8">
                <h5><i class="fa fa-upload"></i> Cargar nuevo Módulo</h5>
            </div>
            <form  action="/modular/modulo/guardar/" method="post" enctype="multipart/form-data">{% csrf_token %}
            <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-offset-1 col-lg-10">
                            <label for="">Nombre:</label>
                            <div class="input-group">
                                <input class="form-control"  type="text" name="txt_nombre" required placeholder="Ingrese el nombre"/>
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-offset-1 col-lg-5">
                            <label for="">Fecha de Instalación:</label>
                            <div class="input-group">
                                <input class="form-control"  type="date" name="txt_fecha" required />
                                <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <label>Hora de Instalación:</label>
                            <div class="input-group">
                                <input class="form-control"  type="time" name="txt_hora" required />
                                <span class="input-group-addon"><span class="fa fa-clock-o"></span></span>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-offset-1 col-lg-10">
                            <label for="">Descripción:</label>
                            <div class="input-group">
                                <textarea class="form-control"  rows="3" name="txt_descripcion"/></textarea>
                                <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-offset-1 col-lg-10">
                            <label>Escoga Archivo (Formato .zip)</label>
                            <div class="input-group">
                                <input class="form-control"  type="file" accept="application/zip" name="archivo" id="archivo" />
                                <span class="input-group-addon"><span class="fa fa-file"></span></span>
                            </div>
                        </div>
                    </div>
                    <br>
            </div>
            <div class="ibox-footer" style="border-top: 1px solid #d8d8d8">
                <div class="row">
                    <div class="col-xs-offset-9 col-xs-3 col-md-offset-10 col-md-2">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-upload"></i> Subir</button>
                    </div>
                </div>
            </div>
        </form>
        </div>
    </div>
</div>
    <br><br><br>





{% endblock %}
