{% extends 'agricultura/base.html' %}
{% load static %}
{% block contenido %}
    <br>
    <div class="row">
        <div class="col-lg-offset-1 col-lg-10">
            <div class="ibox float-e-margins" style="border: 2px solid #adadad;">
                <div class="ibox-title" style="border-bottom: 1px solid #d8d8d8">
                    <h5><i class="fa fa-list"></i> Lista de Módulos instalados en Dyuyay Server</h5>
                </div>
                <div class="ibox-content">
                    <table class="table table-bordered" id="presentacion">
                        <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Fecha / Hora</th>
                            <th>Propietario</th>
                            <th>Archivo</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for i in modulos %}
                        <tr>
                            <td>{{ i.mod_name }}</td>
                            <td>{{ i.mod_descripcion }}</td>
                            <td>{{ i.mod_fecha_instalacion }} / {{ i.mod_hora_instalacion }}</td>
                            <td>{{ i.id_usuario.get_full_name }}</td>
                            <td><a href="{{ i.mod_archivo.url }}" class="btn btn-sm">
                                <i class="fa fa-archive"></i>
                            </a></td>
                            <td>
                                {% if 'app_modular.change_mod_modulo' in usuario.get_all_permissions %}
                                    <button class="btn btn-primary btn-sm" title="actualizar {{ i.mod_name }}">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                {% endif %}
                                {% if 'app_modular.delete_mod_modulo' in usuario.get_all_permissions %}
                                    <button class="btn btn-danger btn-sm" title="eliminar {{ i.mod_name }}">
                                        <i class="fa fa-remove"></i>
                                    </button>
                                {% endif %}
                            </td>
                        </tr>
                        {% empty %}
                            <tr>
                                <td>No hay datos que mostrar</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.onload=inicioTabla();
        function inicioTabla(){
            $('#presentacion').dataTable( {
                "ordering": false
            } );
        }
    </script>
{% endblock %}