{% extends "agricultura/base.html" %}

{% block contenido %}


    </br>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-file-text"></i> <label>Log de Acciones</label></h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <table class="table table-condensed" id="presentacion">
                                <thead>
                                <tr>
                                    <th>Accion</th>
                                    <th>Usuario</th>
                                    <th>Fecha</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for i in lstLogs %}
                                    <tr>
                                        <td>{{ i.la_accion }}</td>
                                        <td>{{ i.usu_id.get_full_name }}</td>
                                        <td>{{ i.la_fecha_hora }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.onload=inicioTabla()
        function inicioTabla(){
            $('#presentacion').dataTable( {
                ordering:  false
            } );
        }
    </script>

{% endblock %}