{% extends "app_empresa/base.html" %}
{% block css %}
<link href="/static/agricultura/css/plugins/chosen/chosen.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/footable/footable.core.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/cropper/cropper.min.css" rel="stylesheet">
<!--<link href="/static/agricultura/css/plugins/switchery/switchery.css" rel="stylesheet">-->


<link href="/static/agricultura/css/submenu.css" rel="stylesheet">
<!-- Data Tables -->
<link href="/static/iot/css/dataTables.bootstrap.css" rel="stylesheet">
<link href="/static/iot/css/dataTables.responsive.css" rel="stylesheet">
<link href="/static/iot/css/switch.css" rel="stylesheet">

<link href="/static/plantilla/plugins/arbol/tree-view.css" rel="stylesheet" type="text/css" />
<style>
.right {
    position: center;
    right: 4px;
    width: 100px;
    padding: 5px;
}
</style>
{% endblock css %}
{% block contenido %}
  <div class="row border-bottom white-bg page-heading">
      <div class="col-lg-12">
          <h2>Listar Sectores</h2>
          <h2 class="pull-right" style="margin-top: -35px;">{{empresa}}</h2>
          <ol class="breadcrumb">
              <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Inicio<span class="caret"></span></a> {% include "dropdown-menu.html" %}
              </li>
              <li>
              <a href="/empresa/inicio/">Módulo Empresa</a>
              </li>
              <li class="active">
                  <strong>Listar Sectores</strong>
              </li>
          </ol>
      </div>
      <div class="col-lg-2"></div>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>Sectores del Sistema</h5>
        <div class="ibox-tools">
            <a class="collapse-link">
                <i class="fa fa-chevron-up"></i>
            </a>
        </div><!-- /.box-tools -->
      </div>
      <div class="ibox-content">
          <div class="table-responsive">
              <table id="id_tabla_ubicaciones_listar" class="table table-striped table-bordered bootstrap-datatable datatable">
                  <thead>
                      <tr>
                          <th>Nombre</th>
                          <th>Detalle</th>
                          <th>Tipo</th>
                          <th>Dependencia</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for sector in sectores %}
                          <tr>
                              <td>{{ sector.sect_nombre }}</td>
                              <td>{{ sector.sect_detalle }}</td>
                              <td class="center">{{ sector.sect_id_tsector.tsec_nombre }}</td>
                              {%if sector.sect_id_padre == None %}
                                  <td class="center">N/A </td>     
                              {%else%}
                                  <td>{{ sector.sect_id_padre.sect_nombre }} </td>
                              {%endif%}
                          </tr>
                      {% empty %}
                          <h5>No hay ubicaciones registradas</h5>
                      {% endfor %}
                  </tbody>
              </table>
          </div>
      </div>
    </div>
  </div>  
</div>
  
{% endblock contenido %}
{% block scripts %}
  <!-- Bootstrap-Iconpicker -->
  <script src="/static/plantilla/plugins/bootstrap-iconpicker/js/iconset/iconset-glyphicon.min.js"></script>
  <script src="/static/plantilla/plugins/typeahead/jquery-scrollto.js"></script>
  <script src="/static/plantilla/plugins/bootstrap-iconpicker/js/bootstrap-iconpicker.min.js"></script>
  <script src="/static/plantilla/plugins/typeahead/jquery.easy-autocomplete.min.js"></script>
  <script src="/static/agricultura/js/plugins/chosen/chosen.jquery.js"></script>
  <script src="/static/agricultura/js/plugins/cropper/cropper.min.js"></script>
  <script src="/static/agricultura/js/plugins/switchery/switchery.js"></script>
  <script src="/static/iot/js/jquery.dataTables.min.js"></script>    
  <script src="/static/iot/js/dataTables.bootstrap.js"></script>    
  <script src="/static/iot/js/datatables.responsive.js"></script>
  <script src="/static/all.js"></script>
  <script src="/static/app_empresa/sector/sector.js"></script>
  <script>
    $('#Sectores').addClass('active');
    $('#lstSectores').addClass('active');
    $(function() {
        $('#id_tabla_ubicaciones_listar').dataTable({
            dom: 'T<"clear">lfrtip',
            tableTools: {
                "sSwfPath": "/static/plantilla/plugins/datatables/extensions/TableTools-master/swf/copy_csv_xls_pdf.swf",
                "sRowSelect": "multi",
                "aButtons": [
                    {
                        "sExtends": "collection",
                        "sButtonText": "Exportar",
                        "aButtons": [
                            {
                                "sExtends": "copy",
                                "sButtonText": "Copiar"
                            },
                            "xls",
                            {
                                "sExtends": "pdf",
                                "sPdfOrientation": "landscape",
                                "sPdfMessage": "Ubicaciones Dyuyay Local."
                            }
                        ]
                    },
                    {
                        "sExtends": "select_all",
                        "sButtonText": "Seleccionar Todo"
                    },
                    {
                        "sExtends": "select_none",
                        "sButtonText": "Deseleccionar Todo"
                    }

                ]
            }
        });
    } );
  </script>
{% endblock scripts %}