{% extends "app_empresa/base.html" %}
{% block css %}
<link href="/static/agricultura/css/plugins/chosen/chosen.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/footable/footable.core.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/cropper/cropper.min.css" rel="stylesheet">
<!--<link href="/static/agricultura/css/plugins/switchery/switchery.css" rel="stylesheet">-->


<link href="/static/agricultura/css/submenu.css" rel="stylesheet">
<!-- Data Tables -->
<link href="/static/iot/css/dataTables.bootstrap.css" rel="stylesheet">
<link href="/static/iot/css/dataTables.responsive.css" rel="stylesheet">
<link href="/static/iot/css/switch.css" rel="stylesheet">

<link href="/static/plantilla/plugins/arbol/tree-view.css" rel="stylesheet" type="text/css" />
<style>
.right {
    position: center;
    right: 4px;
    width: 100px;
    padding: 5px;
}
</style>
{% endblock css %}
{% block contenido %}
  <div class="row border-bottom white-bg page-heading">
      <div class="col-lg-12">
          <h2>Editar Sectores</h2>
          <h2 class="pull-right" style="margin-top: -35px;">{{empresa}}</h2>
          <ol class="breadcrumb">
              <li class="dropdown">
                  <a class="dropdown-toggle" data-toggle="dropdown" href="#">Inicio<span class="caret"></span></a> {% include "dropdown-menu.html" %}
              </li>
              <li>
              <a href="/empresa/inicio/">Módulo Empresa</a>
              </li>
              <li class="active">
                  <strong>Editar Sectores</strong>
              </li>
          </ol>
      </div>
      <div class="col-lg-2"></div>
  </div>
  <br>
  <div class="row">
    <!-- tree view -->
    <div class="col-xs-12">
      <div class="ibox float-e-margins">
          <div class="ibox-title">
              <h5>Sectores</h5>
              <div class="ibox-tools">
                  <a class="collapse-link">
                      <i class="fa fa-chevron-up"></i>
                  </a>
              </div><!-- /.box-tools -->
          </div>
          <div class="ibox-content">
            <div id="id_arbol" class="css-treeview">
            </div>
          </div>
      </div>
    </div>
  </div>
  <!--Modal para ver datos del sector-->
<div class="modal" id="modal_sector">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Datos del Sector</h4>
            </div>
            <div class="modal-body">
                <div id="alerta_sector_mod"></div>
                <div class="row">
                    <div class="col-lg-10 col-md-6 col-sm-12 col-xs-12 col-lg-offset-1">
                        <label class="control-label" for="id_tipo_lb">Tipo:</label>
                        <label class="text-red">*</label>
                        <div class="input-group">
                            <select id="id_tipo" name="cmb_tipo" class="form-control" style="width: 100%;" maxlength="200" required >
                            <label class="text-red">*</label>
                                <option value="0" disabled selected>Escoja una opción...</option>
                                {% for i in tipo_sector %}
                                    <option value="{{ i.pk }}">{{ i.tsec_nombre }}</option>
                                {% endfor %}    
                            </select>
                            <span class="input-group-addon"><span class="fa fa-globe"></span></span>                            
                        </div><!-- /input-group -->
                    </div>
                </div>

                 <div class="row">
                    <div class="col-lg-10 col-md-6 col-sm-12 col-xs-12 col-lg-offset-1">
                        <label class="control-label" for="id_sector">Dependencia:</label>
                        <label class="text-red">*</label>
                        <div class="input-group">
                            <select id="id_sector" name="cmb_sector" class="form-control" style="width: 100%;" maxlength="200" required >
                                <option value="-1" disabled selected>Escoja una opción...</option>
                                <option value="0">Ninguno</option>
                                {% for i in sectores %}
                                    <option value="{{ i.pk }}">{{ i.sect_nombre }}</option>
                                {% endfor %}
                            </select>
                            <span class="input-group-addon"><span class="fa fa-flag-o"></span></span>                            
                        </div><!-- /input-group -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10 col-md-6 col-sm-12 col-xs-12 col-lg-offset-1">
                        <label class="control-label" for="id_nombre">Nombre:</label>
                        <label class="text-red">*</label>
                        <div class="input-group">
                            <input id="id_nombre" name="txt_nombre" class="form-control" maxlength="50" type="text" value="" required>
                            <span class="input-group-addon"><span class="fa fa-briefcase"></span></span>
                        </div>
                    </div>                  
                </div>
                <div class="row">
                    <div class="col-lg-10 col-md-6 col-sm-12 col-xs-12 col-lg-offset-1">
                        <label class="control-label" for="id_detalle">Detalle:</label>
                        <div class="input-group">
                            <textarea style="resize: none" rows="4" id="id_detalle" name="txt_detalle" class="form-control" maxlength="200" required></textarea>
                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-lg-10 col-md-6 col-sm-12 col-xs-12 col-lg-offset-1">
                        <label class="text-red">Campos Obligatorios (*) </label>
                    </div>
                </div>
            </div>
            
            <div class="modal-footer">
                <button type="button" id="btn_modificar" class="btn btn-primary">Guardar <i class="fa fa-save"></i> </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock contenido %}
{% block scripts %}
  <!-- Bootstrap-Iconpicker -->
  <script src="/static/plantilla/plugins/bootstrap-iconpicker/js/iconset/iconset-glyphicon.min.js"></script>
  <script src="/static/plantilla/plugins/typeahead/jquery-scrollto.js"></script>
  <script src="/static/plantilla/plugins/bootstrap-iconpicker/js/bootstrap-iconpicker.min.js"></script>
  <script src="/static/plantilla/plugins/typeahead/jquery.easy-autocomplete.min.js"></script>
  <script src="/static/agricultura/js/plugins/chosen/chosen.jquery.js"></script>
  <script src="/static/agricultura/js/plugins/cropper/cropper.min.js"></script>
  <script src="/static/agricultura/js/plugins/switchery/switchery.js"></script>
  <script src="/static/iot/js/jquery.dataTables.min.js"></script>    
  <script src="/static/iot/js/dataTables.bootstrap.js"></script>    
  <script src="/static/iot/js/datatables.responsive.js"></script>
  <script src="/static/all.js"></script>
  <script src="/static/app_empresa/sector/sector.js"></script>
  <script src="/static/app_empresa/sector/typeahead.js"></script>
  <script>
    $('#Sectores').addClass('active');
    $('#editSector').addClass('active');
    $(function(){
      $(document).ready(function() {
        var dato_id=0;//variable golbal para el id de user
        $('#id_tabla_sectores_modificar').DataTable({});
        formar_arbol();
      });
      //escucha el evento del boton del modal
      $("#btn_modificar").on('click', function(){
          modificar_sector_mod();
      });
      cargarDependencias_typeahead("/empresa/sector/cargarDependencias/");
      cargarUbicaciones("{% url 'URLempresa:url_ubicaciones' %}");
    });
  </script>  
{% endblock scripts %}