{% extends "app_empresa/base.html" %}
{% block css %}
<link href="/static/agricultura/css/plugins/chosen/chosen.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/footable/footable.core.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/cropper/cropper.min.css" rel="stylesheet">
<!--<link href="/static/agricultura/css/plugins/switchery/switchery.css" rel="stylesheet">-->


<link href="/static/agricultura/css/submenu.css" rel="stylesheet">
<!-- Data Tables -->
<link href="/static/iot/css/dataTables.bootstrap.css" rel="stylesheet">
<link href="/static/iot/css/dataTables.responsive.css" rel="stylesheet">
<link href="/static/iot/css/switch.css" rel="stylesheet">
<style>
.right {
    position: center;
    right: 4px;
    width: 100px;
    padding: 5px;
}
</style>
{% endblock css %}
{% block contenido %}
    <div class="row border-bottom white-bg page-heading">
        <div class="col-lg-12">
            <h2>Registrar Sectores</h2>
            <h2 class="pull-right" style="margin-top: -35px;">{{empresa}}</h2>
            <ol class="breadcrumb">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Inicio<span class="caret"></span></a> {% include "dropdown-menu.html" %}
                </li>
                <li>
                <a href="/empresa/inicio/">Módulo Empresa</a>
                </li>
                <li class="active">
                    <strong>Registrar Sectores</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2"></div>
    </div>
    <br>
    <br>
    <div class="row">
    <!-- tree view -->
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <div class="ibox float-e-margins">
          <div class="ibox-title">
              <h5>Registar Sector</h5>
              <div class="ibox-tools">
                  <a class="collapse-link">
                      <i class="fa fa-chevron-up"></i>
                  </a>
              </div><!-- /.box-tools -->
          </div>
          <div class="ibox-content">
                <form id="formulario_sector_guardar">
                <div class="row">
                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1">
                        <label class="control-label" for="id_tipo_ubicacion">Tipo:</label>
                        <label class="text-red">*</label>
                        <div class="input-group">
                            <select id="id_tipo_ubicacion" onchange="cargarDependencias()" name="cmb_tipo_ubicacion" class="form-control" style="width: 100%;" required >
                                <option value="0" disabled selected>Escoja una opción...</option>
                                {% for i in tipo_sector %}
                                    <option value="{{ i.pk }}">{{ i.tsec_nombre }}</option>
                                {% endfor %}
                            </select>
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-primary" onclick="mostrarModalTipoSectores();"><i class="fa  fa-plus-circle"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1">
                        <label class="control-label" for="id_sector_ubicacion">Dependencia:</label>
                        <label class="text-red">*</label>
                        <div class="input-group">
                            <input class="form-control" disabled id="basics1" name="basics1"/>
                            <input id="id_dependencias_typeahead" name="txt_dependencias_typeahead" type="hidden"/>
                            <button id="id_cambiar_ubicacion_typeahead" onclick="$('#basics1').prop('disabled', false);$('#basics1').focus();$('#id_cambiar_ubicacion_typeahead').prop('disabled', true);" disabled class="btn btn-link">Cambiar dependencia</button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1">
                        <label class="control-label" for="id_nombre_ubicacion">Nombre:</label>
                        <label class="text-red">*</label>
                        <div class="input-group">
                            <input id="id_nombre_ubicacion" name="txt_nombre_ubicacion" class="form-control" maxlength="50" type="text" value="" required>
                            <span class="input-group-addon"><span class="fa fa-briefcase"></span></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1">
                        <label class="control-label" for="id_detalle_ubicacion">Detalle:</label>
                        <div class="input-group">
                            <textarea style="resize: none" rows="4" id="id_detalle_ubicacion" name="txt_detalle_ubicacion" class="form-control" maxlength="200" required></textarea>
                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1">
                        <label class="text-red">Campos Obligatorios (*) </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1">
                      <button id="btn_modificar_sector" type="button" onclick="guardarSector()" id="btn_modificar" class="btn btn-primary pull-right">Guardar <i class="fa fa-save"></i> </button>
                    </div>
                </div>
              </form>            
          </div>
      </div>
    </div>
    </div>
    <br>
    <br>

<!--Modal tipo sector-->
<div id="modal_tipo_sector" class="modal">
    <form method="post" class="form-horizontal" name="formulario_tipo_sectorGuardar" onsubmit="return false;">{% csrf_token %}
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Datos de tipo de ubicación</h4>
                </div>
                <div class="modal-body">
                    <div id="alerta_tipo_sector_mod"></div>
                    <div class="row">
                        <div class="col-lg-10 col-md-6 col-sm-12 col-xs-12 col-lg-offset-1">
                            <label class="control-label" for="id_nombre_tipo">Nombre:</label>
                            <label class="text-red">*</label>
                            <div class="input-group">
                                <input id="id_nombre_tipo" name="txt_nombre_tipo" class="form-control" maxlength="199" type="text" autofocus required>
                                <span class="input-group-addon"><span class="fa fa-briefcase"></span></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12 col-lg-offset-3">
                            <label class="control-label" for="id_detalle">Ícono:</label>
                            <label class="text-red">*</label>
                            <div class="input-group">
                                <div id="id_iconpicker" role="iconpicker" data-icon="" data-iconset="glyphicon" data-search="false" data-label-footer="{0} - {1} de {2} Iconos" data-cols="7"></div>
                                <input type="hidden" name="txt_icono" id="id_icono">
                            </div>
                        </div>
                    </div> 
                    <br/> 
                    <div class="row">
                        <div class="col-lg-10 col-md-6 col-sm-12 col-xs-12 col-lg-offset-1">
                            <label class="text-red">Campos Obligatorios (*) </label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer" style="text-align: right;background-color: #ecf0f5;border-bottom: 1px solid #3d8ebc">
                    <button id="btn_modificar_tipo_sector" type="button" class="btn btn-primary" onclick="guardarTipoSector()" >Guardar <i class="fa fa-save"></i></button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock contenido %}
{% block scripts %}
<!-- Bootstrap-Iconpicker -->
<script src="/static/plantilla/plugins/bootstrap-iconpicker/js/iconset/iconset-glyphicon.min.js"></script>
<script src="/static/plantilla/plugins/typeahead/jquery-scrollto.js"></script>
<script src="/static/plantilla/plugins/bootstrap-iconpicker/js/bootstrap-iconpicker.min.js"></script>
<script src="/static/plantilla/plugins/typeahead/jquery.easy-autocomplete.min.js"></script>
<script src="/static/agricultura/js/plugins/chosen/chosen.jquery.js"></script>
<script src="/static/agricultura/js/plugins/cropper/cropper.min.js"></script>
<script src="/static/agricultura/js/plugins/switchery/switchery.js"></script>
<script src="/static/iot/js/jquery.dataTables.min.js"></script>    
<script src="/static/iot/js/dataTables.bootstrap.js"></script>    
<script src="/static/iot/js/datatables.responsive.js"></script>
<script src="/static/all.js"></script>
<script src="/static/app_empresa/sector/sector.js"></script>
<script src="/static/app_empresa/sector/typeahead.js"></script>
<script>
    $('#Sectores').addClass('active');
    $('#crearSector').addClass('active');
  $(function(){

    $('#id_iconpicker').on('change', function(e) {
      document.getElementById('id_icono').value=e.icon;
    });
    cargarDependencias_typeahead("/empresa/sector/cargarDependencias/");
    cargarUbicaciones("{% url 'URLempresa:url_ubicaciones' %}");
  });
</script>
{% endblock scripts %}