{% extends "agricultura/base_agricultura.html" %}

{% block css %}
<link href="/static/agricultura/css/plugins/chosen/chosen.css" rel="stylesheet">
<!-- Data Tables -->
<link href="/static/agricultura/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/footable/footable.core.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/cropper/cropper.min.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/switchery/switchery.css" rel="stylesheet">
{% endblock css %}

{% block contenido %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Gestión de Archivos</h2>
        <h2 class="pull-right" style="margin-top: -35px;">{{empresa}}</h2>
        <ol class="breadcrumb">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Inicio<span class="caret"></span></a> {% include "dropdown-menu.html" %}
            </li>
            <li>
                <a href="/agricultura/inicio">Módulo agricultura</a>
            </li>
            <li>
                <a href="/agricultura/parcelas">Parcelas</a>
            </li>   
            <li class="active">
                <strong>Archivos</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>

<div class="wrapper wrapper-content animated fadeIn">

    <div class="row">
    </div>
    <div class="row">
        {% if 'agricultura.list_agr_archivo' in usuario.get_all_permissions %}
            <div class="col-lg-7">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Lista de Archivos Ingresados</h5>
                        <div class="ibox-tools">
                        {% if esGeneral %}
                            <select data-placeholder="Escoga Parcela..." class="chosen-select" style="width:250px;" tabindex="2" id="select_parcela" onchange="buscar(this);">
                                    <option value="">Todos</option>
                                {% for i in parcelas %}
                                    <option value="{{ i.par_id.sar_nombre }}">{{ i.par_id.sar_nombre }}</option>
                                {% endfor %}
                            </select>
                        {% else %}
                            <h5>: {{parcela.par_id.sar_nombre}}</h5>
                        {% endif %}
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content table-responsive">
                        <input type="text" class="form-control input-sm m-b-xs" id="filter"
                               placeholder="Search in table">
                        <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="8" data-filter=#filter>
                            <thead>
                            <tr>
                                <th data-toggle="true">Nombre</th>
                                <th>Archivo</th>
                                <th>Tipo de Archivo</th>
                                {% if 'agricultura.change_agr_parcela' in usuario.get_all_permissions %}
                                    <th>Estado</th>
                                {% endif %}
                                {% if 'agricultura.change_agr_parcela' in usuario.get_all_permissions %}
                                    <th>Acción</th>
                                {% endif %}
                                <th data-hide="all">Parcela</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% load archivos_extras %}
                            {% for archivo in archivos %}
                                <tr>
                                    <td>{{archivo.arc_nombre}}</td>
                                    {% if '.jpg' in archivo.arc_uri.url|ext  or ".png" in archivo.arc_uri.url|ext or ".jpeg" in archivo.arc_uri.url|ext %}
                                        <td>
                                        <a  href="#modalver" class="btn btn-info btn-xs " data-toggle="modal"
                                            data-par-imagen='{{archivo.arc_uri.url }}'
                                            data-target="#modalVer"  data-placement="top" title="Ver" data-original-title="Mark as read"><i class="fa fa-eye fa-xl"></i> Ver</a>
                                        </td>
                                    {% else %}
                                        <td>
                                            <a href="{{ archivo.arc_uri.url }}" class="btn btn-info btn-xs" download><i class="fa fa-download"></i> Descargar</a>
                                        </td>
                                    {% endif %}
                                    <td>{{archivo.tarc_id.tarc_nombre}}</td>
                                    {% if 'agricultura.change_agr_archivo' in usuario.get_all_permissions %}
                                        <td>
                                        <div class="switch">
                                            <div class="onoffswitch">
                                                {% if archivo.arc_estado %}
                                                    <input type="checkbox" checked class="onoffswitch-checkbox" value="{{ archivo.arc_estado }}" id="{{ archivo.pk}}" onchange="baja_archivo(this, '{{ archivo.pk }}')" >
                                                {% else %}
                                                    <input type="checkbox" class="onoffswitch-checkbox" value="{{ archivo.arc_estado }}" id="{{archivo.pk}}" onchange="baja_archivo(this, '{{ archivo.pk }}')" >
                                                {% endif %}
                                                <label class="onoffswitch-label" for={{archivo.pk }}>
                                                    <span class="onoffswitch-inner"></span>
                                                    <span class="onoffswitch-switch"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </td>
                                    {% endif %}
                                    {% if 'agricultura.change_agr_archivo' in usuario.get_all_permissions %}
                                        <td>
                                            <a onclick="editar_archivo({{ archivo.pk }})" class="btn btn-warning btn-xs "data-toggle="tooltip" data-placement="top" title="Editar" data-original-title="Mark as read"><i class="fa fa-edit fa-xl"> Editar</i> </a>
                                        </td>
                                    {% endif %}
                                    <td>{{archivo.par_id.par_id.sar_nombre}}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="5">
                                    <ul class="pagination pull-right"></ul>
                                </td>
                            </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>
            </div>
        {% endif %}
        {% if 'agricultura.add_agr_archivo' in usuario.get_all_permissions %}
            <div class="col-md-5">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Ingreso de Archivos</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content" style="display: block;">
                        <form id="form_archivo" class="form-horizontal" enctype="multipart/form-data" method="post" action="{% url 'agricultura:url_guardar_archivo' %}"> {% csrf_token %}
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Nombre</label>
                                <div class="col-lg-9">
                                    <input type="text" placeholder="Nombre" class="form-control" name="nomArchivo" id="nomArchivo" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Tipo de Archivo</label>
                                <div class="col-lg-9">
                                    <div id="contenedorSelect">
                                        <select class="chosen-select"  style="width: 100%" id = "select_archivo" name="select_archivo" >
                                            {% for i in tipo_archivos %}
                                                <option value="{{ i.pk }}">{{ i.tarc_nombre }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Archivo</label>
                                <div class="switch col-lg-9">
                                    <input type="file" placeholder="Archivo" class="form-control" name="fileArchivo" accept="*" id="fileArchivo" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Parcela</label>
                                <div class="col-lg-9">
                                    <select data-placeholder="Escoga Parcela..." class="chosen-select" style="width:250px;" tabindex="2" id="select_parcela" name="select_parcela">
                                        {% for i in parcelas %}
                                        <option value="{{ i.par_id.sar_id }}">{{ i.par_id.sar_nombre }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group" id="div_estado">
                                <label class="col-lg-3 control-label">Estado</label>
                                <div class="switch col-lg-9">
                                    <input type="checkbox" class="js-switch" checked name="estArchivo" id="estArchivo"/>
                                </div>
                            </div>
                            <div class="ibox-footer">
                                <div class="form-group">
                                    <div id="contenedor_btn">
                                        <div class="col-lg-offset-5">
                                             <button class="btn btn-primary" type="submit">Guardar Cambios</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</div>
<div class="modal inmodal fade" id="modalVer" tabindex="-1" role="dialog"  aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="animated bounceInRight">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
            <center>
                <img id="imagen" width="400" height="400">
            </center>
        </div>
    </div>
</div>
{% endblock contenido %}
{% block scripts %}
<script src="/static/agricultura/js/plugins/chosen/chosen.jquery.js"></script>
<script src="/static/agricultura/js/plugins/cropper/cropper.min.js"></script>
<script src="/static/agricultura/js/plugins/switchery/switchery.js"></script>

<!-- DataTables -->
<script src="/static/agricultura/js/plugins/footable/footable.all.min.js"></script>
<script>

$("#select_archivo").on("change",function(){
    if($("#select_archivo option:selected").text()== "Imagen"){
        $("#fileArchivo")[0].accept = "image/*";
    }else if($("#select_archivo option:selected").text()== "Documento"){
        $("#fileArchivo")[0].accept = "application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.openxmlformats-officedocument.presentationml.presentation, application/vnd.ms-word, application/vnd.ms-excel, application/vnd.ms-powerpoint, "+
                "text/plain, application/pdf";
    }else if($("#select_archivo option:selected").text()== "Audio"){
        $("#fileArchivo")[0].accept = "audio/*";
    }else if($("#select_archivo option:selected").text()== "Video"){
        $("#fileArchivo")[0].accept = "video/*";
    }else{
        $("#fileArchivo")[0].accept = "*";
    }
});

document.onload = inicio();

function inicio(){
    var config = {
        '.chosen-select'           : {},
        '.chosen-select-deselect'  : {allow_single_deselect:true},
        '.chosen-select-no-single' : {disable_search_threshold:10},
        '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
        '.chosen-select-width'     : {width:"95%"}
    };
    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }

    var elem = document.querySelector('.js-switch');
    var switchery = new Switchery(elem, { color: '#1AB394' });
    //configuracion de la tabla
    $('.footable').footable();
    $("#select_archivo").trigger("change");
    $('#contenedorParcela').addClass('active');
    $('#archivos').addClass('active');
}

$('#modalVer').on('show.bs.modal', function(e) {
    var imagen = $(e.relatedTarget).data('par-imagen');
    document.getElementById('imagen').src=imagen;
});

function regresar(){
   location.href="{% url 'agricultura:url_archivos_por_parcela' parcela.pk %}";
}

function editar_archivo(id){
    console.log("ajax");
    return $.ajax({
        data:{'id':id},
        url: '{% url 'agricultura:url_datos_archivo' %}',
        type: 'get',
        success: function(data){
            console.log(data);
            if(data.length != 0){
                $("input[type=text]").focusin();
                $("#contenedor_btn").empty();
                $("#contenedor_btn").append('<div class="col-md-offset-4 col-md-2"><button onclick="enviar_datos('+data.pk+')" class="btn btn-primary" id="btn_modificar" type="button" >Modificar</button></div>');
                $("#contenedor_btn").append('<div class="col-md-2"><button onclick="regresar()" class="btn btn-danger" id="btn_cancelar" type="button" >Cancelar</button></div>');
                $("#id").val(data.pk);
                $("#nomArchivo").val(data.nombre);
                $("#select_archivo").val(data.tipo);
                $("#fileArchivo").val("");
                $("#estArchivo").val(data.estado);
                $("#select_archivo").trigger("chosen:updated");
                document.getElementById('select_archivo').disabled  =  false;
                $("#div_estado").empty();
            }else{
                console.log("da");
            }
        },
        error: function(xhr, data, error){
            alert(xhr.resposeText);
        }
    });
}

function enviar_datos(id){
    var datos = new FormData($('#form_archivo')[0]);
    datos.append("id",id);
    var nombre = $("#nomArchivo").val();
    var file = $("#fileArchivo").val();
    var tipo = $("#select_archivo").val();
    if (nombre != "" && file != "" && tipo != "") {
        $.ajax({
            data: datos,
            url: '{% url 'agricultura:url_modificar_datos_archivo' %}',
            type: 'POST',
            contentType:false,
            'dataType': 'json',
            processData:false,
            success: function (data) {
                if(data.result=='OK'){
                    location.href="{% url 'agricultura:url_archivos_por_parcela' parcela.pk %}";
                }else{
                    alert('Error al modificar');
                }
            }
        });
    }else{
        swal("Error en los datos", "Verifique los datos ingesados e intente nuevamente", "error");
    }
}

function baja_archivo(elemento,id){
    console.log("works");
    var estado=true;
        if(elemento.checked == false){
            estado = false;
        }
        $.ajax({
            data: {'id': id, 'estado': estado},
            url: '{% url 'agricultura:url_dbaja_archivo' %}',
            type: 'get',
            success: function (data) {
                if (data.result=="OK"){
                    toastr.options={"progressBar": true}
                    toastr.success('Se cambio de estado','Estado')
                }else{
                }
            }
        });
}

function buscar(valor){
    $("#filter").val($(valor).val());
    var e = $.Event('keyup');
    e.keyCode= 13; // enter
    $('#filter').trigger(e);
}
</script>
{% endblock scripts %}
