
<div class="modal inmodal fade" id="modalArea" tabindex="-1" role="dialog"  aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-md">
        <div class="modal-content animated bounceInRight">
             <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                <h4 class="modal-title" id="title">Crear Área</h4>
            </div>
            <form class="form-horizontal" id="frmAre">
            {% csrf_token %}
              <div class="modal-body">              
                    <div class="form-group">
                        <input type="hidden" id="are_est_g" name="are_est_g">
                        <label class="control-label">Nombre</label>
                        <input type="text" class="form-control" placeholder="Nombre del Área" name="are_nom" id="are_nom" required>
                        <label class="control-label">Descripción</label>
                        <textarea class="form-control" placeholder="Descripcion del Área" name="are_des" id="are_des" required></textarea>
                        <label class="control-label">Etiqueta</label>
                        <input type="text" class="form-control" placeholder="Etiqueta del Área" name="are_etq" id="are_etq">
                        <label class="control-label">Dirección</label>
                        <input type="text" class="form-control" placeholder="Direccion del Área" name="are_dir" id="are_dir">
                        <!-- Sector -->
                        <label class="control-label" for="id_sector_ubicacion">Ubicación:</label>
                            <input class="form-control" id="basics1" name="basics1"/>
                            <input id="id_dependencias_typeahead" name="txt_dependencias_typeahead" type="hidden"/>
                            <button id="id_cambiar_ubicacion_typeahead" onclick="$('#basics1').prop('disabled', false);$('#basics1').focus();$('#id_cambiar_ubicacion_typeahead').prop('disabled', true);" disabled class="btn btn-link">Cambiar Ubicación</button>
                        
                        <!-- Fin Sector -->
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary" id="btnModalGuardar">Guardar</button>
            </div>
            </form>
        </div>
    </div>
</div>
<div class="modal inmodal fade" id="modalSubArea" tabindex="-1" role="dialog"  aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-md">
        <div class="modal-content animated bounceInRight">
             <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                <h4 class="modal-title" id="title">Crear Sub Área</h4>
            </div>
            <form class="form-horizontal" id="frmSub">{% csrf_token %}
                <div class="modal-body">
                        <div class="form-group"><label class="col-lg-2 control-label">Nombre</label>
                            <div class="col-lg-10">
                                <input type="text" placeholder="Nombre del Subárea" class="form-control" name="sub_nom" id="sub_nom" required onkeypress="">
                            </div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Etiqueta</label>
                            <div class="col-lg-10">
                                <input  placeholder="Etiqueta del Subárea" class="form-control" name="sub_etq" id="sub_etq" >
                            </div>
                        </div> 
                        <div class="form-group"><label class="col-lg-2 control-label">Región</label>
                            <div class="col-lg-10">
                            <div id="contenedorSelect">
                                <select class="form-control" id = "regiones" name="regiones" >
                                    {% for i in regiones %}
                                        <option value="{{ i.id }}">{{ i.region }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            </div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Altura nivel mar</label>
                            <div class="col-lg-10">
                            <input type="number" class="form-control" placeholder="Altura superficial al nivel del mar" name="alt_nivel" id="alt_nivel">
                            </div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Latitud</label>
                            <div class="col-lg-10">
                                <input type="number" step="0.01" placeholder="Latitud del Subarea" class="form-control" name="sub_lat" id="sub_lat" required>
                            </div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Longitud</label>
                            <div class="col-lg-10">
                                <input type="number" step="0.01" placeholder="Longitud del Subárea" class="form-control" name="sub_lng" id="sub_lng" required>
                            </div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Hem_Lat</label>
                            <div class="col-lg-10">
                                <select class="form-control" name="sub_hla" id="sub_hla">
                                    <option value="N">Norte</option>
                                    <option value="S">Sur</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Hem_Lon</label>
                            <div class="col-lg-10">
                                <select class="form-control" name="sub_hlo" id="sub_hlo">
                                    <option value="O">Oeste</option>
                                    <option value="E">Este</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Área</label>
                                <div class="col-lg-8">
                                    <select class="form-control" id="are_id" name="are_id">               
                                    </select>
                                </div>
                                <div class="col-lg-2">
                                    {% if 'app_empresa.add_proy_area' in usuario.get_all_permissions %}
                                    <a  onclick="agregarArea()" class="related-widget-wrapper-link add-related" id="add_id_sar_region" title="Agregar Áreas"><img src="/static/admin/img/icon_addlink.gif" width="10" height="10" alt="Agregar"></a>
                                    {% endif %}
                                </div>
                        </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button class="btn btn-primary"  type="submit">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal inmodal fade" id="modalParcelas" tabindex="-1" role="dialog"  aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-md">
        <div class="modal-content animated bounceInRight">
             <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                <h4 class="modal-title" id="title">Crear Parcela</h4>
            </div>
            <form id="form_parcela" class="form-horizontal" enctype="multipart/form-data" method="post" action="{% url 'agricultura:url_guardar_parcela' %}"> {% csrf_token %}
            <div class="modal-body">
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Localización</label>
                                <div class="col-lg-5">
                                <select data-placeholder="Escoga Ubicación..." class="form-control"  tabindex="2" id="select_local" name="select_local">
                                    {% for i in datos_subareas %}
                                        <option value="{{ i.sar_id }}">{{ i.sar_nombre }}</option>
                                    {% endfor %}
                                </select>
                                 </div>
                                <div class="col-lg-4">
                                     {% if 'app_empresa.add_proy_subarea' in usuario.get_all_permissions %}
                                <a  onclick="agregarSubArea()" class="related-widget-wrapper-link add-related" id="add_id_sar_region" title="Agregar Áreas"><img src="/static/admin/img/icon_addlink.gif" width="10" height="10" alt="Agregar"></a>
                                {% endif %}
                                 </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Área</label>
                                <div class="col-lg-5">
                                    <input type="text" placeholder="Neta" class="form-control" name="txtAreaNeta" id="txtAreaNeta" required onkeypress="validaSoloNumeros()">
                                </div>
                                <div class="col-lg-4">
                                    <input type="text" placeholder="Bruta" class="form-control" name="txtAreaBruta" id="txtAreaBruta" required onkeypress="validaSoloNumeros()">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Número de Hectáreas</label>
                                <div class="col-lg-9">
                                    <input type="text" placeholder="Hectáreas" class="form-control" name="numHectareas" id="numHectareas" required onkeypress="validaSoloNumeros()">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 control-label">Tipo de Suelo</label>
                                <div class="col-xs-5">
                                    <div id="contenedorSelect">
                                        <select class="form-control"  id = "select_suelo" name="select_suelo" >
                                            {% for i in datos_suelo %}
                                                <option value="{{ i.tsue_id }}">{{ i.tsue_nombre }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                        {% if 'agricultura.add_agr_tipo_suelo' in usuario.get_all_permissions %}
                                            <a  onclick="agregarTipoSueloEvo()" class="related-widget-wrapper-link add-related" id="" title="Agregar Tipo de suelo"><img src="/static/admin/img/icon_addlink.gif" width="10" height="10" alt="Agregar"></a>
                                        {% endif %}
                                </div>
                            </div>
                            <input type="text" name="tipo_envio" class="hide" id="tipo_envio" value="har">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button class="btn btn-primary" type="submit">Guardar</button>
            </div>
            </form>
        </div>
    </div>
</div>

<div class="modal inmodal fade" id="modalParcelasPen" tabindex="-1" role="dialog"  aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-md">
        <div class="modal-content animated bounceInRight">
             <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                <h4 class="modal-title" id="title">Crear Parcela</h4>
            </div>
            <form id="form_parcela" class="form-horizontal" enctype="multipart/form-data" method="post" action="{% url 'agricultura:url_guardar_parcela' %}"> {% csrf_token %}
            <div class="modal-body">
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Localización</label>
                                <div class="col-lg-5">
                                <select data-placeholder="Escoga Ubicación..." class="form-control"  tabindex="2" id="select_local1" name="select_local1">
                                    {% for i in datos_subareas %}
                                        <option value="{{ i.sar_id }}">{{ i.sar_nombre }}</option>
                                    {% endfor %}
                                </select>
                                 </div>
                                <div class="col-lg-4">
                                     {% if 'app_empresa.add_proy_subarea' in usuario.get_all_permissions %}
                                <a  onclick="agregarSubArea()" class="related-widget-wrapper-link add-related" id="add_id_sar_region" title="Agregar Áreas"><img src="/static/admin/img/icon_addlink.gif" width="10" height="10" alt="Agregar"></a>
                                {% endif %}
                                 </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Área</label>
                                <div class="col-lg-5">
                                    <input type="text" placeholder="Neta" class="form-control" name="txtAreaNeta" id="txtAreaNeta" required onkeypress="validaSoloNumeros()">
                                </div>
                                <div class="col-lg-4">
                                    <input type="text" placeholder="Bruta" class="form-control" name="txtAreaBruta" id="txtAreaBruta" required onkeypress="validaSoloNumeros()">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Número de Hectáreas</label>
                                <div class="col-lg-9">
                                    <input type="text" placeholder="Hectareas" class="form-control" name="numHectareas" id="numHectareas" required onkeypress="validaSoloNumeros()">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 control-label">Tipo de Suelo</label>
                                <div class="col-xs-5">
                                    <div id="contenedorSelect">
                                        <select class="form-control"  id = "select_suelo" name="select_suelo" >
                                            {% for i in datos_suelo %}
                                                <option value="{{ i.tsue_id }}">{{ i.tsue_nombre }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                        {% if 'agricultura.add_agr_tipo_suelo' in usuario.get_all_permissions %}
                                            <a  onclick="agregarTipoSueloEvo()" class="related-widget-wrapper-link add-related" id="" title="Agregar Tipo de suelo"><img src="/static/admin/img/icon_addlink.gif" width="10" height="10" alt="Agregar"></a>
                                        {% endif %}
                                </div>
                            </div>
                            <input type="text" name="tipo_envio" class="hide" id="tipo_envio" value="pen">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button class="btn btn-primary" type="submit">Guardar</button>
            </div>
            </form>
        </div>
    </div>
</div>

<div class="modal inmodal fade" id="modalSuelo" tabindex="-1" role="dialog"  aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-md">
        <div class="modal-content animated bounceInRight">
             <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                <h4 class="modal-title" id="title">Crear Tipo de Suelo</h4>
            </div>
            <form class="form-horizontal" id="frmSuelo" name="frmSuelo" method="post" enctype="multipart/form-data" >{% csrf_token %}
                <div class="modal-body">              
                        <p>Ingrese todos los parámetros  a continuacion</p>
                        <div class="form-group"><label class="col-lg-2 control-label">Nombre del Suelo</label>
                            <input class="hide"  id="id_suelo" name="id_suelo">
                            <div class="col-lg-10">
                                <input type="text" placeholder="Nombre del Suelo" class="form-control" required id="txt_nombre" name="txt_nombre">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary" id="btnModalGuardar">Guardar</button>
                    </div>
                    </form>
        </div>
    </div>
</div>

<div class="modal inmodal fade" id="modalCategoria" tabindex="-1" role="dialog"  aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-md">
        <div class="modal-content animated bounceInRight">
             <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                <h4 class="modal-title" id="title">Crear categoría</h4>
            </div>
            <form class="form-horizontal" id="form_categoria" method="post" action="{% url 'agricultura:url_categoria_agregar' %}">{% csrf_token %}
            <div class="modal-body">
                        <div class="form-group"><label class="col-lg-2 control-label">Nombre de la Categoría</label>
                            <div class="col-lg-10">
                                <input type="text" placeholder="Nombre de la categoría" class="form-control" name="txt_cat_nombre" id="txt_cat_nombre" required onkeypress="validaSoloTexto()">
                            </div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Observación</label>
                            <div class="col-lg-10">
                                <textarea  placeholder="Observaciones" class="form-control" name="txt_cat_observacion" id="txt_cat_observacion" ></textarea>
                            </div>
                        </div>
                
                <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary" id="btnModalGuardar">Guardar</button>
                </div>
                </form>
        </div>
    </div>
</div>