{% extends "agricultura/base_agricultura.html" %}
{% block css %}

<link href="/static/agricultura/css/plugins/chosen/chosen.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/select2/select2.min.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/cropper/cropper.min.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/switchery/switchery.css" rel="stylesheet">
<!-- Data Tables -->
<link href="/static/agricultura/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/footable/footable.core.css" rel="stylesheet">

<link rel="stylesheet" href="/static/agricultura/multiselect/multiple-select.css"/>

<link href="/static/agricultura/css/formValidation.min.css" rel="stylesheet">


{% endblock css %}

{% block contenido %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Gestión de Tipos de Suelo</h2>
        <h2 class="pull-right" style="margin-top: -35px;">{{empresa}}</h2>
        <ol class="breadcrumb">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Inicio<span class="caret"></span></a> {% include "dropdown-menu.html" %}
            </li>
            <li>
                <a href="/agricultura/inicio">Módulo agricultura</a>
            </li>   
            <li class="active">
                <strong>Tipos de Suelos</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
        {% if 'agricultura.list_agr_tipo_parametro' in usuario.get_all_permissions %}
		    <div class="col-md-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title hvr-overline-from-left" style="width: 100%;">
                    <h5>Lista de Suelos Ingresados</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content">
                            <input type="text" class="form-control input-sm m-b-xs" id="filter"
                                   placeholder="Search in table">
                            <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="8" data-filter=#filter>
                                <thead>
                                <tr>
                                    <th data-toggle="true">Nombre</th>
                                    {% if 'agricultura.change_agr_tipo_suelo' in usuario.get_all_permissions or 'agricultura.delete_agr_tipo_suelo' in usuario.get_all_permissions %}
                                        <th>Acciones</th>
                                        <th>Parámetros </th>
                                        <th>Estado</th>
                                    {% endif %}
                                    <th data-hide="all">Imagen</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for suelo in datos_suelo %}
                                <tr>
                                    <td>{{ suelo.tsue_nombre }}</td>
                                    {% if 'agricultura.change_agr_tipo_suelo' in usuario.get_all_permissions %}
                                    <td>
                                    <button type="button" data-id="{{ suelo.tsue_id }}" class="btn btn-warning btn-xs editButton">Editar</button>
                                    </td>
                                    <td>
                                        <a data-target="#modalParametros"
                                           data-sue-nombre='{{suelo.tsue_nombre }}'
                                           data-sue-id='{{suelo.tsue_id }}'
                                           class="btn btn-info btn-xs "data-toggle="modal" data-placement="top" title="Agregar Parametros" data-original-title="Mark as read"><i class="fa fa-leaf fa-xl"></i> </a>
                                    </td>
                                        <td><div class="switch">
                                    <div class="onoffswitch">
                                {% if suelo.tsue_estado %}
                                    <input type="checkbox" checked class="onoffswitch-checkbox" value={{ suelo.tsue_estado }} id={{ suelo.tsue_id}} onchange="baja_suelo(this, '{{ suelo.tsue_id }}')" >
                                {% else %}
                                    <input type="checkbox" class="onoffswitch-checkbox" value={{ suelo.tsue_estado }} id={{ suelo.tsue_id}} onchange="baja_suelo(this, '{{ suelo.tsue_id }}')">
                                {% endif %}
                                            <label class="onoffswitch-label" for={{ suelo.tsue_id }}>
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                    </div></td>
                                    {% endif %}
                                <td>
                                        <a  href="#modalver" class="btn btn-info btn-xs " data-toggle="modal"
                                                                    data-sue-imagen='{{suelo.tsue_imagen.url}}'
                                                                    data-target="#modalVer"  data-placement="top" title="Ver" data-original-title="Mark as read"><i class="fa fa-eye fa-xl"></i> Ver</a>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="5">
                                        <ul class="pagination pull-right"></ul>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
            </div>
		</div>
        {% endif %}
        {% if 'agricultura.add_agr_tipo_suelo' in usuario.get_all_permissions %}
		<div class="col-md-6">
			<div class="ibox float-e-margins">
                <div class="ibox-title hvr-overline-from-left" style="width: 100%;">
                    <h5>Tipos de Suelos</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" id="reiniciar" style="display: block;">
                    <form class="form-horizontal" id="form_parametros" name="form_parametros" method="post" enctype="multipart/form-data" action="{% url 'agricultura:url_tipo_suelo_agregar' %}">{% csrf_token %}
                        <p>Ingrese todos los parámetros  a continuacion</p>
                        <div class="form-group"><label class="col-lg-2 control-label">Nombre del Suelo</label>
                            <input class="hide"  id="id_suelo" name="id_suelo">
                            <div class="col-lg-10">
                            	<input type="text" placeholder="Nombre del Suelo" class="form-control" id="txt_nombre" name="txt_nombre">
                            </div>
                        </div>
                        <div class="form-group">
                            <div id="contenedor_img">
                                                <!--<img src="/static/agricultura/img/p3.jpg">-->
                             </div>
                                <label class="col-lg-2 control-label">Escoger Imagen</label>
			                                <div class="btn-group">
			                                    <label title="Upload image file" for="inputImage" class="btn btn-primary">
			                                        <!--<input type="file" accept="image/*" name="file" id="inputImage" class="hide">
			                                        Seleccionar Imagen-->
                                                    <input type="file" accept="image/*" name="file1" id="inputImage1">
			                                    </label>
			                                </div>
                            </div>
                        <div class="ibox-footer">
	                    <div class="form-group text-rigth" >
	                        <div class="col-lg-offset-3">
                                <div id="contenedor_btn">
	                             <button class="btn btn-primary col-lg-offset-3 col-lg-3" type="submit">Guardar</button>
                                </div>
                            </div>
	                    </div>
                        </div>
                    </form>
                </div>
            </div>
		</div>
    {% endif %}

	</div>

</div>
<!-- modales -->
    <div class="modal inmodal fade" id="modalVer" tabindex="-1" role="dialog"  aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="animated bounceInRight">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
            <center>
                <img id="imagen" width="400" class="img-circle" height="400">
            </center>
        </div>
    </div>
</div>
    <div class="modal inmodal fade" id="modalParametros" tabindex="-1" role="dialog"  aria-hidden="true" style="display: none;">
        <div class="modal-dialog"> <!-- modal-sm -->
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                        <h4><label class="modal-title" id="nombre">Nombre del Suelo</label></h4>
{#                        <cite title="" data-original-title="">Si existen datos seran modificados</cite>#}
                </div>
                  <div class="modal-body">
                    <form class="form-horizontal" id="form_parametros_suelo" name="form_parametros_suelo" method="post" enctype="multipart/form-data" action="{% url 'agricultura:url_suelo_valores' %}">{% csrf_token %}
                        <div class="row" id="form-Modal">
                        </div>
                        <input type="text" id="id" name="id" class="hide"/>
                {% if 'agricultura.change_agr_tipo_suelo' in usuario.get_all_permissions or 'agricultura.add_agr_tipo_suelo' in usuario.get_all_permissions %}
                    <div class="modal-body">
                        <button class="btn btn-primary" type="submit">Guardar</button>
                    </div>
                {% endif %}
                </form>
                </div>
            </div>
        </div>
    </div>

{% endblock contenido %}

{% block scripts %}

<script>
    document.onload = cargarFunciones();
    function cargarFunciones(){
        $('#contenedorParametros').addClass('active');
        $('#par_suelo').addClass('active');
    };
</script>

<script src="/static/agricultura/js/plugins/chosen/chosen.jquery.js"></script>
<script src="/static/agricultura/js/plugins/select2/select2.full.min.js"></script>
<script src="/static/agricultura/js/plugins/cropper/cropper.min.js"></script>
<script src="/static/agricultura/js/plugins/switchery/switchery.js"></script>

<!-- DataTables -->
<script src="/static/agricultura/js/plugins/footable/footable.all.min.js"></script>

<script src="/static/agricultura/js/formValidation.min.js"></script>
<script src="/static/agricultura/js/bootstrapForm.min.js"></script>
    <script src="/static/agricultura/multiselect/jquery.multiple.select.js"></script>

<script src="/static/agricultura/js/bootbox.js"></script>
<script>
$(document).ready(function() {
    $('#modalParametros').on('show.bs.modal', function(e) {
            $('#form-Modal').empty()
            var banderaU=0
            var banderaD=0
            var c=1;
            var id = $(e.relatedTarget).data('sue-id');
            $.ajax({
                data: {'id_suelo': id},
                url: '/agricultura/tipos_parametros_suelo/',
                type: 'get',
                success: function (data) {
                    htmlSelect=''
                        for (var j = 0; j < data[0].contParametrosSuelo; j++) {
                            htmlSelect+='<div class="col-lg-6 form-group" > <label control-label">'+data[c].nombre+'</label><br/>'
                            banderaD=c+1
                            c=c+2
                            for (var k = 0; k < data[banderaD].contTipos; k++) {
                                htmlSelect+='<div class="col-lg-9">'+data[c].nombreTipo+'<input type="text" ' +
                                'id="tipo-'+data[c].idTipo+'" name="tipo-'+data[c].idTipo+'" class="form-control" value="'+data[c].valor+'"  onkeypress="validaSoloNumeros()"></div>';//
                                //htmlSelect += 'nombreTipo : ' + data[c].nombreTipo + ' ';
                                c=c+1;
                            }
                            htmlSelect += '</div>';
                        }
                    var nombre = $(e.relatedTarget).data('sue-nombre');
                    var id = $(e.relatedTarget).data('sue-id');
                    $(e.currentTarget).find('label[id="nombre"]').html(nombre);
                    $(e.currentTarget).find('input[id="id"]').val(id);
                    // htmlSelect+=('<br/><button class="btn btn-primary" type="submit">Guardar</button>')
                    $('#form-Modal').append(htmlSelect)

                }
            });
   });
    $('#modalVer').on('show.bs.modal', function(e) {
    var imagen = $(e.relatedTarget).data('sue-imagen');
    document.getElementById('imagen').src=imagen;
    });
    $('#form_parametros')
        .formValidation({
            framework: 'bootstrap',
            icon: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                txt_nombre: {
                    validators: {
                        notEmpty: {
                            message: 'Campo requierdo'
                        }
                    }
                }
            }
        })
        $('.editButton').on('click', function() {
        // Get the record's ID via attribute
        var id = $(this).attr('data-id');
        $.ajax({
            url: '/agricultura/verSuelos/' + id,
            method: 'get'
        }).success(function(response) {
            $('#form_parametros')
                .find('[name="id_suelo"]').val(response[0].id).end()
                .find('[name="txt_nombre"]').val(response[0].nombre).end();
                $("#contenedor_img").empty();
                $("#contenedor_img").append('<center><img src='+response[0].imagen+' width="300" height="300"></center>');
        });
    });
});

</script>
    <script>
            $("#website").multipleSelect({
                isOpen: true,
                keepOpen: false,
                filter: true,
                single:true,
                minimumCountSelected: 2,
            });

    function baja_suelo(elemento, id){
            var estado=true;
            if(elemento.checked == false){
                estado = false;
            }
            $.ajax({
                data: {'id': id, 'estado': estado},
                url: '/agricultura/bajaSuelo/',
                type: 'get',
                success: function (data) {
                    if (data.result=="OK"){
                        toastr.options={"progressBar": true}
                        toastr.success('Se cambio de estado','Estado')
                    }else{
                        toastr.options={"progressBar": true}
                        toastr.error('Error al cambiar estado','Estado')
                    }
                }
            });
        }
         function eliminarSuelo(id){

            swal({ title: "Esta seguro?",
                text: "Si lo elimina ya no lo podra recuperar!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Si",
                cancelButtonText: "No!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
            function(isConfirm){
               if (isConfirm) {
                $.ajax({
                    data: {'id': id},
                    url: '/agricultura/eliminar_suelo/',
                    type: 'get',
                    success: function (data) {
                        if(data.result == "OK"){
                            swal({   title: "Borrado!",
                                text: "El dato a sido borrado con exito",
                                type: "success",
                                confirmButtonText: "OK",
                                closeOnConfirm: false,
                                closeOnCancel: false
                            },
                                function(){
                                    location.href='/agricultura/tiposSuelo/';
                                });
                        }else{
                            alert('Parametro no encontrado');
                        }
                    }
                });
                } else {
                     swal("Cancelado", "No se ha borrado", "error");
                 }
             });
    }

    </script>
{% endblock scripts %}
