{% extends "agricultura/base_agricultura.html" %}

{% block css %}
<link href="/static/agricultura/css/plugins/chosen/chosen.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/select2/select2.min.css" rel="stylesheet">
{% endblock %}

{% block contenido %}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Gestión ET0 Hargreaves</h2>
        <h2 class="pull-right" style="margin-top: -35px;">{{empresa}}</h2>
        <ol class="breadcrumb">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Inicio<span class="caret"></span></a> {% include "dropdown-menu.html" %}
            </li>
            <li>
                <a href="/agricultura/inicio">Módulo agricultura</a>
            </li>
            <li class="active">
                <strong>Evapotranspiración (Et0)</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>
    <br/>
    <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
            {% if 'agricultura.add_agr_evotranspiracion' in usuario.get_all_permissions %}
                <div class="col-md-offset-3 col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Eto: Método de Hargreaves <small>Cálculo de la Evapotranspiración Inicial</small></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                </div>
                <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Parcela: </label>
                                    <div class="col-lg-10">
                                        <div id="contenedorSelect"> 
                                            <select data-placeholder="Escoga la Parcela..." class="chosen-select" style="width:250px;" tabindex="2" id="select_parcela" name="select_parcela" onchange="detalleParcela(this)">
                                                <option value="x"></option>
                                                {% for i in datos_parcela %}
                                                    <option value="{{ i.par_id.sar_id }}">{{ i.par_id.sar_nombre }}</option>
                                                {% endfor %}
                                            </select>
                                             {% if 'agricultura.add_agr_parcela' in usuario.get_all_permissions %}
                                            <a  onclick="agregarParcela()" class="related-widget-wrapper-link add-related" id="add_id_sar_region" title="Agregar Parcela"><img src="/static/admin/img/icon_addlink.gif" width="10" height="10" alt="Agregar"></a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <hr/>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Latitud: </label>
                                    <div class="col-lg-10">
                                        <input id="txtLatitud" type="text" class="form-control" readonly="readonly"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <br/>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover" id="tablaEt0" >
                                        <thead>
                                            <tr>
                                                <th>Mes</th>
                                                <th>Temp Mín (oC)</th>
                                                <th>Temp Máx (oC)</th>
                                                <th>Rad</th>
                                                <th>Et0</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><strong>Enero</strong></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Febrero</strong></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Marzo</strong></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Abril</strong></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Mayo</strong></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Junio</strong></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Julio</strong></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Agosto</strong></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td class="center"></td>
                                                <td class="center"></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Septiembre</strong></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td class="center"></td>
                                                <td class="center"></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Octubre</strong></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td class="center"></td>
                                                <td class="center"></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Noviembre</strong></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td class="center"></td>
                                                <td class="center"></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Diciembre</strong></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td class="center"></td>
                                                <td class="center"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="ibox-footer">
                    <div class="col-md-offset-10">
                        <button type="button" class="btn btn-primary align-right" onclick="calcularEto()">Calcular</button>
                    </div>
                </div>
            </div>
        </div>
            {% else %}
                {% if 'agricultura.list_agr_evotranspiracion' in usuario.get_all_permissions %}
                    <div class="col-md-offset-3 col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Eto: metodo de Hargreaves <small>Calculo de la Evapotranspiración Inicial</small></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                </div>
                <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Parcela: </label>
                                    <div class="col-lg-10">
                                        <div id="contenedorSelect">
                                            <select data-placeholder="Escoga la Parcela..." class="chosen-select" style="width:250px;" tabindex="2" id="select_parcela" name="select_parcela" onchange="detalleParcela(this)">
                                                <option value="x"></option>
                                                {% for i in datos_parcela %}
                                                    <option value="{{ i.par_id.id }}">{{ i.par_id.sar_nombre }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <hr/>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Latitud: </label>
                                    <div class="col-lg-10">
                                        <input id="txtLatitud" type="text" class="form-control" readonly="readonly"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <br/>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover" id="tablaEt0" >
                                        <thead>
                                            <tr>
                                                <th>Mes</th>
                                                <th>Temp Min</th>
                                                <th>Temp Max</th>
                                                <th>Rad</th>
                                                <th>Et0</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><strong>Enero</strong></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Febrero</strong></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Marzo</strong></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Abril</strong></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Mayo</strong></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Junio</strong></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Julio</strong></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Agosto</strong></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td class="center"></td>
                                                <td class="center"></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Septiembre</strong></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td class="center"></td>
                                                <td class="center"></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Octubre</strong></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td class="center"></td>
                                                <td class="center"></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Noviembre</strong></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td class="center"></td>
                                                <td class="center"></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Diciembre</strong></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td class="center"></td>
                                                <td class="center"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
                {% endif %}
            {% endif %}
    </div>
    </div>
{% include "includes/modales.html" %}
{% endblock %}

{% block scripts %}
    <script src="/static/agricultura/js/plugins/chosen/chosen.jquery.js"></script>
    <script src="/static/agricultura/scripts/op_modales.js"></script>
    <script src="/static/app_empresa/sector/sector.js"></script>
<script src="/static/app_empresa/sector/typeahead.js"></script>
<script src="/static/plantilla/plugins/typeahead/jquery.easy-autocomplete.min.js"></script>

    <script>
function agregarTipoSueloEvo(){
        $('#modalParcelas').modal('hide');
        $("#modalSuelo").modal()
    }
        document.onload = cargarFunciones();

        function cargarFunciones(){
            $('#frmSuelo').on("submit",function(){
        event.preventDefault();
        $.ajax({
            type:"POST",
            url: "/agricultura/tipo_suelo_agregar/",
            dataType: 'json',
            data:$(this).serialize(),
            success: function(response){
                $('#id_suelo').val("");
                $('#txt_nombre').val("");
                $('#modalSuelo').modal('hide');
                $('#modalParcelas').modal();
                toastr.options={"progressBar":true};
                toastr.success(response.mensaje,'Tipo de Suelo');
                $.get("/agricultura/tiposSuelo/",$.getDataSuelo); // get without token_crsf
            },
            error: function(){
                toastr.options={"progressBar":true};
                toastr.error("Error",'Tipo de Suelo');
            }
        });
    });
            select();
            $('#contenedorParcela').addClass('active');
            $('#evotraspiracion').addClass('active');
            $('#evotraspiracionH').addClass('active');
              $.getDataSubArea = function(response)
    {
        var datos = "";
        data = response.data;
        $.each(response.data, function(i,value){
            datos+= "<option value="+value.sar_id+">"+value.sar_nombre+"</option>";
        });
        $('#select_local').html(datos);       
        $("#select_local").trigger("chosen:updated");
    };
    
              $('#frmSub').on("submit",function(){
        event.preventDefault();
        $.ajax({
            type:"POST",
            url: "/empresa/subarea/sav/",
            dataType: 'json',
            data:$(this).serialize(),
            success: function(response){
                $('#sub_nom').val("");
                $('#sub_etq').val("");
                $('#sub_lat').val("");
                $('#sub_lng').val("");
                $('#sub_hla').val("");
                $('#sub_hlo').val("");
                
                $('#modalSubArea').modal('hide');
                $.get("/empresa/subarea/get/",$.getDataSubArea); // get without token_crsf
                $("#select_local").trigger("chosen:updated");
                $('#modalParcelas').modal('show');
                toastr.options={"progressBar":true};
                toastr.success(response.mensaje,'Subarea');
                
            },

            error: function(){
                toastr.options={"progressBar":true};
                toastr.error("Error",'Subarea');
            }
        });
    });
        }

        function calcularEto(){
            var table = document.getElementById('tablaEt0'),
                rows = table.getElementsByTagName('tr'),
                i, j, cells, tempMin, tempMax, rad;

            for (i = 0, j = rows.length; i < j; ++i) {
                cells = rows[i].getElementsByTagName('td');
                if (!cells.length) {
                    continue;
                }
                try{                
                    mes = cells[0].innerText;
                    
                    tempMin = cells[1].innerText;
                    tempMax = cells[2].innerText;
                    rad =  cells[3].innerText;
                    evotraspiracion = calculoEt0(tempMin,tempMax,rad);
                    cells[4].innerText = evotraspiracion;
   // {#                guardando los datos de la matriz de la evotranspiraciion#}
                    console.log('Se esta Enviando: ');
                    console.log('mes: '+mes+' temMin: '+tempMin+' temMax: '+tempMax+' Evo: '+cells[4].innerText);
                    if(tempMax!='' || tempMin!=''){
                        console.log('temMin: '+tempMin+' temMax: '+tempMax); 
                        // if (tempMin < tempMax) {
                        if (parseFloat(tempMin) < parseFloat(tempMax)) {
                            $.ajax({
                            data: {'mes':mes,'minima':tempMin,
                            'maxima':tempMax,'et0':cells[4].innerText,
                            'radiacion':rad,'parcela':document.getElementById("select_parcela").value},
                            url: '/agricultura/guardarDatoEvo/',
                            type: 'get',
                            success: function (data) {
                                toastr.options={"progressBar": true}
                                toastr.success('Guardado Et0: '+data[0].mes,'Estado')
                            }
                        });
                        } else{
                            swal("Error en los datos de la tabla", "La temperatura min no puede ser mayor a la temperatura max", "error");
                        };
                    }
                }catch(e){
                    console.log('error'+e);
                }
            }
        }

        function detalleParcela(txtCod){
            var table = document.getElementById('tablaEt0'),
                rows = table.getElementsByTagName('tr'),
                i, j, cells;
            $.ajax({
                data: {'id':txtCod.value},
                url: '/agricultura/datosParcela/',
                type: 'get',
                success: function (data) {
                    $("#txtLatitud").val(data[0].latitud);

                    var indice = 0;
                    for (i = 0, j = rows.length; i < j; ++i) {
                        cells = rows[i].getElementsByTagName('td');
                        if (!cells.length) {
                            continue;
                        }
                        //console.log(14+indice);
                        //console.log(data[i].valor);
                        cells[3].innerText = data[i].valor;
                    }
                    ingresarDatosPreCargados(data,data[13].cant,rows.length);
                }
            })
        }

        function ingresarDatosPreCargados(datos, cant,tamTabla){
            var table = document.getElementById('tablaEt0');
            var rows = table.getElementsByTagName('tr');
            var cells;
            for(b = 1; b < rows.length ; b++){
                cells = rows[b].getElementsByTagName('td');
                console.log(tamTabla);
                for(c = 0; c < tamTabla; c++){
                        if(c<cant){
                            console.log(cells[0].innerText+' == '+datos[14 + c].mes);
                            if(cells[0].innerText == datos[14 + c].mes){
                                console.log('SI');
                                cells[1].innerText = datos[14 + c].temMin;
                                cells[2].innerText = datos[14 + c].temMax;
                                cells[4].innerText = datos[14 + c].et0;
                                break;
                            }    
                        }else{
                            cells[1].innerText = "";
                            cells[2].innerText = "";
                            cells[4].innerText = "";
                            continue;  
                        }        
                }
            }
        }

        function calculoEt0(temMin, temMax, rad){
            console.log('Llego a calcular la evotranspiracion Inicial')
            var respuesta;
            console.log('tnmax y tmin: '+temMax+' '+temMin);
            var conversion = rad * 0.408;
            console.log('conversion a mm/dia: '+conversion);
            var tmedia = (parseFloat(temMax)+parseFloat(temMin))/2;
            console.log('temp media: '+tmedia);
            respuesta = 0.0023 * conversion * Math.pow((temMax - temMin),0.5) * (tmedia+17.8)
            if(temMin=='' || temMax==''){
                return '';
            }else{
                return (Math.round(respuesta*100)/100);
            }
        }

        function select(){
               var config = {
                    '.chosen-select'           : {},
                    '.chosen-select-deselect'  : {allow_single_deselect:true},
                    '.chosen-select-no-single' : {disable_search_threshold:10},
                    '.chosen-select-no-results': {no_results_text:'No se encontro parcela'},
                    '.chosen-select-width'     : {width:"95%"}
                }
                for (var selector in config) {
                    $(selector).chosen(config[selector]);
                }
        }
        function agregarParcela(){
        $("#modalParcelas").modal()
            }
                function agregarArea(){
        $('#modalSubArea').modal('hide');
        $("#modalArea").modal()
    }    $('#modalSubArea').bind('shown.bs.modal', function(e){
        $.get("/empresa/areas/get/",$.getDataArea); // get without token_crsf
        sub_nom.focus();
    });

    $('#modalArea').bind('hidden.bs.modal', function(e){
        $('#title').html("Crear Area");
        $('#are_nom').val("");
        $('#are_des').val("");
        $('#are_etq').val("");
        $('#are_dir').val("");
        $('#are_est').prop("checked",false);
        $('#accion').val("0");
    });
    function agregarSubArea(){
        $("#modalParcelas").modal('hide')
        $("#modalSubArea").modal()
        }
    cargarDependencias_typeahead("/empresa/sector/cargarDependencias/");
    cargarUbicaciones("{% url 'URLempresa:url_ubicaciones' %}");
    </script>
{% endblock %}