{% extends "agricultura/base_agricultura.html" %}
{% block css %}

<link href="/static/agricultura/css/plugins/chosen/chosen.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/select2/select2.min.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/cropper/cropper.min.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/switchery/switchery.css" rel="stylesheet">
<!-- Data Tables -->
<link href="/static/agricultura/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/footable/footable.core.css" rel="stylesheet">

<link rel="stylesheet" href="/static/agricultura/multiselect/multiple-select.css"/>
<link href="/static/agricultura/css/plugins/iCheck/custom.css" rel="stylesheet">
<link href="/static/agricultura/css/formValidation.min.css" rel="stylesheet">



<style>
  ul#stepForm, ul#stepForm li {
    margin: 0;
    padding: 0;
  }
  ul#stepForm li {
    list-style: none outside none;
  }
  label{margin-top: 10px;}
  .help-inline-error{color:red;}
</style>

{% endblock css %}

{% block contenido %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Gestión de Fórmulas Riego</h2>
        <h2 class="pull-right" style="margin-top: -35px;">{{empresa}}</h2>
        <ol class="breadcrumb">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Inicio<span class="caret"></span></a> {% include "dropdown-menu.html" %}
            </li>
            <li>
                <a href="/agricultura/inicio">Módulo agricultura</a>
            </li>   
            <li class="active">
                <strong>Fórmulas para riego</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
        {% if 'agricultura.list_agr_formulas_riego' in usuario.get_all_permissions %}

		<div class="col-md-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title hvr-overline-from-left" style="width: 100%;">
                    <h5>Fórmulas de Riego</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content">
                    <input type="text" class="form-control input-sm m-b-xs" id="filter"
                                   placeholder="Buscar...">
                    <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="8" data-filter=#filter>
                                <thead>
                                <tr>
                                    <th data-toggle="true">Nombre</th>
                                    <th>Fórmula</th>
                                    <th>Riego</th>
                                    {% if 'agricultura.change_agr_formulas_riego' in usuario.get_all_permissions %}
                                        <th>Estado</th>
                                    {% endif %}
                                    {% if 'agricultura.delete_agr_formulas_riego' in usuario.get_all_permissions %}
                                        <th>Eliminar</th>
                                    {% endif %}
                                    <th data-hide="all"></th>
                                    <th data-hide="all"></th>
                                    <th data-hide="all"></th>
                                    <th data-hide="all"></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for tipos in formulas %}
                                    <tr>
                                    <td>{{ tipos.for_nombre }}</td>
                                    <td>{{ tipos.for_formula }}</td>
                                    <td>{{ tipos.tipo_riego.rie_nombre }}</td>
                                        {% if 'agricultura.change_agr_formulas_riego' in usuario.get_all_permissions %}
                                            <td><div class="switch">
                                    <div class="onoffswitch">
                                {% if tipos.for_estado %}
                                    <input type="checkbox" checked class="onoffswitch-checkbox" value={{ tipos.for_nombre }} id={{ tipos.for_id}} onchange="cambio_estado(this, '{{ tipos.for_id }}')" >
                                {% else %}
                                    <input type="checkbox" class="onoffswitch-checkbox" value={{ tipos.for_nombre }} id={{ tipos.for_id}} onchange="cambio_estado(this, '{{ tipos.for_id }}')">
                                {% endif %}
                                            <label class="onoffswitch-label" for={{ tipos.for_id }}>
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                    </div></td>
                                        {% endif %}
                                    {% if 'agricultura.delete_agr_formulas_riego' in usuario.get_all_permissions %}
                                    <td>
                                        <a onclick="eliminarFormula({{ tipos.for_id }})" class="btn btn-danger btn-xs "data-toggle="tooltip" data-placement="top" title="" data-original-title="Mark as read"><i class="fa fa-times fa-xl"></i> </a>
                                    </td>
                                    {% endif %}
                                    <td><strong>Descripción: </strong>{{ tipos.for_descripcion }}</td>
                                    <td>
                                    <strong>Condicion: </strong>{% if tipos.for_formato != 'ninguno' %}
                                        {{ tipos.for_operador }}{{ tipos.for_dato }}
                                    {% else %}
                                    {% endif %}</td>
                                        <td><strong>Unidad medida: </strong>{{ tipos.u_medida.umed_abreviatura }}</td>
                                    <td><strong>Pertenece: </strong>{% if tipos.for_general %}Fase {% else %} General{% endif %}</td>
                                </tr>
                                {% endfor %}

                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="5">
                                        <ul class="pagination pull-right"></ul>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                </div>
            </div>
		</div>
        {% endif %}

        {% if 'agricultura.add_agr_formulas_riego' in usuario.get_all_permissions %}

        <div class="col-md-6">
            <div class="ibox collapsed">
                <div class="ibox-title">
                    <h5>Agregar fórmula manual</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="panel panel-">

                                                    <div class="panel-body">
                                                                 <form name="basicform" id="basicform" method="post" action="{% url 'agricultura:url_formula_agregar' %}">{% csrf_token %}

            <div id="sf1" class="frm">
              <fieldset>
                <legend>Escoga Tipo de Riego</legend>
                <div class="form-group">
                  <label class="col-lg-2 control-label" for="uname">Tipo de Riego</label>
                  <div class="col-lg-6">
                    <div class="form-group">
                    <select class="select2_demo_1 form-control"  style="width: 100%" id = "riego" name="riego" >
                    {% for i in tipo_riego %}
                    <option value="{{ i.rie_id }}">{{ i.rie_nombre }}</option>
                    {% endfor %}
                    </select>
                    </div>
                    </div>
                  </div>
                <div class="clearfix" style="height: 10px;clear: both;"></div>


                <div class="form-group">
                  <div class="col-lg-10 col-lg-offset-2">
                    <button class="btn btn-primary open1" type="button">Siguiente <span class="fa fa-arrow-right"></span></button>
                  </div>
                </div>

              </fieldset>
            </div>

            <div id="sf2" class="frm" style="display: none;">
              <fieldset>
                <legend>Riego</legend>
                    <div class="form-group">
                      <label class="col-lg-2 control-label" for="upass1">Nombre</label>
                      <div class="col-lg-6">
                        <select class="select2_demo_1 form-control"  style="width: 100%" id = "nombre" name="nombre"></select>
                      </div>
                    </div>
                    <div class="clearfix" style="height: 10px;clear: both;"></div>
                    <div class="form-group">
                      <label class="col-lg-2 control-label" for="upass1">Descripción</label>
                      <div class="col-lg-6">
                            <input type="text" class="form-control" id="descripcion" name="descripcion" />
                      </div>
                    </div>
                    <div class="clearfix" style="height: 10px;clear: both;"></div>
                    <div class="form-group">
                      <label class="col-lg-2 control-label" for="upass1">Buscar</label>
                      <div class="col-lg-6">
                            <select class="select2_demo_1 form-control"   style="width: 100%" id = "tipo" name="tipo">
                                {% for i in parametros %}
                                    <option value="{{ i.par_abreviatura }}">{{ i.par_abreviatura }}-{{ i.par_descripcion }}</option>
                                {% endfor %}
                    </select>
                      </div>
                    </div>
                    <div class="clearfix" style="height: 10px;clear: both;"></div>
                    <div class="form-group">
                      <label class="col-lg-2 control-label" for="upass1">Redondeado</label>
                      <div class="col-lg-6">
                             <input TITLE="Redondear Variable" id="redondeado" type="checkbox">
                      </div>
                    </div>
                    <div class="clearfix" style="height: 10px;clear: both;"></div>
                    <div class="form-group">
                      <label class="col-lg-2 control-label" for="upass1">Agregar</label>
                      <div class="col-lg-6">
                          <a title="Agregar tipo" onclick="agregarTipo()"><i class="fa fa-check"></i></a>
                      </div>
                    </div>
                    <div class="clearfix" style="height: 10px;clear: both;"></div>
                    <div class="form-group">
                      <label class="col-lg-2 control-label" for="upass1">Fórmula</label>
                      <div class="col-lg-6">
                        <input type="text" class="form-control" id="formula" name="formula" />
                      </div>
                    </div>
                    <div class="clearfix" style="height: 10px;clear: both;"></div>
                    <div class="form-group">
                      <label class="col-lg-2 control-label" for="upass1">Tipos Agregados</label>
                      <div class="col-lg-6">
                            <input type="text" class="form-control" readonly id="tipos" name="tipos" />
                      </div>
                    </div>
                    <div class="clearfix" style="height: 10px;clear: both;"></div>
                    <div class="form-group">
                      <label class="col-lg-2 control-label" for="upass1">Unidad de Medida</label>
                      <div class="col-lg-6">
                        <select class="select2_demo_1 form-control"  style="width: 100%" id = "um" name="um" >
                    <!--<select data-placeholder="Escoga Categoria..."  style="width: 100%"   class="chosen-select" tabindex="2" id="select_unidad_medida" name="select_unidad_medida">-->
                        {% for i in unidades_medida %}
                            <option value="{{ i.umed_id }}">{{ i.umed_abreviatura }}</option>
                        {% endfor %}
                    </select>
                      </div>
                    </div>

                    <div class="clearfix" style="height: 10px;clear: both;"></div>
                    <div class="form-group">
                      <label class="col-lg-2 control-label" for="upass1">Formato Condicional</label>
                      <div class="col-lg-6">
                        <div class="input-group m-b">
                            <span class="input-group-addon"><select name="tipoF" id="tipoF">
                                <option value="ninguno">Ninguno</option>
                                <option value="valor">Valor</option>
                                <option value="tipo">Tipo</option>
                            </select></span>
                            <input type="text" class="form-control" id="valor" name="valor">
                            <span class="input-group-addon">
                                <select name="operador" id="operador">
                                    <option value="<"><</option>
                                    <option value=">">></option>
                                    <option value="<="><=</option>
                                    <option value="<="><=</option>
                                    <option value="==">==</option>
                                    <option value="!=">!=</option>
                                </select>
                            </span>
                        </div>
                      </div>
                    </div>
                    <div class="clearfix" style="height: 10px;clear: both;"></div>
                    <div class="form-group">
                      <label class="col-lg-2 control-label" for="upass1">General</label>
                      <div class="col-lg-6">
                            <select name="tipoG" id="tipoG">
                                <option value="general">General</option>
                                <option value="fase">Fase</option>
                            </select>
                        </div>
                      </div>
                    <div class="clearfix" style="height: 10px;clear: both;"></div>

                <div class="form-group">
                  <div class="col-lg-10 col-lg-offset-2">
                    <button class="btn btn-warning back2" type="button"><span class="fa fa-arrow-left"></span>Atras</button>
                    <button class="btn btn-primary open2" type="button">Siguiente<span class="fa fa-arrow-right"></span></button>
                  </div>
                </div>

              </fieldset>
            </div>

            <div id="sf3" class="frm" style="display: none;">
              <fieldset>
                <legend>Resultado</legend>

                <div class="form-group">
                  <label class="col-lg-2 control-label" for="upass1">Fórmula Generada</label>
                  <div class="col-lg-6">
                      <label for="formula" id="formulaL" name="formulaL"></label>
                      <label for="operadorL" id="operadorL" name="operadorL"></label>
                      <label id="valorL" name="valorL" for="valorL"></label>
                  </div>
                </div>
                <div class="clearfix" style="height: 10px;clear: both;"></div>

                <div class="form-group">
                  <div class="col-lg-10 col-lg-offset-2">
                    <button class="btn btn-warning back3" type="button"><span class="fa fa-arrow-left"></span>Atras</button>
                    <button class="btn btn-primary" type="submit">Guardar</button>
                    <img src="spinner.gif" alt="" id="loader" style="display: none">
                  </div>
                </div>

              </fieldset>
            </div>
          </form>

                                                    </div>
                                                </div>
                </div>
            </div>
		</div>
        <div class="col-md-6">
            <div class="ibox collapsed">
                <div class="ibox-title">
                    <h5>Agregar fórmula desde Archivo</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                    <div class="ibox-content">
                        <div class="panel panel-">
                                                <div class="panel-body">
                                                    <form class="form-horizontal" id="form_parametros" method="POST" action="{% url 'agricultura:url_riego_archivo' %}" enctype="multipart/form-data">{% csrf_token %}
                        <p>Ingrese todos los parametros a continuación. <a href="{{archivo}}" download><span class="badge badge-danger">Descargar (.xlsx)</span></a></p>
                        <div class="form-group"><label class="col-lg-3 control-label">Tipo de Riego</label>
                            <div class="col-lg-5">
                                                <select class="select2_demo_1 form-control"  style="width: 100%" id = "riego2" name="riego2" >
                {% for i in tipo_riego %}
                <option value="{{ i.id }}">{{ i.rie_nombre }}</option>
                {% endfor %}
                </select>

                                <input name="id" class="hide"  id="id">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-3 control-label">Subir Fórmulas</label>
                                <div class="col-lg-9">
                                    <label title="Upload image file" for="inputImage" class="btn btn-primary">
                                                <input type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" name="formulas" id="inputImage">
                                    </label>
                                </div>
                        </div>
                        <div class="form-group">
                            <div id = "contenedor_btn" class="col-lg-offset-5">
                                 <button class="btn btn-primary" type="submit">Guardar Cambios</button>
                            </div>
                        </div>
                    </form>
                                                </div>
                                            </div>
                    </div>
            </div>
		</div>
        {% endif %}

	</div>

</div>


{% endblock contenido %}

{% block scripts %}


<script src="/static/agricultura/js/plugins/chosen/chosen.jquery.js"></script>
<script src="/static/agricultura/js/plugins/select2/select2.full.min.js"></script>
<script src="/static/agricultura/js/plugins/cropper/cropper.min.js"></script>
<script src="/static/agricultura/js/plugins/switchery/switchery.js"></script>

    <!-- DataTables -->

    <script src="/static/agricultura/js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="/static/agricultura/js/plugins/dataTables/dataTables.bootstrap.js"></script>
    <script src="/static/agricultura/js/plugins/dataTables/dataTables.responsive.js"></script>
    <script src="/static/agricultura/js/plugins/dataTables/dataTables.tableTools.min.js"></script>
    <script src="/static/agricultura/js/plugins/jeditable/jquery.jeditable.js"></script>

<script src="/static/agricultura/js/formValidation.min.js"></script>
<script src="/static/agricultura/js/bootstrapForm.min.js"></script>
    <script src="/static/agricultura/multiselect/jquery.multiple.select.js"></script>
    <script src="/static/agricultura/js/plugins/footable/footable.all.min.js"></script>

<script src="/static/agricultura/scripts/op_formulas_riego.js"></script>

<script src="/static/agricultura/js/bootbox.js"></script>

<link href="/static/agricultura/netstable/js/components/nestable.js">
<link href="/static/agricultura/netstable/js/components/nestable.min.js">
<script>
$(document).ready(function() {
    $('#form_categoria')
        .formValidation({
            framework: 'bootstrap',
            icon: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                nombre: {
                    validators: {
                        notEmpty: {
                            message: 'Campo requierdo'
                        }
                    }
                },
                nombre: {
                    validators: {
                        notEmpty: {
                            message: 'Campo requierdo'
                        },
                        regexp: {
                            regexp: /^[a-zA-Z\s]+$/,
                            message: 'Solo se permiten caracteres'
                        },
                        stringLength: {
                            min: 2,
                            max: 10,
                            message: 'El nombre debe contener mas de 2 y menos que 10 caracteres'
                        },

                    }
                },
                descripcion: {
                    validators: {
                        notEmpty: {
                            message: 'Campo requerido'
                        }
                    }
                },
                formula: {
                    validators: {
                        notEmpty: {
                            message: 'Campo requierdo'
                        }
                    }
                }
            }
        })


    $('.editButton').on('click', function() {
        // Get the record's ID via attribute
        var id = $(this).attr('data-id');
        $.ajax({
            url: '/agricultura/obtenerTipo/' + id,
            method: 'GET'

        }).success(function(response) {
            // Populate the form fields with the data returned from server

            $('#form_categoria')
                .find('[name="id"]').val(response[0].id).end()
                .find('[name="abreviatura"]').val(response[0].abreviatura).end()
                .find('[name="nombre"]').val(response[0].nombre).end()
                .find('[name="descripcion"]').val(response[0].descripcion).end()
                .find('[name="um"]').val(response[0].um);
                $("#um").trigger("chosen:updated");
        });
    });
});
</script>
    <script>
    function agregarTipo(){
        id=document.getElementById('tipo').options[document.getElementById('tipo').selectedIndex].value
        elemento=document.getElementById('redondeado').checked
        if(elemento){
            document.getElementById('formula').value=document.getElementById('formula').value+id+'9'
            document.getElementById('tipos').value=document.getElementById('tipos').value+id+'9,'
        }else{
            document.getElementById('formula').value=document.getElementById('formula').value+id
            document.getElementById('tipos').value=document.getElementById('tipos').value+id+','
        }

    }
            $("#website").multipleSelect({
                isOpen: true,
                keepOpen: false,
                filter: true,
                single:true,
                minimumCountSelected: 2,
            });
    function cambio_estado(elemento, id){
            var estado=true;
            if(elemento.checked == false){
                estado = false;
            }
            $.ajax({
                data: {'id': id, 'estado': estado},
                url: '/agricultura/bajaFormula/',
                type: 'get',
                success: function (data) {
                    if (data.result=="OK"){
                        toastr.options={"progressBar": true}
                        toastr.success('Se cambio de estado','Estado')
                    }else{
                    }
                }
            });
        }
    </script>
    <script>
    document.onload = cargarFunciones();
    function cargarFunciones(){
        $('#contenedorRiego').addClass('active');
        $('#par_riego_formulas').addClass('active');

    }
</script>

<script type="text/javascript">
$(document).ready(function() {
$('.footable').footable();
  // Binding next button on first step
  $(".open1").click(function() {
      if (".frm") {
{#        VER TODAS LAS FORMULAS INGRESADAS Y SOLO MOSTRAR TIPOS QUE NO EXISTAN#}
        $.ajax({
                data: {'id': document.getElementById('riego').options[document.getElementById('riego').selectedIndex].value},
                url: '/agricultura/tiporiegoformula/',
                type: 'get',
                success: function (data) {
                    $("#nombre").empty();
                    $(".select2_demo_1").select2();
                    for(i=0; i<data.length;i++){
                    $("#nombre").append('<option value="'+data[i].id+'">'+data[i].tipo+'-'+data[i].descripcion+'</option>');
                    }
                    if (data.result=="OK"){
                        toastr.options={"progressBar": true}
                        toastr.success('Se cambio de estado','Estado')
                    }else{
                    }
                }
            });
        $(".frm").hide("fast");
        $("#sf2").show("slow");
      }
   });

   // Binding next button on second step
   $(".open2").click(function() {
      if (".frm") {
          $("#formulaL").html(document.getElementById('formula').value);
          if(document.getElementById('tipoF').options[document.getElementById('tipoF').selectedIndex].value=='ninguno'){
              $("#operadorL").html("");
              $("#valorL").html("");
          }else {
              $("#operadorL").html(document.getElementById('operador').options[document.getElementById('operador').selectedIndex].value);
              $("#valorL").html(document.getElementById('valor').value);
          }



        $(".frm").hide("fast");
        $("#sf3").show("slow");
      }
    });

     // Binding back button on second step
    $(".back2").click(function() {
      $(".frm").hide("fast");
      $("#sf1").show("slow");
    });

     // Binding back button on third step
     $(".back3").click(function() {
      $(".frm").hide("fast");
      $("#sf2").show("slow");
    });

    $(".open3").click(function() {
      if (".frm") {
        // optional
        // used delay form submission for a seccond and show a loader image
        $("#loader").show();
         setTimeout(function(){
           $("#basicform").html('<h2>Thanks for your time.</h2>');
         }, 1000); //danilo la wea
        // Remove this if you are not using ajax method for submitting values
        return false;
      }
    });
});
function eliminarFormula(id){

            swal({ title: "Esta seguro?",
                text: "Si lo elimina ya no lo podra recuperar!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Si",
                cancelButtonText: "No!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
            function(isConfirm){
               if (isConfirm) {
                $.ajax({
                    data: {'id': id},
                    url: '/agricultura/eliminar_formula/',
                    type: 'get',
                    success: function (data) {
                        if(data.result == "OK"){
                            swal({   title: "Borrado!",
                                text: "El dato a sido borrado con exito",
                                type: "success",
                                confirmButtonText: "OK",
                                closeOnConfirm: false,
                                closeOnCancel: false
                            },
                                function(){
                                    location.href='/agricultura/riego_formulas/';
                                });
                        }else{
                            alert('Parametro no encontrado');
                        }
                    }
                });
                } else {
                     swal("Cancelado", "No se ha borrado", "error");
                 }
             });
    }
</script>

{% endblock scripts %}
