{% extends "agricultura/base_agricultura.html" %}
{% block css %}
	<link href="/static/agricultura/css/plugins/chosen/chosen.css" rel="stylesheet">
	<link href="/static/agricultura/css/plugins/select2/select2.min.css" rel="stylesheet">
	<link href="/static/agricultura/css/plugins/cropper/cropper.min.css" rel="stylesheet">
	<link href="/static/agricultura/css/plugins/switchery/switchery.css" rel="stylesheet">
    <!-- Data Tables -->
    <link href="/static/agricultura/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
    <link href="/static/agricultura/css/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
    <link href="/static/agricultura/css/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet">
    <link href="/static/agricultura/css/plugins/footable/footable.core.css" rel="stylesheet">

{% endblock css %}

{% block contenido %}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Gestión de tipos de riego</h2>
        <h2 class="pull-right" style="margin-top: -35px;">{{empresa}}</h2>
        <ol class="breadcrumb">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Inicio<span class="caret"></span></a> {% include "dropdown-menu.html" %}
            </li>
            <li>
                <a href="/agricultura/inicio">Módulo agricultura</a>
            </li>   
            <li class="active">
                <strong>Tipo de Riego</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>

    <div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
    </div>
    <div class="row">
        {% if 'agricultura.list_agr_tipo_riego' in usuario.get_all_permissions %}
            <div class="col-md-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Detalle</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                            <input type="text" class="form-control input-sm m-b-xs" id="filter"
                                   placeholder="Search in table">
                            <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="8" data-filter=#filter>
                                <thead>
                                <tr>
                                    <th data-toggle="true">Nombre</th>
{#                                    <th data-toggle="true">Formula(Archivo)</th>#}
                                    {% if 'agricultura.change_agr_tipo_riego' in usuario.get_all_permissions %}
                                        <th>Acciones</th>
                                    {% endif %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for riego in riegos %}
                                    <tr>
                                    <td>{{ riego.riego.0.riego_nombre }}</td>
{#                                    {% if riego.riego.0.riego_formula == 'Sin cargar' %}#}
{#                                        <td>{{ riego.riego.0.riego_formula }}</td>#}
{#                                    {% else %}#}
{#                                        <td><a href="/agricultura/descargarExcel/{{ riego.riego.0.riego_id }}">{{ riego.riego.0.riego_formula }}</a></td>#}
{#                                    {% endif %}#}
                                    {% if 'agricultura.change_agr_tipo_riego' in usuario.get_all_permissions %}
                                    <td><a onclick="editar_riego({{ riego.riego.0.riego_id }})"  class="btn btn-warning btn-xs "data-toggle="tooltip" data-placement="top" title="Editar" data-original-title="Mark as read"><i class="fa fa-edit fa-xl"> Editar</i> </a></td>
                                    {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="5">
                                        <ul class="pagination pull-right"></ul>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
            </div>
        </div>
        {% endif %}

        {% if 'agricultura.add_agr_tipo_riego' in usuario.get_all_permissions %}
            <div class="col-md-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Ingreso de Tipos de Riego</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" style="display: block;">
                    <form class="form-horizontal" id="form_parametros" method="POST" action="{% url 'agricultura:url_riego_guardar' %}" enctype="multipart/form-data">{% csrf_token %}
                        <p>Ingrese todos los parametros a continuación. <!--<a href="/agricultura/descargarExcel/f"><span class="badge badge-danger">Descargar (.xlsx)</span></a>!--></p>
                        <div class="form-group"><label class="col-lg-3 control-label">Tipo de Riego</label>
                            <div class="col-lg-9">
                                <input id="tipoRiego" type="text" name="tipoRiego" placeholder="Ingrese el tipo de riego" class="form-control" required>
                                <input name="id" class="hide"  id="id"> 
                            </div>
                        </div>
                        <div class="form-group">
                        <label class="col-lg-3 control-label">Descripción</label>
                            <div class="col-lg-9">
                                <textarea id="descripcionRiego" type="text" name="descripcionRiego" placeholder="Descripcion tipo de riego" class="form-control" style="height:200px;"></textarea> 
                            </div>
                        </div>
{#                        <div class="form-group">#}
{#                            <label class="col-lg-3 control-label">Subir Fomulas</label>#}
{#                                <div class="col-lg-9">#}
{#                                    <label title="Upload image file" for="inputImage" class="btn btn-primary">#}
{#                                                <input type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" name="formulas" id="inputImage">#}
{#                                    </label>#}
{#                                </div>#}
{#                        </div>#}
                        <div class="form-group">
                            <div id = "contenedor_btn" class="col-lg-offset-5">
                                 <button class="btn btn-primary" type="submit">Guardar Cambios</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}

    </div>

</div>


<!--MODALES-->
    <div class="modal inmodal fade" id="modalVer" tabindex="-1" role="dialog"  aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                    <h4 class="modal-title">Tipo de Riego</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6 b-r">
                            <div class="form-group">
                                <label class="control-label">Nombre</label>
                                <small class="text" id="nombre"></small><br/>
                                <label  class="control-label">Descripcion</label>
                                <small class="text" id="descripcion"></small><br/>
                                <label  class="control-label">Archivo Formulas</label>
                                <small class="text" id="formulas"></small><br/>
                            </div>
                        </div>
                        <div class="col-sm-6"><h4>Lista de Parametros</h4>
                            <div id="contenedorLista">

                            </div>
                            <p class="text-center">

                            </p>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>

{% endblock contenido %}

{% block scripts %}
    <script>
        document.onload = cargarFunciones();
        function cargarFunciones(){
            $('#par_riego').addClass('active');
            $('#contenedorRiego').addClass('active');
        };
    </script>
    <script src="/static/agricultura/js/plugins/chosen/chosen.jquery.js"></script>
    <script src="/static/agricultura/js/plugins/select2/select2.full.min.js"></script>
    <script src="/static/agricultura/js/plugins/cropper/cropper.min.js"></script>
    <script src="/static/agricultura/js/plugins/switchery/switchery.js"></script>

    <!-- DataTables -->

    <script src="/static/agricultura/js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="/static/agricultura/js/plugins/dataTables/dataTables.bootstrap.js"></script>
    <script src="/static/agricultura/js/plugins/dataTables/dataTables.responsive.js"></script>
    <script src="/static/agricultura/js/plugins/dataTables/dataTables.tableTools.min.js"></script>
    <script src="/static/agricultura/js/plugins/jeditable/jquery.jeditable.js"></script>
    <script src="/static/agricultura/js/plugins/footable/footable.all.min.js"></script>
    <script src="/static/agricultura/scripts/op_tipoRiego.js"></script>


{% endblock scripts %}