{% extends "agricultura/base_agricultura.html" %}
{% block css %}
	<link href="/static/agricultura/css/plugins/chosen/chosen.css" rel="stylesheet">
	<link href="/static/agricultura/css/plugins/select2/select2.min.css" rel="stylesheet">
	<link href="/static/agricultura/css/plugins/cropper/cropper.min.css" rel="stylesheet">
	<link href="/static/agricultura/css/plugins/switchery/switchery.css" rel="stylesheet">
    <!-- Data Tables -->
    <link href="/static/agricultura/css/plugins/footable/footable.core.css" rel="stylesheet">


{% endblock css %}

{% block contenido %}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
            <h2>Gestión de Suelo</h2>
            <h2 class="pull-right" style="margin-top: -35px;">{{empresa}}</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/agricultura">Inicio</a>
                </li>
                <li class="active">
                    <strong>Tipo de Suelo</strong>
                </li>
            </ol>
        </div>
    </div>

	<div class="row">
	<br>
	</div>


    <div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
        {% if 'agricultura.list_agr_tipo_suelo' in usuario.get_all_permissions %}

		    <div class="col-md-6">
            <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Lista de Suelos Ingresados</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
{#                    TABLA #}
                            <input type="text" class="form-control input-sm m-b-xs" id="filter"
                                   placeholder="Search in table">
                            <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="8" data-filter=#filter>
                                <thead>
                                <tr>
                                    <th data-toggle="true">Nombre</th>
                                    {% if 'agricultura.change_agr_tipo_suelo' in usuario.get_all_permissions or 'agricultura.delete_agr_tipo_suelo' in usuario.get_all_permissions %}
                                        <th>Acciones</th>
                                    {% endif %}
                                    {% if 'agricultura.change_agr_tipo_suelo' in usuario.get_all_permissions %}
                                        <th>Estado</th>
                                    {% endif %}
                                    <th data-hide="all">Parametro Asignado</th>
                                    {% for valor in valores_suelo %}
                                                <th data-hide="all"></th>
                                    {% endfor %}
                                    <th data-hide="all">Ver</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for suelo in datos_suelo %}
                                    <tr>
                                    <td>{{ suelo.nombre }}</td>
                                    {% if 'agricultura.change_agr_tipo_suelo' in usuario.get_all_permissions or 'agricultura.delete_agr_tipo_suelo' in usuario.get_all_permissions %}
                                    <td>
                                        {% if 'agricultura.change_agr_tipo_suelo' in usuario.get_all_permissions %}
                                            <a onclick="editar_suelo({{ suelo.id }})"  class="btn btn-warning btn-xs "data-toggle="tooltip" data-placement="top" title="Editar" data-original-title="Mark as read"><i class="fa fa-edit fa-xl"> Editar</i> </a>
                                        {% endif %}
                                        {% if 'agricultura.delete_agr_tipo_suelo' in usuario.get_all_permissions %}
                                            <a onclick="eliminarSuelo({{ suelo.id }})" class="btn btn-danger btn-xs "data-toggle="tooltip" data-placement="top" title="Eliminar" data-original-title="Mark as read"><i class="fa fa-trash fa-xl"></i> </a>
                                        {% endif %}
                                    </td>
                                    {% endif %}
                                    {% if 'agricultura.change_agr_tipo_suelo' in usuario.get_all_permissions %}

                                    <td><div class="switch">
                                    <div class="onoffswitch">
                                        {% if suelo.estado %}
                                            <input type="checkbox" checked class="onoffswitch-checkbox" value={{ suelo.estado }} id={{ suelo.id}} onchange="baja_suelo(this, '{{ suelo.id }}')" >
                                        {% else %}
                                            <input type="checkbox" class="onoffswitch-checkbox" value={{ suelo.estado }} id={{ suelo.id}} onchange="baja_suelo(this, '{{ suelo.id }}')">
                                        {% endif %}
                                            <label class="onoffswitch-label" for={{suelo.id}}>
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                    </div></td>
                                    {% endif%}
                                    <td>{{ suelo.agr_parametro.par_nombre }}</td>
                                    {% for valores  in  valores_suelo %}
                                            {% if suelo.id == valores.agr_tipo_suelo.id %}
                                            <td><strong>{{ valores.agr_tipo_parametros.tpar_abreviatura }} = </strong>({{ valores.valor }})
                                                <strong>{{ valores.agr_tipo_parametros.umed_id.umed_nombre}}</strong>
                                            </td>
                                            {% endif %}
                                    {% endfor %}
                                    <td>                                        <a  href="#modalver" class="btn btn-info btn-xs " data-toggle="modal"
                                                                    data-suelo-imagen='{{suelo.imagen.url }}'
                                                                    data-target="#modalVer"  data-placement="top" title="Ver" data-original-title="Mark as read"><i class="fa fa-eye fa-xl"></i> Ver</a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="5">
                                        <ul class="pagination pull-right"></ul>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
{#                    TERMINA#}



                    </div>
                </div>
		</div>
        {% endif %}
     {% if 'agricultura.add_agr_tipo_suelo' in usuario.get_all_permissions %}

		    <div class="col-md-6">
			<div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Parametros</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" style="display: block;">
                    <form class="form-horizontal" id="form_parametros" method="post"  enctype="multipart/form-data" action="{% url 'agricultura:url_tipo_suelo_agregar' %}">{% csrf_token %}
                        <input name="id" class="hide"  id="id">
                        <div class="form-group"><label class="col-lg-2 control-label">Nombre del Suelo</label>
                            <div class="col-lg-10">
                            	<input type="text" placeholder="Nombre del Suelo" class="form-control" id="txt_nombre" name="txt_nombre" required>
                                <input type="text" id="id_suelo" name="id_suelo" class="hide"/>
                            </div>
                        </div>
                        <div class="form-group">
                                <label class="col-lg-2 control-label">Escoger Parametro</label>
                                <div class="input-group">
                                <div class="col-lg-10">
                                <div id="contenedorSelect">
                                    <select data-placeholder="Seleccione el Parametro..." class="chosen-select" name="select_parametros" style="width:250px;" tabindex="4" id="select_parametros" onchange="verDatosTipos()">
                                        {% for parametro in datos_parametros %}
                                            <option value="{{parametro.id}}">{{parametro.par_nombre}}</option>
                                        {% endfor %}
                                    </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
{#                            <div class="form-group col-lg-10">#}
                            <br/>
                                <div id="contenedorTipos"></div>
{#                            </div>#}
                        </div>
                        <div class="form-group">
                                                        <div id="contenedor_img">
                                                <!--<img src="/static/agricultura/img/p3.jpg">-->
                             </div>
                                <label class="col-lg-2 control-label">Escoger Imagen</label>
			                                <div class="btn-group">
			                                    <label title="Upload image file" for="inputImage" class="btn btn-primary">
			                                        <!--<input type="file" accept="image/*" name="file" id="inputImage" class="hide">
			                                        Seleccionar Imagen-->
                                                    <input type="file" accept="image/*" name="file1" id="inputImage1">
			                                    </label>
			                                </div>
                            </div>
	                    <div class="form-group">
	                        <div class="col-lg-offset-5">
                                <div id="contenedor_btn">
	                             <button class="btn btn-primary" type="submit">Guardar</button>
                                </div>
	                        </div>
	                    </div>
                    </form>
                </div>
            </div>
		</div>
     {% endif %}

	</div>
    </div>

<div class="modal inmodal fade" id="modalVer" tabindex="-1" role="dialog"  aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="animated bounceInRight">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
            <center>
                <img id="imagen" width="400" height="400">
            </center>
        </div>
    </div>
</div>

    {% endblock contenido %}

{% block scripts %}
    <script>
        document.onload = cargarFunciones();

        function cargarFunciones(){
            $('#contenedorParametros').addClass('active');
            $('#par_suelo').addClass('active');
        };
    </script>
    <script src="/static/agricultura/js/plugins/chosen/chosen.jquery.js"></script>
    <script src="/static/agricultura/js/plugins/select2/select2.full.min.js"></script>
    <script src="/static/agricultura/js/plugins/cropper/cropper.min.js"></script>
    <script src="/static/agricultura/js/plugins/switchery/switchery.js"></script>

    <!-- DataTables -->
    <script src="/static/agricultura/js/plugins/footable/footable.all.min.js"></script>

    <script>
    $(document).ready(function () {
    $('#modalVer').on('show.bs.modal', function(e) {
        var imagen = $(e.relatedTarget).data('suelo-imagen');
        document.getElementById('imagen').src=imagen;
    });
         var config = {
                '.chosen-select'           : {},
                '.chosen-select-deselect'  : {allow_single_deselect:true},
                '.chosen-select-no-single' : {disable_search_threshold:10},
                '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
                '.chosen-select-width'     : {width:"95%"}
            };
            for (var selector in config) {
                $(selector).chosen(config[selector]);
            }
                $('.footable').footable();
                    verDatosTipos();
    });
        function verDatosTipos(){
            id=document.getElementById('select_parametros').options[document.getElementById('select_parametros').selectedIndex].value
        $.ajax({
            data: {'id': id},
            url: '/agricultura/verTipos/',
            type: 'get',
            success: function (data) {
                if(data.length != 0){
                    $('#contenedorTipos').empty();
                    var count=1;
                    htmlDiv='<div class="col-md-offset-2 col-md-8"><div class="table-responsive"><table class="table table-bordered table-hover"><thead><tr><th>Tipo</th><th>Valor</th><th>U. Medida</th></tr></thead><tbody>'
                    for (var i=0; i<data.resultado[0].conta; i++){
                        htmlDiv+='<tr><td>'+data.resultado[count].nombre+'</td>';
                        htmlDiv+='<td><input type="text" class="form-control" onkeypress="validaSoloNumeros()" required id="tipo-'+data.resultado[count].idTipo+'" ' +
                                'name="tipo-'+data.resultado[count].idTipo+'"></td>';
                        htmlDiv+='<td>'+data.resultado[count].medidaTipo+'</td>';
                        count++;
                    }
                    htmlDiv+='</tbdoy></table></div></div>'
                    $('#contenedorTipos').append(htmlDiv);

                }else{
                    alert('Parametro no encontrado')
                }
            }
        });
    }
    function baja_suelo(elemento, id){
            var estado=true;
            if(elemento.checked == false){
                estado = false;
            }
            $.ajax({
                data: {'id': id, 'estado': estado},
                url: '/agricultura/bajaSuelo/',
                type: 'get',
                success: function (data) {
                    if (data.result=="OK"){
                        toastr.options={"progressBar": true}
                        toastr.success('Se cambio de estado','Estado')
                    }else{
                        toastr.options={"progressBar": true}
                        toastr.error('Error al cambiar estado','Estado')
                    }
                }
            });
        }
    function eliminarSuelo(id){

            swal({ title: "Esta seguro?",   
                text: "Si lo elimina ya no lo podra recuperar!",   
                type: "warning",   
                showCancelButton: true,   
                confirmButtonColor: "#DD6B55",   
                confirmButtonText: "Si",   
                cancelButtonText: "No!",   
                closeOnConfirm: false,   
                closeOnCancel: false 
            }, 
            function(isConfirm){
               if (isConfirm) {
                $.ajax({
                    data: {'id': id},
                    url: '/agricultura/eliminar_suelo/',
                    type: 'get',
                    success: function (data) {
                        if(data.result == "OK"){
                            swal({   title: "Borrado!",   
                                text: "El dato a sido borrado con exito",   
                                type: "success",        
                                confirmButtonText: "OK",   
                                closeOnConfirm: false,   
                                closeOnCancel: false 
                            }, 
                                function(){     
                                    location.href='/agricultura/tiposSuelo/';
                                });
                        }else{
                            alert('Parametro no encontrado');
                        }
                    }
                });
                } else {
                     swal("Cancelado", "No se ha borrado", "error");   
                 } 
             });
    }

    function editar_suelo(id){
    $.ajax({
        data: {'id': id},
        url: '/agricultura/ver_datos_suelo/',
        type: 'get',
        success: function (data) {
            if(data.length != 0){
                $("input[type=text]").focusin();
                $("#contenedor_btn").empty();
                $("#contenedor_btn").append('<div class="col-md-offset-4 col-md-2"><button onclick="enviar_datos('+data[0].id+')" class="btn btn-primary" id="btn_modificar" type="button" >Modificar</button></div>');
                $("#contenedor_btn").append('<div class="col-md-2"><button onclick="regresar()" class="btn btn-danger" id="btn_cancelar" type="button" >Cancelar</button></div>');
                $("#id_suelo").val(data[0].id);
                $("#txt_nombre").val(data[0].nombre);
                $("#contenedorSelect").empty();
                htmlSelect='<select data-placeholder="Seleccione el tipo..." class="chosen-select" onchange="verDatosTipos()" style="width:250px;" tabindex="4" id="select_parametros" name="select_parametros">';
                htmlSelect+='<option selected value="'+data[1].id+'">'+data[1].nombre+'</option>';
                c=2;
                for(var i=0; i<data[2].contTodos;i++){
                    c++;
                    htmlSelect+='<option value="'+data[c].id+'">'+data[c].nombre+'</option>';
                }
                htmlSelect+='</select>';
                $("#contenedorSelect").append(htmlSelect)
                select();
{#                VALORES#}
                $('#contenedorTipos').empty();
                var count=c+1;
                htmlDiv='<div class="col-md-offset-2 col-md-8"><div class="table-responsive"><table class="table table-bordered table-hover"><thead><tr><th>Tipo</th><th>Valor</th><th>U. Medida</th></tr></thead><tbody>'
                for (var i=0; i<data[c+1].valores; i++){
                    count++;
                    htmlDiv+='<tr><td>'+data[count].nombre+'</td>';
                    htmlDiv+='<td><input type="text" class="form-control" value="'+data[count].valor+'" onkeypress="validaSoloNumeros()" required id="tipo-'+data[count].id+'" ' +
                            'name="tipo-'+data[count].id+'"></td>';
                    htmlDiv+='<td>'+data[count].medida+'</td>';

                }
                htmlDiv+='</tbdoy></table></div></div>'
                $('#contenedorTipos').append(htmlDiv);
                $("#contenedor_img").empty();
                $("#contenedor_img").append('<center><img src='+data[0].imagen+' width="300" height="300"></center>');
            }else{
                alert('Categoria no encontrado');
            }
        }
        });

}

        function select(){
            var config = {
                '.chosen-select'           : {},
                '.chosen-select-deselect'  : {allow_single_deselect:true},
                '.chosen-select-no-single' : {disable_search_threshold:10},
                '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
                '.chosen-select-width'     : {width:"95%"}
            }
            for (var selector in config) {
                $(selector).chosen(config[selector]);
            }
        }

function regresar(){
   location.href="/agricultura/tiposSuelo/";
}

function enviar_datos(id){
    var datos = new FormData($('#form_parametros')[0]);
    var parcela = $("#txtNombre").val();
    if (parcela != "") {
        $.ajax({
            data: datos,
            url: '/agricultura/modificar_datos_suelo/',
            type: 'POST',
            contentType:false,
            'dataType': 'json',
            processData:false,
            success: function (data) {
                if(data.result=='OK'){
                    location.href="/agricultura/tiposSuelo";
                }else{
                    alert('Error al modificar');
                }
            }
        });
    }else{
        swal("Error en los datos", "Verifique los datos ingesados e intente nuevamente", "error");
    }
}


    </script>

{% endblock scripts %}
