{% extends "agricultura/base_agricultura.html" %}
{% block css %}

<link href="/static/agricultura/css/plugins/chosen/chosen.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/select2/select2.min.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/cropper/cropper.min.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/switchery/switchery.css" rel="stylesheet">
<!-- Data Tables -->
<link href="/static/agricultura/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/footable/footable.core.css" rel="stylesheet">

<link rel="stylesheet" href="/static/agricultura/multiselect/multiple-select.css"/>

<link href="/static/agricultura/css/formValidation.min.css" rel="stylesheet">


{% endblock css %}

{% block contenido %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Gestión de Parámetros</h2>
        <h2 class="pull-right" style="margin-top: -35px;">{{empresa}}</h2>
        <ol class="breadcrumb">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Inicio<span class="caret"></span></a> {% include "dropdown-menu.html" %}
            </li>
            <li>
                <a href="/agricultura/inicio">Módulo agricultura</a>
            </li>   
            <li class="active">
                <strong>Parámetros de agricultura</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
        {% if 'agricultura.list_agr_tipo_parametro' in usuario.get_all_permissions %}
		    <div class="col-md-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title hvr-overline-from-left" style="width: 100%;">
                    <h5>Lista de Parámetros Ingresadas</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content">
                            <input type="text" class="form-control input-sm m-b-xs" id="filter"
                                   placeholder="Search in table">
                            <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="8" data-filter=#filter>
                                <thead>
                                <tr>
                                    <th data-toggle="true">Nombre</th>
                                    <th>Abreviatura</th>
                                    {% if 'agricultura.change_agr_tipo_parametro' in usuario.get_all_permissions %}
                                        <th>Acciones</th>
                                        <th>Estado</th>
                                    {% endif %}
                                    <th data-hide="all">Descripcion</th>
                                    <th data-hide="all">Valor</th>
                                    <th data-hide="all">Unidad de Medida</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for par in datos_parametros %}
                                <tr>
                                    <td>{{ par.par_nombre }}</td>
                                    <td>{{ par.par_abreviatura }}</td>
                                    {% if 'agricultura.change_agr_tipo_parametro' in usuario.get_all_permissions %}
                                    <td>
                                    <button type="button" data-id="{{ par.par_id }}" class="btn btn-warning btn-xs editButton">Editar</button>
                                    </td>
                                    <td><div class="switch">
                                    <div class="onoffswitch">
                                {% if par.par_estado %}
                                    <input type="checkbox" checked class="onoffswitch-checkbox" value={{ par.par_estado }} id={{ par.par_id}} onchange="cambio_estado(this, '{{ par.par_id }}')" >
                                {% else %}
                                    <input type="checkbox" class="onoffswitch-checkbox" value={{ par.par_estado }} id={{ par.par_id}} onchange="cambio_estado(this, '{{ par.par_id }}')">
                                {% endif %}
                                            <label class="onoffswitch-label" for={{ par.par_id }}>
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                    </div></td>
                                    {% endif %}
                                    <td>{{ par.par_descripcion  }}
                                    </td>
                                    <td>{{ par.par_valor_minimo }}</td>
                                    <td>{{ par.par_umedida.umed_nombre }}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="5">
                                        <ul class="pagination pull-right"></ul>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
            </div>
		</div>
        {% endif %}
        {% if 'agricultura.add_agr_tipo_parametro' in usuario.get_all_permissions %}
             <div class="col-md-6">
			<div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Parámetros</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" style="display: block;">
                    <form class="form-horizontal" id="form_categoria" method="post" action="{% url 'agricultura:url_parametros_agregar' %}">{% csrf_token %}
{#                        <form id="userForm" method="post" class="form-horizontal" style="display: none;">#}
                        <div class="form-group">
                            <label class="col-xs-3 control-label">Nombre</label>
                            <div class="col-xs-5">
                                <input type="text" class="form-control" id="txt_nombre" name="txt_nombre"  />
                                <input name="id" class="hide"  id="id">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label">Descripción</label>
                            <div class="col-xs-5">
                                <input type="text" class="form-control" id="txt_descripcion" name="txt_descripcion" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label">Abreviatura</label>
                            <div class="col-xs-5">
                                <input type="text" class="form-control" id="txt_abreviatura" name="txt_abreviatura" />
                            </div>
                        </div>
                        <div class="form-group"><label class="col-xs-3 control-label">Valor Mínimo</label>
                            <div class="col-lg-5">
                            	<input type="text" placeholder="Valor Minimo" class="form-control" id="txt_minimo" name="txt_minimo" onkeypress="validaSoloNumeros()">
                            </div>
                        </div>
                        <div class="form-group"><label class="col-xs-3 control-label">Valor Máximo</label>
                            <div class="col-lg-5">
                            	<input type="text" placeholder="Valor Maximo" class="form-control" id="txt_maximo" name="txt_maximo" onkeypress="validaSoloNumeros()">
                            </div>
                        </div>
                        <div class="form-group"><label class="col-xs-3 control-label">Valor</label>
                            <div class="col-lg-5">
                            	<input type="text" placeholder="Valor" class="form-control" id="txt_valor" name="txt_valor" onkeypress="validaSoloNumeros()">
                            </div>
                        </div>
                        <div class="form-group">

                            <label class="col-xs-3 control-label">Unidad de Medida</label>
                            <div class="col-xs-5">
                                <div id="contenedorSelect">
                                    <select class="chosen-select"  style="width: 100%" id = "select_medida" name="select_medida" >
                                    <!--<select data-placeholder="Escoga Categoria..."  style="width: 100%"   class="chosen-select" tabindex="2" id="select_unidad_medida" name="select_unidad_medida">-->
                                        {% for i in unidades_medida %}
                                            <option value="{{ i.umed_id }}">{{ i.umed_abreviatura }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label">Tipo de Parámetro</label>
                            <div class="col-xs-5">
                                <div id="contenedorSelectFase">
                                    <select class="chosen-select"  style="width: 100%" id = "tparametro" name="tparametro" >
                                        {% for i in tparametro %}
                                            <option value="{{ i.tpar_id }}">{{ i.tpar_nombre }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label">Fase</label>
                            <div class="col-xs-5">
                                <div id="contenedorSelectFase">
                                    <select class="chosen-select"  style="width: 100%" id = "fase" name="fase" >
                                        {% for i in fase %}
                                            <option value="{{ i.fas_id }}">{{ i.fas_nombre }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>

                    <div class="form-group text-rigth">
	                        <div class="col-lg-offset-5">
                                <div id="contenedor_btn">
	                             <button class="btn btn-primary" type="submit">Guardar</button>
                                </div>
	                        </div>
	                    </div>
                    </form>
                </div>
            </div>
		</div>
        {% endif %}

	</div>

</div>


{% endblock contenido %}

{% block scripts %}

<script>
    document.onload = cargarFunciones();
    function cargarFunciones(){
        $('#contenedorParametros').addClass('active');
        $('#par_cultivo').addClass('active');
    };
</script>

<script src="/static/agricultura/js/plugins/chosen/chosen.jquery.js"></script>
<script src="/static/agricultura/js/plugins/select2/select2.full.min.js"></script>
<script src="/static/agricultura/js/plugins/cropper/cropper.min.js"></script>
<script src="/static/agricultura/js/plugins/switchery/switchery.js"></script>

<!-- DataTables -->
<script src="/static/agricultura/js/plugins/footable/footable.all.min.js"></script>

<script src="/static/agricultura/js/formValidation.min.js"></script>
<script src="/static/agricultura/js/bootstrapForm.min.js"></script>
    <script src="/static/agricultura/multiselect/jquery.multiple.select.js"></script>

<script src="/static/agricultura/scripts/op_especie.js"></script>

<script src="/static/agricultura/js/bootbox.js"></script>
<script>
$(document).ready(function() {
    $('#form_categoria')
        .formValidation({
            framework: 'bootstrap',
            icon: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                txt_nombre: {
                    validators: {
                        notEmpty: {
                            message: 'Campo requierdo'
                        }
                    }
                },
                txt_abreviatura: {
                    validators: {
                        notEmpty: {
                            message: 'Campo requierdo'
                        },
                        regexp: {
                            regexp: /^[a-zA-Z\s]+$/,
                            message: 'Solo se permiten caracteres'
                        },
                        stringLength: {
                            min: 2,
                            max: 10,
                            message: 'La Abreviatura debe contener mas de 2 y menos que 10 caracteres'
                        },

                    }
                },
                txt_descripcion: {
                    validators: {
                        notEmpty: {
                            message: 'Campo requerido'
                        }
                    }
                }
            }
        })
        $('.editButton').on('click', function() {
        // Get the record's ID via attribute
        var id = $(this).attr('data-id');
        $.ajax({
            url: '/agricultura/verParametros/' + id,
            method: 'get'

        }).success(function(response) {
            $('#form_categoria')
                .find('[name="id"]').val(response[0].id).end()
                .find('[name="txt_abreviatura"]').val(response[0].abreviatura).end()
                .find('[name="txt_nombre"]').val(response[0].nombre).end()
                .find('[name="txt_descripcion"]').val(response[0].descripcion).end()
                .find('[name="txt_minimo"]').val(response[0].minimo).end()
                .find('[name="txt_maximo"]').val(response[0].maximo).end()
                .find('[name="txt_valor"]').val(response[0].valor).end()
                .find('[name="select_medida"]').val(response[0].medida).end()
                .find('[name="tparametro"]').val(response[0].tipo_parametro).end()
                .find('[name="fase"]').val(response[0].fase).end();
                $("#select_medida").trigger("chosen:updated");
                $("#tparametro").trigger("chosen:updated");
                $("#fase").trigger("chosen:updated");
        });
    });
});

</script>
    <script>
            $("#website").multipleSelect({
                isOpen: true,
                keepOpen: false,
                filter: true,
                single:true,
                minimumCountSelected: 2,
            });
    function cambio_estado(elemento, id){
            var estado=true;
            if(elemento.checked == false){
                estado = false;
            }
            $.ajax({
                data: {'id': id, 'estado': estado},
                url: '/agricultura/bajaParametros/',
                type: 'get',
                success: function (data) {
                    if (data.result=="OK"){
                        toastr.options={"progressBar": true}
                        toastr.success('Se cambio de estado','Estado')
                    }else{
                    }
                }
            });
        }
    </script>
{% endblock scripts %}
