{% extends "agricultura/base_agricultura.html" %}
{% block css %}
<link href="/static/agricultura/css/plugins/chosen/chosen.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/select2/select2.min.css" rel="stylesheet">
{% endblock %}

{% block contenido %}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Gestión ET0 Penman Monteith</h2>
        <h2 class="pull-right" style="margin-top: -35px;">{{empresa}}</h2>
        <ol class="breadcrumb">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Inicio<span class="caret"></span></a> {% include "dropdown-menu.html" %}
            </li>
            <li>
                <a href="/agricultura/inicio">Módulo agricultura</a>
            </li>
            <li class="active">
                <strong>Evapotranspiración (Et0)</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>
    <br/>
    <div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">
                {% if 'agricultura.add_agr_evotranspiracion' in usuario.get_all_permissions %}

        <div class="col-md-offset-2 col-lg-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Eto: Método de Penman Monteith <small>Cálculo de la Evapotranspiración Inicial</small></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Parcela: </label>
                                    <div class="col-lg-10">
                                        <div id="contenedorSelect">
                                            <select data-placeholder="Escoga la Parcela..." class="chosen-select" style="width:250px;" tabindex="2" id="select_parcela" name="select_parcela" onchange="detalleParcela(this)">
                                                <option value="x"></option>
                                               {% for i in datos_parcela %}
                                                    <option value="{{ i.par_id.sar_id }}">{{ i.par_id.sar_nombre }}</option>
                                                {% endfor %}
                                            </select>
                                             {% if 'agricultura.add_agr_parcela' in usuario.get_all_permissions %}
                                            <a  onclick="agregarParcela()" class="related-widget-wrapper-link add-related" id="add_id_sar_region" title="Agregar Parcela"><img src="/static/admin/img/icon_addlink.gif" width="10" height="10" alt="Agregar"></a>
                                            {% endif %}
                                        </div>

                                    </div>
                                </div>
                                <hr/>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Latitud: </label>
                                    <div class="col-lg-4">
                                        <input id="txtLatitud" type="text" class="form-control" readonly="readonly"/>
                                    </div>
                                    <label class="col-lg-2 control-label">Region: </label>
                                    <div class="col-lg-4">
                                        <input id="txtRegion" type="text" class="form-control" readonly="readonly"/>
                                    </div>
                                </div>
                                <input id="a1" type="text" class="hide"/>
                                <input id="b1" type="text" class="hide"/>
                                <input id="altura_par" type="text" class="hide"/>
                            </div>
                        </div>
                    <br/>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover" id="tablaEt0" >
                                        <thead>
                                            <tr>
                                                <th>Mes</th>
                                                <th>Temp. Mín. (oC)</th>
                                                <th>Temp. Máx. (oC)</th>
                                                <th>Horas Luz</th>
                                                <th>Vel. Viento (m/s)</th>
                                                <th>Humedad (%)</th>
                                                <th>Radiación Solar</th>
                                                <th>Fotoperíodo</th>
                                                <th>Et0</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><strong>Enero</strong></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Febrero</strong></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Marzo</strong></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Abril</strong></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Mayo</strong></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Junio</strong></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Julio</strong></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Agosto</strong></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td class="center"></td>
                                                <td class="center"></td>
                                                <td class="center"></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Septiembre</strong></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td class="center"></td>
                                                <td class="center"></td>
                                                <td class="center"></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Octubre</strong></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td class="center"></td>
                                                <td class="center"></td>
                                                <td class="center"></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Noviembre</strong></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td class="center"></td>
                                                <td class="center"></td>
                                                <td class="center"></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Diciembre</strong></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td class="center"></td>
                                                <td class="center"></td>
                                                <td class="center"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="ibox-footer">
                    <div class="col-md-offset-10">
                        <button type="button" class="btn btn-primary align-right" onclick="calcularEto()">Calcular</button>
                    </div>
                </div>
            </div>
        </div>
            {% else %}
                {% if 'agricultura.list_agr_evotranspiracion' in usuario.get_all_permissions %}
                    <div class="col-md-offset-3 col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Eto: metodo de Hargreaves <small>Calculo de la Evotranspiracion Inicial</small></h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                </div>
                <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Parcela: </label>
                                    <div class="col-lg-10">
                                        <div id="contenedorSelect">
                                            <select data-placeholder="Escoga la Parcela..." class="chosen-select" style="width:250px;" tabindex="2" id="select_parcela" name="select_parcela" onchange="detalleParcela(this)">
                                                <option value="x"></option>
                                                {% for i in datos_parcela %}
                                                    <option value="{{ i.id }}">{{ i.par_nombre }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <hr/>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Latitud: </label>
                                    <div class="col-lg-10">
                                        <input id="txtLatitud" type="text" class="form-control" readonly="readonly"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <br/>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover" id="tablaEt0" >
                                       <thead>
                                            <tr>
                                                <th>Mes</th>
                                                <th>Temp. Min.</th>
                                                <th>Temp. Max.</th>
                                                <th>Horas Luz</th>
                                                <th>Vel. Viento</th>
                                                <th>Humedad</th>
                                                <th>Radiacion Solar</th>
                                                <th>Fotoperiodo</th>
                                                <th>Et0</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><strong>Enero</strong></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Febrero</strong></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Marzo</strong></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Abril</strong></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Mayo</strong></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Junio</strong></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Julio</strong></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Agosto</strong></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td class="center"></td>
                                                <td class="center"></td>
                                                <td class="center"></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Septiembre</strong></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td class="center"></td>
                                                <td class="center"></td>
                                                <td class="center"></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Octubre</strong></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td class="center"></td>
                                                <td class="center"></td>
                                                <td class="center"></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Noviembre</strong></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td class="center"></td>
                                                <td class="center"></td>
                                            </tr>
                                            <tr>
                                                <td><strong>Diciembre</strong></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td contenteditable="true"></td>
                                                <td class="center"></td>
                                                <td class="center"></td>
                                                <td class="center"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
                {% endif %}
            {% endif %}
    </div>
    </div>
{% include "includes/modales.html" %}
{% endblock %}

{% block scripts %}
    <script src="/static/agricultura/js/plugins/chosen/chosen.jquery.js"></script>
    <script src="/static/agricultura/scripts/op_modales.js"></script>
<script src="/static/app_empresa/sector/sector.js"></script>
<script src="/static/app_empresa/sector/typeahead.js"></script>
<script src="/static/plantilla/plugins/typeahead/jquery.easy-autocomplete.min.js"></script>
    <script>
    function agregarTipoSueloEvo(){
        $('#modalParcelasPen').modal('hide');
        $("#modalSuelo").modal()
    }
        var a1=0;
        var b1=0;
        document.onload = cargarFunciones();

        function cargarFunciones(){
            $('#frmSuelo').on("submit",function(){
        event.preventDefault();
        $.ajax({
            type:"POST",
            url: "/agricultura/tipo_suelo_agregar/",
            dataType: 'json',
            data:$(this).serialize(),
            success: function(response){
                $('#id_suelo').val("");
                $('#txt_nombre').val("");
                $('#modalSuelo').modal('hide');
                $('#modalParcelas').modal();
                toastr.options={"progressBar":true};
                toastr.success(response.mensaje,'Tipo de Suelo');
                $.get("/agricultura/tiposSuelo/",$.getDataSuelo); // get without token_crsf
            },
            error: function(){
                toastr.options={"progressBar":true};
                toastr.error("Error",'Tipo de Suelo');
            }
        });
    });
            select();
            $('#contenedorParcela').addClass('active');
            $('#evotraspiracion').addClass('active');
            $('#evotraspiracionP').addClass('active');
              $.getDataSubArea = function(response)
    {
        var datos = "";
        data = response.data;
        $.each(response.data, function(i,value){
            datos+= "<option value="+value.sar_id+">"+value.sar_nombre+"</option>";
        });
        $('#select_local1').html(datos);       
        $("#select_local1").trigger("chosen:updated");
    };

        $('#frmSub').on("submit",function(){
        event.preventDefault();
        $.ajax({
            type:"POST",
            url: "/empresa/subarea/sav/",
            dataType: 'json',
            data:$(this).serialize(),
            success: function(response){
                $('#sub_nom').val("");
                $('#sub_etq').val("");
                $('#sub_lat').val("");
                $('#sub_lng').val("");
                $('#sub_hla').val("");
                $('#sub_hlo').val("");
                
                $('#modalSubArea').modal('hide');
                $.get("/empresa/subarea/get/",$.getDataSubArea); // get without token_crsf
                $("#select_local1").trigger("chosen:updated");
                $('#modalParcelasPen').modal('show');
                toastr.options={"progressBar":true};
                toastr.success(response.mensaje,'Subarea');
                
            },

            error: function(){
                toastr.options={"progressBar":true};
                toastr.error("Error",'Subarea');
            }
        });
    });
        }

        function calcularEto(){
            elevacion=document.getElementById('altura_par').value;
            a1=document.getElementById('a1').value;
            b1=document.getElementById('b1').value;

            var table = document.getElementById('tablaEt0'),
                rows = table.getElementsByTagName('tr'),
                i, j, cells, tempmax,tempmin,hor_luz,vel_viento,humedad,rad_sol,fotop;

            for (i = 0, j = rows.length; i < j; ++i) {
                cells = rows[i].getElementsByTagName('td');
                if (!cells.length) {
                    continue;
                }
                try{        
                    mes = cells[0].innerText;
                    tempmin=cells[1].innerText
                    tempmax=cells[2].innerText
                    hor_luz=cells[3].innerText;
                    vel_viento=cells[4].innerText;
                    humedad=cells[5].innerText;
                    rad_sol=cells[6].innerText;
                    fotop=cells[7].innerText;
                    if(tempmax!='' && tempmin!=''&& hor_luz!=''&& vel_viento!=''&& humedad!=''&& rad_sol!=''&& fotop!=''){
                        if (parseFloat(tempmin) < parseFloat(tempmax)) {
                            evotraspiracion = calculoEt0(tempmin,tempmax, hor_luz,vel_viento,humedad,rad_sol,fotop);
                            cells[8].innerText = evotraspiracion.toFixed(3);
                            console.log('Se esta Enviando: ');
                            $.ajax({
                                data: {'mes':mes,'minima':tempmin,
                                'maxima':tempmax,'et0':cells[8].innerText,
                                'horas_luz':hor_luz,'vel_viento':vel_viento,'humedad':humedad,'parcela':document.getElementById("select_parcela").value},
                                url: '/agricultura/guardarDatoEvoPenman/',
                                type: 'get',
                                success: function (data) {
                                    toastr.options={"progressBar": true}
                                    toastr.success('Guardado Et0: '+data[0].mes,'Estado')
                                },
                                error: function(XMLHttpRequest, textStatus, errorThrown) {
                                            alert("Algo esta mal");
                                            //Se puede obtener informacion útil inspecionando el Objeto XMLHttpRequest
                                            console.log(XMLHttpRequest);
                                        }
                            });
                        }else{
                            swal("Error en los datos de la tabla", "La temperatura min no puede ser mayor a la temperatura max", "error");
                        }
                }
                }catch(e){
                    console.log('error'+e);
                }
            }
        }

        function detalleParcela(txtCod){

            var table = document.getElementById('tablaEt0'),
                rows = table.getElementsByTagName('tr'),
                i, j, cells;


            $.ajax({
                data: {'id':txtCod.value},
                url: '/agricultura/datosParcela_P/',
                type: 'get',
                success: function (data) {
                    $("#txtLatitud").val(data[0].latitud);
                    $("#txtRegion").val(data[14].zona);
                    $("#a1").val(data[14].valor_a1);
                    $("#b1").val(data[14].valor_b1);
                    $("#altura_par").val(data[15].altura_parcela);
                    for (i = 0, j = rows.length; i < j; ++i) {
                        cells = rows[i].getElementsByTagName('td');
                        if (!cells.length) {
                            continue;
                        }
                        cells[1].innerText = '';
                        cells[2].innerText = '';
                        cells[3].innerText = '';
                        cells[4].innerText = '';
                        cells[5].innerText = '';
                        cells[6].innerText = '';
                        cells[7].innerText = '';
                        cells[8].innerText = '';
                    }
                    var indice = 0;
                    for (i = 0, j = rows.length; i < j; ++i) {
                        cells = rows[i].getElementsByTagName('td');
                        if (!cells.length) {
                            continue;
                        }
                        cells[6].innerText = data[i].valor;
                        cells[7].innerText = data[13][i].valor;
                    }
                    ingresarDatosPreCargados(data[17],data[16].cant,rows.length);
                }
            });
        }

        function ingresarDatosPreCargados(datos, cant,tamTabla){
            var table = document.getElementById('tablaEt0');
            var rows = table.getElementsByTagName('tr');
            var cells;
            var c=0;
            
            for(b = 1; b < rows.length ; b++){
                cells = rows[b].getElementsByTagName('td');
                for (var i=0;i<cant ;i++){
                    if(cells[0].innerText == datos[i].mes){
                        cells[1].innerText = datos[i].temMin;
                        cells[2].innerText = datos[i].temMax;
                        cells[3].innerText = datos[i].horas_luz;
                        cells[4].innerText = datos[i].vel_viento;
                        cells[5].innerText = datos[i].humedad;
                        cells[8].innerText = datos[i].et0;
                    }
                }
            }
        }

        function calculoEt0(tempmin,tempmax,hor_luz,vel_viento,humedad,rad_sol,fotop){
        //temperatura promedio
            tem_prom=(parseFloat(tempmin)+parseFloat(tempmax))/2

        //primer calculo: radiacion solar neta=radiacion de onda corta-radiacion de onda larga
            rn=0;// radacion solar neta
            rs=(((0.25)+(0.5*(hor_luz)/fotop))*rad_sol); //radiacion solar
        //calculando temperatura promedio (en grados kelvin)
            min=Math.pow(parseFloat(tempmin)+273,4);
            max=Math.pow(parseFloat(tempmax)+273,4);
            tk=(min+max)/2;
        //calculando Emisividad
            v1=-7.77*Math.pow(10.0,-4);
            v2=Math.pow(tem_prom,2);
            v3=Math.pow(Math.E,v1);
            v4=Math.pow(v3,v2);
            e=-0.02+(0.26*v4);
        //calculo de Rbo radiacion neta de onda larga en un dia sin nubes
            rbo=e*11.71*Math.pow(10,-8)*tk;
            console.log('radiacion neta de onda larga en un dia sin nubes: '+rbo);
        //calculo de radiacion de onda larga
            a1=parseFloat(document.getElementById("a1").value);
            b1=parseFloat(document.getElementById("b1").value);
            rnol=((a1*rs/rad_sol)+b1)*rbo;
            console.log('radiacion de onda larga: '+rnol);
        //calculo de radiacion de onda corta
            rnoc=(1-0.25)*rs;
            console.log('radiacion de onda corta: '+rnoc);
            // radiacion solar neta=rnoc-rnol
            rsn=rnoc-rnol;
            console.log('radiacion neta: '+rsn);
        // Segundo paso: calculo del déficid de presion de vapor. dpv= es-ea
            es=6.328+(0.424*tem_prom)+(0.01085*Math.pow(tem_prom,2))+(0.000519*Math.pow(tem_prom,3));
            ea=es*(parseFloat(humedad)/100);
            dpv=es-ea;
            console.log('deficid de presion de vapor: '+dpv);
        //tercer paso: calculo de factores de ajuste por temperatura y humedad
            //pendiente de la curva de presion de saturacion de vapor
            psv=2.0*Math.pow((0.00738*tem_prom+0.8072),7)-0.00116;
            console.log('presion de saturacion de vapor: '+psv);
            //constante psicometrica r=0.386*Pb/L
            msnm=document.getElementById("altura_par").value;
            Pb=1013-0.1055*parseFloat(msnm);    //calculo de presion barometrica promedio
            L=595-0.51*tem_prom;    //calor latente de vaporizacion
            r=0.386*Pb/L;
            //constante psicometrica modificada rm=r*(1+(0.33*vel_viento))
            rm=r*(1+(0.33*parseFloat(vel_viento)));
            //factor de ajuste por temperatura considerando la constante psicometrica modificada
            fat=psv/(psv+rm);
            //factor de ajuste por humedad considerando la constante psicometrica modificada
            fah=r/(psv+rm);
            //se asume que el flujo del calor de suelo es = 0 (G=0)
            G=0;
        //calculo de ETo=ET_radiacion + ET_aerodinamica
            ET0=(fat*(rsn-G)*(10/L))+(fah*90/(tem_prom+275)*parseFloat(vel_viento)*dpv)
            return ET0
            
        }

        function select(){
               var config = {
                    '.chosen-select'           : {},
                    '.chosen-select-deselect'  : {allow_single_deselect:true},
                    '.chosen-select-no-single' : {disable_search_threshold:10},
                    '.chosen-select-no-results': {no_results_text:'No se encontro parcela'},
                    '.chosen-select-width'     : {width:"95%"}
                }
                for (var selector in config) {
                    $(selector).chosen(config[selector]);
                }
        }
        function agregarParcela(){
        $("#modalParcelasPen").modal()
            }
                function agregarArea(){
        $('#modalSubArea').modal('hide');
        $("#modalArea").modal()
    }    $('#modalSubArea').bind('shown.bs.modal', function(e){
        $.get("/empresa/areas/get/",$.getDataArea); // get without token_crsf
        sub_nom.focus();
    });

    $('#modalArea').bind('hidden.bs.modal', function(e){
        $('#title').html("Crear Area");
        $('#are_nom').val("");
        $('#are_des').val("");
        $('#are_etq').val("");
        $('#are_dir').val("");
        $('#are_est').prop("checked",false);
        $('#accion').val("0");
    });
    function agregarSubArea(){
        $("#modalParcelasPen").modal('hide')
        $("#modalSubArea").modal()
        }
    cargarDependencias_typeahead("/empresa/sector/cargarDependencias/");
    cargarUbicaciones("{% url 'URLempresa:url_ubicaciones' %}");
    </script>
{% endblock %}
