{% extends "agricultura/base_agricultura.html" %}
{% block css %}

<link href="/static/agricultura/css/plugins/chosen/chosen.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/select2/select2.min.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/cropper/cropper.min.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/switchery/switchery.css" rel="stylesheet">
<!-- Data Tables -->
<link href="/static/agricultura/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/footable/footable.core.css" rel="stylesheet">

<link rel="stylesheet" href="/static/agricultura/multiselect/multiple-select.css"/>

<link href="/static/agricultura/css/formValidation.min.css" rel="stylesheet">


{% endblock css %}

{% block contenido %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Gestión de Tipos de Parámetros</h2>
        <h2 class="pull-right" style="margin-top: -35px;">{{empresa}}</h2>
        <ol class="breadcrumb">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Inicio<span class="caret"></span></a> {% include "dropdown-menu.html" %}
            </li>
            <li>
                <a href="/agricultura/inicio">Módulo agricultura</a>
            </li>   
            <li class="active">
                <strong>Tipos de parámetros</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
        {% if 'agricultura.list_agr_tipo_parametro' in usuario.get_all_permissions %}
		    <div class="col-md-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title hvr-overline-from-left" style="width: 100%;">
                    <h5>Tipos de Parámetros</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content">
                            <input type="text" class="form-control input-sm m-b-xs" id="filter"
                                   placeholder="Search in table">
                            <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="8" data-filter=#filter>
                                <thead>
                                <tr>
                                    <th data-toggle="true">Nombre</th>
                                    <th>Abreviatura</th>
                                    <th>Descripción</th>
                                    <th>Grupo</th>
                                    {% if 'agricultura.change_agr_tipo_parametro' in usuario.get_all_permissions %}
                                        <th>Acciones</th>
                                    {% endif %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for tipos in datos_parametros %}
                                <tr>
                                    <td>{{ tipos.tpar_nombre }}</td>
                                    <td>{{ tipos.tpar_abreviatura }}</td>
                                    <td>{{ tipos.tpar_descripcion  }}</td>
                                    <td>{{ tipos.tpar_grupo.gru_nombre }}</td>
                                    {% if 'agricultura.change_agr_tipo_parametro' in usuario.get_all_permissions %}
                                    <td>
                                        <button type="button" data-id="{{ tipos.tpar_id }}" class="btn btn-warning btn-xs editButton">Editar</button>
                                    </td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="5">
                                        <ul class="pagination pull-right"></ul>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
            </div>
		</div>
        {% endif %}
        {% if 'agricultura.add_agr_tipo_parametro' in usuario.get_all_permissions %}
             <div class="col-md-6">
			<div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Tipos de Parámetros</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" style="display: block;">
                    <form class="form-horizontal" id="form_categoria" method="post" action="{% url 'agricultura:url_tipo_agregar' %}">{% csrf_token %}
{#                        <form id="userForm" method="post" class="form-horizontal" style="display: none;">#}

    <div class="form-group">
        <label class="col-xs-3 control-label">Nombre</label>
        <div class="col-xs-5">
            <input type="text" class="form-control" name="nombre" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-3 control-label">Descripción</label>
        <div class="col-xs-5">
            <input type="text" class="form-control" name="descripcion" />
        </div>
    </div>

    <div class="form-group">
        <input type="text" name="id" class="hide"/>
        <label class="col-xs-3 control-label">Abreviatura</label>
        <div class="col-xs-5">
            <input type="text" class="form-control" name="abreviatura" />
        </div>
    </div>

    <div class="form-group">

        <label class="col-xs-3 control-label">Grupo</label>
        <div class="col-xs-5">
            <div id="contenedorSelect">
                <select class="chosen-select"  style="width: 100%" id = "grupo" name="grupo" >
                    {% for i in grupo %}
                        <option value="{{ i.gru_id }}">{{ i.gru_nombre }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

                   <div class="form-group text-rigth">
	                        <div class="col-lg-offset-5">
                                <div id="contenedor_btn">
	                             <button class="btn btn-primary" type="submit">Guardar</button>
                                </div>
	                        </div>
	                    </div>
                    </form>
                </div>
            </div>
		</div>
        {% endif %}

	</div>

</div>


{% endblock contenido %}

{% block scripts %}

<script>
    document.onload = cargarFunciones();
    function cargarFunciones(){
        $('#contenedorParametros').addClass('active');
        $('#par_tipo').addClass('active');
    };
</script>

<script src="/static/agricultura/js/plugins/chosen/chosen.jquery.js"></script>
<script src="/static/agricultura/js/plugins/select2/select2.full.min.js"></script>
<script src="/static/agricultura/js/plugins/cropper/cropper.min.js"></script>
<script src="/static/agricultura/js/plugins/switchery/switchery.js"></script>

<!-- DataTables -->
<script src="/static/agricultura/js/plugins/footable/footable.all.min.js"></script>

<script src="/static/agricultura/js/formValidation.min.js"></script>
<script src="/static/agricultura/js/bootstrapForm.min.js"></script>
    <script src="/static/agricultura/multiselect/jquery.multiple.select.js"></script>

<script src="/static/agricultura/scripts/op_especie.js"></script>

<script src="/static/agricultura/js/bootbox.js"></script>
<script>
$(document).ready(function() {
    $('#form_categoria')
        .formValidation({
            framework: 'bootstrap',
            icon: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                nombre: {
                    validators: {
                        notEmpty: {
                            message: 'Campo requierdo'
                        }
                    }
                },
                abreviatura: {
                    validators: {
                        notEmpty: {
                            message: 'Campo requierdo'
                        },
                        regexp: {
                            regexp: /^[a-zA-Z\s]+$/,
                            message: 'Solo se permiten caracteres'
                        },
                        stringLength: {
                            min: 5,
                            max: 10,
                            message: 'La Abreviatura debe contener mas de 5 y menos que 10 caracteres'
                        },

                    }
                },
                descripcion: {
                    validators: {
                        notEmpty: {
                            message: 'Campo requerido'
                        }
                    }
                }
            }
        })
        $('.editButton').on('click', function() {
        // Get the record's ID via attribute
        var id = $(this).attr('data-id');
        $.ajax({
            url: '/agricultura/obtenerTipo/' + id,
            method: 'GET'

        }).success(function(response) {
            // Populate the form fields with the data returned from server

            $('#form_categoria')
                .find('[name="id"]').val(response[0].id).end()
                .find('[name="abreviatura"]').val(response[0].abreviatura).end()
                .find('[name="nombre"]').val(response[0].nombre).end()
                .find('[name="descripcion"]').val(response[0].descripcion).end()
                .find('[name="grupo"]').val(response[0].grupo).end()
                $("#grupo").trigger("chosen:updated");
        });
    });
});
</script>
    <script>
            $("#website").multipleSelect({
                isOpen: true,
                keepOpen: false,
                filter: true,
                single:true,
                minimumCountSelected: 2,
            });
    function cambio_estado(elemento, id){
            var estado=true;
            if(elemento.checked == false){
                estado = false;
            }
            $.ajax({
                data: {'id': id, 'estado': estado},
                url: '/agricultura/bajaTipo/',
                type: 'get',
                success: function (data) {
                    if (data.result=="OK"){
                        toastr.options={"progressBar": true}
                        toastr.success('Se cambio de estado','Estado')
                    }else{
                    }
                }
            });
        }
    </script>
{% endblock scripts %}
