{% extends "agricultura/base_agricultura.html" %}

{% block css %}
	<link href="/static/agricultura/css/plugins/chosen/chosen.css" rel="stylesheet">
	<link href="/static/agricultura/css/plugins/select2/select2.min.css" rel="stylesheet">
	<link href="/static/agricultura/css/plugins/cropper/cropper.min.css" rel="stylesheet">
	<link href="/static/agricultura/css/plugins/switchery/switchery.css" rel="stylesheet">

    <link href="/static/agricultura/css/plugins/jsTree/style.min.css" rel="stylesheet">
    <!-- Data Tables -->
    <link href="/static/agricultura/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
    <link href="/static/agricultura/css/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
    <link href="/static/agricultura/css/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet">


{% endblock css %}

{% block contenido %}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
            <h2>Gestion de Categoria de Especies</h2>
            <h2 class="pull-right" style="margin-top: -35px;">{{empresa}}</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/agricultura">Inicio</a>
                </li>
                <li class="active">
                    <strong>Categoria Especies</strong>
                </li>
            </ol>
        </div>
    </div>

	<div class="row">
	<br>
	</div>
        <div class="row">
		       <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Basic example <small>with custom Font Awesome icons.</small></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <div id="jstree1">
                        <ul>
                            <li class="jstree-open">Proyecto Agricultura
                                <ul>
                                    {% for c in cultivo %}
                                        <li  data-jstree= data-jstree='{"icon":"//jstree.com/tree.png"}'>Cultivos
                                            <ul>
                                                <li data-jstree='{"icon":"//jstree.com/tree.png"}'>{{ c.parcela.par_nombre }}</li>
                                            </ul>
                                        </li>
                                    {% endfor %}
                                    <li class="jstree-open">img
                                        <ul>
                                            <li data-jstree='{"type":"img"}'>profile_small.jpg</li>
                                            <li data-jstree='{"type":"img"}'>angular_logo.png</li>
                                            <li class="text-navy" data-jstree='{"type":"img"}'>html_logo.png</li>
                                            <li class="text-navy" data-jstree='{"type":"img"}'>mvc_logo.png</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
	</div>


{% endblock contenido %}

{% block scripts %}

    <script src="/static/agricultura/js/plugins/chosen/chosen.jquery.js"></script>
    <script src="/static/agricultura/js/plugins/select2/select2.full.min.js"></script>
    <script src="/static/agricultura/js/plugins/cropper/cropper.min.js"></script>
    <script src="/static/agricultura/js/plugins/switchery/switchery.js"></script>


    <script src="/static/agricultura/js/plugins/jsTree/jstree.min.js"></script>


<style>
    .jstree-open > .jstree-anchor > .fa-folder:before {
        content: "\f07c";
    }

    .jstree-default .jstree-icon.none {
        width: 0;
    }
</style>

<script>
    $(document).ready(function(){

        $('#jstree1').jstree({
            'core' : {
                'check_callback' : true
            },
            'plugins' : [ 'types', 'dnd' ],
            'types' : {
                'default' : {
                    'icon' : 'fa fa-folder'
                },
                'html' : {
                    'icon' : 'fa fa-file-code-o'
                },
                'svg' : {
                    'icon' : 'fa fa-file-picture-o'
                },
                'css' : {
                    'icon' : 'fa fa-file-code-o'
                },
                'img' : {
                    'icon' : 'fa fa-file-image-o'
                },
                'js' : {
                    'icon' : 'fa fa-file-text-o'
                }

            }
        });

        $('#using_json').jstree({ 'core' : {
            'data' : [
                'Empty Folder',
                {
                    'text': 'Resources',
                    'state': {
                        'opened': true
                    },
                    'children': [
                        {
                            'text': 'css',
                            'children': [
                                {
                                    'text': 'animate.css', 'icon': 'none'
                                },
                                {
                                    'text': 'bootstrap.css', 'icon': 'none'
                                },
                                {
                                    'text': 'main.css', 'icon': 'none'
                                },
                                {
                                    'text': 'style.css', 'icon': 'none'
                                }
                            ],
                            'state': {
                                'opened': true
                            }
                        },
                        {
                            'text': 'js',
                            'children': [
                                {
                                    'text': 'bootstrap.js', 'icon': 'none'
                                },
                                {
                                    'text': 'inspinia.min.js', 'icon': 'none'
                                },
                                {
                                    'text': 'jquery.min.js', 'icon': 'none'
                                },
                                {
                                    'text': 'jsTree.min.js', 'icon': 'none'
                                },
                                {
                                    'text': 'custom.min.js', 'icon': 'none'
                                }
                            ],
                            'state': {
                                'opened': true
                            }
                        },
                        {
                            'text': 'html',
                            'children': [
                                {
                                    'text': 'layout.html', 'icon': 'none'
                                },
                                {
                                    'text': 'navigation.html', 'icon': 'none'
                                },
                                {
                                    'text': 'navbar.html', 'icon': 'none'
                                },
                                {
                                    'text': 'footer.html', 'icon': 'none'
                                },
                                {
                                    'text': 'sidebar.html', 'icon': 'none'
                                }
                            ],
                            'state': {
                                'opened': true
                            }
                        }
                    ]
                },
                'Fonts',
                'Images',
                'Scripts',
                'Templates',
            ]
        } });

    });
</script>


{% endblock scripts %}
