{% extends "app_reportes/base_r.html" %}

{% block css %}
<link href="/static/agricultura/css/plugins/chosen/chosen.css" rel="stylesheet">
<link href="/static/agricultura/css/style.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/cropper/cropper.min.css" rel="stylesheet">
<!-- Data Tables -->
<link href="/static/iot/css/dataTables.bootstrap.css" rel="stylesheet">
<link href="/static/iot/css/dataTables.responsive.css" rel="stylesheet">
<link href="/static/iot/css/buttons.dataTables.min.css" rel="stylesheet">
<link href="/static/iot/css/jquery.dataTables.min.css" rel="stylesheet">


{% endblock css %}

{% block contenido %}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Reportes</h2>
        <h2 class="pull-right" style="margin-top: -35px;">{{empresa}}</h2>
        <ol class="breadcrumb">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Inicio<span class="caret"></span></a> {% include "dropdown-menu.html" %}
            </li>
            <li>
                <a href="/reportes/inicio/">Módulo Reportes</a>
            </li>
            <li class="active">
                <strong>Reportes de Lecturas</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>
	
    <div class="wrapper wrapper-content animated fadeIn">

    <div class="row">
    </div>
    <div class="row">      

            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Tabla de Lecturas</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>         
                        </div>
                    </div>      
                    <form id="frmReporte" action="/reportes/lectura/" method="post" target="_blank">
                    {% csrf_token %}
                    <input id="form_data" type="hidden" name="form_data" />
                    <input id="dispositivo" type="hidden" name="dispositivo" />
                    <input id="interfaz" type="hidden" name="interfaz" />
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Desde</label>                                
                                    <input type="date" class="form-control" name="fec_ini" id="fec_ini">                                
                                </div>

                                <div class="col-md-2">
                                    <label>Hasta</label>
                                    <input type="date" class="form-control" name="fec_fin" id="fec_fin">
                                </div>
                                <div class="col-md-1">
                                    <label>Mostrar</label>
                                    <select class="form-control" id="int_num" name="int_num">                                        
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                        <option value="200">200</option>
                                        <option value="500">500</option>
                                        <option value="500">1000</option>
                                    </select>
                                </div>

                                <div class="col-md-2">
                                    <label></label>
                                    <select class="form-control" id="cmb_ord" name="cmb_ord">                                        
                                        <option value="ASC">Primeras</option>
                                        <option value="DESC">Ultimas</option>                                        
                                    </select>
                                </div>

                                <div class="col-md-2">
                                    <label>Dispositivo</label>
                                    <select class="form-control" id="dis_nom" name="dis_nom">
                                        <option value="-1">---</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <label>Interfaz</label>
                                    <select class="form-control" id="int_nom" name="int_nom">
                                        <option value="0">---</option>                                        
                                    </select>
                                </div>                            
                            
                                <div class="col-md-1">
                                    <div class="form-group">
                                        <label class="control-label" for="status">Reporte</label>
                                        <span class="input-group-btn"><button id="btnReport" type="submit" value="submit" class="btn btn-primary">Pdf!</button> </span>
                                    </div>
                                </div>

                            </div>
                            

                            <div class="row">
                                <div class="col-md-3">
                                    <div id="wait" style="display:none;width:69px;height:60px;position:absolute;top:50%;left:50%;padding:2px;">
                                        <img src='/static/iot/img/loader.gif' width="50" height="50" />
                                    </div>
                                </div>    
                            </div>                            
                            <br>
                            <div class="table-responsive" id="tableReport">
                                <div class="col-md-offset-3 col-md-6">
                                    <table class="table table-striped table-bordered table-hover  dataTable" role="grid" data-page-size="10" id="tblRep">
                                        <thead>
                                        <tr>
                                            <th class="text-center">Dispositivo</th>
                                            <th class="text-center">Interfaz</th>
                                            <th class="text-center">Valor</th>
                                            <th class="text-center">Fecha</th>
                                        </tr>
                                        </thead>
                                        <tbody class="text-center">                            
                                        </tbody>
                                        
                                        <tfoot>
                                        <tr>
                                            <th class="text-center">Dispositivo</th>
                                            <th class="text-center">Interfaz</th>
                                            <th class="text-center">Valor</th>
                                            <th class="text-center">Fecha</th>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>   
                        </div>
                    </form>
                    
                </div>
            </div>
       

    </div>

</div>




{% endblock contenido %}

{% block scripts %}

<script src="/static/iot/js/jquery.dataTables1.min.js"></script>    
<script src="/static/iot/js/dataTables.bootstrap.js"></script>    
<script src="/static/iot/js/datatables.responsive.js"></script>
<script src="/static/iot/js/dataTables.buttons.min.js"></script>
<script src="/static/iot/js/pdfmake.min.js"></script>
<script src="/static/iot/js/vfs_fonts.js"></script>
<script src="/static/iot/js/buttons.flash.min.js"></script>
<script src="/static/iot/js/buttons.html5.min.js"></script>
<script src="/static/app_reportes/reportes.js"></script>
<script src="/static/all.js"></script>

{% endblock scripts %}