{% extends "agricultura/base_agricultura.html" %}

{% block contenido %}

    </br>
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-list-alt"></i> <label>Lista de Proyectos</label></h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <table class="table table-condensed" id="presentacion">
                                <thead>
                                <tr>
                                <th>Nombre</th>
                                <th>Descripcion</th>
                                <th>Fecha de Inicio</th>
                                <th>Fecha de Finalizacion</th>
                                <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for i in proyectos %}
                                    <tr>
                                        <td>{{ i.proy_nombre }}</td>
                                        <td>{{ i.proy_descripcion }}</td>
                                        <td>{{ i.proy_fecha_ini }}</td>
                                        <td>{{ i.proy_fecha_fin }}</td>
                                        <td><a href="/reportes/proyecto/formulario/{{ i.id }}" class="btn btn-primary">
                                            <i class="fa fa-plus"></i> Ver Más</a>
                                        </td>

                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.onload=inicioTabla()
        function inicioTabla(){
            $('#presentacion').dataTable( {
                  "ordering": false
            } );
        $('#contenedorReportes').addClass('active');
        $('#reporteRiego').addClass('active');
        }

    </script>
{% endblock %}