{% extends "app_reportes/base_r.html" %}

{% block css %}

<link href="/static/agricultura/css/plugins/chosen/chosen.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/select2/select2.min.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/cropper/cropper.min.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/switchery/switchery.css" rel="stylesheet">
<!-- Data Tables -->
<link href="/static/agricultura/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/footable/footable.core.css" rel="stylesheet">

{% endblock css %}

{% block contenido %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Reportes</h2>
        <h2 class="pull-right" style="margin-top: -35px;">{{empresa}}</h2>
        <ol class="breadcrumb">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Inicio<span class="caret"></span></a> {% include "dropdown-menu.html" %}
            </li>
            <li>
                <a href="/reportes/inicio/">Módulo Reportes</a>
            </li>
            <li class="active">
                <strong>Reportes de Cultivos</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
        {% if 'agricultura.list_agr_cultivo' in usuario.get_all_permissions %}
		    <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title hvr-overline-from-left" style="width: 100%;">
                    <h5>Cultivos Ingresados</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content">
                            <input type="text" class="form-control input-sm m-b-xs" id="filter"
                                   placeholder="Search in table">
                            <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="8" data-filter=#filter>
                                <thead>
                                <tr>
                                    <th data-toggle="true">Nombre</th>
                                    <th>Especie</th>
                                    <th>Parcela</th>
                                    <th>Estado</th>
                                    {% if 'agricultura.print_agr_cultivo' in usuario.get_all_permissions %}
                                        <th>Generar</th>
                                    {% endif %}
                                </tr>
                                </thead>
                                <tbody>
                                {% for datos in datosCultivo %}
                                <tr>
                                    <td>{{ datos.cult_detalle }}</td>
                                    <td>{{ datos.esp_id.esp_nombre }}</td>
                                    <td>{{ datos.parcela.par_id.sar_nombre }}</td>
                                    <td>
                                        {% if datos.cult_estado %}
                                            <span class="label label-info ">Activo</span>
                                        {% else %}
                                            <span class="label label-danger ">Inactivo</span>
                                        {% endif %}
                                    </td>
                                    {% if 'agricultura.print_agr_cultivo' in usuario.get_all_permissions %}
                                    <td>
                                        <a href="/agricultura/formulario/{{ datos.cult_id}}" >
                                            <i class="fa fa-file-pdf-o"></i></a>
                                    </td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="5">
                                        <ul class="pagination pull-right"></ul>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
            </div>
		</div>
    {% endif %}


	</div>

</div>


    <!-- modales -->
    <div class="modal inmodal fade" id="modalVer" tabindex="-1" role="dialog"  aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="animated bounceInRight">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
            <center>
                <img id="imagen" width="400" class="img-circle" height="400">
            </center>
        </div>
    </div>
</div>
    <div class="modal inmodal fade" id="modalParametros" tabindex="-1" role="dialog"  aria-hidden="true" style="display: none;">
        <div class="modal-dialog"> <!-- modal-sm -->
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                        <h4><label class="modal-title" id="nombre">Nombre de especie</label></h4>
                        <cite title="" data-original-title="">Si existen datos seran modificados</cite>
                </div>
                  <div class="modal-body">
                    <form class="form-horizontal" id="form_parametros" name="form_parametros" method="post" enctype="multipart/form-data" action="{% url 'agricultura:url_especie_valores' %}">{% csrf_token %}
                        <div class="row" id="form-Modal">
                        </div>
                        <input type="text" id="id" name="id" class="hide"/>
                    
                </div>
                <div class="modal-body">
                    <button class="btn btn-primary" type="submit">Guardar</button>
                </div>
                </form>
            </div>
        </div>
    </div>

{% endblock contenido %}

{% block scripts %}
<script>
    document.onload = cargarFunciones();
    function cargarFunciones(){
        $('#reportes_cultivos').addClass('active');
    };          
</script>
<script src="/static/agricultura/js/plugins/chosen/chosen.jquery.js"></script>
<script src="/static/agricultura/js/plugins/select2/select2.full.min.js"></script>
<script src="/static/agricultura/js/plugins/cropper/cropper.min.js"></script>
<script src="/static/agricultura/js/plugins/switchery/switchery.js"></script>

<!-- DataTables -->
<script src="/static/agricultura/js/plugins/footable/footable.all.min.js"></script>


<script src="/static/agricultura/scripts/op_especie.js"></script>

{% endblock scripts %}
