{% extends "app_reportes/base_r.html" %}
{% block contenido %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Reportes</h2>
        <h2 class="pull-right" style="margin-top: -35px;">{{empresa}}</h2>
        <ol class="breadcrumb">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Inicio<span class="caret"></span></a> {% include "dropdown-menu.html" %}
            </li>
            <li>
                <a href="/reportes/inicio/">Módulo Reportes</a>
            </li>
            <li class="active">
                <strong>{{ tituloReporte }}</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>
  <!--   <legend>{{ tituloReporte }}</legend> -->
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <embed src="{{ urlReporte }}" width="100%" height="550" alt="pdf" pluginspage="http://www.adobe.com/products/acrobat/readstep2.html">
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script>
    document.onload = cargarFunciones();
    function cargarFunciones(){
        $('#reportes_cultivos').addClass('active');
    };          
</script>
{% endblock scripts %}