{% extends "app_eventos/base.html" %}
{% load static %}
{% block css %}

<link rel="stylesheet" href="{% static "app_rules_engine/css/plugins/bootstrap-sortable/bootstrap-sortable.css" %}">
<link href="{% static "app_rules_engine/css/customstyle.css" %}" rel="stylesheet">

  <!-- Sweet Alert Ya sta cargado-->

{% endblock css %}


{% block contenido %}
    <div class="row">
            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">

            <div class="ibox">
                <div class="ibox-title">

                        <h5>Modelos de reglasss</h5>
                        <div class="ibox-tools">

                        <a  class="btn btn-primary btn-xs show-model-add" data-toggle="modal" >Agregar nuevo modeloo</a>
                    </div>
                </div>
                        <div class="ibox-content">
                            
                            <div class="input-group">
                                <input type="text" placeholder="Buscar modelo" class="input form-control" id="txtsearchmodelo">
                                <span class="input-group-btn">
                                        <button type="button" class="btn btn btn-primary" id="btnmodelosearch"> <i class="fa fa-search"></i> Buscar</button>
                                </span>
                            </div>

                            <br>
                            <div class="datatablerowsjh">
                                <div class="full-height-scroll">                  
                                    <table class="table table-striped table-hover sortable">
                                        <thead>
                                            <tr>
                                                <th data-defaultsort='disabled'>Estado</th>
                                                <th class="" data-defaultsign="AZ">Nombre</th>
                                                <th>Acciones</th>
                                                <th data-defaultsort='disabled'>Reglas</th>
                                            </tr>
                                        </thead>                                                
                                            <tbody>

                                                {% for modelo in modelos %}
                                                    <tr>
                                                        <td class="client-status">{% if modelo.mod_estado == 'a' %}
                                                         <span class="label label-primary">Activo</span>

                                                        {% else  %}
                                                        {% if modelo.mod_estado == 'i'  %}
                                                            <span class="label label-default">Inactivo</span>
                                                        {% endif %}
                                                            
                                                        {% endif %}

                                                        </td>
                                                        <td >{{modelo.mod_nombre}}</td>
                                                        
                                                        <td>

                                                            <button type="button" class="btn btn-sm btn-white show-model-edit" data-toggle="modal" data-id="{{ modelo.mod_id }}" data-name="{{ modelo.mod_nombre }}" data-estado="{{ modelo.mod_estado }}"> <i class="fa fa-pencil" ></i>
                                                            </button>
                                                            <button type="button" class="btn btn-sm btn-white delete-model" data-id="{{ modelo.mod_id }}"> <i class="fa fa-trash" ></i> 
                                                            </button>   
                                                        </td>
                                                        <td> 
                                                            <a href="/rules_engine/modelos/?modelo={{ modelo.mod_id }}"  class="client-link" >Ver reglas <i class="fa fa-chevron-right fa-1x"></i><i class="fa fa-chevron-right fa-1x"></i></a>

                                                        
                                                        </td>
                                                    
                                                    </tr>
                                                {%   endfor %}
                                                
                                                
                                                </tbody>
                                            </table>
                                </div>
                            </div>
                            
                        </div>
                    </div>


            </div>
            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                <div class="ibox">
                <div class="ibox-title">
                        <h5>{{ modelo.mod_nombre }} <small>/ Reglas</small></h5>
                        <div class="ibox-tools">
                        <a href="/rules_engine/reglas/?modelo_id={{ modelo.mod_id }}" class="btn btn-primary btn-xs">Agregar nueva regla</a>
                    </div>
                </div>
                        <div class="ibox-content">
                            
                            <div class="input-group">
                                <input type="text" placeholder="Buscar regla" class="input form-control" id="">
                                <span class="input-group-btn">
                                        <button type="button" class="btn btn btn-primary"> <i class="fa fa-search"></i> Buscar</button>
                                </span>
                            </div>
                            <br>
                            <div class="datatablerowsjh">
                                <div class="full-height-scroll">                  
                                    <table class="table table-striped table-hover footable table table-stripped footable-loaded tablet breakpoint">
                                        <thead>
                                            <tr>
                                                <th>Estado</th>
                                                <th class="footable-visible footable-last-column footable-sortable footable-sorted">Nombre</th>
                                                <th>Acciones</th>
                                                
                                            </tr>
                                        </thead>    



                                                <tbody>
                                                {% for regla in reglas %}
                                                    <tr>
                                                        <td class="client-status">
                                                        {% if regla.reg_estado %}
                                                            <span class="label label-primary">Activee</span>
                                                        {% else %}
                                                            <span class="label label-default">Inactive</span>
                                                        {% endif %}
                                                        </td>

                                                        <td >{{ regla.reg_nombre }}</td>                                   
                                                        <td>
                                                            <a  class="btn btn-sm btn-white" href="/rules_engine/reglas/?reg_id={{ regla.reg_id }}"> <i class="fa fa-pencil" ></i> <a/>
                                                            <a  class="btn btn-sm btn-white btn-regla-delete" data-id="{{ regla.reg_id }}" id=""> <i class="fa fa-trash"  ></i> </a>
                                                        </td>
                                                        
                                                        
                                                    </tr>
                                                {% endfor %}
                                               
                                               
                                                
                                                </tbody>
                                            </table>
                                </div>
                            </div>
                            
                        </div>
                    </div>
            </div>

        </div>




    <!--MODALES JH START-->


<div id="modal-model-add" class="modal fade"    data-id="" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Agregar modelo {{ empresa }}</h4>
            </div>
            <div class="modal-body">
               
                    <fieldset>
                        <!-- Form Name -->
                        
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="textinput">Nombre</label>
                            <div class="col-md-6">
                                <input id="txtnamemodeladd"  name="txtnamemodeladd" type="text" placeholder="Ingrese nombre de modelo" class="form-control input-md" required="" value="">
                                <span class="help-block">Ejm: Modelo 1</span>
                            </div>
                        </div>
                    </fieldset>
               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" name="txtnamemodeledit">Close</button>
                <button type="button" class="btn btn-primary" id="btnguardarmodelo">Guardar</button>
            </div>
        </div>
    </div>
</div>
<div id="modal-model-edit" class="modal fade"    data-id="" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Editar modelo</h4>
            </div>
            <div class="modal-body">


                <div class="form-horizontal">
                    <fieldset>
                        <!-- Form Name -->
                        
                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="textinput">Nombre</label>
                            <div class="col-md-6">
                                <input id="txtnamemodeledit" name="txtnamemodeledit" type="text" placeholder="Ingrese nombre de modelo" class="form-control input-md" required="" id="txtnamemodeledit" value="">
                                <span class="help-block">Ejm: Modelo 1</span>
                            </div>
                            <label class="col-md-4 control-label" for="textinput">Activar</label>
                            <div class="checkbox col-md-6" >
                                <label>
                                    <input type="checkbox" value="" id ="mod_estado_edit">                                   
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btneditarmodelo">Editar</button>
            </div>
        </div>
    </div>
</div>

    <!--MODALES JH END-->
{% endblock contenido %}

{% block scripts %}

<!-- Moment js (dependencia de bs3 sortable) -->
    <script src="/static/agricultura/js/bootstrap.min.js"></script>
    <script src='{% static "app_rules_engine/js/plugins/moment/moment.min.js" %}'></script>
    <!-- Boostrap Sortable alert -->
    <script src='{% static "app_rules_engine/js/plugins/bootstrap-sortable/bootstrap-sortable.js" %}'></script>    
    <script src="{% static 'app_rules_engine/js/modelspage.js' %}"></script>

<script>

var empresa= "{{empresa}}";
</script>
{% endblock scripts %}

