{% extends "app_eventos/base_eventos.html" %}
{% load static %}
{% block css %}
	<link rel="stylesheet" href="{% static "app_rules_engine/css/plugins/bootstrap-sortable/bootstrap-sortable.css" %}">
	<link href="{% static "app_rules_engine/css/customstyle.css" %}" rel="stylesheet">
	<!-- Sweet Alert Ya sta cargado-->

	<!-- Importacion adicional JH start -->
	<link href='{% static "app_rules_engine/css/plugins/chosen/chosen.css" %}' rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="http://drvic10k.github.io/bootstrap-sortable/Contents/bootstrap-sortable.css">
	<link rel="stylesheet" type="text/css" href="http://drvic10k.github.io/bootstrap-sortable/Contents/bootstrap-sortable.css">

	<style> .chosen-container{
		width: 350px !important;
	}    
	</style>
	<link href="{% static 'app_rules_engine/css/plugins/iCheck/custom.css' %}" rel="stylesheet">

	<!-- Importacion adicional JH end -->

	 <!--Importacio de jquerybuilder-->
  <!--<link rel="stylesheet" href="jquerybuilder/bower_components/bootstrap/dist/css/bootstrap.min.css" id="bt-theme">-->

  <link rel="stylesheet" href="{% static 'app_rules_engine/jquerybuilder/bower_components/bootstrap-select/dist/css/bootstrap-select.min.css' %}">
  <link rel="stylesheet" href="{% static 'app_rules_engine/jquerybuilder/bower_components/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css' %}">
  <link rel="stylesheet" href="{% static 'app_rules_engine/jquerybuilder/bower_components/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css' %}">
  <link rel="stylesheet" href="{% static 'app_rules_engine/jquerybuilder/bower_components/selectize/dist/css/selectize.bootstrap3.css' %}">

  <link rel="stylesheet" href="{% static 'app_rules_engine/jquerybuilder/dist/css/query-builder.default.css' %}" id="qb-theme">

  <link rel="stylesheet" href="http://mistic100.github.io/jQuery-QueryBuilder/assets/flags/flags.css">

  <!--Hasta aqui la importacion de jquery-->


{% endblock css %}
{% block contenido %}



   <div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<div class="ibox">
				<div class="ibox-title">
						<h5>Modelos de reglas</h5> 
						<div class="ibox-tools">
						
					</div>
				</div>
						<div class="ibox-content">
						
							<form >
									<div class="form-group">
										<legend>Agregar nueva regla</legend>
									</div>
									<label class="col-sm-2 control-label">Nombre</label>
									<div class="col-sm-10">
										<input type="text" placeholder="Ingrese Nombre de la regla" class="form-control" id="txt-regla-nombre" value="{{ regla.reg_nombre }}">
									</div>
									<div class="col-sm-10">
										<input type="text" placeholder="Ingrese Nombre de la regla" class="hide" id="txt-empresa-id" value="{{ empresa1.emp_id }}">
									</div>
									
							
							</form>
					   
							
							<hr>
							<hr>

							<div class="">

								<div id="superreglas"></div>  

								<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
									<div class="form-group">
									<div class="i-checks"><label> <input type="checkbox" value=""    id="chk-evento-activo" {% if evento %} checked {% endif %}> <i></i> Activar evento</label></div>
								</div>
								</div>


								<!--
								<h3>Get json</h3>
							   <button class="btn btn-primary parse-json">JSON</button>
							  <button class="btn btn-success set">From JSON</button>
							  --> 
<!--
							  <div id="result" class="hide">
								  <h3>Output</h3>
								  <pre></pre>
								</div>
								--> 
							</div>
							
						   <div  {% if evento %}class="collapse btns-regla-guardar" {% else %}class="collapse in btns-regla-guardar"{% endif %} align="center" >
							   <button class="btn btn-primary" onclick=" location.href='http://localhost:8000/reglas/acciones_reglas/'">Cancelar</button>
								
								<button class="btn btn-primary " id="btn-regla-add">Guardar</button>
							   
						   </div>
							  
							
							
						</div>
					</div>


			</div>
			

		</div>
		<!---->
		
			<!---->

		<div {% if  evento %}class="row panel-evento collapse in"{% else %}class="row panel-evento collapse"{% endif %} >
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="ibox ">
					<div class="ibox-title">
						<h5>Evento <small>Generar un evento para esta accion</small></h5>

						
						<div class="ibox-tools">
							<a class="collapse-link">
								<i class="fa fa-chevron-up"></i>
							</a>
							<a class="dropdown-toggle" data-toggle="dropdown" href="#">
								<i class="fa fa-wrench"></i>
							</a>
							<ul class="dropdown-menu dropdown-user">
								<li><a href="#">Config option 1</a>
								</li>
								<li><a href="#">Config option 2</a>
								</li>
							</ul>
							<a class="close-link">
								<i class="fa fa-times"></i>
							</a>

						</div>
					</div>
					<div class="ibox-content">
						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="row">
									
									
									<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
									   <div class="form-group">
											<input type="text" placeholder="Nombre del evento" class="form-control" id="txt-evento-nombre" value="{{ evento.ev_nombre }}">
										</div> 
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
										<div class="form-group">                                      
											<textarea name="txt" class="form-control" rows="2" required="required" placeholder="Descripcion del evento" id="txt-evento-descripcion" value="">{{ evento.ev_descripcion }}</textarea>                           
											
										</div>
										
									</div>
								</div>

								
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-sm-6 b-r"><h3 class="m-t-none m-b">Acciones</h3>
								<p>Generar acciones para este evento </p>
								<div class="datatablerowsjh">
								<div class="full-height-scroll">                  
									<table class="table table-striped table-hover footable table table-stripped footable-loaded tablet breakpoint">
										<thead>
											<tr>
												<th>Activar</th>
												<th>Dispositivo</th>
												<th class="footable-visible footable-last-column footable-sortable footable-sorted">Actuador</th>
												<th>Accion</th>
											</tr>
										</thead>    



												<tbody>
												{% for actuador in actuadores %}
													<tr>
														<td>
															<label class="checkbox-inline i-checks"> <input type="checkbox" value="option1" name="activar" data-id="{{ actuador.iot_id }}" data-sa-senial="{{ actuador.sa_senial }}" id="chk-activar-{{ actuador.iot_id }}"></label>
														</td>
														<td>
															{{ actuador.dis_id }}
														</td>
														<td>
															{{ actuador.ted_id.ted_name }}
														</td>
														<td>
															<div class="switch">

																{% if actuador.sa_senial == "a" %}
																	<input type="number" id="accion{{ actuador.iot_id }}" class="form-control input-sm"  value="" min="{5"} max="" step="1.5" required="required" title="" style="width:80px" data-id="{{ actuador.iot_id }}" name="accion[]" data-sa-senial= "{{ actuador.sa_senial }}">
																{% else %}
																
																  <div class="onoffswitch">
																	<input type="checkbox" checked class="onoffswitch-checkbox" data-id="{{ actuador.iot_id }}" name="accion[]" id="accion{{ actuador.iot_id }}" data-sa-senial= "{{ actuador.sa_senial }}">
																	<label class="onoffswitch-label" for="accion{{ actuador.iot_id }}">
																		<span class="onoffswitch-inner"></span>
																		<span class="onoffswitch-switch"></span>
																	</label>
																</div>  
																															  
																{% endif %}
																
															</div>
														</td>
														
													</tr>
												{% endfor %}
													
											   
												
												</tbody>
											</table>
								</div>
							</div>




							</div>
							<div class="col-sm-6">
								<h4>Alertas</h4>
								<p>Activar alertas para este evento</p>
								<form class="form-horizontal" method="get">
									
									<div class="form-group">
										<label class="col-sm-2 control-label">Asunto:</label>

										<div class="col-sm-10">
												<input type="text" class="form-control" value="{{ mensaje_alerta.men_asunto }}" placeholder="Asunto" id="txt-asunto">
										</div>
										</div>
									<div class="form-group">
										<label for="" class="col-sm-2 control-label">Contenido:</label>
										<div class="col-sm-10">
											<textarea name=""  class="form-control" rows="3" required="required" placeholder="Message" id="txt-contenido">{{ mensaje_alerta.men_texto }}</textarea>
										</div>
										
									</div>
									
									<div class="form-group ">
										<label for="" class="col-sm-2 control-label">Destino:</label>
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 chosen-container">
											<select data-placeholder="Selecciones destinatario(s)" class="chosen-select" multiple tabindex="4" id="select-destinatarios">
										  <option value=""></option>
											{% for usuario in usuarios %}
											
										   <option value="{{ usuario.per_id }}">{{ usuario.per_nombres }}</option>
											{% endfor %}
										  
										  
										</select>
										</div>
										 
									</div>
									<div class="m-t-md">
									<small class="pull-right m-r">
										<i class="fa fa-clock-o"> </i>
										<a  data-toggle="modal" href="#modal-form"> Destinatarios personalizado </a> 
									</small>
								   
			  
			  
									
								</form>
							</div>
						</div>

						<div class="row" id="btns-evento-guardar">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" align="center" >
								 <button class="btn btn-primary parse-json" onclick=" location.href='http://localhost:8000/reglas/acciones_reglas/'">Cancelar</button>
							
							<button class="btn btn-primary parse-json" id="btn-evento-add">Guardar evento</button>
							
							</div>
						</div>
						

					</div>

				</div>
			</div>

		</div>
		<!--START-->
		
		<!--END-->
		
		<!--START-->
		
		<!-- END -->
		


		<!--MOdalses-->
		   <!--Modal forms JH start-->
<div id="modal-form" class="modal fade" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Modal title</h4>
			</div>
			<div class="modal-body">
				
				
				<div class="row">
					<div class="datatableshowtypemessages">
						<div class="full-height-scroll">
							<table class="table table-striped table-hover tablet breakpoint sortable">
								<thead>
									<tr>
										<th data-defaultsign="AZ">Usuario</th>
										<th data-defaultsign="AZ">Nombres</th>
										<th data-defaultsort='disabled'>Correo</th>
										<th data-defaultsort='disabled'>SMS</th>
										<th data-defaultsort='disabled'>Facebook</th>
										<th data-defaultsort='disabled'>Whatsapp</th>
										<th data-defaultsort='disabled'>Twitter</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="">
											josehmaza
										</td>
										<td >Hernan Maza</td>
										
										<td>
											
											<div class="form-group">
												<div class="i-checks"><label> <input type="checkbox" value="" checked=""> <i></i></label></div>
											</div>
											
										</td>
										<td>
											
											<div class="form-group">
												<div class="i-checks"><label> <input type="checkbox" value="" checked=""> <i></i>  </label></div>
											</div>
											
										</td>
										<td>
											
											<div class="form-group">
												<div class="i-checks"><label> <input type="checkbox" value="" checked=""> <i></i></label></div>
											</div>
											
										</td>
										<td>
											
											<div class="form-group">
												<div class="i-checks"><label> <input type="checkbox" value="" checked=""> <i></i> </label></div>
											</div>
											
										</td>
										<td>
											
											<div class="form-group">
												<div class="i-checks"><label> <input type="checkbox" value="" checked=""> <i></i></label></div>
											</div>
											
										</td>
										
									</tr>
									<tr>
										<td class="">
											pepehmaza
										</td>
										<td >Pepe Maza</td>
										
										<td>
											
											<div class="form-group">
												<div class="i-checks"><label> <input type="checkbox" value="" checked=""> <i></i></label></div>
											</div>
											
										</td>
										<td>
											
											<div class="form-group">
												<div class="i-checks"><label> <input type="checkbox" value="" checked=""> <i></i>  </label></div>
											</div>
											
										</td>
										<td>
											
											<div class="form-group">
												<div class="i-checks"><label> <input type="checkbox" value="" checked=""> <i></i></label></div>
											</div>
											
										</td>
										<td>
											
											<div class="form-group">
												<div class="i-checks"><label> <input type="checkbox" value="" checked=""> <i></i> </label></div>
											</div>
											
										</td>
										<td>
											
											<div class="form-group">
												<div class="i-checks"><label> <input type="checkbox" value="" checked=""> <i></i></label></div>
											</div>
											
										</td>
										
									</tr>
									<tr>
										<td class="">
											bhmaza
										</td>
										<td >Bernabe Maza</td>
										
										<td>
											
											<div class="form-group">
												<div class="i-checks"><label> <input type="checkbox" value="" checked=""> <i></i></label></div>
											</div>
											
										</td>
										<td>
											
											<div class="form-group">
												<div class="i-checks"><label> <input type="checkbox" value="" checked=""> <i></i>  </label></div>
											</div>
											
										</td>
										<td>
											
											<div class="form-group">
												<div class="i-checks"><label> <input type="checkbox" value="" checked=""> <i></i></label></div>
											</div>
											
										</td>
										<td>
											
											<div class="form-group">
												<div class="i-checks"><label> <input type="checkbox" value="" checked=""> <i></i> </label></div>
											</div>
											
										</td>
										<td>
											
											<div class="form-group">
												<div class="i-checks"><label> <input type="checkbox" value="" checked=""> <i></i></label></div>
											</div>
											
										</td>
										
									</tr>
									<tr>
										<td class="">
											andreshmaza
										</td>
										<td >Andres Maza</td>
										
										<td>
											
											<div class="form-group">
												<div class="i-checks"><label> <input type="checkbox" value="" checked=""> <i></i></label></div>
											</div>
											
										</td>
										<td>
											
											<div class="form-group">
												<div class="i-checks"><label> <input type="checkbox" value="" checked=""> <i></i>  </label></div>
											</div>
											
										</td>
										<td>
											
											<div class="form-group">
												<div class="i-checks"><label> <input type="checkbox" value="" checked=""> <i></i></label></div>
											</div>
											
										</td>
										<td>
											
											<div class="form-group">
												<div class="i-checks"><label> <input type="checkbox" value="" checked=""> <i></i> </label></div>
											</div>
											
										</td>
										<td>
											
											<div class="form-group">
												<div class="i-checks"><label> <input type="checkbox" value="" checked=""> <i></i></label></div>
											</div>
											
										</td>
										
									</tr>
									
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div>
	<!--Modal forms JH end--> 
		<!--START-->
		modelo id es {{ modelo.mod_id }}
{% endblock contenido %}
{% block scripts %}
	<!-- Moment js (dependencia de bs3 sortable) -->
	<script src='{% static "app_rules_engine/js/plugins/moment/moment.min.js" %}'></script>
	<!-- Boostrap Sortable alert -->
	<script src='{% static "app_rules_engine/js/plugins/bootstrap-sortable/bootstrap-sortable.js" %}'></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.3.0/bootbox.min.js"></script>
	<script>
	var empresa= "{{empresa}}";
	var modeloid = "{{ modelo }}";
	var is_edit = "{{ editar }}";
	var regla_general_id =  "{{ regla.reg_id }}"

	</script>

	<!--IMPORTACIONES jH end-->
	<script src="{% static 'app_rules_engine/js/plugins/chosen/chosen.jquery.js' %}"></script>
	<script src="{% static 'app_rules_engine/js/plugins/iCheck/icheck.min.js' %}"></script>
	<!--Importacopm de scripts de jquerybuilder-->
	<!--<script src="jquerybuilder/bower_components/jquery/dist/jquery.js"></script>-->
	<script src="{% static 'app_rules_engine/jquerybuilder/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src='{% static "app_rules_engine/jquerybuilder/bower_components/bootstrap-select/dist/js/bootstrap-select.min.js" %}'></script>
	<script type="text/javascript" src='{% static "app_rules_engine/jquerybuilder/bower_components/bootbox/bootbox.js" %}'></script>
	<script type="text/javascript" src='{% static "app_rules_engine/jquerybuilder/bower_components/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js" %}'></script>
	<script type="text/javascript" src='{% static "app_rules_engine/jquerybuilder/bower_components/selectize/dist/js/standalone/selectize.min.js" %}'></script>
	<script type="text/javascript" src='{% static "app_rules_engine/jquerybuilder/bower_components/jquery-extendext/jQuery.extendext.min.js" %}'></script>
	<script type="text/javascript" src='{% static "app_rules_engine/jquerybuilder/bower_components/sql-parser/browser/sql-parser.js" %}'></script>
	<script type="text/javascript" src='{% static "app_rules_engine/jquerybuilder/bower_components/doT/doT.js" %}'></script>
	<script type="text/javascript" src='{% static "app_rules_engine/jquerybuilder/dist/js/query-builder.js" %}'></script>
	<!-- Esto es mi script personalizado-->


	<script type="text/javascript" src='{% static "app_rules_engine/js/querybuildercustom.js" %}'></script>
	
	<script src="{% static 'app_rules_engine/js/rulespage.js' %}"></script>
	<!--Hasta aqui la importacion-->
	
	<script>  
	$(document).ready(function() {
	   
		$('.i-checks').iCheck({
			checkboxClass: 'icheckbox_square-green',
			radioClass: 'iradio_square-green',
		});
		$('.chosen-select').chosen();
		$('.chosen-select-deselect').chosen({
			allow_single_deselect: true
		});
		var sensores_actuadores = "{{ sactuadores }}";
		var is_edit = "{{ editar }}";
		var condiciones = [], subreglas = [], sa= [], acciones = [], destinatarios = [];

		{% for sa in sactuadores %}
				var tmp = {};
				tmp.iot_id = '{{ sa.iot_id }}';
				tmp.sa_nombre = "{{ sa.ted_id.ted_name  }}";
				tmp.dis_nombre ="{{ sa.dis_id  }}";
				tmp.sa_senial = "{{ sa.sa_senial  }}";
				tmp.sa_categoria = "{{ sa.sa_categoria  }}";
				sa.push(tmp);
				
		{% endfor %}

		if (is_edit) {

			{% for condicion in  condiciones %}
				var tmpc = {};
				tmpc.con_id = "{{ condicion.con_id }}";
				tmpc.m_condicion = "{{  condicion.con_operador_logico }}";
				tmpc.m_parent = "{{ condicion.condicion_parent.con_id }}";
				condiciones.push(tmpc);
			{% endfor %}

			{% for subregla in  subreglas %}
				var tmps = {}
				tmps.iot_id = "{{ subregla.iot_id.iot_id }}"
				tmps.operador = "{{  subregla.sub_operador }}"
				tmps.factor1 = "{{ subregla.sub_valor1 }}"
				{% if subregla.sub_valor2 %}
					tmps.factor2 = "{{ subregla.sub_valor2 }}"    
				{% endif %}
				
				tmps.con_id = "{{ subregla.condicion.con_id }}"
				subreglas.push(tmps)
			{% endfor %}
			{% for accion_actuador in  acciones_actuadores %}
				var tmpa = {}
				tmpa.acc_valor = "{{ accion_actuador.acc_valor }}"
				tmpa.iot = "{{  accion_actuador.iot.iot_id }}"               
				acciones.push(tmpa)
			{% endfor %}

			console.log("ConDICIONE   SSSS ", condiciones)
			{% for destino in  destinatarios %}
				console.log("============"+{{ destino.per_id }})
				destinatarios.push("{{ destino.per_id }}")
			{% endfor %}
			$('#select-destinatarios').val(destinatarios).trigger('chosen:updated');
			console.log("los destinatarios del evento son "+destinatarios)
			for(var aa of acciones){
				console.log('accion senial es ',$('#accion'+aa.iot).data('sa-senial'))
			   $('#chk-activar-'+aa.iot).iCheck('check');
			   if ($('#accion'+aa.iot).data('sa-senial')=='a') {
				   $('#accion'+aa.iot).val(aa.acc_valor)
			   } else if ($('#accion'+aa.iot).data('sa-senial')=='d') {
				console.log('>>>>>>>>>>','#chk-activar-'+(aa.acc_valor == 0))
				   $('#accion'+aa.iot).prop('checked', aa.acc_valor == 0?false:true)
			   }
			  
			}


		 







		} 
		console.log('LOS VALORES recibidos ', condiciones)
		console.log('=====')
		console.log(subreglas);

		
		console.log('sensores atuaaa', sa);
		var modelojh = getmodelo(subreglas, sa, condiciones );
		setmodelo(modelojh);




	});
	
	</script>
{% endblock scripts %}