{% extends "app_eventos/base_eventos.html" %}

{% block css %}

<link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
<link href="http://querybuilder.js.org/assets/css/docs.min.css" rel="stylesheet">
<link href="http://querybuilder.js.org/assets/css/style.css" rel="stylesheet">


<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.3.0/bootbox.min.js"></script>
<script src="http://querybuilder.js.org/assets/js/docs.min.js"></script>




<link href="/static/agricultura/css/plugins/chosen/chosen.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/select2/select2.min.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/cropper/cropper.min.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/switchery/switchery.css" rel="stylesheet">
<!-- Data Tables -->
<link href="/static/agricultura/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/footable/footable.core.css" rel="stylesheet">
<link href="/static/agricultura/time/datepicker.min.css" rel="stylesheet" type="text/css">
<link href="/static/agricultura/time/datepicker.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="/static/agricultura/multiselect/multiple-select.css"/>
<link rel="stylesheet" href="/static/eventos/query-builder.css"/>



<link href="/static/agricultura/css/formValidation.min.css" rel="stylesheet">



{% endblock css %}

{% block contenido %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        Modelo {{ modelo_id }}
        <h2>Gestion de Reglas</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/agricultura">Inicio</a>
            </li>
            <li class="active">
                <strong>Reglas Simples y Logicas para Actuadores</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="">
       <a class="btn btn-primary btn-sm btn-block" onclick=" location.href='http://localhost:8000/reglas/reglas_agregar/?modelo_id={{ modelo_id }}' "><i class="fa fa-plus"></i>CREAR REGLAS LOGICA</a>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		    <div class="col-md-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title hvr-overline-from-left" style="width: 100%;">
                    <h5>Lista de Reglas </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content">
                            <input type="text" class="form-control input-sm m-b-xs" id="filter"
                                   placeholder="Search in table">
                            <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="8" data-filter=#filter>
                                <thead>
                                <tr>
                                    <th data-toggle="true">Nombre</th>
                                    <th>Fecha </th>
                                    <th>Condicion</th>
                                    <th>Eliminar</th>
                                    <th data-hide="all">Descripcion</th>
                                    <th data-hide="all">Dispositivo</th>
                                    <th data-hide="all">Lista de Actuadores</th>
                                    <th data-hide="all">Estado de Actuadores</th>
                                    <th data-hide="all">Medio de Notificacion</th>
                                    <th data-hide="all">Usuarios a Notificar</th>
                                    <th data-hide="all">Asunto de Notificacion</th>
                                    <th data-hide="all">Mensaje de Notificacion</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for r in reglas  %}
                                <tr>
                                    <td>{{ r.reg_nombre }}</td>

                                    <td>
                                    {% for e in eventos %}
                                        {% if e.reg_id == r.reg_id %}
                                            {{ e.ev_fecha_hora }}
                                        {% endif %} 
                                    {% endfor %}
                                    </td>


                                    <td>
                                    {% for c in condiciones %}
                                        {% if c.reg_id == r.reg_id %}
                                            {% if r.reg_tipo == "Simple" %}
                                                {% if c.con_valor2 == None %}
                                                    Rule Typle {{ r.reg_tipo }}: {{ c.iot.ted_id.ted_name }}  {{ c.con_operador }} a {{ c.con_valor1 }}
                                                {% else %}
                                                    Rule Typle {{ r.reg_tipo }}:{{ c.iot.ted_id.ted_name }}  {{ c.con_operador }} {{ c.con_valor1 }} y {{ c.con_valor2 }}
                                                {% endif %}
                                            {% else %}
                                                Rule type Logica{{ r.reg_tipo }}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    </td>

                                    <td>
                                    <a type="button" href="reglas/eliminar/{{r.reg_id}}"  class="btn btn-warning btn-xs editButton">Eliminar</a>

                                    {% if r.reg_tipo == "Simple"%}
                                        <button type="button" data-id="{{ r.reg_id }}" class="btn btn-warning btn-xs editButton">Editar</button>
                                    {% else %}
                                        <a type="button" onclick=" location.href='http://localhost:8000/reglas/reglas_agregar/?reg_id={{r.reg_id}}' " class="btn btn-warning btn-xs editButton">Editar</a>
                                    {% endif %}
                                    </td>


                                    <td>
                                    {% for e in eventos %}
                                        {% if e.reg_id == r.reg_id %}
                                            {{ e.ev_descripcion }}
                                        {% endif %}
                                    {% endfor %}
                                    </td>

                                    <td>
                                    {% for acc_act in accion_actuador%}
                                         {% if acc_act.acc.ev.reg_id == r.reg_id%}
                                            {{ acc_act.iot.dis_id.dis_nombre }}
                                            {{ "<!--" }}
                                         {% endif %}
                                    {% endfor %}
                                    {{ "-->" }}
                                    </td>


                                    <td>
                                    {% for acc_act in accion_actuador%}
                                         {% if acc_act.acc.ev.reg_id == r.reg_id%}
                                            {{ acc_act.iot.ted_id.ted_name }} ,
                                         {% endif %}
                                    {% endfor %}
                                    </td>

                                    <td>
                                     {% for c in condiciones%}
                                         {% if c.reg_id == r.reg_id%}
                                            {{ c.con_valor_actuador }}
                                         {% endif %}
                                    {% endfor %}
                                    </td>


                                    <td>
                                      Disponible correo electronico unicamente

                                    </td>


                                    <td>
                                        {% for m in mendajeDestinatario %}
                                            {% if m.men.ev.reg_id == r.reg_id%}
                                                {{ m.per.per_nombres }} {{ m.per.per_apellidos }} ,
                                            {% endif %}
                                        {% endfor %}

                                    </td>

                                    <td>
                                        {% for m in mensajeAlerta %}
                                            {% if m.ev.reg_id == r.reg_id %}
                                                {{ m.men_asunto }}
                                            {% endif %}
                                        {% endfor %}

                                    </td>

                                    <td>
                                        {% for m in mensajeAlerta %}
                                            {% if m.ev.reg_id == r.reg_id %}
                                                {{ m.men_texto }}
                                            {% endif %}
                                        {% endfor %}

                                    </td>


                                </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="5">
                                        <ul class="pagination pull-right"></ul>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
            </div>
		</div>
             <div class="col-md-6">
			<div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3>Parametros  para crear Reglas Simples </h3>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" style="display: block;">
                    <form name="form_general" class="form-horizontal" id="form_categoria" method="post" action="{% url 'reglas:url_acciones_agregar' %}">{% csrf_token %}
                        <form id="userForm" method="post" class="form-horizontal" style="display: none;">
                        <div class="form-group">
                            <label class="col-xs-3 control-label">Nombre</label>
                            <div class="col-xs-9">
                                <input type="text" class="form-control" placeholder="Nombre" id="txt_nombre" name="txt_nombre"  />
                                <input name="id" class="hide"  id="id">
                            </div>
                        </div>
                        <input name="id" class="hide"  id="id">


                        <div class="form-group">
                            <label class="col-xs-3 control-label">Descripcion</label>
                            <div class="col-xs-9">
                                <input type="text" class="form-control" placeholder="Descripcion" id="txt_descripcion" name="txt_descripcion"  />

                            </div>
                        </div>


                        <div id="div_estado2">
                            <div class="form-group"><label class="col-xs-3 control-label" name="cat_est">Seleccione el Dispositivo</label>
                                <div class="col-xs-9">
                                    <div id="contenedorSelect">
                                        <select class="chosen-select" name="select_dispositivo"  onchange="llenar_select_sensores('/reglas/listar_sensores_disp?id=')" style="width: 100%" id = "select_dispositivo">
                                           {% for par in dispositivo %}
                                                   <option value="{{ par.dis_id }}">{{ par.dis_nombre }}<option>
                                           {% endfor %}

                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <script type="text/javascript">
                        $(function () {
                            $('#select_sensores').multiselect({
                                includeSelectAllOption: true
                            });
                        });
                    </script>
                        <div class="form-group"><label class="col-xs-3 control-label">Condicion:</label>
                            <div class="col-xs-9">
                                <select name="select_condicion2" style="width: 100%" id="select_condicion2" class="chosen-select">
                                    <option value="OR">OR<option>
                                    <option value="AND">AND<option>
                                </select><br>
                            </div>

                        </div>

                        <div class="form-group"><label class="col-xs-3 control-label">Seleccione los Sensores:</label>
                            <div class="col-xs-9">
                                <select name="select_sensores" style="width: 100%" id="select_sensores" multiple="multiple">

                                </select><br>
                            </div>

                        </div>


                        <div class="form-group"><label class="col-xs-3 control-label">Tengan valores:</label>

                            <div class="col-lg-3">
                                <div id="contenedorSelect">
                                    <select class="chosen-select"  onchange="cajita_valor2()" style="width: 100%" id = "select_condicion" name="select_condicion" >
                                       <option value="mayor">Mayor</option>
                                       <option value="mayor igual">Mayor/Igual</option>
                                       <option value="menor">Menor</option>
                                       <option value="menor igual">Menor Igual</option>
                                       <option value="igual">Igual</option>
                                       <option value="no igual">No Igual</option>
                                       <option value="entre">Entre</option>
                                       <option value="no entre">No Entre</option>
                                    
                                    </select>
                                </div>
                            </div>

                            <script>
                                function cajita_valor2(){
                                    if ($("#select_condicion").val()=="entre" || $("#select_condicion").val()=="no entre")
                                        $("#txt_valor2").show()
                                    else
                                        $("#txt_valor2").hide()
                                        $("#txt_valor2").empty()
                                }

                                function actualiza_notf_email(){
                                    if ($("#select_notificacion").val()=="email"){
                                        $("#div_email").show()
                                    }
                                    else{
                                        $("#div_email").hide()
                                    }


                                }

                            </script>

                            <div class="col-lg-3">
                                <input type="number" class="form-control" placeholder="valor 1" id="txt_valor1" name="txt_valor1"  />
                            </div>

                            <div class="col-lg-3">
                                <input type="number" class="form-control" placeholder="valor 2" id="txt_valor2" style="display: none" name="txt_valor2"  />
                            </div>

                        </div>


                        <div class="form-group"><label class="col-xs-3 control-label">Accionar los Actuadores</label>
                            <div class="col-xs-9">
                                <select name="select_actuadores" id="select_actuadores" style="width: 100%"  ng-model="data.multipleSelect" multiple="" class="ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched">

                                </select><br>
                            </div>

                        </div>




                        <script>
                            function fnc(th) {
                            var conten = document.getElementById('contenedor'); //El div que va a tener los inputs
                            var i = conten.getElementsByTagName('input').length || 0; //El numero de input que ya tiene, si no es 0
                            var num = Number(th.options[th.selectedIndex].text) || 0; //El numero de seleccion
                            if (num > i) { //si el numero es mas grande que la cantidad de inputs
                                for (; i < num; i++) {
                                    var input = document.createElement('input'); //Lo creamos
                                    input.type = 'text';
                                    input.name = '_' + i; //El name del input segun su numero
                                    input.value = th.options[i + 1].text; //El texto que va a tener el input
                                    conten.appendChild(input); //Lo agregamos al contenedor
                                }
                            } else if (i > num) { //si hay mas inputs que el num de la selecion
                                for (; i > num; i--) {
                                    conten.removeChild(conten.childNodes[i]); //Los borramos de mayor a menor
                                }
                            }
                        };
                        </script>


                        <script>
                            var sql_import_export = 'name LIKE "%Johnny%" AND (category = 2 OR in_stock = 1)';

                            var mongo_import_export = {
                              "$and": [{
                                "price": { "$lt": 10.25 }
                              }, {
                                "$or": [{
                                  "category": 2
                                }, {
                                  "category": 1
                                }]
                              }]
                            }

                            $('#builder89').queryBuilder({
                              plugins: ['bt-tooltip-errors'],

                              filters: [{
                                id: 'name',
                                label: 'Name',
                                type: 'string'
                              }, {
                                id: 'category',
                                label: 'Category',
                                type: 'integer',
                                input: 'select',
                                values: {
                                  1: 'Books',
                                  2: 'Movies',
                                  3: 'Music',
                                  4: 'Tools',
                                  5: 'Goodies',
                                  6: 'Clothes'
                                },
                                operators: ['equal', 'not_equal', 'in', 'not_in', 'is_null', 'is_not_null']
                              }, {
                                id: 'in_stock',
                                label: 'In stock',
                                type: 'integer',
                                input: 'radio',
                                values: {
                                  1: 'Yes',
                                  0: 'No'
                                },
                                operators: ['equal']
                              }, {
                                id: 'price',
                                label: 'Price',
                                type: 'double',
                                validation: {
                                  min: 0,
                                  step: 0.01
                                }
                              }, {
                                id: 'id',
                                label: 'Identifier',
                                type: 'string',
                                placeholder: '____-____-____',
                                operators: ['equal', 'not_equal'],
                                validation: {
                                  format: /^.{4}-.{4}-.{4}$/
                                }
                              }]
                            });

                            $('#btn-reset').on('click', function() {
                              $('#builder89').queryBuilder('reset');
                            });

                            $('#btn-set-sql').on('click', function() {
                              $('#builder89').queryBuilder('setRulesFromSQL', sql_import_export);
                            });

                            $('#btn-set-mongo').on('click', function() {
                              $('#builder89').queryBuilder('setRulesFromMongo', mongo_import_export);
                            });

                            $('#btn-get-sql').on('click', function() {
                              var result = $('#builder89').queryBuilder('getSQL', 'question_mark');

                              if (result.sql.length) {
                                alert(result.sql + '\n\n' + JSON.stringify(result.params, null, 2));
                              }
                            });

                            $('#btn-get-mongo').on('click', function() {
                              var result = $('#builder89').queryBuilder('getMongo');

                              if (!$.isEmptyObject(result)) {
                                alert(JSON.stringify(result, null, 2));
                              }
                            });
                        </script>

                        <div id="div_estado2">
                            <div class="form-group"><label class="col-lg-3 control-label" name="cat_est">Estado de los actuadores</label>
                                <div class="col-lg-3">
                                    <input type="checkbox" class="js-switch" checked name="check_estado"  id="check_estado"/>
                                </div>
                            </div>
                        </div>


                        <div class="form-group"><label class="col-xs-3 control-label">Medio de Notificacion:</label>
                            <div class="col-xs-9">
                                <div id="contenedorSelect">
                                    <select class="chosen-select"  onchange="actualiza_notf_email()" style="width: 100%" id = "select_notificacion" name="select_notificacion" >
                                       <option>Sin Notificaciones</option>
                                       <option value="email">Notificacion via Correo Electronico</option>
                                       <option>Notificacion via telefono movil</option>
                                       <option>Notificacion via Facebook</option>
                                       <option>Notificacion via Twitter</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div name="div_email" id="div_email" style="display: none">
                            <center><h2 class="modal-title" >Notoficacion via Email</h2></center>
                            </br>


                            <div class="form-group"><label class="col-xs-3 control-label">Asunto:</label>
                                <div class="col-lg-9">
                                    <div id="contenedorSelect">
                                       <input type="text" class="form-control" placeholder="Asunto" id="txt_asunto" name="txt_asunto"/>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group"><label class="col-xs-3 control-label">Usuarios:</label>
                                <div class="col-xs-9">
                                    <div id="contenedorSelect">
                                        <select name="select_usuarios" id="select_usuarios" style="width: 100%"  ng-model="data.multipleSelect" multiple="" class="ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched">
                                            {% for i in personas%}
                                                <option value="{{ i.per_email }}"> {{ i.per_nombres }} {{ i.per_apellidos }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group"><label class="col-xs-3 control-label">Mensaje:</label>
                                <div class="col-xs-9">
                                    <div id="contenedorSelect">
                                          <textarea type="text" name="txt_mensaje" id="txt_mensaje" style="width: 100%" placeholder="Escriba un mensaje a notificar"> </textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group text-rigth">
	                        <div class="col-lg-offset-5">
                                <div id="contenedor_btn">
	                             <button class="btn btn-primary" type="submit">Guardar</button>
                                </div>
	                        </div>
	                    </div>
                    </form>

                </div>
            </div>
		</div>

	</div>

</div>


{% endblock contenido %}

{% block scripts %}

<script>
    document.onload = cargarFunciones();
    function cargarFunciones(){
        $('#contenedorReglas').addClass('active');
        $('#acciones').addClass('active');
    };
</script>
<script src="/static/agricultura/js/bootstrap.min.js"></script>

<script src="/static/agricultura/js/plugins/chosen/chosen.jquery.js"></script>
<script src="/static/agricultura/js/plugins/select2/select2.full.min.js"></script>
<script src="/static/agricultura/js/plugins/cropper/cropper.min.js"></script>
<script src="/static/agricultura/js/plugins/switchery/switchery.js"></script>

<!-- DataTables -->
<script src="/static/agricultura/js/plugins/footable/footable.all.min.js"></script>

<script src="/static/agricultura/js/formValidation.min.js"></script>
<script src="/static/agricultura/js/bootstrapForm.min.js"></script>
<script src="/static/agricultura/multiselect/jquery.multiple.select.js"></script>

<script src="/static/agricultura/scripts/op_especie.js"></script>
<script src="/static/agricultura/time/datepicker.js"></script>
<script src="/static/agricultura/time/datepicker.min.js"></script>
<script src="/static/agricultura/time/datepicker.en.js"></script>
<script src="/static/agricultura/js/bootbox.js"></script>
<script src="/static/eventos/query-builder.js"></script>




<link href="http://querybuilder.js.org/dist/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css" rel="stylesheet">
<link href="http://querybuilder.js.org/dist/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css" rel="stylesheet">
<link href="http://querybuilder.js.org/dist/selectize/dist/css/selectize.bootstrap3.css" rel="stylesheet">
<link href="http://querybuilder.js.org/dist/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
<link href="http://querybuilder.js.org/dist/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
<link href="http://querybuilder.js.org/dist/jQuery-QueryBuilder/dist/css/query-builder.default.min.css" rel="stylesheet">

<script src="http://querybuilder.js.org/dist/moment/min/moment.min.js"></script>
<script src="http://querybuilder.js.org/dist/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script src="http://querybuilder.js.org/dist/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js"></script>
<script src="http://querybuilder.js.org/dist/selectize/dist/js/standalone/selectize.min.js"></script>
<script src="http://querybuilder.js.org/dist/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="http://querybuilder.js.org/dist/jQuery-QueryBuilder/dist/js/query-builder.standalone.min.js"></script>
<script src="http://querybuilder.js.org/dist/sql-parser/browser/sql-parser.js"></script>

<script>var baseurl = 'http://querybuilder.js.org';</script>
<script src="http://querybuilder.js.org/assets/demo-basic.js"></script>
<script src="http://querybuilder.js.org/assets/demo-widgets.js"></script>
<script src="http://querybuilder.js.org/assets/demo-plugins.js"></script>
<script src="http://querybuilder.js.org/assets/demo-import-export.js"></script>
<script src="http://querybuilder.js.org/assets/demo.js"></script>





















<script>
    // Config box

    document.onload = tema();

    function llenar_select_sensores(mi_url){
        $('#select_sensores').empty();

        id = $('#select_dispositivo').val()
        $.ajax({
            type: "get",
            url:mi_url+id,
            dataType: "json",
            async: true,
            processData: false,
            contentType: false,
            success: function(json){
                for (i = 0; i < json["tam"]; i++) {
                    $('#select_sensores').append('<option value="'+json["id"+i]+'">'+json["nombre"+i]+'</option>');
                }
            }
        });
        
        llenar_select_actuadores('/reglas/listar_actuadores_disp?id=')
    }

    function llenar_select_actuadores(mi_url){
        $('#select_actuadores').empty();

        id = $('#select_dispositivo').val()
        $.ajax({
            type: "get",
            url:mi_url+id,
            dataType: "json",
            async: true,
            processData: false,
            contentType: false,
            success: function(json){
                for (i = 0; i < json["tam"]; i++) {
                    $('#select_actuadores').append('<option value="'+json["id"+i]+'">'+json["nombre"+i]+'</option>');
                }
            }
        });
    }

    function tema(){
        $("body").removeClass("skin-2");
        $("body").removeClass("skin-3");
        $("body").addClass("skin-1");
        //llenar_select_sensores('/reglas/listar_sensores_disp?id=')
        //llenar_select_actuadores('/reglas/listar_actuadores_disp?id=')

    }

    // Enable/disable fixed top navbar
    $('#fixednavbar').click(function () {
        if ($('#fixednavbar').is(':checked')) {
            $(".navbar-static-top").removeClass('navbar-static-top').addClass('navbar-fixed-top');
            $("body").removeClass('boxed-layout');
            $("body").addClass('fixed-nav');
            $('#boxedlayout').prop('checked', false);

            if (localStorageSupport) {
                localStorage.setItem("boxedlayout",'off');
            }

            if (localStorageSupport) {
                localStorage.setItem("fixednavbar",'on');
            }
        } else {
            $(".navbar-fixed-top").removeClass('navbar-fixed-top').addClass('navbar-static-top');
            $("body").removeClass('fixed-nav');

            if (localStorageSupport) {
                localStorage.setItem("fixednavbar",'off');
            }
        }
    });

    // Enable/disable fixed sidebar
    $('#fixedsidebar').click(function () {
        if ($('#fixedsidebar').is(':checked')) {
            $("body").addClass('fixed-sidebar');
            $('.sidebar-collapse').slimScroll({
                height: '100%',
                railOpacity: 0.9
            });

            if (localStorageSupport) {
                localStorage.setItem("fixedsidebar",'on');
            }
        } else {
            $('.sidebar-collapse').slimscroll({destroy: true});
            $('.sidebar-collapse').attr('style', '');
            $("body").removeClass('fixed-sidebar');

            if (localStorageSupport) {
                localStorage.setItem("fixedsidebar",'off');
            }
        }
    });

    // Enable/disable collapse menu
    $('#collapsemenu').click(function () {
        if ($('#collapsemenu').is(':checked')) {
            $("body").addClass('mini-navbar');
            SmoothlyMenu();

            if (localStorageSupport) {
                localStorage.setItem("collapse_menu",'on');
            }

        } else {
            $("body").removeClass('mini-navbar');
            SmoothlyMenu();

            if (localStorageSupport) {
                localStorage.setItem("collapse_menu",'off');
            }
        }
    });

    // Enable/disable boxed layout
    $('#boxedlayout').click(function () {
        if ($('#boxedlayout').is(':checked')) {
            $("body").addClass('boxed-layout');
            $('#fixednavbar').prop('checked', false);
            $(".navbar-fixed-top").removeClass('navbar-fixed-top').addClass('navbar-static-top');
            $("body").removeClass('fixed-nav');
            $(".footer").removeClass('fixed');
            $('#fixedfooter').prop('checked', false);

            if (localStorageSupport) {
                localStorage.setItem("fixednavbar",'off');
            }

            if (localStorageSupport) {
                localStorage.setItem("fixedfooter",'off');
            }


            if (localStorageSupport) {
                localStorage.setItem("boxedlayout",'on');
            }
        } else {
            $("body").removeClass('boxed-layout');

            if (localStorageSupport) {
                localStorage.setItem("boxedlayout",'off');
            }
        }
    });

    // Enable/disable fixed footer
    $('#fixedfooter').click(function () {
        if ($('#fixedfooter').is(':checked')) {
            $('#boxedlayout').prop('checked', false);
            $("body").removeClass('boxed-layout');
            $(".footer").addClass('fixed');

            if (localStorageSupport) {
                localStorage.setItem("boxedlayout",'off');
            }

            if (localStorageSupport) {
                localStorage.setItem("fixedfooter",'on');
            }
        } else {
            $(".footer").removeClass('fixed');

            if (localStorageSupport) {
                localStorage.setItem("fixedfooter",'off');
            }
        }
    });

    // SKIN Select
    $('.spin-icon').click(function () {
        $(".theme-config-box").toggleClass("show");
    });

    // Default skin
    $('.s-skin-0').click(function () {
        $("body").removeClass("skin-1");
        $("body").removeClass("skin-2");
        $("body").removeClass("skin-3");
    });

    // Blue skin
    $('.s-skin-1').click(function () {
        $("body").removeClass("skin-2");
        $("body").removeClass("skin-3");
        $("body").addClass("skin-1");
    });

    // Inspinia ultra skin
    $('.s-skin-2').click(function () {
        $("body").removeClass("skin-1");
        $("body").removeClass("skin-3");
        $("body").addClass("skin-2");
    });

    // Yellow skin
    $('.s-skin-3').click(function () {
        $("body").removeClass("skin-1");
        $("body").removeClass("skin-2");
        $("body").addClass("skin-3");
    });

    if (localStorageSupport) {
        var collapse = localStorage.getItem("collapse_menu");
        var fixedsidebar = localStorage.getItem("fixedsidebar");
        var fixednavbar = localStorage.getItem("fixednavbar");
        var boxedlayout = localStorage.getItem("boxedlayout");
        var fixedfooter = localStorage.getItem("fixedfooter");

        if (collapse == 'on') {
            $('#collapsemenu').prop('checked','checked')
        }
        if (fixedsidebar == 'on') {
            $('#fixedsidebar').prop('checked','checked')
        }
        if (fixednavbar == 'on') {
            $('#fixednavbar').prop('checked','checked')
        }
        if (boxedlayout == 'on') {
            $('#boxedlayout').prop('checked','checked')
        }
        if (fixedfooter == 'on') {
            $('#fixedfooter').prop('checked','checked')
        }
    }

    document.onload = inicio();
    function inicio() {
        //toastr.options.positionClass = 'toast-top-center';

        }
</script>





<script>
$(document).ready(function() {
    $(('#txt_fecha_inicio')).datepicker({
	language: 'en',
    dateFormat:"yyyy-mm-dd"
})
    $(('#txt_fecha_fin')).datepicker({
	language: 'en',
    dateFormat:"yyyy-mm-dd"
})
    $('#form_categoria')
        .formValidation({
            framework: 'bootstrap',
            icon: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },

            fields: {
                txt_nombre: {
                    validators: {
                        notEmpty: {
                            message: 'Campo requierdo'
                        }
                    }
                },

                txt_asunto: {
                    validators:{
                            notEmpty:{
                                message: 'Campo requerido'
                            }
                    }
                },
                select_usuarios: {
                    validators:{
                            notEmpty:{
                                message: 'Campo requerido'
                            }
                    }
                },
                txt_mensaje: {
                    validators:{
                            notEmpty:{
                                message: 'Campo requerido'
                            }
                    }
                },

                select_sensores: {
                    validators: {
                        notEmpty: {
                            message: 'Campo requierdo'
                        }
                    }
                },

                txt_valor1: {
                    validators: {
                        notEmpty: {
                            message: 'Campo requierdo'
                        }
                    }
                },

                select_actuadores: {
                    validators: {
                        notEmpty: {
                            message: 'Campo requierdo'
                        }
                    }
                },

                txt_intervalo: {
                    validators: {
                        notEmpty: {
                            message: 'Campo requierdo'
                        },
                        stringLength: {
                            min: 2,
                            max: 50,
                            message: 'La Abreviatura debe contener mas de 2 y menos que 50 caracteres'
                        }

                    }
                },
                txt_descripcion: {
                    validators: {
                        notEmpty: {
                            message: 'Campo requerido'
                        }
                    }
                }
            }
        })
        $('.editButton').on('click', function() {

        // Get the record's ID via attribute
        var id = $(this).attr('data-id');
        $.ajax({
            url: '/reglas/verRegla/' + id,
            method: 'get'

        }).success(function(response) {
            $('#form_categoria')
                .find('[name="id"]').val(response[0].id).end()
                .find('[name="txt_nombre"]').val(response[0].nombre).end()
                .find('[name="txt_descripcion"]').val(response[0].descripcion).end()
                .find('[name="txt_valor1"]').val(response[0].valor1).end()
                .find('[name="txt_valor2"]').val(response[0].valor2).end()
                .find('[name="txt_asunto"]').val(response[0].asunto).end()
                .find('[name="txt_mensaje"]').val(response[0].mensaje).end()

                $("#select_evento").trigger("chosen:updated");
        });
    });
});


</script>
    <script>
            $("#website").multipleSelect({
                isOpen: true,
                keepOpen: false,
                filter: true,
                single:true,
                minimumCountSelected: 2
            });
    </script>
{% endblock scripts %}
