{% extends "app_eventos/base_eventos.html" %}

{% block css %}

<link href="/static/agricultura/css/plugins/chosen/chosen.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/select2/select2.min.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/cropper/cropper.min.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/switchery/switchery.css" rel="stylesheet">
<!-- Data Tables -->
<link href="/static/agricultura/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/footable/footable.core.css" rel="stylesheet">
<link href="/static/agricultura/time/datepicker.min.css" rel="stylesheet" type="text/css">
<link href="/static/agricultura/time/datepicker.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="/static/agricultura/multiselect/multiple-select.css"/>



<link href="/static/agricultura/css/formValidation.min.css" rel="stylesheet">



{% endblock css %}

{% block contenido %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Gestion de Acciones Repetitivas</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/agricultura">Inicio</a>
            </li>
            <li class="active">
                <strong>Planifique sus actuadores para que actuen en un horario determinado</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		    <div class="col-md-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title hvr-overline-from-left" style="width: 100%;">
                    <h5>Lista de Acciones Repetitivas </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content">
                            <input type="text" class="form-control input-sm m-b-xs" id="filter"
                                   placeholder="Search in table">
                            <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="8" data-filter=#filter>
                                <thead>
                                <tr>
                                    <th data-toggle="true">Nombre</th>
                                    <th>Descripcion</Condicion></th>
                                    <th>Fecha de Creacion</th>
                                    <th>Eliminar</th>
                                    <th data-hide="all">Dispositivo</th>
                                    <th data-hide="all">Lista de Actuadores</th>
                                    <th data-hide="all">Tiempo de Ejecucion</th>
                                    <th data-hide="all">Medio de Notificacion</th>
                                    <th data-hide="all">Usuarios a Notificar</th>
                                    <th data-hide="all">Asunto de Notificacion</th>
                                    <th data-hide="all">Mensaje de Notificacion</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for a in acciones  %}
                                    {% if a.acc_tipo == "Repetitiva" %}
                                        <tr>
                                            <td>{{ a.acc_nombre }}</td>
                                            <td>{{ a.acc_descripcion }}</td>
                                            <td>
                                            {% for e in eventos %}
                                                {% if e.ev_id == a.ev_id %}
                                                    {{ e.ev_fecha_hora }}
                                                {% endif %}
                                            {% endfor %}
                                            </td>
                                            <td>
                                               <a type="button" href="reglas/eliminarAccr/{{a.acc_id}}"  class="btn btn-warning btn-xs editButton">Eliminar</a>
                                               <button type="button" data-id="{{ a.acc_id }}" class="btn btn-warning btn-xs editButton">Editar</button>
                                            </td>



                                            <td>
                                            {% for acc_act in accion_actuador%}
                                                 {% if acc_act.acc.ev.reg == r.reg_id%}
                                                    {{ acc_act.iot.dis_id.dis_nombre }}
                                                    {{ "<!--" }}
                                                 {% endif %}
                                            {% endfor %}
                                            {{ "-->" }}

                                            </td>


                                            <td>


                                            {% for acc_act in accion_actuador%}
                                                 {% if acc_act.acc_id == a.acc_id%}
                                                    {{ acc_act.iot.ted_id.ted_name }} ,

                                                 {% endif %}
                                            {% endfor %}


                                            </td>

                                            <td>Se ejecuta cada {{ a.acc_interval_ejec }}{{ a.acc_iejt }} durante  {{ a.acc_interval_espera }}{{ a.acc_iest }}</td>

                                            <td>
                                              Disponible correo electronico unicamente

                                            </td>


                                            <td>
                                                {% for m in mendajeDestinatario %}
                                                        {% if m.men.ev == a.ev%}
                                                            {{ m.per.per_nombres }} {{ m.per.per_apellidos }} ,
                                                        {% endif %}
                                                {% endfor %}

                                            </td>

                                            <td>
                                                {% for m in mensajeAlerta %}
                                                    {% if m.ev_id == a.ev_id %}
                                                        {{ m.men_asunto }}
                                                    {% endif %}
                                                {% endfor %}

                                            </td>

                                            <td>
                                                {% for m in mensajeAlerta %}
                                                    {% if m.ev_id == a.ev_id %}
                                                        {{ m.men_texto }}
                                                    {% endif %}
                                                {% endfor %}

                                            </td>


                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="5">
                                        <ul class="pagination pull-right"></ul>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
            </div>
		</div>
             <div class="col-md-6">
			<div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h3>Crear acciones Repetitivas</h3>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" style="display: block;">
                    <form name="form_general" class="form-horizontal" id="form_categoria" method="post" action="{% url 'reglas:url_acciones_agregar_repetitivas' %}">{% csrf_token %}
{#                        <form id="userForm" method="post" class="form-horizontal" style="display: none;">#}
                        <div class="form-group">
                            <label class="col-xs-3 control-label">Nombre</label>
                            <div class="col-xs-9">
                                <input type="text" class="form-control" placeholder="Nombre" id="txt_nombre" name="txt_nombre"  />
                                <input name="id" class="hide"  id="id">
                            </div>
                        </div>
                        <input name="id" class="hide"  id="id">



                        <div class="form-group"><label class="col-xs-3 control-label">Descripcion</label>
                            <div class="col-lg-9">
                            	<input type="text" placeholder="Descripcion" class="form-control" id="txt_descripcion" name="txt_descripcion">
                            </div>
                        </div>



                        <div class="form-group"><label class="col-xs-3 control-label">Seleccione el Dispositivo:</label>
                            <div class="col-xs-9">
                                <div id="contenedorSelect">
                                    <select class="chosen-select"  style="width: 100%" id = "select_dispositivo" name="select_dispositivo" onchange="llenar_select_actuadores('/reglas/listar_actuadores_disp?id=')">
                                    <!--<select data-placeholder="Escoga Categoria..."  style="width: 100%"   class="chosen-select" tabindex="2" id="select_unidad_medida" name="select_unidad_medida">-->

                                         {% for i in dispositivo %}
                                              <option value="{{ i.dis_id }}">{{ i.dis_nombre }}<option>
                                         {% endfor %}

                                    </select>
                                </div>
                            </div>
                        </div>


                        <div class="form-group"><label class="col-xs-3 control-label">Seleccione los actuadores:</label>
                            <div class="col-xs-9">
                                <select  style="width: 100%" id="select_actuadores" name="select_actuadores" multiple="" class="ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched">

                                </select>
                            </div>

                        </div>


                        <div class="form-group"><label class="col-xs-3 control-label">Tiempo de Inicio</label>
                            <div class="col-lg-9">
                            	<input type="datetime-local" placeholder="HH:mm" class="form-control" id="txt_hora_inicio" name="txt_hora_inicio">
                            </div>
                        </div>

                        <div class="form-group"><label class="col-xs-3 control-label">Numero de veces a repetir:</label>
                            <div class="col-lg-9">
                            	<input type="number" placeholder="" class="form-control" id="txt_interval_rep" name="txt_interval_rep">
                            </div>

                        </div>

                        <div class="form-group"><label class="col-xs-3 control-label">Espera entre repeticiones</label>
                            <div class="col-lg-3">
                            	<input type="number" placeholder="" class="form-control" id="txt_interval_ejec" name="txt_interval_ejec">
                            </div>
                            <div class="col-lg-6">
                                <div id="contenedorSelect">
                                    <select class="chosen-select"  style="width: 100%" id = "select_time_iej" name="select_time_iej" >
                                    <!--<select data-placeholder="Escoga Categoria..."  style="width: 100%"   class="chosen-select" tabindex="2" id="select_unidad_medida" name="select_unidad_medida">-->
                                       <option>Minutos</option>
                                       <option>Horas</option>
                                       <option>Dias</option>


                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group"><label class="col-xs-3 control-label">Durante el tiempo de:</label>
                            <div class="col-lg-3">
                            	<input type="number" placeholder="" class="form-control" id="txt_interval_espera" name="txt_interval_espera">
                            </div>
                            <div class="col-lg-6">
                                <div id="contenedorSelect">
                                    <select class="chosen-select"  style="width: 100%" id = "select_time_ies" name="select_time_ies" >
                                    <!--<select data-placeholder="Escoga Categoria..."  style="width: 100%"   class="chosen-select" tabindex="2" id="select_unidad_medida" name="select_unidad_medida">-->
                                       <option>Minutos</option>
                                       <option>Horas</option>
                                       <option>Dias</option>


                                    </select>
                                </div>
                            </div>
                        </div>




                        <div class="form-group"><label class="col-xs-3 control-label">Medio de Notificacion:</label>
                            <div class="col-xs-9">
                                <div id="contenedorSelect">
                                    <select class="chosen-select"  onchange="actualiza_notf_email()" style="width: 100%" id = "select_notificacion" name="select_notificacion" >
                                       <option>Sin Notificaciones</option>
                                       <option value="email">Notificacion via Correo Electronico</option>
                                       <option>Notificacion via telefono movil</option>
                                       <option>Notificacion via Facebook</option>
                                       <option>Notificacion via Twitter</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div name="div_email" id="div_email" style="display: none">
                            <center><h2 class="modal-title" >Notoficacion via Email</h2></center>
                            </br>


                            <div class="form-group"><label class="col-xs-3 control-label">Asunto:</label>
                                <div class="col-lg-9">
                                    <div id="contenedorSelect">
                                       <input type="text" class="form-control" placeholder="Asunto" id="txt_asunto" name="txt_asunto"  />
                                    </div>
                                </div>
                            </div>

                            <div class="form-group"><label class="col-xs-3 control-label">Usuarios:</label>
                                <div class="col-xs-9">
                                    <div id="contenedorSelect">
                                        <select name="select_usuarios" id="select_usuarios" style="width: 100%"  ng-model="data.multipleSelect" multiple="" class="ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched">
                                            {% for i in personas%}
                                                <option value="{{ i.per_email }}"> {{ i.per_nombres }} {{ i.per_apellidos }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group"><label class="col-xs-3 control-label">Mensaje:</label>
                                <div class="col-xs-9">
                                    <div id="contenedorSelect">
                                          <textarea type="text" name="txt_mensaje" id="txt_mensaje" style="width: 100%" placeholder="Escriba un mensaje a notificar"> </textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group text-rigth">
	                        <div class="col-lg-offset-5">
                                <div id="contenedor_btn">
	                             <button class="btn btn-primary" type="submit">Guardar</button>
                                </div>
	                        </div>
	                    </div>

                        <script>
                                function cajita_valor2(){
                                    if ($("#select_condicion").val()=="entre")
                                        $("#txt_valor2").show()

                                    else
                                        $("#txt_valor2").hide()
                                }

                                function actualiza_notf_email(){
                                    if ($("#select_notificacion").val()=="email")
                                        $("#div_email").show()

                                    else
                                        $("#div_email").hide()
                                }

                         </script>
                    </form>

                </div>
            </div>
		</div>

	</div>

</div>


{% endblock contenido %}

{% block scripts %}



<script>
    document.onload = cargarFunciones();
    function cargarFunciones(){
        $('#contenedorReglas').addClass('active');
        $('#acciones').addClass('active');
    };
</script>
<script src="/static/agricultura/js/bootstrap.min.js"></script>

<script src="/static/agricultura/js/plugins/chosen/chosen.jquery.js"></script>
<script src="/static/agricultura/js/plugins/select2/select2.full.min.js"></script>
<script src="/static/agricultura/js/plugins/cropper/cropper.min.js"></script>
<script src="/static/agricultura/js/plugins/switchery/switchery.js"></script>

<!-- DataTables -->
<script src="/static/agricultura/js/plugins/footable/footable.all.min.js"></script>

<script src="/static/agricultura/js/formValidation.min.js"></script>
<script src="/static/agricultura/js/bootstrapForm.min.js"></script>
<script src="/static/agricultura/multiselect/jquery.multiple.select.js"></script>

<script src="/static/agricultura/scripts/op_especie.js"></script>
<script src="/static/agricultura/time/datepicker.js"></script>
<script src="/static/agricultura/time/datepicker.min.js"></script>
<script src="/static/agricultura/time/datepicker.en.js"></script>
<script src="/static/agricultura/js/bootbox.js"></script>

<script>
    // Config box

    document.onload = tema();

    function llenar_select_sensores(mi_url){
        $('#select_sensores').empty();

        id = $('#select_dispositivo').val()
        $.ajax({
            type: "get",
            url:mi_url+id,
            dataType: "json",
            async: true,
            processData: false,
            contentType: false,
            success: function(json){
                for (i = 0; i < json["tam"]; i++) {
                    $('#select_sensores').append('<option value="'+json["id"+i]+'">'+json["nombre"+i]+'</option>');
                }
            }
        });
        llenar_select_actuadores('/reglas/listar_actuadores_disp?id=')
    }

    function llenar_select_actuadores(mi_url){
        $('#select_actuadores').empty();

        id = $('#select_dispositivo').val()
        $.ajax({
            type: "get",
            url:mi_url+id,
            dataType: "json",
            async: true,
            processData: false,
            contentType: false,
            success: function(json){
                for (i = 0; i < json["tam"]; i++) {
                    $('#select_actuadores').append('<option value="'+json["id"+i]+'">'+json["nombre"+i]+'</option>');
                }
            }
        });
    }

    function tema(){
        $("body").removeClass("skin-2");
        $("body").removeClass("skin-3");
        $("body").addClass("skin-1");
        //llenar_select_sensores('/reglas/listar_sensores_disp?id=')
        //llenar_select_actuadores('/reglas/listar_actuadores_disp?id=')

    }

    // Enable/disable fixed top navbar
    $('#fixednavbar').click(function () {
        if ($('#fixednavbar').is(':checked')) {
            $(".navbar-static-top").removeClass('navbar-static-top').addClass('navbar-fixed-top');
            $("body").removeClass('boxed-layout');
            $("body").addClass('fixed-nav');
            $('#boxedlayout').prop('checked', false);

            if (localStorageSupport) {
                localStorage.setItem("boxedlayout",'off');
            }

            if (localStorageSupport) {
                localStorage.setItem("fixednavbar",'on');
            }
        } else {
            $(".navbar-fixed-top").removeClass('navbar-fixed-top').addClass('navbar-static-top');
            $("body").removeClass('fixed-nav');

            if (localStorageSupport) {
                localStorage.setItem("fixednavbar",'off');
            }
        }
    });

    // Enable/disable fixed sidebar
    $('#fixedsidebar').click(function () {
        if ($('#fixedsidebar').is(':checked')) {
            $("body").addClass('fixed-sidebar');
            $('.sidebar-collapse').slimScroll({
                height: '100%',
                railOpacity: 0.9
            });

            if (localStorageSupport) {
                localStorage.setItem("fixedsidebar",'on');
            }
        } else {
            $('.sidebar-collapse').slimscroll({destroy: true});
            $('.sidebar-collapse').attr('style', '');
            $("body").removeClass('fixed-sidebar');

            if (localStorageSupport) {
                localStorage.setItem("fixedsidebar",'off');
            }
        }
    });

    // Enable/disable collapse menu
    $('#collapsemenu').click(function () {
        if ($('#collapsemenu').is(':checked')) {
            $("body").addClass('mini-navbar');
            SmoothlyMenu();

            if (localStorageSupport) {
                localStorage.setItem("collapse_menu",'on');
            }

        } else {
            $("body").removeClass('mini-navbar');
            SmoothlyMenu();

            if (localStorageSupport) {
                localStorage.setItem("collapse_menu",'off');
            }
        }
    });

    // Enable/disable boxed layout
    $('#boxedlayout').click(function () {
        if ($('#boxedlayout').is(':checked')) {
            $("body").addClass('boxed-layout');
            $('#fixednavbar').prop('checked', false);
            $(".navbar-fixed-top").removeClass('navbar-fixed-top').addClass('navbar-static-top');
            $("body").removeClass('fixed-nav');
            $(".footer").removeClass('fixed');
            $('#fixedfooter').prop('checked', false);

            if (localStorageSupport) {
                localStorage.setItem("fixednavbar",'off');
            }

            if (localStorageSupport) {
                localStorage.setItem("fixedfooter",'off');
            }


            if (localStorageSupport) {
                localStorage.setItem("boxedlayout",'on');
            }
        } else {
            $("body").removeClass('boxed-layout');

            if (localStorageSupport) {
                localStorage.setItem("boxedlayout",'off');
            }
        }
    });

    // Enable/disable fixed footer
    $('#fixedfooter').click(function () {
        if ($('#fixedfooter').is(':checked')) {
            $('#boxedlayout').prop('checked', false);
            $("body").removeClass('boxed-layout');
            $(".footer").addClass('fixed');

            if (localStorageSupport) {
                localStorage.setItem("boxedlayout",'off');
            }

            if (localStorageSupport) {
                localStorage.setItem("fixedfooter",'on');
            }
        } else {
            $(".footer").removeClass('fixed');

            if (localStorageSupport) {
                localStorage.setItem("fixedfooter",'off');
            }
        }
    });

    // SKIN Select
    $('.spin-icon').click(function () {
        $(".theme-config-box").toggleClass("show");
    });

    // Default skin
    $('.s-skin-0').click(function () {
        $("body").removeClass("skin-1");
        $("body").removeClass("skin-2");
        $("body").removeClass("skin-3");
    });

    // Blue skin
    $('.s-skin-1').click(function () {
        $("body").removeClass("skin-2");
        $("body").removeClass("skin-3");
        $("body").addClass("skin-1");
    });

    // Inspinia ultra skin
    $('.s-skin-2').click(function () {
        $("body").removeClass("skin-1");
        $("body").removeClass("skin-3");
        $("body").addClass("skin-2");
    });

    // Yellow skin
    $('.s-skin-3').click(function () {
        $("body").removeClass("skin-1");
        $("body").removeClass("skin-2");
        $("body").addClass("skin-3");
    });

    if (localStorageSupport) {
        var collapse = localStorage.getItem("collapse_menu");
        var fixedsidebar = localStorage.getItem("fixedsidebar");
        var fixednavbar = localStorage.getItem("fixednavbar");
        var boxedlayout = localStorage.getItem("boxedlayout");
        var fixedfooter = localStorage.getItem("fixedfooter");

        if (collapse == 'on') {
            $('#collapsemenu').prop('checked','checked')
        }
        if (fixedsidebar == 'on') {
            $('#fixedsidebar').prop('checked','checked')
        }
        if (fixednavbar == 'on') {
            $('#fixednavbar').prop('checked','checked')
        }
        if (boxedlayout == 'on') {
            $('#boxedlayout').prop('checked','checked')
        }
        if (fixedfooter == 'on') {
            $('#fixedfooter').prop('checked','checked')
        }
    }

    document.onload = inicio();
    function inicio() {
        //toastr.options.positionClass = 'toast-top-center';

        }
</script>





<script>
$(document).ready(function() {
    $(('#txt_fecha_inicio')).datepicker({
	language: 'en',
    dateFormat:"yyyy-mm-dd"
})
    $(('#txt_fecha_fin')).datepicker({
	language: 'en',
    dateFormat:"yyyy-mm-dd"
})
    $('#form_categoria')
        .formValidation({
            framework: 'bootstrap',
            icon: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                txt_nombre: {
                    validators: {
                        notEmpty: {
                            message: 'Campo requierdo'
                        }
                    }
                },

                select_actuadores: {
                    validators: {
                        notEmpty: {
                            message: 'Campo requierdo'
                        }
                    }
                },

                 txt_hora_inicio: {
                    validators: {
                        notEmpty: {
                            message: 'Campo requierdo'
                        }
                    }
                },
                 txt_hora_fin: {
                    validators: {
                        notEmpty: {
                            message: 'Campo requierdo'
                        }
                    }
                },
                 txt_interval_ejec: {
                    validators: {
                        notEmpty: {
                            message: 'Campo requierdo'
                        }
                    }
                },
                 txt_interval_espera: {
                    validators: {
                        notEmpty: {
                            message: 'Campo requierdo'
                        }
                    }
                },
                txt_interval_rep: {
                    validators: {
                        notEmpty: {
                            message: 'Campo requierdo'
                        }
                    }
                },


                txt_intervalo: {
                    validators: {
                        notEmpty: {
                            message: 'Campo requierdo'
                        },
                        stringLength: {
                            min: 2,
                            max: 50,
                            message: 'La Abreviatura debe contener mas de 2 y menos que 50 caracteres'
                        }

                    }
                },
                txt_descripcion: {
                    validators: {
                        notEmpty: {
                            message: 'Campo requerido'
                        }
                    }
                },
                txt_asunto: {
                    validators:{
                            notEmpty:{
                                message: 'Campo requerido'
                            }
                    }
                },
                select_usuarios: {
                    validators:{
                            notEmpty:{
                                message: 'Campo requerido'
                            }
                    }
                },
                txt_mensaje: {
                    validators:{
                            notEmpty:{
                                message: 'Campo requerido'
                            }
                    }
                }
            }
        })
        $('.editButton').on('click', function() {
        // Get the record's ID via attribute
        var id = $(this).attr('data-id');
        $.ajax({
            url: '/reglas/verRepetitivas/' + id,
            method: 'get'

        }).success(function(response) {
            $('#form_categoria')
                .find('[name="id"]').val(response[0].id).end()
                .find('[name="txt_nombre"]').val(response[0].nombre).end()
                .find('[name="txt_descripcion"]').val(response[0].descripcion).end()
                .find('[name="txt_hora_inicio"]').val(response[0].hora_inicio).end()
                .find('[name="txt_interval_rep"]').val(response[0].repeticion).end()
                .find('[name="txt_interval_ejec"]').val(response[0].intervalo_ejec).end()
                .find('[name="txt_interval_espera"]').val(response[0].intervalo_espera).end()
                .find('[name="txt_asunto"]').val(response[0].asunto).end()
                .find('[name="txt_mensaje"]').val(response[0].mensaje).end()
                $("#select_evento").trigger("chosen:updated");
        });
    });
});


</script>
    <script>
            $("#website").multipleSelect({
                isOpen: true,
                keepOpen: false,
                filter: true,
                single:true,
                minimumCountSelected: 2
            });
    </script>
{% endblock scripts %}
