{% extends "app_eventos/base_eventos.html" %}

{% block css %}
<link href="/static/agricultura/css/plugins/chosen/chosen.css" rel="stylesheet">
<!-- Data Tables -->
<link href="/static/agricultura/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/footable/footable.core.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/cropper/cropper.min.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/switchery/switchery.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/footable/footable.core.css" rel="stylesheet">
<link href="/static/agricultura/time/datepicker.min.css" rel="stylesheet" type="text/css">
<link href="/static/agricultura/time/datepicker.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="/static/agricultura/multiselect/multiple-select.css"/>
{% endblock css %}

{% block contenido %}

	<div class="row wrapper border-bottom white-bg page-heading col-xs-12" data-js-vars=”{{ js_vars }}”>
        <div class="col-lg-5">
            <h2>Monitoreos de Paquetes </h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/">Inicio</a>
                </li>
                <li class="active">
                    <strong>Motor de Reglas</strong>
                </li>

            </ol>
        </div>
        <div class="col-xs-5" style="float: left">
            <center><h3>ESTADO DE PAQUETES</h3></center>
            <div class="col-lg-2">
                <center><button type="button" class="btn btn-default btn-circle btn-lg"><i class="fa fa-check"></i></button></center>
                <center><h5>Pendiente</h5></center>
            </div>
            <div class="col-lg-4">
                <center><button type="button" class="btn btn-primary btn-circle btn-lg"><i class="fa fa-check"></i></button></center>
                <center><h5>Enviado</h5></center>
            </div>

            <div class="col-lg-4">
                <center><button type="button" class="btn btn-success btn-circle btn-lg"><i class="fa fa-check"></i></button></center>
                <center><h5>Recibido</h5></center>
            </div>
            <div class="col-lg-2">
                <center><button type="button" class="btn btn-danger btn-circle btn-lg"><i class="fa fa-times"></i></button></center>
                <center><h5>No Enviado</h5></center>
                <center><h5>No Recibido</h5></center>
            </div>
        </div>


    </div>

    <div class="wrapper wrapper-content animated fadeIn">

    <div class="row">
    </div>
    <div class="row">

            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Listado de Paquetes</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#">Config option 1</a>
                                </li>
                                <li><a href="#">Config option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <input type="text" class="form-control input-sm m-b-xs hide" id="filter" placeholder="Search in table">
                        <div id="cap">
                            <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="30" data-filter=#filter>

                                <thead>
                                <tr>
                                    <th data-toggle="true">NOMBRE DE ACCION</th>
                                    <th data-toggle="true">TIPO</th>
                                    <th data-toggle="true">CODIGO PAQUETE</th>
                                    <th data-toggle="true">TIEMPO DE ENVIO</th>

                                    <th data-toggle="true">ACTUADORES</th>
                                    <th data-toggle="true">DISPOSITIVO - MAC</th>
                                    <th data-toggle="true">SENAL DE ENVIO</th>
                                    <th data-toggle="true">ESTADO</th>
                                    <th data-toggle="true">TIEMPO</th>
                                    <th data-toggle="true">ACCION</th>
                                </tr>
                                </thead>
                                <tbody >
                                    {% for a in acciones %}
                                        {% for p in paquetes %}
                                        {% if p.acc_id == a.acc_id%}
                                         {% if p.pc_time_out <= 7 %}
                                            <tr>
                                                <td>
                                                    {{ p.acc.acc_nombre }}
                                                </td>
                                                <td>
                                                    {{ p.acc.acc_tipo }}
                                                </td>
                                                <td>
                                                    {{ p.pc_paquete }}
                                                </td>
                                                <td>
                                                    {{ p.pc_fecha }}</br>
                                                    {{ p.pc_hora }}
                                                </td>

                                                <td>
                                                    {% for m in accion_actuador %}
                                                        {% if m.acc_id == p.acc_id %}
                                                            {{ m.iot.ted_id.ted_name }}<br>
                                                        {% endif %}
                                                    {% endfor %}
                                                </td>
                                                <td>
                                                    {% for d in dispositivo%}
                                                        {% if d.dis_mac == p.pc_mac %}
                                                            {{ d.dis_nombre }} - {{ d.dis_mac }}
                                                        {% endif %}
                                                    {% endfor %}
                                                </td>
                                                <td>
                                                    {% if p.acc_est_act == "ON" %}
                                                        <button class="btn btn-info btn-circle" value="ON" type="button">ON</button>
                                                    {% endif %}

                                                    {% if p.acc_est_act == "OFF" %}
                                                        <button class="btn btn-danger btn-circle btn-outline" value="OFF" type="button">OFF</button>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if p.pc_estado == "Enviado" %}
                                                        <button type="button" class="btn btn-primary btn-circle"><i class="fa fa-check"></i></button>
                                                    {% endif %}

                                                    {% if p.pc_estado == "Recibido" %}
                                                        <button class="btn btn-success btn-circle" type="button"><i class="fa fa-check"></i></button>
                                                    {% endif %}
                                                    
                                                    {% if p.pc_estado == "No Enviado" %}
                                                        <button type="button" class="btn btn-danger btn-circle"><i class="fa fa-times"></i></button>
                                                    {% endif %}

                                                    {% if p.pc_estado == "Pendiente" %}
                                                        <button type="button" class="btn btn-default btn-circle" ><i class="fa fa-check"></i></button>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if p.pc_estado == "Recibido" %}
                                                        Recibido hace un momento
                                                        Displaying: {{ p.pc_time_out }}/8
                                                    {% endif %}
                                                    {% if p.pc_estado == "Enviado" %}
                                                        Enviado {{ p.pc_time_out }} minutos
                                                    {% endif %}
                                                    {% if p.pc_estado == "Pendiente" %}
                                                        Pendiente
                                                        Displaying: {{ p.pc_time_out }}/8
                                                    {% endif %}
                                                    {% if p.pc_estado == "No Enviado" %}
                                                        No se ha Recibido Confirmacion de envio
                                                        Displaying: {{ p.pc_time_out }}/8
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    <a type="button" href="paquetes/eliminarHistorial/{{p.pc_id}}"  class="btn btn-danger btn-xs editButton">Eliminar</a>
                                                    {% if p.pc_estado == "No Enviado" %}
                                                        <a type="button" href="paquetes/reenviar/{{p.pc_id}}"  class="btn btn-success btn-xs editButton">Reenviar</a>
                                                    {% endif %}
                                                </td>

                                            </tr>
                                        {% endif %} 
                                        {% endif %}
                                    {% endfor %}   
                                {% endfor %}
                                    </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="5">
                                        <ul class="pagination pull-right"></ul>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div id="show" align="center"></div>

                    </div>
                </div>
            </div>


    </div>

</div>


    <!-- modales -->
<div class="modal inmodal fade" id="modalVer" tabindex="-1" role="dialog"  aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-md">
        <div class="modal-content animated bounceInRight">
             <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                <h4 class="modal-title" id="title">Crear Area</h4>
            </div>
            <form class="form-horizontal" id="frmAre">
            {% csrf_token %}
              <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden" id="are_id" name="are_id" class="form-control">
                        <input type="hidden" id="accion" value="0">
                        <input type="hidden" id="are_est_g" name="are_est_g">
                        <label class="control-label">Nombre</label>
                        <input type="text" class="form-control" placeholder="Nombre del Area" name="are_nom" id="are_nom" required>
                        <label class="control-label">Descripcion</label>
                        <textarea class="form-control" placeholder="Descripcion del Area" name="are_des" id="are_des" required></textarea>
                        <label class="control-label">Etiqueta</label>
                        <input type="text" class="form-control" placeholder="Etiqueta del Area" name="are_etq" id="are_etq">
                        <label class="control-label">Empresa</label>
                        <select class="form-control" id="emp" name="emp" ></select>
                        <label class="control-label">Direccion</label>
                        <input type="text" class="form-control" placeholder="Direccion del Area" name="are_dir" id="are_dir">
                        <label class="control-label">Estado</label>
                        <div class="switch">
                            <input type="checkbox" class="js-switch" id="are_est" name="are_est" />
                        </div>

                    </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary" id="btnModalGuardar">Guardar</button>
            </div>
            </form>
        </div>
    </div>
</div>

{% endblock contenido %}

{% block scripts %}

<script src="/static/agricultura/js/plugins/chosen/chosen.jquery.js"></script>
<script src="/static/agricultura/js/plugins/cropper/cropper.min.js"></script>
<script src="/static/agricultura/js/plugins/switchery/switchery.js"></script>

<!-- DataTables -->
<script src="/static/agricultura/js/plugins/footable/footable.all.min.js"></script>

<!-- DataTables -->
<script src="/static/agricultura/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="/static/agricultura/js/plugins/dataTables/dataTables.bootstrap.js"></script>
<script src="/static/agricultura/js/plugins/dataTables/dataTables.responsive.js"></script>
<script src="/static/agricultura/js/plugins/dataTables/dataTables.tableTools.min.js"></script>
<script src="/static/agricultura/js/plugins/footable/footable.all.min.js"></script>



<script src="/static/all.js"></script>
<script src="/sttic/app_empresa/area/area.js"></script>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script>
    $(document).ready(
            function() {
                         setInterval(function() {
                            var randomnumber = Math.floor(Math.random() * 100);
                            
                                //$('#capa').text(
                                //    'I am getting refreshed every 2 seconds..! Random Number ==> '
                                 //           + randomnumber);
                                $("#cap").load(location.href + " #cap");
                                socket.on("connection")=OnChange.Update(cap);
                                io.set("#cap");


                                //document.getElementById("capa").innerHTML = document.getElementById("capa").innetHTML;
                            ;
                        }, 3000);
                    
                        io.configure(function(){
                            io.set('authorization', function(data, accept){
                                if(data.headers.cookie){
                                    data.cookie = cookie_reader.parse(data.headers.cookie);
                                    return accept(null, true);
                                }
                                return accept('error', false);
                            });
                            io.set('log level', 1);
                        });

                        io.sockets.on('connection', function (socket) {

                            //Grab message from Redis and send to client
                            sub.on('message', function(channel, message){
                                socket.send(message);
                            });

                            //Client is sending message through socket.io
                            socket.on('send_message', function (message) {
                                values = querystring.stringify({
                                    comment: message,
                                    sessionid: socket.handshake.cookie['sessionid'],
                                });

                                var options = {
                                    host: 'localhost',
                                    port: 3000,
                                    path: '/node_api',
                                    method: 'POST',
                                    headers: {
                                        'Content-Type': 'application/x-www-form-urlencoded',
                                        'Content-Length': values.length
                                    }
                                };

                                //Send message to Django server
                                var req = http.get(options, function(res){
                                    res.setEncoding('utf8');

                                    //Print out error message
                                    res.on('data', function(message){
                                        if(message != 'Everything worked :)'){
                                            console.log('Message: ' + message);
                                        }
                                    });
                                });

                                req.write(values);
                                req.end();
                            });
                        });

               
            });
</script>
 


<!-- DataTables -->


<script src="/static/agricultura/scripts/op_especie.js"></script>


{% endblock scripts %}