{% extends "app_eventos/base_eventos.html" %}

{% block css %}

<link href="/static/agricultura/css/plugins/chosen/chosen.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/select2/select2.min.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/cropper/cropper.min.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/switchery/switchery.css" rel="stylesheet">
<!-- Data Tables -->
<link href="/static/agricultura/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/footable/footable.core.css" rel="stylesheet">
    <link href="/static/agricultura/time/datepicker.min.css" rel="stylesheet" type="text/css">
    <link href="/static/agricultura/time/datepicker.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="/static/agricultura/multiselect/multiple-select.css"/>

<link href="/static/agricultura/css/formValidation.min.css" rel="stylesheet">


{% endblock css %}

{% block contenido %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Gestion de Acciones Planificadas</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/agricultura">Inicio</a>
            </li>
            <li class="active">
                <strong> Motor de Eventos IotMach</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
		    <div class="col-md-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title hvr-overline-from-left" style="width: 100%;">
                    <h5>Lista de Acciones </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content">
                            <input type="text" class="form-control input-sm m-b-xs" id="filter"
                                   placeholder="Search in table">
                            <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="8" data-filter=#filter>
                                <thead>
                                <tr>
                                    <th data-toggle="true">Nombre</th>
                                    <th>Fecha Inicio</th>
                                    <th>Fecha Fin</th>
                                    <th>Estado</th>
                                    <th>Editar</th>
                                    <th data-hide="all">Descripcion</th>
                                    <th data-hide="all">Intervalo Ejecucion</th>
                                    <th data-hide="all">Intervalo de Espera</th>
                                    <th data-hide="all">Numero de Intervalo</th>
                                    <th data-hide="all">Hora de Inicio</th>
                                    <th data-hide="all">Hora de Fin</th>
                                    <th data-hide="all">Tipo</th>
                                    <th data-hide="all">Evento</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for par in acciones %}
                                <tr>
                                    <td>{{ par.acc_nombre }}</td>
                                    <td>{{ par.acc_fecha_inicio }}</td>
                                    <td>{{ par.acc_fecha_fin }}</td>
                                    <td>{{ par.acc_estado }}</td>
                                    <td>
                                    <button type="button" data-id="{{ par.acc_id }}" class="btn btn-warning btn-xs editButton">Editar</button>
                                    </td>
                                    <td>{{ par.acc_descripcion  }}</td>
                                    <td>{{ par.acc_interval_ejec }}</td>
                                    <td>{{ par.acc_interval_espera }}</td>
                                    <td>{{ par.acc_hora_inicio }}</td>
                                    <td>{{ par.acc_hora_fin }}</td>
                                    <td>{{ par.acc_tipo }}</td>
                                    <td>{{ par.ev_id.ev_nombre }}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="5">
                                        <ul class="pagination pull-right"></ul>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
            </div>
		</div>
             <div class="col-md-6">
			<div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Parametros</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" style="display: block;">
                    <form class="form-horizontal" id="form_categoria" method="post" action="{% url 'reglas:url_acciones_agregar' %}">{% csrf_token %}
{#                        <form id="userForm" method="post" class="form-horizontal" style="display: none;">#}
                        <div class="form-group">
                            <label class="col-xs-3 control-label">Nombre</label>
                            <div class="col-xs-9">
                                <input type="text" class="form-control" placeholder="Nombre" id="txt_nombre" name="txt_nombre"  />
                                <input name="id" class="hide"  id="id">
                            </div>
                        </div>



                        <div class="form-group"><label class="col-xs-3 control-label">Descripcion</label>
                            <div class="col-lg-9">
                            	<input type="text" placeholder="Descripcion" class="form-control" id="txt_descripcion" name="txt_descripcion">
                            </div>
                        </div>



                        <div class="form-group"><label class="col-xs-3 control-label">Seleccione el Dispositivo:</label>
                            <div class="col-xs-9">
                                <div id="contenedorSelect">
                                    <select class="chosen-select"  style="width: 100%" id = "select_evento" name="select_time" >
                                    <!--<select data-placeholder="Escoga Categoria..."  style="width: 100%"   class="chosen-select" tabindex="2" id="select_unidad_medida" name="select_unidad_medida">-->
                                       <option>Arduino 54ffG</option>

                                    </select>
                                </div>
                            </div>
                        </div>


                        <div class="form-group"><label class="col-xs-3 control-label">Seleccione los actuadores:</label>
                            <div class="col-xs-4">
                                <select name="multipleSelect" style="width: 180px; height: 90px" id="multipleSelect" ng-model="data.multipleSelect" multiple="" class="ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched">
                                  <option value="option-1">Option 1</option>
                                  <option value="option-2">Option 2</option>
                                  <option value="option-3">Option 3</option>
                                </select><br>
                            </div>
                            <div class="col-xs-5">
                                <textarea type="text" style="width: 200px; height: 90px">multipleSelect = {{data.multipleSelect}} </textarea>
                            </div>
                        </div>



                        <div class="form-group">
                            <label class="col-xs-3 control-label">Fecha Inicio</label>
                            <div class="col-xs-9">
                                <input type="text" class="datepicker-here required form-control"  id="txt_fecha_inicio" name="txt_fecha_inicio" />
                            </div>
                        </div>



                        <div class="form-group"><label class="col-xs-3 control-label">Ejecutar cada:</label>
                            <div class="col-lg-3">
                            	<input type="number" placeholder="" class="form-control" id="txt_interval_ejec" name="txt_interval_ejec">
                            </div>
                            <div class="col-lg-6">
                                <div id="contenedorSelect">
                                    <select class="chosen-select"  style="width: 100%" id = "select_evento" name="select_time" >
                                    <!--<select data-placeholder="Escoga Categoria..."  style="width: 100%"   class="chosen-select" tabindex="2" id="select_unidad_medida" name="select_unidad_medida">-->
                                       <option>Minutos</option>
                                       <option>Horas</option>
                                       <option>Dias</option>
                                       <option>Meses</option>

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group"><label class="col-xs-3 control-label">Durante el tiempo de:</label>
                            <div class="col-lg-3">
                            	<input type="number" placeholder="" class="form-control" id="txt_interval_espera" name="txt_interval_espera">
                            </div>
                            <div class="col-lg-6">
                                <div id="contenedorSelect">
                                    <select class="chosen-select"  style="width: 100%" id = "select_evento" name="select_time" >
                                    <!--<select data-placeholder="Escoga Categoria..."  style="width: 100%"   class="chosen-select" tabindex="2" id="select_unidad_medida" name="select_unidad_medida">-->
                                       <option>Minutos</option>
                                       <option>Horas</option>
                                       <option>Dias</option>
                                       <option>Meses</option>

                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="form-group"><label class="col-xs-3 control-label">Hora de Inicio</label>
                            <div class="col-lg-9">
                            	<input type="time" placeholder="HH:mm:ss" class="form-control" id="txt_hora_inicio" name="txt_hora_inicio">
                            </div>
                        </div>


                        <td class="text-right footable-visible footable-last-column">
                            <div></div>
                            <button class="btn-white btn btn-xs" data-toggle="modal" data-target="#modalConfiguracion" data-id="1" data-nombre-zona="zona1">Notificar via email</button>
                        </td>
                    <div class="form-group text-rigth">
	                        <div class="col-lg-offset-5">
                                <div id="contenedor_btn">
	                             <button class="btn btn-primary" type="submit">Guardar</button>
                                </div>
	                        </div>
	                    </div>
                    </form>



















                </div>
            </div>
		</div>

	</div>

</div>


{% endblock contenido %}

{% block scripts %}

<script>
    document.onload = cargarFunciones();
    function cargarFunciones(){
        $('#contenedorReglas').addClass('active');
        $('#acciones').addClass('active');
    };
</script>

<script src="/static/agricultura/js/plugins/chosen/chosen.jquery.js"></script>
<script src="/static/agricultura/js/plugins/select2/select2.full.min.js"></script>
<script src="/static/agricultura/js/plugins/cropper/cropper.min.js"></script>
<script src="/static/agricultura/js/plugins/switchery/switchery.js"></script>

<!-- DataTables -->
<script src="/static/agricultura/js/plugins/footable/footable.all.min.js"></script>

<script src="/static/agricultura/js/formValidation.min.js"></script>
<script src="/static/agricultura/js/bootstrapForm.min.js"></script>
    <script src="/static/agricultura/multiselect/jquery.multiple.select.js"></script>

<script src="/static/agricultura/scripts/op_especie.js"></script>
    <script src="/static/agricultura/time/datepicker.js"></script>
    <script src="/static/agricultura/time/datepicker.min.js"></script>
    <script src="/static/agricultura/time/datepicker.en.js"></script>
<script src="/static/agricultura/js/bootbox.js"></script>

<script>
    // Config box

    document.onload = tema();

    function tema(){
        $("body").removeClass("skin-2");
        $("body").removeClass("skin-3");
        $("body").addClass("skin-1");
    }

    // Enable/disable fixed top navbar
    $('#fixednavbar').click(function () {
        if ($('#fixednavbar').is(':checked')) {
            $(".navbar-static-top").removeClass('navbar-static-top').addClass('navbar-fixed-top');
            $("body").removeClass('boxed-layout');
            $("body").addClass('fixed-nav');
            $('#boxedlayout').prop('checked', false);

            if (localStorageSupport) {
                localStorage.setItem("boxedlayout",'off');
            }

            if (localStorageSupport) {
                localStorage.setItem("fixednavbar",'on');
            }
        } else {
            $(".navbar-fixed-top").removeClass('navbar-fixed-top').addClass('navbar-static-top');
            $("body").removeClass('fixed-nav');

            if (localStorageSupport) {
                localStorage.setItem("fixednavbar",'off');
            }
        }
    });

    // Enable/disable fixed sidebar
    $('#fixedsidebar').click(function () {
        if ($('#fixedsidebar').is(':checked')) {
            $("body").addClass('fixed-sidebar');
            $('.sidebar-collapse').slimScroll({
                height: '100%',
                railOpacity: 0.9
            });

            if (localStorageSupport) {
                localStorage.setItem("fixedsidebar",'on');
            }
        } else {
            $('.sidebar-collapse').slimscroll({destroy: true});
            $('.sidebar-collapse').attr('style', '');
            $("body").removeClass('fixed-sidebar');

            if (localStorageSupport) {
                localStorage.setItem("fixedsidebar",'off');
            }
        }
    });

    // Enable/disable collapse menu
    $('#collapsemenu').click(function () {
        if ($('#collapsemenu').is(':checked')) {
            $("body").addClass('mini-navbar');
            SmoothlyMenu();

            if (localStorageSupport) {
                localStorage.setItem("collapse_menu",'on');
            }

        } else {
            $("body").removeClass('mini-navbar');
            SmoothlyMenu();

            if (localStorageSupport) {
                localStorage.setItem("collapse_menu",'off');
            }
        }
    });

    // Enable/disable boxed layout
    $('#boxedlayout').click(function () {
        if ($('#boxedlayout').is(':checked')) {
            $("body").addClass('boxed-layout');
            $('#fixednavbar').prop('checked', false);
            $(".navbar-fixed-top").removeClass('navbar-fixed-top').addClass('navbar-static-top');
            $("body").removeClass('fixed-nav');
            $(".footer").removeClass('fixed');
            $('#fixedfooter').prop('checked', false);

            if (localStorageSupport) {
                localStorage.setItem("fixednavbar",'off');
            }

            if (localStorageSupport) {
                localStorage.setItem("fixedfooter",'off');
            }


            if (localStorageSupport) {
                localStorage.setItem("boxedlayout",'on');
            }
        } else {
            $("body").removeClass('boxed-layout');

            if (localStorageSupport) {
                localStorage.setItem("boxedlayout",'off');
            }
        }
    });

    // Enable/disable fixed footer
    $('#fixedfooter').click(function () {
        if ($('#fixedfooter').is(':checked')) {
            $('#boxedlayout').prop('checked', false);
            $("body").removeClass('boxed-layout');
            $(".footer").addClass('fixed');

            if (localStorageSupport) {
                localStorage.setItem("boxedlayout",'off');
            }

            if (localStorageSupport) {
                localStorage.setItem("fixedfooter",'on');
            }
        } else {
            $(".footer").removeClass('fixed');

            if (localStorageSupport) {
                localStorage.setItem("fixedfooter",'off');
            }
        }
    });

    // SKIN Select
    $('.spin-icon').click(function () {
        $(".theme-config-box").toggleClass("show");
    });

    // Default skin
    $('.s-skin-0').click(function () {
        $("body").removeClass("skin-1");
        $("body").removeClass("skin-2");
        $("body").removeClass("skin-3");
    });

    // Blue skin
    $('.s-skin-1').click(function () {
        $("body").removeClass("skin-2");
        $("body").removeClass("skin-3");
        $("body").addClass("skin-1");
    });

    // Inspinia ultra skin
    $('.s-skin-2').click(function () {
        $("body").removeClass("skin-1");
        $("body").removeClass("skin-3");
        $("body").addClass("skin-2");
    });

    // Yellow skin
    $('.s-skin-3').click(function () {
        $("body").removeClass("skin-1");
        $("body").removeClass("skin-2");
        $("body").addClass("skin-3");
    });

    if (localStorageSupport) {
        var collapse = localStorage.getItem("collapse_menu");
        var fixedsidebar = localStorage.getItem("fixedsidebar");
        var fixednavbar = localStorage.getItem("fixednavbar");
        var boxedlayout = localStorage.getItem("boxedlayout");
        var fixedfooter = localStorage.getItem("fixedfooter");

        if (collapse == 'on') {
            $('#collapsemenu').prop('checked','checked')
        }
        if (fixedsidebar == 'on') {
            $('#fixedsidebar').prop('checked','checked')
        }
        if (fixednavbar == 'on') {
            $('#fixednavbar').prop('checked','checked')
        }
        if (boxedlayout == 'on') {
            $('#boxedlayout').prop('checked','checked')
        }
        if (fixedfooter == 'on') {
            $('#fixedfooter').prop('checked','checked')
        }
    }

    document.onload = inicio();
    function inicio() {
        //toastr.options.positionClass = 'toast-top-center';

        }
</script>







<div class="modal inmodal in" id="modalConfiguracion" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Notoficacion via Email</h4>
                <h5 class="font-bold"><label id="nombre">motoreventosIot@gmail.com</label></h5>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6">
                        <center><small class="font-bold">Lista de Usuarios</small></center>

                        <select name="multipleSelect" style="width: 250px; height: 162px" id="multipleSelect" ng-model="data.multipleSelect" multiple="" class="ng-valid ng-not-empty ng-dirty ng-valid-parse ng-touched">
                          <option value="option-1">Option 1</option>
                          <option value="option-2">Option 2</option>
                          <option value="option-3">Option 3</option>
                        </select><br>
                        </br>
                        <center><small class="font-bold">Usuarios Seleccionados</small></center>
                        <textarea type="text" style="width: 250px; height: 100px">multipleSelect = {{data.multipleSelect}} </textarea>
                    </div>

                    <div class="col-xs-6">
                         <center><label>Asunto</label></center>
                            <div >
                            	<input type="text" class="form-control" style="width: 250px" id="txt_descripcion" name="txt_descripcion">
                            </div>
                        </br>
                        <center><label>Mensaje</label></center>

                        <textarea type="text" style="width: 250px; height: 219px" placeholder="Escriba un mensaje a notificar"> </textarea>
                    </div>


                </div>
            </div>
            <div class="modal-footer">
                <div id="contenedorBoton"><button onclick="guardarConfiguracion(1)" class="btn btn-primary" type="button" data-dismiss="modal">Guardar Configuración</button></div>
            </div>
        </div>
    </div>
</div>













<script>
$(document).ready(function() {
    $(('#txt_fecha_inicio')).datepicker({
	language: 'en',
    dateFormat:"yyyy-mm-dd"
})
    $(('#txt_fecha_fin')).datepicker({
	language: 'en',
    dateFormat:"yyyy-mm-dd"
})
    $('#form_categoria')
        .formValidation({
            framework: 'bootstrap',
            icon: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                txt_nombre: {
                    validators: {
                        notEmpty: {
                            message: 'Campo requierdo'
                        }
                    }
                },
                txt_intervalo: {
                    validators: {
                        notEmpty: {
                            message: 'Campo requierdo'
                        },
                        stringLength: {
                            min: 2,
                            max: 50,
                            message: 'La Abreviatura debe contener mas de 2 y menos que 50 caracteres'
                        },

                    }
                },
                txt_descripcion: {
                    validators: {
                        notEmpty: {
                            message: 'Campo requerido'
                        }
                    }
                }
            }
        })
        $('.editButton').on('click', function() {
        // Get the record's ID via attribute
        var id = $(this).attr('data-id');
        $.ajax({
            url: '/reglas/verAccion/' + id,
            method: 'get'

        }).success(function(response) {
            $('#form_categoria')
                .find('[name="id"]').val(response[0].id).end()
                .find('[name="txt_nombre"]').val(response[0].nombre).end()
                .find('[name="txt_fecha_inicio"]').val(response[0].fecha_inicio).end()
                .find('[name="txt_fecha_fin"]').val(response[0].fecha_fin).end()
                .find('[name="txt_descripcion"]').val(response[0].descripcion).end()
                .find('[name="txt_estado"]').val(response[0].estado).end()
                .find('[name="txt_interval_ejec"]').val(response[0].interval_ejec).end()
                .find('[name="txt_interval_espera"]').val(response[0].interval_espera).end()
                .find('[name="txt_num_intervalo"]').val(response[0].num_intervalo).end()
                .find('[name="txt_hora_inicio"]').val(response[0].hora_inicio).end()
                .find('[name="txt_hora_fin"]').val(response[0].hora_fin).end()
                .find('[name="txt_tipo"]').val(response[0].tipo).end()
                .find('[name="select_evento"]').val(response[0].evento).end()
                $("#select_evento").trigger("chosen:updated");
        });
    });
});

</script>
    <script>
            $("#website").multipleSelect({
                isOpen: true,
                keepOpen: false,
                filter: true,
                single:true,
                minimumCountSelected: 2,
            });
    </script>
{% endblock scripts %}
