{% extends "agricultura/base_agricultura.html" %}

{% block css %}
    <link href="/static/agricultura/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="/static/agricultura/css/plugins/steps/jquery.steps.css" rel="stylesheet">
    <link href="/static/agricultura/css/animate.css" rel="stylesheet">
    <link href="/static/agricultura/css/style.css" rel="stylesheet">
    <link href="/static/agricultura/css/plugins/blueimp/css/blueimp-gallery.min.css" rel="stylesheet">
    <link href="/static/agricultura/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
    <link href="/static/agricultura/css/plugins/select2/select2.min.css" rel="stylesheet">
    <link href="/static/agricultura/css/plugins/cropper/cropper.min.css" rel="stylesheet">
    <link href="/static/agricultura/css/plugins/chosen/chosen.css" rel="stylesheet">
    <link href="/static/agricultura/time/datepicker.min.css" rel="stylesheet" type="text/css">
    <link href="/static/agricultura/time/datepicker.css" rel="stylesheet" type="text/css">
    <link href="/static/agricultura/css/plugins/switchery/switchery.css" rel="stylesheet">

<style>
.btn-radio {
	width: 100%;
}
.img-radio {
	opacity: 0.5;
	margin-bottom: 5px;
}

.space-20 {
    margin-top: 20px;
}

.wizard > .content > .body { position: relative; }
        /* Local style for demo purpose */

        .lightBoxGallery {
            text-align: center;
        }

        .lightBoxGallery img {
            margin: 5px;
        }

</style>

{% endblock css %}

{% block contenido %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Gestión Cultivos</h2>
        <h2 class="pull-right" style="margin-top: -35px;">{{empresa}}</h2>
        <ol class="breadcrumb">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Inicio<span class="caret"></span></a> {% include "dropdown-menu.html" %}
            </li>
            <li>
                <a href="/agricultura/inicio">Módulo agricultura</a>
            </li>
            <li class="active">
                <strong>Agregar Cultivo</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>
    {% if 'agricultura.add_agr_cultivo' in usuario.get_all_permissions %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-md-offset col-md-12">
			<div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Cultivos</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form id="form"  method="POST" name="form" action="{% url 'agricultura:url_cultivo_anadir' %}" class="wizard-big form-horizontal">{% csrf_token %}
                                <h1>CULTIVO</h1>
                                <fieldset>
                                    <h2>Cultivo Información</h2>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group">
                                                <label class="col-md-3 control-label" for="Longitud:">Nombre</label>
                                                <div class="col-lg-8">
                                                    <input id="cultivo" name="cultivo" type="text" class="form-control required" value="">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label" for="Longitud:">Nº Hectáreas</label>
                                                <div class="col-lg-8">
                                                    <input id="nhectareas" name="nhectareas" type="text" class="form-control required" value="" onkeypress="validaSoloNumeros()">
                                                </div>
                                            </div>
                                            <div class="form-group" id="data_1">
                                                <label class="col-md-3 control-label" for="Longitud:">Fecha</label>
                                                <div class="col-lg-8">
                                                    <input type='text' class="datepicker-here required" readonly id="fecha" name="fecha" style="width:180px;height:30px" data-position="right top" />
                                                </div> 
                                            </div>
                                            <div class="form-group">
                                                        <label class="col-md-3 control-label" for="Longitud:">Parcela</label>
                                                        {% if 'agricultura.add_agr_parcela' in usuario.get_all_permissions %}
                                                            <div class="col-lg-6">
                                                        {% else %}
                                                            <div class="col-lg-8">
                                                        {% endif %}
                                                        <div id="div-parcela">
                                                            <select class="select2_demo_1 form-control"
                                                                data-placeholder="Escoga Parcela..." id="select_parcela" name="select_parcela" onchange="verDatosParcela()">
                                                                {% for i in datosParcela %}
                                                                    <option value="{{ i.par_id.sar_id }}">{{ i.par_id.sar_nombre }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                        </div>
                                                        {% if 'agricultura.add_agr_parcela' in usuario.get_all_permissions %}
                                                            <div id="contenedorParcelaB">
                                                                <button class="btn btn-info btn-circle" type="button" onclick="agregarParcela()"><i class="fa fa-plus"></i></button>
                                                            </div>
                                                        {% endif %}
                                                </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label" for="Longitud:">Ubicación</label>
                                                <div class="col-lg-8">
                                                    <input id="ubicacion" name="ubicacion" type="text" class="form-control required" value="">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label" for="Longitud:">Descripción</label>
                                                <div class="col-lg-8">
                                                    <textarea id="descripcion" name="descripcion" type="text" class="form-control required"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                            <div class="col-xs-6 col-sm-4" >
                                                <div class="panel panel-warning">
                                                <div class="panel-heading text-center">
                                                    <i class="fa fa-info-circle">
                                                        <label class="control-label" id="txt_etiqueta" name="txt_etiqueta"></label>
                                                    </i>
                                                </div>
                                                <div class="panel-body">
                                                        <div class="form-group">
                                                            <label class="col-md-8 control-label" for="Longitud:">Nombre Parcela</label>
                                                            <label class="control-label" id="txt_nombre" name="txt_nombre"></label>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-8 control-label" for="Longitud:">Hectáreas Totales</label>
                                                            <label class="control-label" id="txt_hectareas" name="txt_hectareas"></label>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-8 control-label" for="Longitud:">Hectáreas Disponibles</label>
                                                            <label class="control-label" id="txt_disponibles" name="txt_disponibles"></label>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-md-8 control-label" for="Longitud:">Estado</label>
                                                            <label class="control-label" id="txt_estado" name="txt_estado"></label>
                                                            <div class="text-center">
                                                                    <a href="#modalVer"  data-toggle="modal" title="Image from Unsplash">
                                                                    <img src="" id="img_parcela" class="img-circle" name="img_parcela" alt="" width="100" height="100"></a>
                                                            </div>
                                                        </div>
                                                        <div id="contenedorParcela">

                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                            <div class="col-xs-6 col-sm-4" >
                                                <div class="panel panel-warning">
                                                <div class="panel-heading text-center">
                                                    <i class="fa fa-info-circle">
                                                        Detalle Suelo
                                                    </i>
                                                </div>
                                                <div class="panel-body">
                                                        <div class="form-group">
                                                            <label class="col-md-8 control-label" for="Longitud:">Nombre Suelo</label>
                                                            <label class="control-label" id="nombre_suelo" name="nombre_suelo"></label>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="text-center">
                                                                    <a href="#modalVer"  data-toggle="modal" title="Image from Unsplash">
                                                                    <img src="" id="img_suelo" class="img-circle" name="img_suelo" alt="" width="100" height="100"></a>
                                                            </div>
                                                        </div>
                                                        <div id="contenedorSuelo">

                                                        </div>
                                                </div>
                                            </div>
                                        </div>

                                </fieldset>
                                <h1>ESPECIE</h1>
                                <fieldset>
                                    <h2>Escoger Especie</h2>
                                            <div class="row">
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                        <label class="col-md-3 control-label" for="Longitud:">Especie</label>
                                                        {% if 'agricultura.add_agr_especie_cultivo' in usuario.get_all_permissions %}
                                                            <div class="col-lg-6">
                                                        {% else %}
                                                            <div class="col-lg-8">
                                                        {% endif %}
                                                            <select class="select2_demo_1 form-control"
                                                                data-placeholder="Escoga Parcela..." id="select_especie" name="select_especie" onchange="verDatosespecie()">
                                                                {% for i in datosEspecie %}
                                                                    <option value="{{ i.esp_id }}">{{ i.esp_nombre }}</option>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                        {% if 'agricultura.add_agr_especie_cultivo' in usuario.get_all_permissions %}
                                                            <div id="contenedorEspecieB">
                                                                <button class="btn btn-info btn-circle" type="button" onclick="agregarEspecie()"><i class="fa fa-plus"></i></button>
                                                            </div>
                                                        {% endif %}
                                                </div>
                                                <div class="form-group">
                                                    <div class="text-center">
                                                                <img src="" id="img_especie" class="img-circle" name="img_especie" alt="" width="150" height="150">

                                                            </div>
                                                </div>
                                            </div>

                                                <div class="col-xs-8 col-sm-8" >
                                                <div class="panel panel-primary ">
                                                <div class="panel-heading text-center">
                                                    <i class="fa fa-info-circle">
                                                        Detalle Especie
                                                    </i>
                                                </div>
                                                <div class="panel-body">
                                                        <div id="contenedorTipos">

                                                        </div>

                                                </div>
                                            </div>
                                                </div>
{#                                        <div class="col-md-4"><img class="img-responsive" src="/media/recursos/tipoSuelo.jpg">#}
{#                                        </div>#}
                                </fieldset>
                                <h1>TIPO DE RIEGO</h1>
                                <fieldset>
                                <h2>Tipo de Riego</h2>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Escoger el tipo de riego</label>
                                                <div class="col-lg-8">
                                                <select class="select2_demo_2 form-control"
                                                        data-placeholder="Escoga Tipo Riego..." id="select_riego" name="select_riego" onchange="verDatosRiego()">
                                                            {% for i in datosTipoRiego %}
                                                                <option value="{{ i.rie_id }}">{{ i.rie_nombre }}</option>
                                                            {% endfor %}
                                                </select>
                                                    <a onclick="calcular()" class="btn btn-primary" type="submit"><span class="fa fa-calculator"></span></a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Evapotranspiración</label>
                                                <div class="col-lg-8">
                                                <select class="form-control"
                                                        data-placeholder="Escoga método..." id="select_evo" name="select_evo">
                                                                <option value="Hargravens">Hargreaves</option>
                                                                <option value="Penman">Penman</option>
                                                </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-8 col-sm-6" >
                                                <div class="panel panel-primary ">
                                                <div class="panel-heading text-center">
                                                    <i class="fa fa-info-circle">
                                                        Ingreso de Tipos de parámetros manuales
                                                    </i>
                                                </div>
                                                <div class="panel-body">
                                                    <div>
                                                        <div id="contenedorTiposRiego">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-sm-2" >
                                                <div class="panel panel-warning">
                                                <div class="panel-heading text-center">
                                                    <i class="fa fa-info-circle">
                                                        Dar Clic en Calcular
                                                    </i>
                                                </div>
                                                <div class="panel-body">
                                                        <div id="contenedorFormulas">

                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-4" id='detalle' style='display:none;' >
                                                <div class="panel panel-warning">
                                                <div class="panel-heading text-center">
                                                    <i class="fa fa-info-circle">
                                                        Detalle
                                                    </i>
                                                </div>
                                                <div class="panel-body">
                                                        <div id="llenarDatos"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <!-- <h1>RESUMEN</h1>
                                <fieldset>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="form-group has-success">
                                                <label class="control-label">Cultivo:</label>
                                                <small class="text" id="cultivor"></small><br/>
                                            </div>
                                            <div class="form-group has-success">
                                            <label  class="control-label">Parcela:</label>
                                            <small class="text" id="parcelar"></small><br/>
                                            </div>
                                            <div class="form-group has-success">
                                            <label  class="control-label">Especie:</label>
                                            <small class="text" id="especier"></small><br/>
                                            </div>
                                            <div class="form-group has-success">
                                            <label  class="control-label">Tipo Suelo:</label>
                                            <small class="text" id="suelor"></small><br/>
                                            </div>
                                            <div class="form-group has-success">
                                            <label  class="control-label">Tipo Riego:</label>
                                            <small class="text" id="riegor"></small><br/>
                                            </div>
                                            <div class="form-group has-success">
                                            <label  class="control-label">Fecha de Creacion</label>
                                            <small class="text" id="fechar"></small><br/>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset> -->
                            </form>
                </div>
        </div>
    </div>
        </div>
    </div>
    {% endif %}
{% endblock %}
{% block scripts %}
    <!-- Mainly scripts -->
    <script src="/static/agricultura/js/jquery-2.1.1.js"></script>
    <script src="/static/agricultura/js/bootstrap.min.js"></script>
    <script src="/static/agricultura/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/static/agricultura/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/static/agricultura/js/plugins/datapicker/bootstrap-datepicker.js"></script>

    <script src="/static/agricultura/js/plugins/chosen/chosen.jquery.js"></script>
    <script src="/static/agricultura/js/plugins/select2/select2.full.min.js"></script>
    <script src="/static/agricultura/js/plugins/cropper/cropper.min.js"></script>
    <script src="/static/agricultura/js/plugins/switchery/switchery.js"></script>

    <script src="/static/agricultura/time/datepicker.js"></script>
    <script src="/static/agricultura/time/datepicker.min.js"></script>
    <script src="/static/agricultura/time/datepicker.en.js"></script>


    <!-- Steps -->
    <script src="/static/agricultura/js/plugins/staps/jquery.steps.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="/static/agricultura/js/inspinia.js"></script>
    <script src="/static/agricultura/js/plugins/pace/pace.min.js"></script>

    <!-- Jquery Validate -->
    <script src="/static/agricultura/js/plugins/validate/jquery.validate.min.js"></script>

    <script src="/static/agricultura/scripts/op_cultivos.js"></script>

    <script>
        document.onload = cargarFunciones();
        function cargarFunciones(){
            $('#contenedorCultivo').addClass('active');
            $('#cultivo').addClass('active');
        };
    </script>

    <script>

        $(document).ready(function(){
            $("#wizard").steps();
            $("#form").steps({
                bodyTag: "fieldset",
                onStepChanging: function (event, currentIndex, newIndex)
                {
                    // Always allow going backward even if the current step contains invalid fields!
                    if (currentIndex > newIndex)
                    {
                        return true;
                    }
                    // Forbid suppressing "Warning" step if the user is to young
                    var numeroHectareas=document.getElementById("nhectareas").value
                    var hectareasTotales=$("#txt_hectareas").html();
                    var hectareasDisponibles=$("#txt_disponibles").html();
                    var correcto1=true
                    var correcto2=true
                    var error=''
                    if(parseInt(numeroHectareas)<=parseInt(hectareasTotales)){
                        if(parseInt(numeroHectareas)<=parseInt(hectareasDisponibles)){
                            if(parseInt(numeroHectareas)<=0){
                                error='El número de hectáreas no puede ser cero ni negativo'
                                correcto1=false
                            }else{
                                correcto1=true
                            }
                        }else {
                            correcto1=false
                            error='El numero de Hectareas es mayor al disponible o totales'
                        }
                    }else{
                        correcto1=false
                        error='El numero de Hectareas es mayor al disponible o totales'
                    }
                    if (newIndex === 1 && correcto1==false)
                    {
                        toastr.options={"progressBar": true}
                        toastr.error(error,'Estado')
                        return false;
                    }
                    var form = $(this);

                    // Clean up if user went backward before
                    if (currentIndex < newIndex)
                    {
                        // To remove error styles
                        $(".body:eq(" + newIndex + ") label.error", form).remove();
                        $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                    }

                    // Disable validation on fields that are disabled or hidden.
                    form.validate().settings.ignore = ":disabled,:hidden";

                    // Start validation; Prevent going forward if false
                    return form.valid();
                },
                onStepChanged: function (event, currentIndex, priorIndex)
                {
                    document.getElementById('cultivor').innerHTML=document.getElementById('cultivo').value
                    document.getElementById('especier').innerHTML=document.getElementById('select_especie').options[document.getElementById('select_especie').selectedIndex].innerHTML
                    document.getElementById('parcelar').innerHTML=document.getElementById('select_parcela').options[document.getElementById('select_parcela').selectedIndex].innerHTML
                    document.getElementById('riegor').innerHTML=document.getElementById('select_riego').options[document.getElementById('select_riego').selectedIndex].innerHTML
                    document.getElementById('fechar').innerHTML=document.getElementById('fecha').value

                    if (currentIndex === 2)
                    {
                        $(this).steps("Next");
                    }

                    // Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
                    if (currentIndex === 2 && priorIndex === 3)
                    {
                        $(this).steps("Previous");
                    }
                },
                onFinishing: function (event, currentIndex)
                {
                    var form = $(this);

                    // Disable validation on fields that are disabled.
                    // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
                    form.validate().settings.ignore = ":disabled";

                    // Start validation; Prevent form submission if false
                    return form.valid();
                },
                onFinished: function (event, currentIndex)
                {
                    var form = $(this);
// Submit form input
                    // Submit form input
                    form.submit();
                    //Mandar a guardar dato por dato
                }
            }).validate({
                        errorPlacement: function (error, element)
                        {
                            element.before(error);
                        },
                        rules: {
                            confirm: {
                                equalTo: "#password"
                            }
                        }
                    });
{#            $('#data_1 .input-group.date').datepicker({#}
{#                todayBtn: "linked",#}
{#                keyboardNavigation: false,#}
{#                forceParse: false,#}
{#                calendarWeeks: true,#}
{#                autoclose: true#}
{#            });#}
            $(('#fecha')).datepicker({
	language: 'en',
    dateFormat:"dd/mm/yyyy"
})
            // Access instance of plugin
            $('#fecha').data('datepicker')
            $(".select2_demo_1").select2();
            verDatosespecie();
            $(".select2_demo_2").select2();
            verDatosRiego();
            verDatosParcela();


       });

        function buscarEspecies(){
        var busqueda=$("#txt_busqueda").val()
        var items = [];
        {% for especiesFor in datosEspecie %}
            var especies = [];
            if(('{{especiesFor.esp_nombre }}'.toLowerCase()).indexOf(busqueda)>=0){
                especies.push('{{especiesFor.id }}');
                especies.push('{{especiesFor.esp_nombre }}');
                especies.push('{{especiesFor.esp_imagen.url }}');
                items.push(especies)
            }
        {%endfor %}
        htmlDiv='';
        for(var i=0; i<items.length; i++){
            htmlDiv+='<div class="col-xs-6 col-sm-4 ">' +
            '<div class="radio radio-danger" align="center">' +
            '<input type="radio" name="radioEspecies" id="'+items[i][0]+'" value="" onclick="verDatosespecie('+items[i][0]+')" class="required">'+
            '<label for='+items[i][0]+'> <img width="50" height="50" class="img-circle" src="'+items[i][2]+'" title="'+items[i][1]+'">'+
            '<br/><span class="badge badge-warning">'+
            items[i][1]+'</span></label></label></div></div>'
        }
        $("#contenedorEspecies").empty();
        $("#contenedorEspecies").append(htmlDiv);
    }
        function cancelar(){
        htmlDiv=''
        {% for imagenes in datosEspecie %}
            htmlDiv+='<div class="col-xs-6 col-sm-4 ">' +
            '<div class="radio radio-danger" align="center">' +
            '<input type="radio" name="radioEspecies" id="{{imagenes.id }}" value="" onclick="verDatosespecie( {{imagenes.id }} )" class="required">'+
            '<label for={{imagenes.id }}> <img width="50" height="50" class="img-circle" src="{{ imagenes.esp_imagen.url }}" title="{{ imagenes.esp_nombre }}">'+
            '<br/><span class="badge badge-warning">{{ imagenes.esp_nombre }}</span></label></label></div></div>'
        {% endfor %}
        $("#contenedorEspecies").empty();
        $("#contenedorEspecies").append(htmlDiv);
    }
        function verDatosespecie(){
            id=document.getElementById('select_especie').options[document.getElementById('select_especie').selectedIndex].value
        $.ajax({
            data: {'id': id},
            url: '/agricultura/detalle_especie/',
            type: 'get',
            success: function (data) {
                if(data.length != 0){
                    $("#txt_especie").html(data[0].especieNombre);
                    $('#txt_altura').html(data[0].especieAltura+' m');
                    $('#txtCategoria').html(data[0].categoria);
                    document.getElementById('img_especie').src=data[0].esp_imagen;
                }else{
                    alert('Parametro no encontrado')
                }
            }
        });
            $.ajax({
                data: {'id': id},
                url: '/agricultura/tipos_parametros_especie/',
                type: 'get',
                success: function (data) {
                    var c=1;
                    $('#contenedorTipos').empty()
                    htmlSelect=''
                        for (var j = 0; j < data[0].contParametrosEspecie; j++) {
                            htmlSelect+='<div class="col-lg-6 form-group" > <label control-label">'+data[c].nombre+'</label><br/>'
                            banderaD=c+1
                            c=c+2
                            for (var k = 0; k < data[banderaD].contTipos; k++) {
                                htmlSelect+='<div class="col-lg-9">'+data[c].nombreTipo+'<input type="text" ' +
                                'id="tipoe-'+data[c].idTipo+'" name="tipoe-'+data[c].idTipo+'" class="form-control" value="'+data[c].valor+'"  onkeypress="validaSoloNumeros()"></div>';//
                                //htmlSelect += 'nombreTipo : ' + data[c].nombreTipo + ' ';
                                c=c+1;
                            }
                            htmlSelect += '</div>';
                        }
                    $('#contenedorTipos').append(htmlSelect)

                }
            });
    }
        function verDatosRiego(){
        id=document.getElementById('select_riego').options[document.getElementById('select_riego').selectedIndex].value
        $.ajax({
            data: {'id': 'Riego'},
            url: '/agricultura/detalle_riego/',
            type: 'get',
            success: function (data) {
                if(data.length != 0){
                    $('#contenedorTiposRiego').empty();
                    var count=1;
                    htmlDiv='<table class="table"><thead><tr><th>Tipo</th><th>Descripción</th><th>Valor</th><th>Medida</th></tr></thead><tbody>'
                    for (var i=0; i<data[0].contarRegistros; i++){
                        htmlDiv+='<tr><td>'+data[count].nombreTipo+'</td>';
                        htmlDiv+='<td><small class="">'+data[count].descripcion+'</small></td>';
                        htmlDiv+='<td><input class="" required style="width:50px" id="tipo-'+data[count].id+'" name="tipo-'+data[count].id+'" type="text"></input></td>';
                        htmlDiv+='<td>'+data[count].um+'</td></tr>';
                        count++;
                    }
                    htmlDiv+='</tbdoy></table>'
                    $('#contenedorTiposRiego').append(htmlDiv);

                }else{
                    alert('Parametro no encontrado')
                }
            }
        });
    }

        function verDatosParcela(){
            id=document.getElementById('select_parcela').options[document.getElementById('select_parcela').selectedIndex].value
        $.ajax({
            data: {'id': id},
            url: '/agricultura/detalle_parcela/',
            type: 'get',
            success: function (data) {
                if(data.length != 0){
                    $("#txt_nombre").html(data[0].parcelaNombre);
                    $("#txt_etiqueta").html('Detalle '+data[0].parcelaEtiqueta);
                    $('#txt_hectareas').html(data[0].parcelaNumero);
                    $('#txt_disponibles').html(data[0].parcelaDisponible);
                    $('#nombre_suelo').html(data[0].suelo_nombre);
                    var c=2;
                    var htmlDiv='<table class="table table-bordered"><thead><tr><th>Tipo</th><th>Valor</th><th>U. medida</th></tr></thead><tbody>'
                    $('#contenedorSuelo').empty();
                    for(var i =0; i< data[1].contTipos; i++){
                        htmlDiv+='<tr><td>'+data[c].tipoPrametro+'</td>' +
                                '<td><input type="text" value="'+data[c].valor+'" class="form-control"' +
                                ' id="text_'+data[c].tipoPrametro+'" name="text_'+data[c].tipoPrametro+'">' +
                                '</td><td>'+data[c].um+'</td></tr>'
                        c=c+1;
                    };
                    htmlDiv+='</tbody></table>'
                    $("#contenedorSuelo").append(htmlDiv);
                    if(data[0].parcelaEstado==true){
                        estado="Disponible"
                    }else{
                        estado="No Disponible"
                    }
                    $('#txt_estado').html(estado);
                    document.getElementById('img_parcela').src=data[0].parcelaImagen;
                    document.getElementById('img_suelo').src=data[0].suelo_imagen;
                }else{
                    alert('Parametro no encontrado')
                }
            }
        });
    }
    function calcular(){
        var datos = new FormData($('#form')[0]);
        $.ajax({
            data: datos,
            url: '/agricultura/anadirCultivo_java/',
            type: 'POST',
            contentType:false,
            'dataType': 'json',
            processData:false,
            success: function (data) {
                    if(data.length > 0){
                        siError=true
                        $('#contenedorFormulas').empty();
                        var count=1;
                        htmlDiv='<div class=""><table class="table"><thead><tr><th>Tipo</th><th>Valor</th></tr></thead><tbody>'
                        $("#llenarDatos").empty();
                        htmlDiv2='<div class="table-responsive"><table class="table"><thead><tr><th>Formula</th><th>Dato</th></tr></thead><tbody>'
                        for (var i=0; i<data.length; i++){
                                if(data[i].tipo=='error'){
                                    htmlDiv += '<tr><td colspan="2"><span class="badge badge-danger">ERROR</span></td></tr>';
{#                                    htmlDiv += '<tr><td colspan="2">' + data[i].valor + '</td></tr>';#}
                                    htmlDiv += '<tr><td colspan="2"><a onclick="activar()">Ver detalle</a></td></tr>';
                                    count++;
                                }else{
                                    if(data[i].tipo=='ok'){
                                        htmlDiv += '<tr><td><span class="badge badge-primary">EXITO</span></td></tr>';
                                        htmlDiv += '<tr><td colspan="2"><a onclick="activar()">Ver detalle</a></td></tr>';
                                        count++;
                                    }else{
                                        if(data[i].tipo=='type'){
                                            htmlDiv2 += '<tr><td><label>'+data[i].resultado +'</label>' + data[i].formula + '</td>';
                                            htmlDiv2+= '<td>' + data[i].value + '</td></tr>';
                                        }else {
                                            htmlDiv += '<tr><td>' + data[i].tipo + '</td>';
                                            htmlDiv += '<td>' + data[i].valor + '</td></tr>';
                                            count++;
                                        }
                                    }
                                }
                        }
                        htmlDiv2 += '<tr><td colspan="2">' + data[data.length-1].valor + '</td>';
                        htmlDiv2+='</tbdoy></table></div>'
                        $("#llenarDatos").append(htmlDiv2);
                        htmlDiv+='</tbdoy></table></div>'
                        $('#contenedorFormulas').append(htmlDiv);
                    }else{
                        alert('No existen formulas para ese tipo de riego')
                    }
            }
        });
    }

    function desbloquearCampos(obcion){
        document.getElementById('text_cc').disabled  =  obcion;
        document.getElementById('text_pmp').disabled = obcion;
    }
    function activar(){
        document.getElementById('detalle').style.display = 'block';
    }
    $(function () {
    $('.btn-radio, img').click(function(e) {
        $('.btn-radio').not(this).removeClass('active')
    		.siblings('input').prop('checked',false)
            .siblings('.img-radio').css('border','0px')
            .siblings('.img-radio').css('opacity','0.5');
    	$(this).parent().children('.btn-radio').addClass('active')
            .siblings('input').prop('checked',true)
            .siblings('.img-radio').css('border','4px solid #ffa500')
    		.siblings('.img-radio').css('opacity','2');
    });
});
    function agregarEspecie()
    {
        window.open('/agricultura/especie/','_blank');
        $("#contenedorEspecieB").empty();
        $("#contenedorEspecieB").append('<button class="btn btn-info btn-circle" type="button" onclick="actualizarEspecie()"><i class="fa fa-refresh"></i></button>');
    }
    function actualizarEspecie(){
                $("#contenedorEspecieB").empty();
                $("#contenedorEspecieB").append('<button class="btn btn-info btn-circle" type="button" onclick="agregarEspecie()"><i class="fa fa-plus"></i></button>');
                $("#select_especie").load(location.href+" #select_especie>*","");
    }
        function agregarParcela()
    {
        window.open('/agricultura/parcelas/','_blank');
        $("#contenedorParcelaB").empty();
        $("#contenedorParcelaB").append('<button class="btn btn-info btn-circle" type="button" onclick="actualizarParcela()"><i class="fa fa-refresh"></i></button>');
    }
    function actualizarParcela(){
        $("#contenedorParcelaB").empty();
        $("#contenedorParcelaB").append('<button class="btn btn-info btn-circle" type="button" onclick="agregarParcela()"><i class="fa fa-plus"></i></button>');
        $("#select_parcela").load(location.href+" #select_parcela>*","");
    }
    </script>
{% endblock %}