{% extends "agricultura/base_agricultura.html" %}

{% block css %}
<link href="/static/agricultura/css/plugins/chosen/chosen.css" rel="stylesheet">
<link href="/static/agricultura/css/style.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">
<!-- Toastr style -->
<link href="/static/agricultura/css/plugins/toastr/toastr.min.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/datapicker/datepicker3.css" rel="stylesheet" type="text/css">
<link href="/static/agricultura/css/imagenes/css/jasny-bootstrap.css" rel="stylesheet" type="text/css">
<link href="/static/agricultura/css/estilos_personalizados.css" rel="stylesheet" type="text/css">
<link href="/static/agricultura/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css">

<style>
    .fileinput-modificado {
        margin-top: 10px;
        display: inline-block;
    }
</style>

{% endblock css %}

{% block contenido %}
<div id="small-chat-modificado">         
    <a class="open-small-chat-modificado">
        <i class="fa fa-search fa-2x"></i>
    </a>
</div>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Modelos de cultivos</h2>
        <h2 class="pull-right" style="margin-top: -35px;">{{empresa}}</h2>
        <ol class="breadcrumb">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Inicio<span class="caret"></span></a> {% include "dropdown-menu.html" %}
            </li>
            <li>
                <a href="/agricultura/inicio">Módulo agricultura</a>
            </li>
            <li class="active">
                <strong>Listar</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>
{% if 'agricultura.list_agr_cultivo' in usuario.get_all_permissions %}
<div class="wrapper wrapper-content animated fadeIn">
    <div class="col-md-12 contenedor-panel fadeInDown animated">
        <form action="{% url 'agricultura:url_cultivo_modelos' %}" method="post">{% csrf_token %}
            <div class="ibox-content m-b-sm border-bottom">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label class="control-label" for="price">Especies</label>
                            <select data-placeholder="Todos" class="chosen-select" style="position:relative; z-index:1000" tabindex="2" id="select_cultivos" name="select_cultivos">
                                <option value="todos">Todos</option>
                                {% for i in especies %}
                                <option value="{{ i.esp_nombre }}">{{ i.esp_nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label class="control-label" for="quantity">Riego</label>
                            <select data-placeholder="Todos" class="chosen-select" style="width:210px;" tabindex="2" id="select_parcelas" name="select_parcelas">
                                <option value="todos">Todos</option>
                                {% for i in datosRiegos %}
                                <option value="{{ i.rie_nombre }}">{{ i.rie_nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label class="control-label" for="status">Accion</label>
                            <span class="input-group-btn"><button type="submit" class="btn btn-primary">Go!</button> </span>
                        </div>
                    </div>
                </div>
                {% if datosConsulta == 'false' %}
                {% else %}
                <center><span>Datos Consultados: Especie: {{ especie }}, Riego: {{ riego }}</span></center>
                {% endif %}
            </div>
        </form>
    </div>
    
    <div class="row animated fadeInRight">
        {% for cultivo in datos_modelos %}
        <div class="col-md-3">
            <div class="file-box">
                <div class="file">
                    <a  onclick="copiarCultivo('{{ cultivo.id }}')">
                        <span class="corner"></span>

                        <div class="icon">
                            <center><a href="/agricultura/detalleModelo/{{ cultivo.id }}"><img class="img-responsive" src="{{ cultivo.especieImg }}" style="width:75px;height:75px;border-radius: 75px;"></a></center>
                        </div>
                        <div class="file-name">
                            <a href="/agricultura/detalleModelo/{{ cultivo.id }}" class="product-name">{{ cultivo.especie }}</a>
                            <small class="text-muted">{{ cultivo.nombreCultivo }}</small>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endif %}
    <div class="modal inmodal fade" id="modalCopiar" tabindex="-1" role="dialog"  aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-md">
            <div class="modal-content animated bounceInRight">
               <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                    <h4 class="modal-title" id="title">Crear Cultivo</h4>
               </div>
            <form class="form-horizontal" id="frmCopiar" method="post" onSubmit = "return validarHectareas(this)" action="{% url 'agricultura:url_copiar_cultivo' %}">
                {% csrf_token %}
                <div class="modal-body">              
                    <div class="form-group">
                        <input type="text" class="form-control hide " name="busq" id="busq">
                        <div class="form-group"><label class="col-lg-4 control-label">Nombre del Cultivo: </label>
                            <div class="col-lg-6"><input type="text" class="form-control" placeholder="Nombre del Cultivo" name="txt_nombre_copiar" id="txt_nombre_copiar" required></div></div>
                            <div class="form-group">
                                <label class="col-lg-4 control-label">Parcela: </label>
                                <div class="col-lg-6">
                                    <select data-placeholder="Escoga la Parcela..." class="chosen-select" style="width:110px;" tabindex="2" id="select_parcela_copiar" name="select_parcela_copiar" onchange="verDatosParcela()">
                                        <option value="x"></option>
                                        {% for i in datosParcelas %}
                                        <option value="{{ i.par_id.sar_id }}">{{ i.par_id.sar_nombre }} Hacienda: {{ i.par_id.ar_id.ar_nombre }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                   <!--  <div class="col-lg-2">
                                    {% if 'agricultura.add_agr_parcela' in usuario.get_all_permissions %}
                                            <a  onclick="agregarParcela()" class="related-widget-wrapper-link add-related" id="add_id_sar_region" title="Agregar Parcela"><img src="/static/admin/img/icon_addlink.gif" width="10" height="10" alt="Agregar"></a>
                                            {% endif %}
                                        </div> -->
                                    </div>
                                    <div class="form-group">
                                <label class="col-lg-4 control-label" for="Longitud:">Hectáreas Disponibles</label>
                                <div class="col-lg-6"><label class="control-label" id="txt_disponibles" name="txt_disponibles"></label></div>   
                            </div>
                                    <div class="form-group"><label class="col-lg-4 control-label">Num Hectareas: </label>
                                        <div class="col-lg-6"><input type="number" class="form-control" placeholder="Hectareas" name="txt_hectareas_copiar" id="txt_hectareas_copiar" required></div></div>
                                        <div class="form-group"><label class="col-lg-4 control-label">Fecha: </label>
                                            <div class="col-lg-6"><input id="fecha_copiar" type="text" name="fecha_copiar" readonly class="form-control" value="" required></div></div>

                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                        <button type="submit" class="btn btn-primary" id="btnModalGuardar">Crear</button>
                                    </div>
                                </form>
                            </div>
        </div>
    </div>
</div>
{% include "includes/modales.html" %}
{% endblock contenido %}

{% block scripts %}
<!-- Morris -->
<script src="/static/agricultura/js/plugins/morris/raphael-2.1.0.min.js"></script>
<script src="/static/agricultura/js/plugins/morris/morris.js"></script>
<script src="/static/agricultura/js/demo/morris-demo.js"></script>

<script src="/static/agricultura/js/plugins/datapicker/bootstrap-datepicker.js"></script>
<script src="/static/agricultura/js/plugins/datapicker/bootstrap-datepicker.es.min.js"></script>
<script src="/static/agricultura/css/imagenes/js/jasny-bootstrap.js"></script>
<script src="/static/agricultura/css/imagenes/js/jasny-bootstrap.min.js"></script>
<script src="/static/agricultura/js/plugins/chosen/chosen.jquery.js"></script>

<script src="/static/agricultura/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="/static/agricultura/scripts/op_modales.js"></script>

<script>
function agregarTipoSueloEvo(){
$('#modalParcelas').modal('hide');
$("#modalSuelo").modal()
}
function agregarParcela(){
$('#modalCopiar').modal('hide');
$("#modalParcelas").modal()
}
function agregarArea(){
$('#modalSubArea').modal('hide');
$("#modalArea").modal()
} 
function agregarSubArea(){
$("#modalParcelas").modal('hide')
$("#modalSubArea").modal()
}
function guardar(id){
var datos = new FormData($('#form_imagen'+id)[0]);
$.ajax({
    data: datos,
    url: '/agricultura/cambiar_imagen_cultivo/',
    type: 'POST',
    contentType:false,
    'dataType': 'json',
    processData:false,
    success: function (data) {
        location.href="/agricultura/cultivo_ver"
    }
});
}
document.onload = cargarFunciones();
function cargarFunciones(){
    $('#fecha_copiar').datepicker({
        format: 'dd/mm/yyyy'});
    $('#contenedorCultivo').addClass('active');
    $('#modeloCultivo').addClass('active');
    $('#data_5 .input-daterange').datepicker({
        keyboardNavigation: false,
        forceParse: false,
        language: "es",
        format:"dd/mm/yyyy",
        todayBtn: "linked",
        todayHighlight: true,
        autoclose: true
    });
    select();
     $('.file-box').each(function() {   
         animationHover(this, 'pulse');
        });
};

function select() {
    var config = {
        '.chosen-select': {},
        '.chosen-select-deselect': {allow_single_deselect: true},
        '.chosen-select-no-single': {disable_search_threshold: 10},
        '.chosen-select-no-results': {no_results_text: 'Oops, nothing found!'},
        '.chosen-select-width': {width: "95%"}
    };
    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }
}

$('.open-small-chat-modificado').click(function () {
    $(this).children().toggleClass('fa-search').toggleClass('fa-remove');
    $('.contenedor-panel').toggleClass('active');
});

function toggle(){
    $('#small-chat-modificado').children().children().toggleClass('fa-search').toggleClass('fa-remove');
    $('.contenedor-panel').toggleClass('active');
}

function copiarCultivo(id){
    $("#modalCopiar").modal();
    $('#busq').val(id);
}
    function validarHectareas(){
        var numeroHectareas=document.getElementById("txt_hectareas_copiar").value
        var hectareasDisponibles=$("#txt_disponibles").html();
        if (parseInt(numeroHectareas) == 0) {
            toastr.error('Número de Hectáreas no puede ser 0','Estado')
            return (false);
        }        
        if (parseInt(numeroHectareas) < 0) {
            toastr.error('Ingrese números positivos','Estado')
            return (false);
        }
        if(parseInt(numeroHectareas)<=parseInt(hectareasDisponibles)){
            return (true);
        }else{
            toastr.options={"progressBar": true}
            toastr.error('El número de Hectáreas a usar es mayor al disponible','Estado')
            return (false);
        }
    }

        function verDatosParcela(){
        id=document.getElementById('select_parcela_copiar').options[document.getElementById('select_parcela_copiar').selectedIndex].value
        $.ajax({
            data: {'id': id},
            url: '/agricultura/detalle_parcela/',
            type: 'get',
            success: function (data) {
                if(data.length != 0){
                    $('#txt_disponibles').html(data[0].parcelaDisponible);
                }else{
                    alert('Parcela no encontrado no encontrado')
                }
            }
        });
    }
</script>
{% endblock scripts %}


