{% extends "iot/base_iot.html" %}
{% block css %}

<link href="/static/agricultura/css/plugins/chosen/chosen.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/select2/select2.min.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/cropper/cropper.min.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/switchery/switchery.css" rel="stylesheet">
<!-- Data Tables -->
<link href="/static/agricultura/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/footable/footable.core.css" rel="stylesheet"> 

<style type="text/css" media="screen">
    .chosen-container{
        width: 100% !important;
    }

    .contenedor-panel {
        display: none;
    }

    .contenedor-panel.active {
        display: block;
    }
</style>

{% endblock css %} 
{% block contenido %}
<div class="row border-bottom white-bg page-heading">
  <div class="row">
    <div class="col-lg-12">
        <h2>Gestión Zonas</h2>
        <h2 class="pull-right" style="margin-top: -35px;">{{empresa}}</h2>
        <ol class="breadcrumb">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Inicio<span class="caret"></span></a>
                {% include "dropdown-menu.html" %}
            </li>
            <li>
                <a href="/iot/visualizar_zonas/">Módulo Monitoreo Y Control</a>
            </li>
            <li class="active">
                <strong>Gestionar Zonas</strong>
            </li>
        </ol>
    </div>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        {% if 'agricultura.list_agr_zona_sensor_actuador' in usuario.get_all_permissions %}
        <div class="col-md-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title" style="width: 100%;">
                    <h5>Lista de Zonas Ingresadas</h5>
                    <div class="ibox-tools">
                        {% if esGeneral %}
                        <select data-placeholder="Escoga Subarea..." class="chosen-select" style="width:250px;" tabindex="2" onchange="buscar(this);">
                            <option value="">Todos</option>
                            {% for i in datos_sub_area %}
                            <option value="{{ i.sar_nombre }}">{{ i.sar_nombre }}</option>
                            {% endfor %}
                        </select>
                        {% else %}
                        <h5>: {{parcela.par_id.sar_nombre}}</h5> {% endif %}
                    </div>
                </div>
                <div class="ibox-content">
                    <input type="text" class="form-control input-sm m-b-xs" id="filter" placeholder="Search in table">
                    <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="8" data-filter=#filter>
                        <thead>
                            <tr>
                                <th data-toggle="true">Nombre</th>
                                <th>Estado</th>
                                <th data-hide="all">Localización </th>
                                <th>Sub Area </th>
                                {% if 'agricultura.change_agr_zona_sensor_actuador' in usuario.get_all_permissions %}
                                <th class="text-right footable-visible footable-last-column" data-sort-ignore="true">Acción</th>
                                {% endif %}
                                <th data-hide="all">Descripción </th>
                                <th data-hide="all">Imagen</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for zonas in datos_zonas %}
                            <tr>
                                <td>{{ zonas.zsa_nombre }}
                                {% if zonas.zsa_nec_act %}
                                <span id="lbl-{{ zonas.zsa_id}}" class="label label-warning">Necesita reconfigurarse</span>
                                {% endif %}</td>
                                {% if 'agricultura.change_agr_zona_sensor_actuador' in usuario.get_all_permissions %}
                                <td>
                                    <div class="switch">
                                        <div class="onoffswitch">
                                            {% if zonas.zsa_estado %}
                                            <input type="checkbox" checked class="onoffswitch-checkbox" value={{ zonas.zsa_estado }} id={{ zonas.zsa_id}} onchange="baja_zona(this, '{{ zonas.zsa_id }}')"> 
                                            {% else %}
                                                {% if zonas.zsa_nec_act %}
                                                    <input disabled type="checkbox" class="onoffswitch-checkbox" value={{ zonas.zsa_estado }} id={{ zonas.zsa_id}} onchange="baja_zona(this, '{{ zonas.zsa_id }}')">
                                                {% else %}
                                                    <input type="checkbox" class="onoffswitch-checkbox" value={{ zonas.zsa_estado }} id={{ zonas.zsa_id}} onchange="baja_zona(this, '{{ zonas.zsa_id }}')">
                                                {% endif %}
                                            {% endif %}
                                            <label class="onoffswitch-label" for={{ zonas.zsa_id }}>
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                    </div>
                                </td>
                                {% else %}
                                <td>
                                    {% if zonas.zsa_estado %}
                                        <span class="label label-primary">ON</span>
                                    {% else %}
                                        <span class="label label-danger">OFF</span>
                                    {% endif %}
                                </td>
                                {% endif %}
                                <td>{{ zonas.zsa_localizacion}}</td>
                                <td>{{ zonas.sar_id.sar_nombre }}</td>
                                {% if 'agricultura.change_agr_zona_sensor_actuador' in usuario.get_all_permissions %}
                                <td class="text-right footable-visible footable-last-column">
                                    {% if zonas.zsa_estado %}
                                        <button id="edit-{{zonas.zsa_id}}" class="btn-white btn btn-xs" onclick="editar_zona({{ zonas.zsa_id }})">Editar</button>
                                        <button id="config-{{zonas.zsa_id}}" class="btn-white btn btn-xs" data-toggle="modal" data-target="#modalConfiguracion" data-id = '{{ zonas.zsa_id }}' data-nombre-zona = '{{ zonas.zsa_nombre }}'>Configurar</button>
                                        <button id="dash-{{zonas.zsa_id}}" class="btn-white btn btn-xs" onclick="ver_zona({{ zonas.zsa_id }})">Dashboard</button>
                                    {% else %}
                                        <button id="edit-{{zonas.zsa_id}}" disabled class="btn-white btn btn-xs" onclick="editar_zona({{ zonas.zsa_id }})">Editar</button>
                                        {% if zonas.zsa_nec_act %}
                                            <button id="config-{{zonas.zsa_id}}" class="btn-danger btn btn-xs" data-toggle="modal" data-target="#modalConfiguracion" data-id = '{{ zonas.zsa_id }}' data-nombre-zona = '{{ zonas.zsa_nombre }}'>Configurar</button>
                                        {% else %}
                                            <button id="config-{{zonas.zsa_id}}" disabled class="btn-white btn btn-xs" data-toggle="modal" data-target="#modalConfiguracion" data-id = '{{ zonas.zsa_id }}' data-nombre-zona = '{{ zonas.zsa_nombre }}'>Configurar</button>
                                        {% endif %}
                                        <button id="dash-{{zonas.zsa_id}}" disabled class="btn-white btn btn-xs" onclick="ver_zona({{ zonas.zsa_id }})">Dashboard</button>
                                    {% endif %}
                                </td>
                                {% endif %}
                                <td>{{ zonas.zsa_descripcion }}
                                </td>
                                <td>
                                    <a href="#modalver" class="btn btn-info btn-xs " data-toggle="modal" data-esp-imagen='{{zonas.zsa_imagen.url}}' data-target="#modalVer" data-placement="top" title="Ver" data-original-title="Mark as read"><i class="fa fa-eye fa-xl"></i> Ver</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5">
                                    <ul class="pagination pull-right"></ul>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        {% endif %} {% if 'agricultura.change_agr_zona_sensor_actuador' in usuario.get_all_permissions %}
        <div class="col-md-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title hvr-overline-from-left" style="width: 100%;">
                    <h5>Ingreso de Zonas</h5>
                </div>
                <div class="ibox-content" id="reiniciar" style="display: block;">
                    <form class="form-horizontal" id="form_zonas" name="form_zonas" method="post" enctype="multipart/form-data" action="{% url 'agricultura:url_zona_agregar' %}">{% csrf_token %}
                        <p>Ingrese todos los datos a continuacion</p>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Nombre:</label>
                            <input name="id" class="hide" id="id">
                            <div class="col-lg-10">
                                <input type="text" placeholder="Nombre de le zona" class="form-control" id="txt_zona" name="txt_zona" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Descripción:</label>
                            <div class="col-lg-10">
                                <textarea rows="5" placeholder="Descripción de le zona" class="form-control" id="txt_descripcion" name="txt_descripcion"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Localización:</label>
                            <div class="col-lg-10">
                                <input type="text" placeholder="Localización de le zona" class="form-control" id="txt_localizacion" name="txt_localizacion" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Imagen:</label>
                            <div class="image-crop" style="max-height: 300px; max-width:100%;">
                                <div class="text-center" id="contenedor_img">
                                <!--<img src="/static/agricultura/img/p3.jpg">-->
                                 </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <label title="Upload image file" for="inputImage" class="btn btn-primary">
                                    <input type="file" accept="image/*" name="file1" id="inputImage1">
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Sub Area:</label>
                            <div class="col-lg-6">
                                <div id="contenedorSelect">
                                    <select data-placeholder="Escoga Subarea..." class="chosen-select" style="width:250px;" tabindex="2" id="select_sub_area" name="select_sub_area">
                                        {% for i in datos_sub_area %}
                                        <option value="{{ i.sar_id }}">{{ i.sar_nombre }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                                <div class="col-lg-4">
                                     {% if 'app_empresa.add_proy_subarea' in usuario.get_all_permissions %}
                                <a  onclick="agregarSubArea()" class="related-widget-wrapper-link add-related" id="add_id_sar_region" title="Agregar Áreas"><img src="/static/admin/img/icon_addlink.gif" width="10" height="10" alt="Agregar"></a>
                                {% endif %}
                                 </div>
                        </div>
                        <div id="div_estado">
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Estado:</label>
                                <div class="switch col-lg-10">
                                    <input type="checkbox" class="js-switch" checked id="check_estado" name="check_estado" />
                                </div>
                            </div>
                        </div>
                        <div class="ibox-footer">
                            <div class="form-group text-rigth">
                                <div class="col-lg-offset-3">
                                    <div id="contenedor_btn">
                                        <button class="btn btn-primary col-lg-offset-3 col-lg-3" type="submit">Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>

<div class="modal inmodal" id="modalConfiguracion" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Configuración Zona</h4>
                <h5 class="font-bold"><label id="nombre">Zona de Riego Sur</label></h5>
                <div id="mensaje_alerta" class="alert alert-warning alert-dismissable contenedor-panel" style="margin-bottom: 0px;">
                    Recuerde que se le reseteará su dashboard cada vez que se realize una configuración nueva.
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6">
                        <center><small class="font-bold">Sensores</small></center>
                        <select data-placeholder="Seleccione.." class="chosen-select" multiple tabindex="4" id="selectSensores">
                        </select>
                    </div>
                    <div class="col-lg-6">
                        <center><small class="font-bold">Actuadores</small></center>
                        <select data-placeholder="Seleccione.." class="chosen-select" multiple tabindex="4" id="selectActuadores">
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div id="contenedorBoton">
                    
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal fade" id="modalVer" tabindex="-1" role="dialog"  aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="animated bounceInRight">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
            <center>
                <img id="imagen" width="400" class="img-circle" height="400">
            </center>
        </div>
    </div>
</div>
{% include "includes/modales.html" %}

{% endblock contenido %} {% block scripts %}
<script src="/static/app_empresa/sector/sector.js"></script>
<script src="/static/app_empresa/sector/typeahead.js"></script>
<script src="/static/plantilla/plugins/typeahead/jquery.easy-autocomplete.min.js"></script>
<script>
    function agregarArea(){
        $('#modalSubArea').modal('hide');
        $("#modalArea").modal()
    }
    function agregarTipoSuelo(){
        $("#modalSuelo").modal()
    }
    function agregarSubArea(){
        $("#modalSubArea").modal()
    }
    cargarDependencias_typeahead("/empresa/sector/cargarDependencias/");
    cargarUbicaciones("{% url 'URLempresa:url_ubicaciones' %}");
    document.onload = cargarFunciones();

    function cargarFunciones() {
        $('#contenedorParcela').addClass('active');
        $('#zona_riego').addClass('active');
           $('#frmSub').on("submit",function(){
        event.preventDefault();
        $.ajax({
            type:"POST",
            url: "/empresa/subarea/sav/",
            dataType: 'json',
            data:$(this).serialize(),
            success: function(response){
                $('#sub_nom').val("");
                $('#sub_etq').val("");
                $('#sub_lat').val("");
                $('#sub_lng').val("");
                $('#sub_hla').val("");
                $('#sub_hlo').val("");
                
                $('#modalSubArea').modal('hide');
                $.get("/empresa/subarea/get/",$.getDataSubArea); // get without token_crsf
                $("#select_sub_area").trigger("chosen:updated");
                
                toastr.options={"progressBar":true};
                toastr.success(response.mensaje,'Subarea');
                
            },

            error: function(){
                toastr.options={"progressBar":true};
                toastr.error("Error",'Subarea');
            }
        });
    });
   $('#frmSuelo').on("submit",function(){
        event.preventDefault();
        $.ajax({
            type:"POST",
            url: "/agricultura/tipo_suelo_agregar/",
            dataType: 'json',
            data:$(this).serialize(),
            success: function(response){
                $('#id_suelo').val("");
                $('#txt_nombre').val("");
                $('#modalSuelo').modal('hide');
                toastr.options={"progressBar":true};
                toastr.success(response.mensaje,'Tipo de Suelo');
                $.get("/agricultura/tiposSuelo/",$.getDataSuelo); // get without token_crsf
            },
            error: function(){
                toastr.options={"progressBar":true};
                toastr.error("Error",'Tipo de Suelo');
            }
        });
    });
    $.getDataSubArea = function(response)
    {
        var datos = "";
        data = response.data;
        $.each(response.data, function(i,value){
            datos+= "<option value="+value.sar_id+">"+value.sar_nombre+"</option>";
        });
        $('#select_sub_area').html(datos);       
        $("#select_sub_area").trigger("chosen:updated");
    };

    mostrar_update();

    }

    function mostrar_update(){
        $.ajax({
        data: { 'id': 'h'},
        url: '/iot/verificar_update/',
        type: 'get',
        success: function(data) {
            var data = JSON.parse(data);
            if (data.result == "OK") {
                toastr.options = { "progressBar": true, "showDuration": "7000" };
                toastr.warning('Algunas zonas se desabilitaron porque se cambió o actualizó los dispositivo de donde se obtienen los datos', 'Información');
            }
        }
    });
    }

    var $inputImage = $("#inputImage");
    if (window.FileReader) {
        $inputImage.change(function() {
            var fileReader = new FileReader(),
                files = this.files,
                file;

            if (!files.length) {
                return;
            }

            file = files[0];

            if (/^image\/\w+$/.test(file.type)) {
                fileReader.readAsDataURL(file);
                fileReader.onload = function() {
                    $inputImage.val("");
                    $image.cropper("reset", true).cropper("replace", this.result);
                };
            } else {
                alert('Deber ser imagen')
            }
        });
    } else {
        $inputImage.addClass("hide");
    }

    $('#modalVer').on('show.bs.modal', function(e) {
    var imagen = $(e.relatedTarget).data('esp-imagen');
    document.getElementById('imagen').src = imagen;
    });

</script>
<script src="/static/agricultura/js/plugins/chosen/chosen.jquery.js"></script>
<script src="/static/agricultura/js/plugins/select2/select2.full.min.js"></script>
<script src="/static/agricultura/js/plugins/cropper/cropper.min.js"></script>
<script src="/static/agricultura/js/plugins/switchery/switchery.js"></script>
<!-- DataTables -->
<script src="/static/agricultura/js/plugins/footable/footable.all.min.js"></script>
<script src="/static/agricultura/scripts/op_zonaRiego.js"></script>
<script src="/static/agricultura/scripts/op_modales.js"></script>


{% endblock scripts %}
