{% extends "agricultura/base_agricultura.html" %}
{% block css %}
<link href="/static/agricultura/css/plugins/slick/slick.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/slick/slick-theme.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/steps/jquery.steps.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/chosen/chosen.css" rel="stylesheet">
<!-- Data Tables -->
<link href="/static/agricultura/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/footable/footable.core.css" rel="stylesheet">
<link href="/static/agricultura/css/imagenes/css/jasny-bootstrap.css" rel="stylesheet" type="text/css">
<link href="/static/agricultura/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css">
<link href="/static/agricultura/css/plugins/select2/select2.min.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/datapicker/datepicker3.css" rel="stylesheet" type="text/css">
<link href="/static/agricultura/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css">



<style>

  .wizard > .content > .body { position: relative; }
  /* Images between <hr> tag */


  hr.style-six {
    padding: 0;
    border: none;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    color: #333;
    text-align: center;
}
hr.style-six:after {
    content:" ";
    display: inline-block;
    position: relative;
    top: -2.1em;
    font-size: 1.5em;
    padding: 19px 1.75em;
    background: #fff url("/static/agricultura/img/hoja.jpg") no-repeat scroll center;
    background-size: 90px 90px;
    height: 50px;
}
</style>
{% endblock css %}
{% block contenido %}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Detalle del Cultivo Modelo</h2>
        <h2 class="pull-right" style="margin-top: -35px;">{{empresa}}</h2>
        <ol class="breadcrumb">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Inicio<span class="caret"></span></a> {% include "dropdown-menu.html" %}
            </li>
            <li>
                <a href="/agricultura/inicio">Módulo agricultura</a>
            </li>
            <li class="active">
                <strong>Detalle cultivo</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" id="reiniciar">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox product-detail">
                <div class="ibox-content">
                <h2 class="font-bold m-b-xs">
                                        Para crear un cultivo de este modelo clic <a onclick="copiarCultivo('{{ datosCultivo.cult_id }}')">AQUI</a></h2>
                <br>                                    
                    <div class="row">
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-lg-8">
                                    <dl class="dl-horizontal">
                                        <dt></dt> <dd><span href="#" class="text-navy"></span> </dd>
                                        <dt>Nombre:</dt> <dd><span href="#" class="text-navy">{{ modelo.mcult_nombre }}</span> </dd>
                                        <dt>Evostranspiracion:</dt> <dd>
                                        {% if datosEvo.tipo == null %}
                                            -
                                        {% else %}
                                        <a href="#" class="text-navy">
                                            {{ datosEvo.tipo}}
                                        </a>
                                        {% endif %}
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row m-t-sm">
                        <div class="col-lg-12">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#tab-3" aria-expanded="true"><i class="fa fa-calendar"></i>1. Pronostico de Riego</a></li>
                                <li class=""><a data-toggle="tab" href="#tab-4" aria-expanded="false"><i class="fa fa-tint"></i>2. Parámetros de Riego</a></li>
                                <li class=""><a data-toggle="tab" href="#tab-5" aria-expanded="false"><i class="fa fa-pagelines"></i>3. Parámetros de Especie</a></li>
                                <li class=""><a data-toggle="tab" href="#tab-6" aria-expanded="false"><i class="fa fa-road"></i>4. Parámetros de Suelo</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="tab-3" class="tab-pane active ">
                                    <div class="panel-body">
                                        <h2>Pronóstico de Riego</h2>
                                        <div class="tabs-container">
                                            <div class="tabs-left">
                                                <ul class="nav nav-tabs">
                                                    <li class="active"><a data-toggle="tab" href="#tab-general" aria-expanded="true">Informacion General</a></li>
                                                    {% for fas in datosFases %}
                                                    <li class=""><a data-toggle="tab" href="#tab-fases{{ fas.fas_id }}" aria-expanded="false">{{ fas.fas_nombre }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                                <div class="tab-content ">
                                                    <div id="tab-general" class="tab-pane active">
                                                        <div class="panel-body">
                                                            <div class="col-xs-12 col-sm-12" >
                                                                <div class="panel panel-primary ">
                                                                    <div class="panel-heading text-center">
                                                                        <i class="fa fa-info-circle">
                                                                            Etapa General
                                                                        </i>
                                                                    </div>
                                                                    <div class="panel-body">
                                                                        <div class="row">
                                                                            <table class="table">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th>
                                                                                            Tipo
                                                                                        </th>
                                                                                        <th>
                                                                                            Descripcion
                                                                                        </th>
                                                                                        <th>
                                                                                            Valor
                                                                                        </th>
                                                                                        <th>
                                                                                            Unidad Medida
                                                                                        </th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    {% for datos in datosFormulas %}
                                                                                    <tr class="">
                                                                                        <td>{{ datos.nombre }}</td>
                                                                                        <td>{{ datos.descripcion }}</td>
                                                                                        <td>{{ datos.valor }}</td>
                                                                                        <td>{{ datos.um }}</td>
                                                                                    </tr>
                                                                                    {% endfor %}
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% for fas in datosFases %}
                                                    <div id="tab-fases{{ fas.fas_id }}" class="tab-pane">
                                                        <div class="panel-body">
                                                            <div class="col-xs-12 col-sm-12" >
                                                                {% for duracion in datosDuracionFases %}
                                                                {% if fas.fas_nombre == duracion.fase.fas_nombre %}
                                                                <h3>Duracion de la Etapa: {{ duracion.valor }} - Dias</h3>
                                                                {% endif %}
                                                                {% endfor %}
                                                                <div class="row">
                                                                    <table class="table">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>
                                                                                    Tipo
                                                                                </th>
                                                                                <th>
                                                                                    Descripcion
                                                                                </th>
                                                                                <th>
                                                                                    Valor
                                                                                </th>
                                                                                <th>
                                                                                    Unidad Medida
                                                                                </th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            {% for datos in datosFasesValores %}
                                                                            <tr class="">
                                                                                {% if datos.fase.fas_nombre == fas.fas_nombre %}
                                                                                <td>{{ datos.tipo.par_abreviatura }}</td>
                                                                                <td>{{ datos.tipo.par_descripcion }}</td>
                                                                                <td>{{ datos.valor }}</td>
                                                                                <td>{{ datos.tipo.par_umedida.umed_abreviatura }}</td>
                                                                                {% endif %}
                                                                            </tr>
                                                                            {% endfor %}
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="tab-4" class="tab-pane">
                                    <div class="panel-body">
                                        <h2>Parámetros de Riego</h2>
                                        <div class="col-md-4"><img class="img-responsive" src="/static/agricultura/img/riegog.png">
                                            <h4><strong>{{ datosCultivo.riego.rie_nombre }}</strong></h4>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-6 col-sm-6" >
                                                <form id="form_riego" action="">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>
                                                                    Tipo
                                                                </th>
                                                                <th>
                                                                    Descripcion
                                                                </th>
                                                                <th>
                                                                    Valor
                                                                </th>
                                                                <th>
                                                                    Unidad Medida
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for datos in datosValores %}
                                                            <tr class="">
                                                                <td>{{ datos.nombre }}</td>
                                                                <td>{{ datos.descripcion }}</td>
                                                                <td>{{ datos.valor }}</td>
                                                                <td>{{ datos.um }}</td>
                                                                </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                    </table>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="tab-5" class="tab-pane">
                                    <div class="panel-body">
                                        <h2>Parámetros de Especie</h2>
                                        <div class="col-md-4"><img class="img-responsive" src="{{ datosEspecie.esp_imagen.url }}">
                                            <h4><strong>{{ datosEspecie.esp_nombre }}</strong></h4>
                                            <p><i class="fa fa-leaf"></i>{{ datosEspecie.esp_categoria.cat_nombre }}</p>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="row" >
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                Tipo
                                                            </th>
                                                            <th>
                                                                Descripcion
                                                            </th>
                                                            <th>
                                                                Valor
                                                            </th>
                                                            <th>
                                                                Unidad Medida
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for datos in datosEspecies %}
                                                        <tr class="">
                                                            <td>{{ datos.nombre }}</td>
                                                            <td>{{ datos.descripcion }}</td>
                                                            <td>{{ datos.valor }}</td>
                                                            <td>{{ datos.um }}</td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="tab-6" class="tab-pane">
                                    <div class="panel-body">
                                        <h2>Parámetros de Suelo</h2>
                                        <div class="col-md-4">
                                            <img class="img-responsive" src="{{ datoSuelo.tsue_imagen.url }}">
                                            <h4><strong>{{ datoSuelo.tsue_nombre }}</strong></h4>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="row" >
                                                  <table class="table">
                                                        <thead>
                                                        <tr>
                                                            <th>
                                                              Tipo
                                                          </th>
                                                          <th>
                                                              Descripcion
                                                          </th>
                                                          <th>
                                                              Valor
                                                          </th>
                                                          <th>
                                                              Unidad Medida
                                                          </th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for datos in datosSuelo %}
                                                                <tr class="">
                                                                    <td>{{ datos.nombre }}</td>
                                                                    <td>{{ datos.descripcion }}</td>
                                                                    <td>{{ datos.valor }}</td>
                                                                    <td>{{ datos.um }}</td>
                                                                </tr>
                                                                {% endfor %}
                                                        </tbody>
                                                  </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
<!-- modales -->
<div class="modal" id="modalPlagas" role="dialog" tabindex="-1" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-md">
        <div class="modal-content animated bounceInRight">
           <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                <h4 class="modal-title" id="title">Crear Plaga</h4>
            </div>
            <form class="form-horizontal" id="frmPlaga">
                {% csrf_token %}
                <div class="modal-body">              
                    <div class="form-group">
                        <input type="hidden" id="accion" name="accion" value="0">
                        <label class="control-label">Tipo Plaga</label>
                        <select class="form-control" name="tipo_plaga" id="tipo_plaga">
                            {% for plaga in tipo_plaga %}
                            <option value="{{plaga.pk}}">{{plaga}}</option>
                            {% endfor %}
                        </select>
                        <input type="hidden" id="plaga_id" name="plaga_id" class="form-control">
                        <input type="hidden" id="accion" value="0">
                        <input type="hidden" name="cultivo_id" id="cul_id" value="{{datosCultivo.cult_id}}">
                        <label class="control-label">Fecha Identificación</label>
                        <input id="fecha" type="text" name="fecha" class="form-control" value="" required>
                        <!--<input type='text' data-date-format="dd-mm-yyyy" class="input-append date" readonly id="fecha" name="fecha" style="width:180px;height:30px" data-position="right top" />-->
                        <label class="control-label">Cant. Plantas Afectadas</label>
                        <input type="number" class="form-control" placeholder="Cant. Plantas Afectadas" name="pa_cant_plantas" id="pa_cant_plantas" required>
                        <label class="control-label">Cant. Hectareas</label>
                        <input type="number" class="form-control" placeholder="Cant. Hectareas Afectadas" name="pa_cant_hectareas" id="pa_cant_hectareas" required>
                        <label class="control-label">Observaciones</label>
                        <textarea class="form-control" name="pa_observaciones" id="pa_observaciones" cols="30" rows="6"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" onclick="guardar_plaga()">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{# modal de añadir nota #}
<div class="modal modal fade in" id="modalNota" tabindex="-1" role="dialog"  aria-hidden="true" style="display: none; ">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                <h4 class="modal-title">Tipo de Parámetro</h4>
            </div>
            <div class="modal-body">
               <form class="form-horizontal" id="form_tipo_parametro" method="post">{% csrf_token %}
                <div class="form-group"><label class="col-lg-2 control-label">Nota</label>
                    <input type="text" placeholder="Nombre" class="form-control" name="txtNombre" id="txtNombre">
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" onclick="agregar()">Agregar</button>
        </div>
    </div>
    </div>
</div>
{# fin modal de añadir nota #}
<div class="modal inmodal fade" id="modalCopiar" tabindex="-1" role="dialog"  aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-md">
            <div class="modal-content animated bounceInRight">
               <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                    <h4 class="modal-title" id="title">Crear Cultivo</h4>
               </div>
                <form class="form-horizontal" id="frmCopiar" method="post" onSubmit = "return validarHectareas(this)" action="{% url 'agricultura:url_copiar_cultivo' %}">
                    {% csrf_token %}
                    <div class="modal-body">              
                        <div class="form-group">
                            <input type="text" class="form-control hide" name="busq" id="busq">
                            <div class="form-group"><label class="col-lg-4 control-label">Nombre del Cultivo: </label>
                                <div class="col-lg-6"><input type="text" class="form-control" placeholder="Nombre del Cultivo" name="txt_nombre_copiar" id="txt_nombre_copiar" required></div></div>
                                <div class="form-group">
                                    <label class="col-lg-4 control-label">Parcela: </label>
                                    <div class="col-lg-6">
                                        <select data-placeholder="Escoga la Parcela..." class="form-control" tabindex="2" id="select_parcela_copiar" name="select_parcela_copiar" onchange="verDatosParcela()">
                                            <option value="x"></option>
                                            {% for i in datosParcelas %}
                                            <option value="{{ i.par_id.sar_id }}">{{ i.par_id.sar_nombre }} Hacienda: {{ i.par_id.ar_id.ar_nombre }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                       <!--  <div class="col-lg-2">
                                        {% if 'agricultura.add_agr_parcela' in usuario.get_all_permissions %}
                                                <a  onclick="agregarParcela()" class="related-widget-wrapper-link add-related" id="add_id_sar_region" title="Agregar Parcela"><img src="/static/admin/img/icon_addlink.gif" width="10" height="10" alt="Agregar"></a>
                                                {% endif %}
                                            </div> -->
                                        </div>
                                        <div class="form-group">
                                <label class="col-lg-4 control-label" for="Longitud:">Hectáreas Disponibles</label>
                                <div class="col-lg-6"><label class="control-label" id="txt_disponibles" name="txt_disponibles"></label></div>   
                            </div>
                                        <div class="form-group"><label class="col-lg-4 control-label">Num Hectáreas: </label>
                                            <div class="col-lg-6"><input type="number" class="form-control" placeholder="Hectáreas" name="txt_hectareas_copiar" id="txt_hectareas_copiar" required></div></div>
                                            <div class="form-group"><label class="col-lg-4 control-label">Fecha de Inicio: </label>
                                                <div class="col-lg-6"><input id="fecha_copiar" type="text" name="fecha_copiar" readonly class="form-control" value="" required></div></div>

                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                            <button type="submit" class="btn btn-primary" id="btnModalGuardar">Crear</button>
                                        </div>
                </form>
            </div>
        </div>
</div>
{% endblock contenido %}
{% block scripts %}

<!-- Mainly scripts -->
<script src="/static/agricultura/js/jquery-2.1.1.js"></script>
<script src="/static/agricultura/js/bootstrap.min.js"></script>
<script src="/static/agricultura/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="/static/agricultura/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="/static/agricultura/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="/static/agricultura/js/plugins/chosen/chosen.jquery.js"></script>
<script src="/static/agricultura/js/plugins/select2/select2.full.min.js"></script>

<!-- Steps -->
<script src="/static/agricultura/js/plugins/staps/jquery.steps.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="/static/agricultura/js/inspinia.js"></script>
<script src="/static/agricultura/js/plugins/pace/pace.min.js"></script>

<!-- Jquery Validate -->
<script src="/static/agricultura/js/plugins/validate/jquery.validate.min.js"></script>

<!-- slick carousel-->
<script src="/static/agricultura/js/plugins/slick/slick.min.js"></script>


<script src="/static/agricultura/css/imagenes/js/jasny-bootstrap.js"></script>
<script src="/static/agricultura/css/imagenes/js/jasny-bootstrap.min.js"></script>

<!-- plagas -->
<script src="/static/agricultura/scripts/op_detallecultivo.js"></script>

<!-- DataTables -->
<script src="/static/agricultura/js/plugins/footable/footable.all.min.js"></script>
<script src="/static/agricultura/js/plugins/datapicker/bootstrap-datepicker.js"></script>
<script src="/static/agricultura/js/plugins/datapicker/bootstrap-datepicker.es.min.js"></script>
<script src="/static/agricultura/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>

<script>
document.onload = cargarFunciones();
    function cargarFunciones(){
        $('#fecha_copiar').datepicker({
            format: 'dd/mm/yyyy'});
        select();
}
    $("#modalPlagas").on("show.bs.modal",function(event){
        if($(event.relatedTarget).attr("title")==="Agregar") {
            $("#accion").val("0");
            $('#plaga_id').val("");
            $('#fecha').val("");
            $('#pa_cant_plantas').val("");
            $('#pa_cant_hectareas').val("");
            $('#pa_observaciones').val("");
        }
    });

    $("#frmCosecha").validate({
        rules: {
            cos_cant: { required:true,digits: true,},
            cos_cant_hec: { required: true,digits: true,},
            cos_prec_ven: { required: true,digits: true,},
            cos_obser:{required:false,},
            cos_cost_produc:{required:true,digits:true,}
        },
        messages: {
            cos_cant: "Ingrese la cantidad cosechada",
            cos_cant_hec: "Ingrese la cantidad de hectareas cosechadas",
            cos_prec_ven : "Ingrese el precio de venta por unidad especificada",
            cos_cost_produc:"Introduzca el costo de Produccion",
        },
        submitHandler: function(form){
            verificaGuardar('{{ datosCultivo.pk }}');

        }

        
    });





    function verificaGuardar(id){
      if (document.getElementById('accion').value=='0'){
    //guarda nueva cosecha
    $.ajax({
        data: {'id': id, //id cultivo
        'fecha':$("#cos_fech").val(),
        'cantidad_cosechada':$("#cos_cant").val(),
        'observacion':$("#cos_obser").val(),
        'precio_venta':$("#cos_prec_ven").val(),
        'costo_produccion':$("#cos_cost_produc").val(),
        'cant_hect_cosechadas':$("#cos_cant_hec").val(),
        'medida_id':$("#u_med").val()},
        url: '/agricultura/guardar_cosecha/',
        type: 'get',
        success: function (data) {
          if (data.result=="OK"){
            //location.href="/agricultura/detalle/"+id+"/"
            toastr.options={"progressBar": true}
            toastr.success('Se guardo la cosecha','Estado')
            // swal("Nueva Cosecha", "Generada " , "success");
            //$('#modalVer').modal('toggle');
            //$("#modalVer").modal().hide();

            $('#modalVer').modal('hide');
            $('body').removeClass('modal-open');
            $('.modal-backdrop').remove();
            actualizar_tabla_cosechas(id);
            
        }else{
            toastr.options={"progressBar": true}
            toastr.error('No se guardo la cosecha!','Estado')
           // swal("No se guardo la cosecha!", "cosecha no guardada.", "error");

       }
   }
});
}else{
    //Edita la cosecha en referencia
    id=document.getElementById('cose_id').value
    $.ajax({
        data: {'id': id, //id cosecha
        'fecha':$("#cos_fech").val(),
        'cantidad_cosechada':$("#cos_cant").val(),
        'observacion':$("#cos_obser").val(),
        'precio_venta':$("#cos_prec_ven").val(),
        'costo_produccion':$("#cos_cost_produc").val(),
        'cant_hect_cosechadas':$("#cos_cant_hec").val(),
        'medida_id':$("#u_med").val()},
        url: '/agricultura/editar_cosecha/',
        type: 'get',
        success: function (data) {
          if (data.result=="OK"){
            //location.href="/agricultura/detalle/"+id+"/"

            //$('#modalVer').modal('toggle');
            //$("#modalVer").modal().hide();

            $('#modalVer').modal('hide');
            $('body').removeClass('modal-open');
            $('.modal-backdrop').remove();
            actualizar_tabla_cosechas('{{datosCultivo.cult_id }}');
            toastr.options={"progressBar": true}
            toastr.success('Edicion realizada!','Estado')
            // swal("Edicion realizada ", "Datos de cosecha actualizados" , "success");
        }else{
                        toastr.options={"progressBar": true}
            toastr.error('No se actualizo la cosecha!','Estado')
           // swal("No se actualizo la cosecha!", "actualizacion no guardada.", "error");

       }
   }
});



}

}




function editar_cosecha(id_cosecha){
  document.getElementById('cose_id').value=id_cosecha;
  document.getElementById('accion').value='1';
  $.ajax({
    data: {'id': id_cosecha},
    url: '/agricultura/consulta_cosecha/',
    type: 'get',
    success: function (data) {
        var options = {weekday: "long", year: "numeric", month: "long", day: "numeric"};
        document.getElementById('cos_fech').value=new Date(data[0].fecha).toLocaleDateString("es-ES", options);
        document.getElementById('cos_cant').value=data[0].cantidad_cosechada;
        document.getElementById('cos_obser').value=data[0].observacion;
        document.getElementById('cos_prec_ven').value=data[0].precio_venta;
        document.getElementById('cos_cost_produc').value=data[0].costo_produccion;
        document.getElementById('cos_cant_hec').value=data[0].cant_hect_cosechadas;
        document.getElementById('u_med').value=data[0].medida;
    }
}
); 

}

function nueva_cosecha(){

  document.getElementById('accion').value='0';
  document.getElementById('cose_id').value='0';
  $('#cos_fech').val("");
  $('#cos_cant').val("");
  $('#cos_obser').val("");
  $('#cos_prec_ven').val("");
  $('#cos_cost_produc').val("");
  $('#cos_cant_hec').val("");
  $('#u_med').val(1); 







}


function deleteRows(tableID) {
   try {
     var table = document.getElementById(tableID);
     var rowCount = table.rows.length;
     // alert(rowCount);
     for(var i=rowCount-1; i>=1; i=i-1) {
        // alert(i);
        table.deleteRow(i);

    }

}catch(e) {
  console.log(e);
}

}




function presentar_cosechas(id){
  var tabla= document.getElementById("tblCosecha");
  if(tabla.rows.length<3){
    genererarTabla_cosecha(id);
}
}


function actualizar_tabla_cosechas(id){
  var tabla= document.getElementById("tblCosecha");
  if(tabla.rows.length<=2){
    genererarTabla_cosecha(id);
}else{
    deleteRows("tblCosecha");
    genererarTabla_cosecha(id);
} 
}





function genererarTabla_cosecha(id){
  $.ajax({
    data: {'id': id},
    url: '/agricultura/listar_cosechas/',
    type: 'get',
    success: function (data) {
      if (data[0].result=="OK"){
        var tabla= document.getElementById("fila");
        for (var i = 0; i < data[1].length; i++) {
          var row = tabla.insertRow(i);
          var cell1 = row.insertCell(0);
          cell1.innerHTML = new Date(data[1][i].fecha).toLocaleString();
          var cell2 = row.insertCell(1);
          cell2.innerHTML = data[1][i].cantidad_cosechada+" "+data[1][i].medida;
          var cell3 = row.insertCell(2);
          cell3.innerHTML = data[1][i].cant_hect_cosechadas;
          var cell4 = row.insertCell(3);
          cell4.innerHTML = data[1][i].precio_venta;
          var cell5 = row.insertCell(4);
          cell5.innerHTML = data[1][i].costo_produccion;
          var cell6 = row.insertCell(5);
          cell6.innerHTML = data[1][i].observacion;
          var cell7 = row.insertCell(6);
          str="<input class='btn btn-primary' id='edita_cosecha' data-target='#modalVer' data-toggle='modal' value='Editar' type='button' onclick='editar_cosecha("+data[1][i].id+")'/>";
          cell7.innerHTML=str;
      }
  }
}   
});
}

$(document).ready(function(){

    $( "#nueva_cosecha" ).click(function() {
      startTime();
  });

    $( "#edita_cosecha" ).click(function() {
        $('#cos_id').val("1");
    });




    $('.product-images').slick({
        dots: true
    });
    $('#fecha').datepicker({
        format: 'yyyy-mm-dd'});

    $(function () {
        $('#modal').modal('toggle');
    });

            //configuracion de la tabla
            $('.footable').footable();
            $("#frmCosecha").validate({
                rules: {
                    cos_cant: { required:true,digits: true,},
                    cos_cant_hec: { required: true,digits: true,},
                    cos_prec_ven: { required: true,digits: true,},
                    cos_obser:{required:false,},
                    cos_cost_produc:{required:true,digits:true,}
                },
                messages: {
                    cos_cant: "Ingrese la cantidad cosechada",
                    cos_cant_hec: "Ingrese la cantidad de hectareas cosechadas",
                    cos_prec_ven : "Ingrese el precio de venta por unidad especificada",
                    cos_cost_produc:"Introduzca el costo de Produccion",
                },
                submitHandler: function(form){
                    verificaGuardar('{{ datosCultivo.pk }}');

                }


            });
            $("#wizard").steps();
            $("#form").steps({
                bodyTag: "fieldset",
                onStepChanging: function (event, currentIndex, newIndex)
                {
                    // Always allow going backward even if the current step contains invalid fields!
                    if (currentIndex > newIndex)
                    {
                        return true;
                    }

                      // Forbid suppressing "Warning" step if the user is to young
                      if (newIndex === 3 && Number($("#age").val()) < 18)
                      {
                        return false;
                    }

                    var form = $(this);

                      // Clean up if user went backward before
                      if (currentIndex < newIndex)
                      {
                          // To remove error styles
                          $(".body:eq(" + newIndex + ") label.error", form).remove();
                          $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                      }

                      // Disable validation on fields that are disabled or hidden.
                      form.validate().settings.ignore = ":disabled,:hidden";

                      // Start validation; Prevent going forward if false
                      return form.valid();
                  },
                  onStepChanged: function (event, currentIndex, priorIndex)
                  {
                      // Suppress (skip) "Warning" step if the user is old enough.
                      if (currentIndex === 2 && Number($("#age").val()) >= 18)
                      {
                        $(this).steps("next");
                    }

                      // Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
                      if (currentIndex === 2 && priorIndex === 3 && priorIndex === 4)
                      {
                        $(this).steps("previous");
                    }
                },
                onFinishing: function (event, currentIndex)
                {
                  var form = $(this);

                      // Disable validation on fields that are disabled.
                      // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
                      form.validate().settings.ignore = ":disabled";

                      // Start validation; Prevent form submission if false
                      return form.valid();
                  },
                  onFinished: function (event, currentIndex)
                  {
                      var form = $(this);
                      // Submit form input
                      form.submit();
                  }
              })

        });



function startTime(){
  today=new Date();
  h=today.getHours();
  m=today.getMinutes();
  s=today.getSeconds();
  m=checkTime(m);
  s=checkTime(s);
  var llamada= '';
  document.getElementById('cos_fech').value= today.getDate() + "/" + (today.getMonth() +1) + "/" + today.getFullYear()+" "+h+":"+m+":"+s;
  if (document.getElementById("cose_id").value=='0'){
    llamada= 'startTime()';
}
t=setTimeout(llamada,250);}

function checkTime(i)
{if (i<10) {i="0" + i;}return i;}


function cosechar(id){
    swal({   title: "Desea terminar el cultivo?",
        text: "Este cultivo solo sera de lectura!",
        type: "warning",   showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "Si, Cosechar!",
        closeOnConfirm: false }, function(){
            $.ajax({
                data: {'id': id},
                url: '/agricultura/cosechar/',
                type: 'get',
                success: function (data) {
                    if (data.result=="OK"){
                        swal("Se cosecho el cultivo!", "Podra visualizar el cultivo en listar.", "success");
                        location.href='/agricultura/detalle/{{ datosCultivo.id }}/'
                    }else{
                    }
                }
            });
        });


}


function verificaGuardar(id){
  if (document.getElementById('accion').value=='0'){
    //guarda nueva cosecha
    $.ajax({
        data: {'id': id, //id cultivo
        'fecha':$("#cos_fech").val(),
        'cantidad_cosechada':$("#cos_cant").val(),
        'observacion':$("#cos_obser").val(),
        'precio_venta':$("#cos_prec_ven").val(),
        'costo_produccion':$("#cos_cost_produc").val(),
        'cant_hect_cosechadas':$("#cos_cant_hec").val(),
        'medida_id':$("#u_med").val()},
        url: '/agricultura/guardar_cosecha/',
        type: 'get',
        success: function (data) {
          if (data.result=="OK"){
            //location.href="/agricultura/detalle/"+id+"/"
                        toastr.options={"progressBar": true}
            toastr.success('Se guardo la cosecha','Estado')
            // swal("Nueva Cosecha", "Generada " , "success");
            //$('#modalVer').modal('toggle');
            //$("#modalVer").modal().hide();

            $('#modalVer').modal('hide');
            $('body').removeClass('modal-open');
            $('.modal-backdrop').remove();
            actualizar_tabla_cosechas(id);
            
        }else{
                        toastr.options={"progressBar": true}
            toastr.error('No se guardo la cosecha!','Estado')
           // swal("No se guardo la cosecha!", "cosecha no guardada.", "error");

       }
   }
});
}else{
    //Edita la cosecha en referencia
    id=document.getElementById('cose_id').value
    $.ajax({
        data: {'id': id, //id cosecha
        'fecha':$("#cos_fech").val(),
        'cantidad_cosechada':$("#cos_cant").val(),
        'observacion':$("#cos_obser").val(),
        'precio_venta':$("#cos_prec_ven").val(),
        'costo_produccion':$("#cos_cost_produc").val(),
        'cant_hect_cosechadas':$("#cos_cant_hec").val(),
        'medida_id':$("#u_med").val()},
        url: '/agricultura/editar_cosecha/',
        type: 'get',
        success: function (data) {
          if (data.result=="OK"){
            //location.href="/agricultura/detalle/"+id+"/"

            //$('#modalVer').modal('toggle');
            //$("#modalVer").modal().hide();

            $('#modalVer').modal('hide');
            $('body').removeClass('modal-open');
            $('.modal-backdrop').remove();
            actualizar_tabla_cosechas('{{datosCultivo.cult_id }}');
                        toastr.options={"progressBar": true}
            toastr.success('Edicion realizada','Estado')
            // swal("Edicion realizada ", "Datos de cosecha actualizados" , "success");
        }else{
                        toastr.options={"progressBar": true}
            toastr.error('No se actualizo la cosecha!','Estado')
           // swal("No se actualizo la cosecha!", "actualizacion no guardada.", "error");

       }
   }
});



}

}




function editar_cosecha(id_cosecha){
  document.getElementById('cose_id').value=id_cosecha;
  document.getElementById('accion').value='1';
  $.ajax({
    data: {'id': id_cosecha},
    url: '/agricultura/consulta_cosecha/',
    type: 'get',
    success: function (data) {
        var options = {weekday: "long", year: "numeric", month: "long", day: "numeric"};
        document.getElementById('cos_fech').value=new Date(data[0].fecha).toLocaleDateString("es-ES", options);
        document.getElementById('cos_cant').value=data[0].cantidad_cosechada;
        document.getElementById('cos_obser').value=data[0].observacion;
        document.getElementById('cos_prec_ven').value=data[0].precio_venta;
        document.getElementById('cos_cost_produc').value=data[0].costo_produccion;
        document.getElementById('cos_cant_hec').value=data[0].cant_hect_cosechadas;
        document.getElementById('u_med').value=data[0].medida;
    }
}
); 

}

function nueva_cosecha(){

  document.getElementById('accion').value='0';
  document.getElementById('cose_id').value='0';
  $('#cos_fech').val("");
  $('#cos_cant').val("");
  $('#cos_obser').val("");
  $('#cos_prec_ven').val("");
  $('#cos_cost_produc').val("");
  $('#cos_cant_hec').val("");
  $('#u_med').val(1); 







}


function deleteRows(tableID) {
   try {
     var table = document.getElementById(tableID);
     var rowCount = table.rows.length;
     // alert(rowCount);
     for(var i=rowCount-1; i>=1; i=i-1) {
        // alert(i);
        table.deleteRow(i);

    }

}catch(e) {
  console.log(e);
}

}




function presentar_cosechas(id){
  var tabla= document.getElementById("tblCosecha");
  if(tabla.rows.length<3){
    genererarTabla_cosecha(id);
}
}


function actualizar_tabla_cosechas(id){
  var tabla= document.getElementById("tblCosecha");
  if(tabla.rows.length<=2){
    genererarTabla_cosecha(id);
}else{
    deleteRows("tblCosecha");
    genererarTabla_cosecha(id);
} 
}

function genererarTabla_cosecha(id){
  $.ajax({
    data: {'id': id},
    url: '/agricultura/listar_cosechas/',
    type: 'get',
    success: function (data) {
      if (data[0].result=="OK"){
        var tabla= document.getElementById("fila");
        for (var i = 0; i < data[1].length; i++) {
          var row = tabla.insertRow(i);
          var cell1 = row.insertCell(0);
          cell1.innerHTML = new Date(data[1][i].fecha).toLocaleString();
          var cell2 = row.insertCell(1);
          cell2.innerHTML = data[1][i].cantidad_cosechada+" "+data[1][i].medida;
          var cell3 = row.insertCell(2);
          cell3.innerHTML = data[1][i].cant_hect_cosechadas;
          var cell4 = row.insertCell(3);
          cell4.innerHTML = data[1][i].precio_venta;
          var cell5 = row.insertCell(4);
          cell5.innerHTML = data[1][i].costo_produccion;
          var cell6 = row.insertCell(5);
          cell6.innerHTML = data[1][i].observacion;
          var cell7 = row.insertCell(6);
          str="<input class='btn btn-warning btn-xs' id='edita_cosecha' data-target='#modalVer' data-toggle='modal' value='Editar' type='button' onclick='editar_cosecha("+data[1][i].id+")'/>";
          cell7.innerHTML=str;
      }
  }
}   
});
}


function  agregar(id){
  swal({   title: "Ingrese la nota!",
    text: "Escriba algo de interes:",
    type: "input",   showCancelButton: true,
    closeOnConfirm: false,   animation: "slide-from-top",
    inputPlaceholder: "Ingrese.." }, function(inputValue){
      if (inputValue === false) return false;
      if (inputValue === "") {
        swal.showInputError("Se necesita ingresar!");     return false   }
        $.ajax({
          data: {'id': id, 'nota':inputValue},
          url: '/agricultura/agregar_nota/',
          type: 'get',
          success: function (data) {
            if (data.result=="OK"){
              swal("Se guardo!", "Su nota " + inputValue, "success");
          }else{
          }
      }
  });});
}
function  eliminarNota(id){
  $.ajax({
    data: {'id': id},
    url: '/agricultura/eliminar_nota/',
    type: 'get',
    success: function (data) {
      if (data.result=="OK"){
        $("#tbl-notas").load(location.href+" #tbl-notas>*","");
        toastr.options={"progressBar": true}
        toastr.success('La nota se elimino','Estado')
    }else{
    }
}
});
}
function guardar(id){
  var datos = new FormData($('#form_imagen'+id)[0]);
  $.ajax({
    data: datos,
    url: '/agricultura/editar_imagen_cultivo/',
    type: 'POST',
    contentType:false,
    'dataType': 'json',
    processData:false,
    success: function (data) {
      location.href="/agricultura/detalle/"+id+"/"
  }
});
}
function agregarImagen(id){
  var datos = new FormData($('#form_agregar')[0]);
  $.ajax({
    data: datos,
    url: '/agricultura/agregar_imagen_cultivo/',
    type: 'POST',
    contentType:false,
    'dataType': 'json',
    processData:false,
    success: function (data) {
      location.href="/agricultura/detalle/"+id+"/"
  }
});
}

function select() {
    var config = {
        '.chosen-select': {},
        '.chosen-select-deselect': {allow_single_deselect: true},
        '.chosen-select-no-single': {disable_search_threshold: 10},
        '.chosen-select-no-results': {no_results_text: 'Oops, nothing found!'},
        '.chosen-select-width': {width: "95%"}
    };
    for (var selector in config) {
        $(selector).chosen(config[selector]);
    }
}                            

function copiarCultivo(id){
    $("#modalCopiar").modal();
    select();
    $('#busq').val(id);
}
    function validarHectareas(){
        var numeroHectareas=document.getElementById("txt_hectareas_copiar").value
        var hectareasDisponibles=$("#txt_disponibles").html();
        if (parseInt(numeroHectareas) == 0) {
            toastr.error('Número de Hectáreas no puede ser 0','Estado')
            return (false);
        }
        if (parseInt(numeroHectareas) < 0) {
            toastr.error('Ingrese números positivos','Estado')
            return (false);
        }
        if(parseInt(numeroHectareas)<=parseInt(hectareasDisponibles)){
            return (true);
        }else{
            toastr.options={"progressBar": true}
            toastr.error('El número de Hectáreas a usar es mayor al disponible','Estado')
            return (false);
        }
    }

        function verDatosParcela(){
        id=document.getElementById('select_parcela_copiar').options[document.getElementById('select_parcela_copiar').selectedIndex].value
        $.ajax({
            data: {'id': id},
            url: '/agricultura/detalle_parcela/',
            type: 'get',
            success: function (data) {
                if(data.length != 0){
                    $('#txt_disponibles').html(data[0].parcelaDisponible);
                }else{
                    alert('Parcela no encontrado no encontrado')
                }
            }
        });
    }
</script>

{% endblock scripts %}
