{% extends "agricultura/base_agricultura.html" %}
{% block css %}
<link href="/static/agricultura/css/plugins/slick/slick.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/slick/slick-theme.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/steps/jquery.steps.css" rel="stylesheet">

<!-- Data Tables -->
<link href="/static/agricultura/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/footable/footable.core.css" rel="stylesheet">
<link href="/static/agricultura/css/imagenes/css/jasny-bootstrap.css" rel="stylesheet" type="text/css">
<link href="/static/agricultura/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css">
<style>

  .wizard > .content > .body { position: relative; }
  /* Images between <hr> tag */


  hr.style-six {
    padding: 0;
    border: none;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    color: #333;
    text-align: center;
}
hr.style-six:after {
    content:" ";
    display: inline-block;
    position: relative;
    top: -2.1em;
    font-size: 1.5em;
    padding: 19px 1.75em;
    background: #fff url("/static/agricultura/img/hoja.jpg") no-repeat scroll center;
    background-size: 90px 90px;
    height: 50px;
}
</style>
{% endblock css %}
{% block contenido %}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Detalle Cultivo</h2>
        <h2 class="pull-right" style="margin-top: -35px;">{{empresa}}</h2>
        <ol class="breadcrumb">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Inicio<span class="caret"></span></a> {% include "dropdown-menu.html" %}
            </li>
            <li>
                <a href="/agricultura/inicio">Módulo agricultura</a>
            </li>
            <li class="active">
                <strong>Detalle cultivo</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>

<div class="wrapper wrapper-content animated fadeInRight" id="reiniciar">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox product-detail">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="m-b-md">

                                        {% if datosCultivo.cult_estado %}

                                        <a class="stat-percent btn btn-outline btn-danger btn-xs" data-toggle="tooltip" data-placement="top" title="Cosechar" data-original-title="Regar" onclick="cosechar('{{ datosCultivo.cult_id }}')"><i class="fa fa-bitbucket"></i>  Cosechar</a>
                                        {% endif %}
                                        <a class="stat-percent btn btn-outline btn-warning btn-xs" data-toggle="tooltip" data-placement="top" title="Cosechar" data-original-title="Regar" onclick="modelo('{{ datosCultivo.cult_id }}')"><i class="fa fa-magic"></i>  Crear Modelo</a>
                                        <h2>{{ datosCultivo.cult_detalle }}</h2>
                                    </div>
                                    <dl class="dl-horizontal">
                                        <dt>Status:</dt> 
                                        <dd>{% if datosCultivo.cult_estado %}
                                        <span class="label label-primary">Active</span>
                                        {% else %}
                                        <span class="label label-danger">Inactivo</span>
                                        {% endif %}
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-5">
                                    <dl class="dl-horizontal">

                                        <dt>Detalle:</dt> <dd>{{ datosCultivo.cult_descripcion }}</dd>
                                        <dt>Hectareas:</dt> <dd>{{ datosCultivo.cult_num_hectareas }}</dd>
                                        <dt>Evostranspiracion:</dt> <dd>
                                        {% if datosEvo.tipo == null %}
                                            Sin asignar
                                        {% else %}
                                        <a href="#" class="text-navy">
                                            {{ datosEvo.tipo}}
                                        </a>
                                        {% endif %}
                                        </dd>
                                        <dt>Fecha Inicio:</dt> <dd>{{ datosCultivo.cult_fecha }}</dd>
                                        <dt>Fecha Fin:</dt> <dd>{{ datosCultivo.cult_fecha_fin }}</dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <dl class="dl-horizontal">
                                        <dt>Completo:</dt>
                                        <dd>
                                            <div class="progress progress-striped active m-b-sm">
                                                <div style="width: {{ var }}%;" class="progress-bar"></div>
                                            </div>
                                            <small>Cultivo completo en <strong>{{ var }}%</strong></small>
                                        </dd>. 
                                    </dl>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="product-images">
                                <div class="text-center">
                                    <center><img src="{{ datosCultivo.esp_id.esp_imagen.url}}" alt="" width="200" height="200" class="img-circle"></center>
                                    <div class="text-center">
                                        <address>
                                            <strong>{{ datosCultivo.esp_id.esp_nombre }}</strong><br>
                                            {{ datosCultivo.esp_id.esp_categoria.cat_nombre }}<br>
                                        </address>
                                    </div>
                                </div>
                                <div>
                                    <div class="text-center">
                                        <center><img src="{{ datosCultivo.parcela.par_id.sar_imagen.url}}" alt="" width="200" height="200" class="img-circle">
                                            <div class="text-center">
                                                <address>
                                                    <strong>{{ datosCultivo.parcela.par_id.sar_nombre }}</strong><br>
                                                    Latitud: {{ datosCultivo.parcela.par_id.sar_latitud }} {{ datosCultivo.parcela.par_id.sar_hem_lat }}<br>
                                                    Longitud: {{ datosCultivo.parcela.par_id.sar_longitud }} {{ datosCultivo.parcela.par_id.sar_hem_lon }}<br>
                                                    Area: Neta {{ datosCultivo.parcela.par_area_neta }} Bruta {{ datosCultivo.parcela.par_area_bruta}}<br>
                                                    Hectareas {{ datosCultivo.parcela.par_hectareas }}
                                                </address>
                                            </div>
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="" ss="row">
                          <label for=""></label>
                        </div>
                    </div>
                    <hr class="style-six">
                    <div class="row m-t-sm">
                        <div class="col-lg-12">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#tab-3" aria-expanded="true"><i class="fa fa-calendar"></i>1. Pronostico de Riego</a></li>
                                <li class=""><a data-toggle="tab" href="#tab-4" aria-expanded="false"><i class="fa fa-tint"></i>2. Parámetros de Riego</a></li>
                                <li class=""><a data-toggle="tab" href="#tab-5" aria-expanded="false"><i class="fa fa-pagelines"></i>3. Parámetros de Especie</a></li>
                                <li class=""><a data-toggle="tab" href="#tab-6" aria-expanded="false"><i class="fa fa-road"></i>4. Parámetros de Suelo</a></li>
                                <li class=""><a data-toggle="tab" href="#tab-7" aria-expanded="false"><i class="fa fa-picture-o"></i>5. Imagenes del Cultivo</a></li>
                                <li class=""><a data-toggle="tab" href="#tab-8" aria-expanded="false"><i class="fa fa-bug"></i>6. Plagas</a></li>

                                <li class=""><a data-toggle="tab" id="tab9" href="#tab-9" onclick="presentar_cosechas('{{datosCultivo.cult_id }}')" aria-expanded="false"><i class="fa fa-truck">   </i>7. Cosechas</a></li>
                                <li class=""><a data-toggle="tab" href="#tab-10" aria-expanded="false"><i class="fa fa-file-text"></i>8. Observaciones</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="tab-3" class="tab-pane active ">
                                    <div class="panel-body">
                                        <h2>Pronóstico de Riego</h2>
                                        <div class="tabs-container">
                                            <div class="tabs-left">
                                                <ul class="nav nav-tabs">
                                                    <li class="active"><a data-toggle="tab" href="#tab-general" aria-expanded="true">Informacion General</a></li>
                                                    {% for fas in datosFases %}
                                                    <li class=""><a data-toggle="tab" href="#tab-fases{{ fas.fas_id }}" aria-expanded="false">{{ fas.fas_nombre }}</a></li>
                                                    {% endfor %}
                                                </ul>
                                                <div class="tab-content ">
                                                    <div id="tab-general" class="tab-pane active">
                                                        <div class="panel-body">
                                                            <div class="col-xs-12 col-sm-12" >
                                                                <div class="panel panel-primary ">
                                                                    <div class="panel-heading text-center">
                                                                        <i class="fa fa-info-circle">
                                                                            Etapa General
                                                                        </i>
                                                                    </div>
                                                                    <div class="panel-body">
                                                                        <div class="row">
                                                                            <table class="table">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th>
                                                                                            Tipo
                                                                                        </th>
                                                                                        <th>
                                                                                            Descripcion
                                                                                        </th>
                                                                                        <th>
                                                                                            Valor
                                                                                        </th>
                                                                                        <th>
                                                                                            Unidad Medida
                                                                                        </th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    {% for datos in datosFormulas %}
                                                                                    <tr class="">
                                                                                        <td>{{ datos.nombre }}</td>
                                                                                        <td>{{ datos.descripcion }}</td>
                                                                                        <td>{{ datos.valor }}</td>
                                                                                        <td>{{ datos.um }}</td>
                                                                                    </tr>
                                                                                    {% endfor %}
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% for fas in datosFases %}
                                                    <div id="tab-fases{{ fas.fas_id }}" class="tab-pane">
                                                        <div class="panel-body">
                                                            <div class="col-xs-12 col-sm-12" >
                                                                {% for duracion in datosDuracionFases %}
                                                                {% if fas.fas_nombre == duracion.fase.fas_nombre %}
                                                                <h3>Duracion de la Etapa: {{ duracion.valor }} - Dias</h3>
                                                                {% endif %}
                                                                {% endfor %}
                                                                <div class="row">
                                                                    <table class="table">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>
                                                                                    Tipo
                                                                                </th>
                                                                                <th>
                                                                                    Descripcion
                                                                                </th>
                                                                                <th>
                                                                                    Valor
                                                                                </th>
                                                                                <th>
                                                                                    Unidad Medida
                                                                                </th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            {% for datos in datosFasesValores %}
                                                                            <tr class="">
                                                                                {% if datos.fase.fas_nombre == fas.fas_nombre %}
                                                                                <td>{{ datos.tipo.par_abreviatura }}</td>
                                                                                <td>{{ datos.tipo.par_descripcion }}</td>
                                                                                <td>{{ datos.valor }}</td>
                                                                                <td>{{ datos.tipo.par_umedida.umed_abreviatura }}</td>
                                                                                {% endif %}
                                                                            </tr>
                                                                            {% endfor %}
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="tab-4" class="tab-pane">
                                    <div class="panel-body">
                                        <h2>Párametros de Riego</h2>
                                        <div class="row">
                                            <div class="col-xs-6 col-sm-6" >
                                                <form id="form_riego" action="">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>
                                                                    Tipo
                                                                </th>
                                                                <th>
                                                                    Descripcion
                                                                </th>
                                                                <th>
                                                                    Valor
                                                                </th>
                                                                <th>
                                                                    Unidad Medida
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for datos in datosValores %}
                                                            <tr class="">
                                                                <td>{{ datos.nombre }}</td>
                                                                <td>{{ datos.descripcion }}</td>
                                                                <!-- td><input type="text" class="form-control"  value="{{ datos.valor }}" name="tipo-{{datos.tipo}}"></td> -->
                                                                <td>{{ datos.valor }}
                                                                    <td>{{ datos.um }}</td>
                                                                </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                    </table>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="tab-5" class="tab-pane">
                                    <div class="panel-body">
                                        <h2>Párametros de Especie</h2>
                                        <div class="col-md-4"><img class="img-responsive" src="{{ datosEspecie.esp_imagen.url }}">
                                            <h4><strong>{{ datosEspecie.esp_nombre }}</strong></h4>
                                            <p><i class="fa fa-leaf"></i>{{ datosEspecie.esp_categoria.cat_nombre }}</p>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="row" >
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th>
                                                                Tipo
                                                            </th>
                                                            <th>
                                                                Descripcion
                                                            </th>
                                                            <th>
                                                                Valor
                                                            </th>
                                                            <th>
                                                                Unidad Medida
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for datos in datosEspecies %}
                                                        <tr class="">
                                                            <td>{{ datos.nombre }}</td>
                                                            <td>{{ datos.descripcion }}</td>
                                                            <td>{{ datos.valor }}</td>
                                                            <td>{{ datos.um }}</td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="tab-6" class="tab-pane">
                                    <div class="panel-body">
                                        <h2>Párametros de Suelo</h2>
                                        <div class="col-md-4">
                                            <img class="img-responsive" src="{{ datoSuelo.tsue_imagen.url }}">
                                            <h4><strong>{{ datoSuelo.tsue_nombre }}</strong></h4>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="row" >
                                                  <table class="table">
                                                        <thead>
                                                        <tr>
                                                            <th>
                                                              Tipo
                                                          </th>
                                                          <th>
                                                              Descripcion
                                                          </th>
                                                          <th>
                                                              Valor
                                                          </th>
                                                          <th>
                                                              Unidad Medida
                                                          </th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for datos in datosSuelo %}
                                                                <tr class="">
                                                                    <td>{{ datos.nombre }}</td>
                                                                    <td>{{ datos.descripcion }}</td>
                                                                    <td>{{ datos.valor }}</td>
                                                                    <td>{{ datos.um }}</td>
                                                                </tr>
                                                                {% endfor %}
                                                        </tbody>
                                                  </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="tab-7" class="tab-pane">
                                    <div class="panel-body">
                                        <h2>Imagenes del Cultivo</h2>
                                        <div class="col-md-2">
                                            <div class="row" >
                                                <form class="form-horizontal" id="form_agregar" name="form_agregar" method="post" enctype="multipart/form-data">{% csrf_token %}
                                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                                      <input type="text" name="id" class="hide" value="{{ datosCultivo.cult_id }}">
                                                          <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 200px;"></div>
                                                          <div>
                                                                <button class="btn btn-file" title="Agregar Imagen"><span class="fileinput-new">Agregar</span>
                                                                  <span class="btn fileinput-exists"><span class="fa fa-pencil"></span></span>
                                                                  <input type="file" id="file1" name="file1">
                                                              </button>
                                                              <a href="#" class="btn fileinput-exists" data-dismiss="fileinput"><span class="fa fa-trash-o"></span></a>
                                                              <a onclick="agregarImagen('{{ datosCultivo.cult_id }}')" class="btn fileinput-exists" data-dismiss="fileinput"><span class="fa fa-check"></span></a>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="row" >
                                                {% for i in  datosImagenes%}
                                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                                        <div class="fileinput-new thumbnail" style="width: 200px; height: 200px;">
                                                            <img src="{{ i.cim_imagen.url }}" alt="..." style="width: 200px; height: 200px;">
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="tab-8" class="tab-pane">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <a href="#modalPlagas" class="btn btn-primary btn-xs" data-toggle="modal" data-placement="top" title="Agregar">
                                                    <i class="fa fa-edit fa-xl"></i> Agregar
                                                </a>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="ibox-content table-responsive">
                                                    <input type="text" class="form-control input-sm m-b-xs" id="filter" placeholder="Search in table">
                                                    <table id="tblPlagas" class="footable table table-stripped toggle-arrow-tiny" data-page-size="8" data-filter=#filter>
                                                        <thead>
                                                            <tr>
                                                                <th data-toggle="true">Tipo de Plaga</th>
                                                                <th>Fecha Identificación</th>
                                                                <th>Cant. Plantas Afectadas</th>
                                                                <th>Cant. Hectáreas</th>
                                                                <th data-hide="all">Observaciones</th>
                                                                <th>Estado</th>
                                                                <th>Acciones</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for plaga in plagas %}
                                                            <tr id="tr-{{plaga.pk}}">
                                                                <td>{{plaga.tpe_id}}</td>
                                                                <td>{{plaga.pe_fecha_identificacion|date:"Y-m-d"}}</td>
                                                                <td>{{plaga.pe_cant_plantas_afectadas}}</td>
                                                                <td>{{plaga.pe_cant_hectareas}}</td>
                                                                <td>{{plaga.pe_observaciones}}</td>
                                                                {% if 'agricultura.change_agr_parcela' in usuario.get_all_permissions %}
                                                                <td>
                                                                    <div class="switch">
                                                                        <div class="onoffswitch">
                                                                            {% if plaga.pe_estado %}
                                                                            <input type="checkbox" checked class="onoffswitch-checkbox" value="{{ plaga.pe_estado }}" id="{{ plaga.pk}}" onchange="baja_plaga(this, '{{ plaga.pk }}')" >
                                                                            {% else %}
                                                                            <input type="checkbox" class="onoffswitch-checkbox" value="{{ plaga.pe_estado }}" id="{{ plaga.pk}}" onchange="baja_plaga(this, '{{ plaga.pk }}')" >
                                                                            {% endif %}
                                                                            <label class="onoffswitch-label" for={{plaga.pk }}>
                                                                                <span class="onoffswitch-inner"></span>
                                                                                <span class="onoffswitch-switch"></span>
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                {% endif %}
                                                                <td>
                                                                    <a class="btn btn-warning btn-xs"  data-target='#modalPlagas' title="Editar" data-toggle='modal' onclick='$.editarModal($(this).parent())'>Editar</a>
                                                                </td>
                                                            </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                        <tfoot>
                                                            <tr>
                                                                <td colspan="5">
                                                                    <ul class="pagination pull-right"></ul>
                                                                </td>
                                                            </tr>
                                                        </tfoot>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="row">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal " id="modalVer" tabindex="-1" role="dialog"  aria-hidden="true" style="display: none;">
                                    <div class="modal-dialog modal-md">
                                        <div class="modal-content animated bounceInRight">
                                         <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                                            <h4 class="modal-title" id="title">Nueva Cosecha</h4>
                                        </div>
                                        <form class="form-horizontal" id="frmCosecha">
                                            {% csrf_token %}
                                            <div class="modal-body">              
                                              <div class="form-group">
                                                <input type="hidden" id="cose_id" name="cose_id" value='0' class="form-control">
                                                <input type="hidden" id="cul_id" name="cul_id" value={{datosCultivo.pk}} class="form-control">
                                                <input type="hidden" id="accion" value="0"> 
                                                <label class="control-label">Cultivo de </label>
                                                <input type="text" class="form-control" value={{datosCultivo.cult_detalle}}  placeholder="detalle del cultivo" name="cos_cul" id="cos_cul">
                                                <label class="control-label">Fecha de Cosecha</label>
                                                <input type="text" class="form-control"  name="cos_fech" id="cos_fech" readonly />
                                                <label class="control-label">Unidad de Medida</label>
                                                <select class="form-control" id="u_med" name="u_med" >
                                                    {% for dat in med %}
                                                    <option value={{dat.umed_id}}>{{ dat.umed_abreviatura }}</option>
                                                    {% endfor %}
                                                </select>
                                                <label class="control-label">Cantidad Cosechada</label>
                                                <input type="text" class="form-control" placeholder="cantidad de elementos cosechados" name="cos_cant" id="cos_cant" required>
                                                <label class="control-label">Hectareas cosechadas</label>
                                                <input type="text" class="form-control" placeholder="cantidad de hectareas cosechadas" name="cos_cant_hec" id="cos_cant_hec" required>
                                                <label class="control-label">Costo de Produccion</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">$</span>
                                                    <input type="text" class="form-control" placeholder="costo de Produccion" name="cos_cost_produc" id="cos_cost_produc" required>
                                                </div>
                                                <label class="control-label">Precio de Venta</label>
                                                <div class="input-group">
                                                    <span class="input-group-addon">$</span>
                                                    <input type="text" class="form-control" placeholder="precio de venta" name="cos_prec_ven" id="cos_prec_ven" required>
                                                </div>
                                                <label class="control-label">Observaciones</label>
                                                <textarea class="form-control" placeholder="observaciones de la cosecha" name="cos_obser" id="cos_obser" required></textarea>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-default" id='cancel' data-dismiss="modal">Cancelar</button>
                                          <input type="submit"  class="btn btn-primary" id="btnModalGuardar" value='Guardar'/>
                                      </div>
                                  </form>
                                    </div>
                                    </div>
                                </div>
                                <div id="tab-9" class="tab-pane">
                                    <div class="wrapper wrapper-content animated fadeIn">
                                        <!-- <a onclick="nueva_cosecha()" class="btn btn-primary btn-xs" data-toggle="modal" data-placement="top" title="Agregar">
                                                        <i class="fa fa-edit fa-xl"></i> Agregar
                                        </a> -->
                                        <a class="btn btn-primary btn btn-primary btn-xs" id="nueva_cosecha" data-target='#modalVer' data-toggle='modal' onclick="nueva_cosecha()">Nueva cosecha
                                            <span class="glyphicon glyphicon-plus-sign"></span>

                                        </a>
                                        <div class="ibox-content table-responsive">
                                          <input type="text" class="form-control input-sm m-b-xs" id="filter"
                                          placeholder="Search in table">
                                            <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="8" data-filter=#filter id="tblCosecha">
                                                <thead>
                                              <tr>
                                                <th data-class="expand">Fecha</th>
                                                <th data-hide="always">Cantidad</th>
                                                <th >Hectáreas</th>
                                                <th >Precio de Venta</th>
                                                <th >Costo de Producción</th>
                                                <th data-class="expand">Observación</th> 
                                                <th >Editar</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="fila">
                                                </tbody>
                                                <tfoot>
                                                  <tr>
                                                      <td colspan="5">
                                                          <ul class="pagination pull-right"></ul>
                                                      </td>
                                                  </tr>
                                                </tfoot>
                                            </table>
                                            </div>
                                        </div>
                                </div>
                                <div id="tab-10" class="tab-pane">
                                    <div class="panel-body">
                                        <div class="col-md-2">
                                            <div class="row" >
                                                {% if datosCultivo.cult_estado %}
                                                    <div class="form-group">
                                                        <a onclick="agregar('{{ datosCultivo.cult_id }}')"  class="btn btn-warning btn-xs "data-toggle="tooltip" data-placement="top" title="Editar" data-original-title="Mark as read"><i class="fa fa-edit fa-xl">Agregar</i> </a>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-md-8">
                                            <div class="row" >
                                                <ul id="tbl-notas" class="notes">
                                                    {% for notas in datosNotas %}
                                                    <li>
                                                        <div>
                                                            <small>{{ notas.not_fecha }}</small>
                                                            <!--<h4>Cultivo {{ notas.cultivo.cult_detalle }}</h4>-->
                                                            <p>{{ notas.not_nota }}</p>
                                                            <a onclick="eliminarNota('{{ notas.not_id }}')"><i class="fa fa-trash-o "></i></a>
                                                        </div>
                                                    </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
<!-- modales -->
<div class="modal" id="modalPlagas" role="dialog" tabindex="-1" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-md">
        <div class="modal-content animated bounceInRight">
           <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                <h4 class="modal-title" id="title">Crear Plaga</h4>
            </div>
            <form class="form-horizontal" id="frmPlaga">
                {% csrf_token %}
                <div class="modal-body">              
                    <div class="form-group">
                        <input type="hidden" id="accion" name="accion" value="0">
                        <label class="control-label">Tipo Plaga</label>
                        <select class="form-control" name="tipo_plaga" id="tipo_plaga">
                            {% for plaga in tipo_plaga %}
                            <option value="{{plaga.pk}}">{{plaga}}</option>
                            {% endfor %}
                        </select>
                        <input type="hidden" id="plaga_id" name="plaga_id" class="form-control">
                        <input type="hidden" id="accion" value="0">
                        <input type="hidden" name="cultivo_id" id="cul_id" value="{{datosCultivo.cult_id}}">
                        <label class="control-label">Fecha Identificación</label>
                        <input id="fecha" type="text" name="fecha" class="form-control" value="" required>
                        <!--<input type='text' data-date-format="dd-mm-yyyy" class="input-append date" readonly id="fecha" name="fecha" style="width:180px;height:30px" data-position="right top" />-->
                        <label class="control-label">Cant. Plantas Afectadas</label>
                        <input type="number" class="form-control" placeholder="Cant. Plantas Afectadas" name="pa_cant_plantas" id="pa_cant_plantas" required>
                        <label class="control-label">Cant. Hectareas</label>
                        <input type="number" class="form-control" placeholder="Cant. Hectareas Afectadas" name="pa_cant_hectareas" id="pa_cant_hectareas" required>
                        <label class="control-label">Observaciones</label>
                        <textarea class="form-control" name="pa_observaciones" id="pa_observaciones" cols="30" rows="6"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" onclick="guardar_plaga()">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{# modal de añadir nota #}
<div class="modal modal fade in" id="modalNota" tabindex="-1" role="dialog"  aria-hidden="true" style="display: none; ">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                <h4 class="modal-title">Tipo de Parámetro</h4>
            </div>
            <div class="modal-body">
               <form class="form-horizontal" id="form_tipo_parametro" method="post">{% csrf_token %}
                <div class="form-group"><label class="col-lg-2 control-label">Nota</label>
                    <input type="text" placeholder="Nombre" class="form-control" name="txtNombre" id="txtNombre">
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" onclick="agregar()">Agregar</button>
        </div>
    </div>
    </div>
</div>
{# fin modal de añadir nota #}
{% endblock contenido %}
{% block scripts %}

<!-- Mainly scripts -->
<script src="/static/agricultura/js/jquery-2.1.1.js"></script>
<script src="/static/agricultura/js/bootstrap.min.js"></script>
<script src="/static/agricultura/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="/static/agricultura/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="/static/agricultura/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<!-- Steps -->
<script src="/static/agricultura/js/plugins/staps/jquery.steps.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="/static/agricultura/js/inspinia.js"></script>
<script src="/static/agricultura/js/plugins/pace/pace.min.js"></script>

<!-- Jquery Validate -->
<script src="/static/agricultura/js/plugins/validate/jquery.validate.min.js"></script>

<!-- slick carousel-->
<script src="/static/agricultura/js/plugins/slick/slick.min.js"></script>


<script src="/static/agricultura/css/imagenes/js/jasny-bootstrap.js"></script>
<script src="/static/agricultura/css/imagenes/js/jasny-bootstrap.min.js"></script>

<!-- plagas -->
<script src="/static/agricultura/scripts/op_detallecultivo.js"></script>

<!-- DataTables -->
<script src="/static/agricultura/js/plugins/footable/footable.all.min.js"></script>
<script>
    $("#modalPlagas").on("show.bs.modal",function(event){
        if($(event.relatedTarget).attr("title")==="Agregar") {
            $("#accion").val("0");
            $('#plaga_id').val("");
            $('#fecha').val("");
            $('#pa_cant_plantas').val("");
            $('#pa_cant_hectareas').val("");
            $('#pa_observaciones').val("");
        }
    });

    $("#frmCosecha").validate({
        rules: {
            cos_cant: { required:true,digits: true,},
            cos_cant_hec: { required: true,digits: true,},
            cos_prec_ven: { required: true,digits: true,},
            cos_obser:{required:false,},
            cos_cost_produc:{required:true,digits:true,}
        },
        messages: {
            cos_cant: "Ingrese la cantidad cosechada",
            cos_cant_hec: "Ingrese la cantidad de hectareas cosechadas",
            cos_prec_ven : "Ingrese el precio de venta por unidad especificada",
            cos_cost_produc:"Introduzca el costo de Produccion",
        },
        submitHandler: function(form){
            verificaGuardar('{{ datosCultivo.pk }}');

        }

        
    });





    function verificaGuardar(id){
      if (document.getElementById('accion').value=='0'){
    //guarda nueva cosecha
    $.ajax({
        data: {'id': id, //id cultivo
        'fecha':$("#cos_fech").val(),
        'cantidad_cosechada':$("#cos_cant").val(),
        'observacion':$("#cos_obser").val(),
        'precio_venta':$("#cos_prec_ven").val(),
        'costo_produccion':$("#cos_cost_produc").val(),
        'cant_hect_cosechadas':$("#cos_cant_hec").val(),
        'medida_id':$("#u_med").val()},
        url: '/agricultura/guardar_cosecha/',
        type: 'get',
        success: function (data) {
          if (data.result=="OK"){
            //location.href="/agricultura/detalle/"+id+"/"
            toastr.options={"progressBar": true}
            toastr.success('Se guardo la cosecha','Estado')
            // swal("Nueva Cosecha", "Generada " , "success");
            //$('#modalVer').modal('toggle');
            //$("#modalVer").modal().hide();

            $('#modalVer').modal('hide');
            $('body').removeClass('modal-open');
            $('.modal-backdrop').remove();
            actualizar_tabla_cosechas(id);
            
        }else{
            toastr.options={"progressBar": true}
            toastr.error('No se guardo la cosecha!','Estado')
           // swal("No se guardo la cosecha!", "cosecha no guardada.", "error");

       }
   }
});
}else{
    //Edita la cosecha en referencia
    id=document.getElementById('cose_id').value
    $.ajax({
        data: {'id': id, //id cosecha
        'fecha':$("#cos_fech").val(),
        'cantidad_cosechada':$("#cos_cant").val(),
        'observacion':$("#cos_obser").val(),
        'precio_venta':$("#cos_prec_ven").val(),
        'costo_produccion':$("#cos_cost_produc").val(),
        'cant_hect_cosechadas':$("#cos_cant_hec").val(),
        'medida_id':$("#u_med").val()},
        url: '/agricultura/editar_cosecha/',
        type: 'get',
        success: function (data) {
          if (data.result=="OK"){
            //location.href="/agricultura/detalle/"+id+"/"

            //$('#modalVer').modal('toggle');
            //$("#modalVer").modal().hide();

            $('#modalVer').modal('hide');
            $('body').removeClass('modal-open');
            $('.modal-backdrop').remove();
            actualizar_tabla_cosechas('{{datosCultivo.cult_id }}');
            toastr.options={"progressBar": true}
            toastr.success('Edicion realizada!','Estado')
            // swal("Edicion realizada ", "Datos de cosecha actualizados" , "success");
        }else{
                        toastr.options={"progressBar": true}
            toastr.error('No se actualizo la cosecha!','Estado')
           // swal("No se actualizo la cosecha!", "actualizacion no guardada.", "error");

       }
   }
});



}

}




function editar_cosecha(id_cosecha){
  document.getElementById('cose_id').value=id_cosecha;
  document.getElementById('accion').value='1';
  $.ajax({
    data: {'id': id_cosecha},
    url: '/agricultura/consulta_cosecha/',
    type: 'get',
    success: function (data) {
        var options = {weekday: "long", year: "numeric", month: "long", day: "numeric"};
        document.getElementById('cos_fech').value=new Date(data[0].fecha).toLocaleDateString("es-ES", options);
        document.getElementById('cos_cant').value=data[0].cantidad_cosechada;
        document.getElementById('cos_obser').value=data[0].observacion;
        document.getElementById('cos_prec_ven').value=data[0].precio_venta;
        document.getElementById('cos_cost_produc').value=data[0].costo_produccion;
        document.getElementById('cos_cant_hec').value=data[0].cant_hect_cosechadas;
        document.getElementById('u_med').value=data[0].medida;
    }
}
); 

}

function nueva_cosecha(){

  document.getElementById('accion').value='0';
  document.getElementById('cose_id').value='0';
  $('#cos_fech').val("");
  $('#cos_cant').val("");
  $('#cos_obser').val("");
  $('#cos_prec_ven').val("");
  $('#cos_cost_produc').val("");
  $('#cos_cant_hec').val("");
  $('#u_med').val(1); 







}


function deleteRows(tableID) {
   try {
     var table = document.getElementById(tableID);
     var rowCount = table.rows.length;
     // alert(rowCount);
     for(var i=rowCount-1; i>=1; i=i-1) {
        // alert(i);
        table.deleteRow(i);

    }

}catch(e) {
  console.log(e);
}

}




function presentar_cosechas(id){
  var tabla= document.getElementById("tblCosecha");
  if(tabla.rows.length<3){
    genererarTabla_cosecha(id);
}
}


function actualizar_tabla_cosechas(id){
  var tabla= document.getElementById("tblCosecha");
  if(tabla.rows.length<=2){
    genererarTabla_cosecha(id);
}else{
    deleteRows("tblCosecha");
    genererarTabla_cosecha(id);
} 
}





function genererarTabla_cosecha(id){
  $.ajax({
    data: {'id': id},
    url: '/agricultura/listar_cosechas/',
    type: 'get',
    success: function (data) {
      if (data[0].result=="OK"){
        var tabla= document.getElementById("fila");
        for (var i = 0; i < data[1].length; i++) {
          var row = tabla.insertRow(i);
          var cell1 = row.insertCell(0);
          cell1.innerHTML = new Date(data[1][i].fecha).toLocaleString();
          var cell2 = row.insertCell(1);
          cell2.innerHTML = data[1][i].cantidad_cosechada+" "+data[1][i].medida;
          var cell3 = row.insertCell(2);
          cell3.innerHTML = data[1][i].cant_hect_cosechadas;
          var cell4 = row.insertCell(3);
          cell4.innerHTML = data[1][i].precio_venta;
          var cell5 = row.insertCell(4);
          cell5.innerHTML = data[1][i].costo_produccion;
          var cell6 = row.insertCell(5);
          cell6.innerHTML = data[1][i].observacion;
          var cell7 = row.insertCell(6);
          str="<input class='btn btn-primary' id='edita_cosecha' data-target='#modalVer' data-toggle='modal' value='Editar' type='button' onclick='editar_cosecha("+data[1][i].id+")'/>";
          cell7.innerHTML=str;
      }
  }
}   
});
}

$(document).ready(function(){
    $( "#nueva_cosecha" ).click(function() {
      startTime();
  });

    $( "#edita_cosecha" ).click(function() {
        $('#cos_id').val("1");
    });




    $('.product-images').slick({
        dots: true
    });
    $('#fecha').datepicker({
        format: 'yyyy-mm-dd'});

    $(function () {
        $('#modal').modal('toggle');
    });

            //configuracion de la tabla
            $('.footable').footable();
            $("#frmCosecha").validate({
                rules: {
                    cos_cant: { required:true,digits: true,},
                    cos_cant_hec: { required: true,digits: true,},
                    cos_prec_ven: { required: true,digits: true,},
                    cos_obser:{required:false,},
                    cos_cost_produc:{required:true,digits:true,}
                },
                messages: {
                    cos_cant: "Ingrese la cantidad cosechada",
                    cos_cant_hec: "Ingrese la cantidad de hectareas cosechadas",
                    cos_prec_ven : "Ingrese el precio de venta por unidad especificada",
                    cos_cost_produc:"Introduzca el costo de Produccion",
                },
                submitHandler: function(form){
                    verificaGuardar('{{ datosCultivo.pk }}');

                }


            });
            $("#wizard").steps();
            $("#form").steps({
                bodyTag: "fieldset",
                onStepChanging: function (event, currentIndex, newIndex)
                {
                    // Always allow going backward even if the current step contains invalid fields!
                    if (currentIndex > newIndex)
                    {
                        return true;
                    }

                      // Forbid suppressing "Warning" step if the user is to young
                      if (newIndex === 3 && Number($("#age").val()) < 18)
                      {
                        return false;
                    }

                    var form = $(this);

                      // Clean up if user went backward before
                      if (currentIndex < newIndex)
                      {
                          // To remove error styles
                          $(".body:eq(" + newIndex + ") label.error", form).remove();
                          $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                      }

                      // Disable validation on fields that are disabled or hidden.
                      form.validate().settings.ignore = ":disabled,:hidden";

                      // Start validation; Prevent going forward if false
                      return form.valid();
                  },
                  onStepChanged: function (event, currentIndex, priorIndex)
                  {
                      // Suppress (skip) "Warning" step if the user is old enough.
                      if (currentIndex === 2 && Number($("#age").val()) >= 18)
                      {
                        $(this).steps("next");
                    }

                      // Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
                      if (currentIndex === 2 && priorIndex === 3 && priorIndex === 4)
                      {
                        $(this).steps("previous");
                    }
                },
                onFinishing: function (event, currentIndex)
                {
                  var form = $(this);

                      // Disable validation on fields that are disabled.
                      // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
                      form.validate().settings.ignore = ":disabled";

                      // Start validation; Prevent form submission if false
                      return form.valid();
                  },
                  onFinished: function (event, currentIndex)
                  {
                      var form = $(this);
                      // Submit form input
                      form.submit();
                  }
              })

        });



function startTime(){
  today=new Date();
  h=today.getHours();
  m=today.getMinutes();
  s=today.getSeconds();
  m=checkTime(m);
  s=checkTime(s);
  var llamada= '';
  document.getElementById('cos_fech').value= today.getDate() + "/" + (today.getMonth() +1) + "/" + today.getFullYear()+" "+h+":"+m+":"+s;
  if (document.getElementById("cose_id").value=='0'){
    llamada= 'startTime()';
}
t=setTimeout(llamada,250);}

function checkTime(i)
{if (i<10) {i="0" + i;}return i;}


function cosechar(id){
    swal({   title: "Desea terminar el cultivo?",
        text: "Este cultivo solo sera de lectura!",
        type: "warning",   showCancelButton: true,
        confirmButtonColor: "#DD6B55",
        confirmButtonText: "Si, Cosechar!",
        closeOnConfirm: false }, function(){
            $.ajax({
                data: {'id': id},
                url: '/agricultura/cosechar/',
                type: 'get',
                success: function (data) {
                    if (data.result=="OK"){
                        swal("Se cosecho el cultivo!", "Podra visualizar el cultivo en listar.", "success");
                        location.href='/agricultura/detalle/{{ datosCultivo.cult_id }}/'
                    }else{

                    }
                }
            });
        });


}

function modelo(id){
  swal({   title: "Configuración para crear modelo!",
    text: "Si existe un modelo de este cultivo, se reemplazaran los datos:",
    type: "input",   showCancelButton: true,
    closeOnConfirm: false,   animation: "slide-from-top",
    inputPlaceholder: "Ingrese un nombre.." }, function(inputValue){
      if (inputValue === false) return false;
      if (inputValue === "") {
        swal.showInputError("Se necesita ingresar!");     return false   }
        $.ajax({
          data: {'id': id, 'nombre':inputValue},
          url: '/agricultura/crear_modelo/',
          type: 'get',
          success: function (data) {
            if (data.result=="OK"){
              swal("Se creó el modelo del cultivo!", "Podra visualizar el cultivo en Modelo de CUltivos.", "success");
          }else{
          }
      }
  });});
}

function verificaGuardar(id){
  if (document.getElementById('accion').value=='0'){
    //guarda nueva cosecha
    $.ajax({
        data: {'id': id, //id cultivo
        'fecha':$("#cos_fech").val(),
        'cantidad_cosechada':$("#cos_cant").val(),
        'observacion':$("#cos_obser").val(),
        'precio_venta':$("#cos_prec_ven").val(),
        'costo_produccion':$("#cos_cost_produc").val(),
        'cant_hect_cosechadas':$("#cos_cant_hec").val(),
        'medida_id':$("#u_med").val()},
        url: '/agricultura/guardar_cosecha/',
        type: 'get',
        success: function (data) {
          if (data.result=="OK"){
            //location.href="/agricultura/detalle/"+id+"/"
                        toastr.options={"progressBar": true}
            toastr.success('Se guardo la cosecha','Estado')
            // swal("Nueva Cosecha", "Generada " , "success");
            //$('#modalVer').modal('toggle');
            //$("#modalVer").modal().hide();

            $('#modalVer').modal('hide');
            $('body').removeClass('modal-open');
            $('.modal-backdrop').remove();
            actualizar_tabla_cosechas(id);
            
        }else{
                        toastr.options={"progressBar": true}
            toastr.error('No se guardo la cosecha!','Estado')
           // swal("No se guardo la cosecha!", "cosecha no guardada.", "error");

       }
   }
});
}else{
    //Edita la cosecha en referencia
    id=document.getElementById('cose_id').value
    $.ajax({
        data: {'id': id, //id cosecha
        'fecha':$("#cos_fech").val(),
        'cantidad_cosechada':$("#cos_cant").val(),
        'observacion':$("#cos_obser").val(),
        'precio_venta':$("#cos_prec_ven").val(),
        'costo_produccion':$("#cos_cost_produc").val(),
        'cant_hect_cosechadas':$("#cos_cant_hec").val(),
        'medida_id':$("#u_med").val()},
        url: '/agricultura/editar_cosecha/',
        type: 'get',
        success: function (data) {
          if (data.result=="OK"){
            //location.href="/agricultura/detalle/"+id+"/"

            //$('#modalVer').modal('toggle');
            //$("#modalVer").modal().hide();

            $('#modalVer').modal('hide');
            $('body').removeClass('modal-open');
            $('.modal-backdrop').remove();
            actualizar_tabla_cosechas('{{datosCultivo.cult_id }}');
                        toastr.options={"progressBar": true}
            toastr.success('Edicion realizada','Estado')
            // swal("Edicion realizada ", "Datos de cosecha actualizados" , "success");
        }else{
                        toastr.options={"progressBar": true}
            toastr.error('No se actualizo la cosecha!','Estado')
           // swal("No se actualizo la cosecha!", "actualizacion no guardada.", "error");

       }
   }
});



}

}




function editar_cosecha(id_cosecha){
  document.getElementById('cose_id').value=id_cosecha;
  document.getElementById('accion').value='1';
  $.ajax({
    data: {'id': id_cosecha},
    url: '/agricultura/consulta_cosecha/',
    type: 'get',
    success: function (data) {
        var options = {weekday: "long", year: "numeric", month: "long", day: "numeric"};
        document.getElementById('cos_fech').value=new Date(data[0].fecha).toLocaleDateString("es-ES", options);
        document.getElementById('cos_cant').value=data[0].cantidad_cosechada;
        document.getElementById('cos_obser').value=data[0].observacion;
        document.getElementById('cos_prec_ven').value=data[0].precio_venta;
        document.getElementById('cos_cost_produc').value=data[0].costo_produccion;
        document.getElementById('cos_cant_hec').value=data[0].cant_hect_cosechadas;
        document.getElementById('u_med').value=data[0].medida;
    }
}
); 

}

function nueva_cosecha(){

  document.getElementById('accion').value='0';
  document.getElementById('cose_id').value='0';
  $('#cos_fech').val("");
  $('#cos_cant').val("");
  $('#cos_obser').val("");
  $('#cos_prec_ven').val("");
  $('#cos_cost_produc').val("");
  $('#cos_cant_hec').val("");
  $('#u_med').val(1); 







}


function deleteRows(tableID) {
   try {
     var table = document.getElementById(tableID);
     var rowCount = table.rows.length;
     // alert(rowCount);
     for(var i=rowCount-1; i>=1; i=i-1) {
        // alert(i);
        table.deleteRow(i);

    }

}catch(e) {
  console.log(e);
}

}




function presentar_cosechas(id){
  var tabla= document.getElementById("tblCosecha");
  if(tabla.rows.length<3){
    genererarTabla_cosecha(id);
}
}


function actualizar_tabla_cosechas(id){
  var tabla= document.getElementById("tblCosecha");
  if(tabla.rows.length<=2){
    genererarTabla_cosecha(id);
}else{
    deleteRows("tblCosecha");
    genererarTabla_cosecha(id);
} 
}

function genererarTabla_cosecha(id){
  $.ajax({
    data: {'id': id},
    url: '/agricultura/listar_cosechas/',
    type: 'get',
    success: function (data) {
      if (data[0].result=="OK"){
        var tabla= document.getElementById("fila");
        for (var i = 0; i < data[1].length; i++) {
          var row = tabla.insertRow(i);
          var cell1 = row.insertCell(0);
          cell1.innerHTML = new Date(data[1][i].fecha).toLocaleString();
          var cell2 = row.insertCell(1);
          cell2.innerHTML = data[1][i].cantidad_cosechada+" "+data[1][i].medida;
          var cell3 = row.insertCell(2);
          cell3.innerHTML = data[1][i].cant_hect_cosechadas;
          var cell4 = row.insertCell(3);
          cell4.innerHTML = data[1][i].precio_venta;
          var cell5 = row.insertCell(4);
          cell5.innerHTML = data[1][i].costo_produccion;
          var cell6 = row.insertCell(5);
          cell6.innerHTML = data[1][i].observacion;
          var cell7 = row.insertCell(6);
          str="<input class='btn btn-warning btn-xs' id='edita_cosecha' data-target='#modalVer' data-toggle='modal' value='Editar' type='button' onclick='editar_cosecha("+data[1][i].id+")'/>";
          cell7.innerHTML=str;
      }
  }
}   
});
}


function  agregar(id){
  swal({   title: "Ingrese la nota!",
    text: "Escriba algo de interes:",
    type: "input",   showCancelButton: true,
    closeOnConfirm: false,   animation: "slide-from-top",
    inputPlaceholder: "Ingrese.." }, function(inputValue){
      if (inputValue === false) return false;
      if (inputValue === "") {
        swal.showInputError("Se necesita ingresar!");     return false   }
        $.ajax({
          data: {'id': id, 'nota':inputValue},
          url: '/agricultura/agregar_nota/',
          type: 'get',
          success: function (data) {
            if (data.result=="OK"){
              $("#tbl-notas").load(location.href+" #tbl-notas>*","");
              swal("Se guardo!", "Su nota " + inputValue, "success");
          }else{
          }
      }
  });});
}
function  eliminarNota(id){
  $.ajax({
    data: {'id': id},
    url: '/agricultura/eliminar_nota/',
    type: 'get',
    success: function (data) {
      if (data.result=="OK"){
        $("#tbl-notas").load(location.href+" #tbl-notas>*","");
        toastr.options={"progressBar": true}
        toastr.success('La nota se elimino','Estado')
    }else{
    }
}
});
}
function guardar(id){
  var datos = new FormData($('#form_imagen'+id)[0]);
  $.ajax({
    data: datos,
    url: '/agricultura/editar_imagen_cultivo/',
    type: 'POST',
    contentType:false,
    'dataType': 'json',
    processData:false,
    success: function (data) {
      location.href="/agricultura/detalle/"+id+"/"
  }
});
}
function agregarImagen(id){
  var datos = new FormData($('#form_agregar')[0]);
  $.ajax({
    data: datos,
    url: '/agricultura/agregar_imagen_cultivo/',
    type: 'POST',
    contentType:false,
    'dataType': 'json',
    processData:false,
    success: function (data) {
      location.href="/agricultura/detalle/"+id+"/"
  }
});
}

</script>

{% endblock scripts %}
