{% extends "app_empresa/base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'agricultura/css/plugins/select2/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'plantilla/plugins/tree-multiselect.js/dist/jquery.tree-multiselect.min.css' %}">
{% endblock %}

{% block contenido %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
            <h2>Usuarios</h2>
            <h2 class="pull-right" style="margin-top: -35px;">{{empresa}}</h2>
            <ol class="breadcrumb">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Inicio<span class="caret"></span></a> {% include "dropdown-menu.html" %}
                </li>
                <li>
                    <a href="/empresa/inicio/">Usuario</a>
                </li>
                <li class="active">
                    <strong>Cambiar Acceso</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2"></div>
    </div>

    <br>
    {% if 'auth.add_user' in usuario.get_all_permissions %}
        <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <form method="post" action="/seguridad/usuarios/cambiar/{{ datos.pk }}/" onsubmit="return validar('{{ empresa.emp_nombre_comercial }}')">{% csrf_token %}
            <div class="ibox float-e-margins">
                <div class="ibox-title" style="border-bottom: 1px solid #d8d8d8">
                    <h5><i class="fa fa-edit"></i> Acceso para {{ datos.get_full_name }}</h5>
                </div>
                <div class="ibox-content">
                    <div class="row  " style="padding-bottom: 2% ">
                        <div class="col-xs-1 col-sm-2 col-md-3 col-lg-1" ></div>
                        <div class="col-xs-10 col-sm-8 col-md-6 col-lg-10">
                            <div id="alerta_usuario"></div>
                                <div class="row">
                                    <div class="col-xs-offset-2 col-md-offset-3 col-lg-offset-3 col-xs-10 col-md-6 col-lg-6">
                                        <label for="listMostrar" >Rol en IOTMACH Server: </label>
                                        <br>
                                        <select class="form-control" style="width:75%" id = "listRoles" name = "listRoles">
                                            {% for i in lstRoles %}
                                                <option value="{{ i.id }}" {% for j in rol %}
                                                    {% if i.pk == j.pk %}
                                                        selected
                                                    {% endif %}
                                                {% endfor %}>
                                                    {{ i.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
									<div class="panel panel-default">
										<div class="panel-heading">
                                            <strong>Acceso a Aplicaciones</strong>
                                        </div>
										<div class="panel-body">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-offset-10 col-sm-10 col-md-offset-3 col-md-6">
                                                    <table class="table">
                                                    {% for i in apps %}
                                                        <tr>
                                                            <td style="text-align: center; vertical-align: middle">
                                                                {% if i.app_abreviatura == 'server' %}
                                                                    <input type="checkbox" name="{{ i.app_abreviatura }}" id="{{ i.app_abreviatura }}" checked disabled>
                                                                {% else %}
                                                                    <input type="checkbox" name="{{ i.app_abreviatura }}" id="{{ i.app_abreviatura }}" {% for j in aplicaciones %}
                                                                        {% if i.pk == j.pk %} checked {% endif %}
                                                                    {% endfor %}>
                                                                {% endif %}
                                                            </td>
                                                            <td style="text-align: center; vertical-align: middle">
                                                                <img src="{{ i.app_logo.url }}" width="50">
                                                            </td>
                                                            <td style="vertical-align: middle">
                                                                {{ i.app_nombre }}
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                    </table>
                                                </div>
                                            </div>
										</div>
									</div>
								</div>
                        </div>
                    </div>
                </div>
                <div class="ibox-footer" style="border-top: 1px solid #d8d8d8">
                    <div>
                        <div class="row">
                            <div class="col-xs-offset-9 col-xs-3 col-md-offset-10 col-md-2">
                                <button type="submit" class="btn btn-primary" id = "btnRegistroUsuario"> Guardar <i class="fa fa-save fa-1x" ></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            </form>
        </div>
    </div>

        <div id="foo"></div>



    {% endif %}
{% endblock %}

{% block scripts %}

{% endblock %}