{% extends "app_empresa/base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'agricultura/css/plugins/select2/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'plantilla/plugins/tree-multiselect.js/dist/jquery.tree-multiselect.min.css' %}">
{% endblock %}

{% block contenido %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
            <h2>Usuarios</h2>
            <h2 class="pull-right" style="margin-top: -35px;">{{empresa}}</h2>
            <ol class="breadcrumb">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Inicio<span class="caret"></span></a> {% include "dropdown-menu.html" %}
                </li>
                <li>
                    <a href="/empresa/inicio/">Usuario</a>
                </li>
                <li class="active">
                    <strong>Agregar</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2"></div>
    </div>

    <br>
    {% if 'auth.add_user' in usuario.get_all_permissions %}
        <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <form method="post" action="/seguridad/usuarios/guardar/" onsubmit="return validar('{{ empresa.emp_nombre_comercial }}')">{% csrf_token %}
            <div class="ibox float-e-margins">
                <div class="ibox-title" style="border-bottom: 1px solid #d8d8d8">
                    <h5><i class="fa fa-user-plus"></i> Registro de Usuarios</h5>
                </div>
                <div class="ibox-content">
                    <div class="row  " style="padding-bottom: 2% ">
                        <div class="col-xs-1 col-sm-2 col-md-3 col-lg-1" ></div>
                        <div class="col-xs-10 col-sm-8 col-md-6 col-lg-10">
                            <div id="alerta_usuario"></div>
                                </br>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <label for="txtUsuario" >Usuario: </label>
                                        <div class="input-group">
                                            <input title="Ingresar nombre de usuario" type="text" class="form-control"
                                                   id="txtUsuario" name="txtUsuario" placeholder="Nombre de Usuario" required>
                                            <span class="input-group-addon"><span class="fa fa-user"></span></span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <label for="txtCorreo" >Correo: </label>
                                        <div class="input-group">
                                            <input title="Ingresar su correo electronico" type="email" class="form-control" id="txtCorreo" name="txtCorreo" placeholder="Correo Electronico" required>
                                            <span class="input-group-addon"><span class="fa fa-mail-reply"></span></span>
                                        </div>
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>
                                </br>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <label for="txtPass" >Teléfono: </label>
                                        <div class="input-group">
                                            <input title="Registrar su número de Teléfono" type="text" class="form-control"
                                                   name="txtTlfono" id="txtTlfono" placeholder="Escriba su Número de Teléfono" required>
                                            <span class="input-group-addon"><span class="fa fa-phone"></span></span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <label for="txtPAswwordV" >Dirección:</label>
                                        <div class="input-group">
                                            <input title="Escriba su Dirección" type="text" class="form-control"
                                                   name="txtDireccion" id="txtDireccion" placeholder="Escriba su Dirección" required>
                                            <span class="input-group-addon"><span class="fa fa-street-view"></span></span>
                                        </div>
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>
                                </br>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <label for="txtNombre" >Nombres: </label>
                                        <div class="input-group">
                                            <input onkeypress="return validaSoloLetras();" title="Ingresar Su Nombre" type="text" class="form-control" id="txtNombre" name="txtNombre" placeholder="Nombre de Usuario" required>
                                            <span class="input-group-addon"><span class="fa fa-user"></span></span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <label for="txtApellido" >Apellidos:</label>
                                        <div class="input-group">
                                            <input onkeypress="return validaSoloLetras();" title="Ingresar Su Apellido" type="text" class="form-control" id="txtApellido" name="txtApellido" placeholder="Escriba Su Apellido" required>
                                            <span class="input-group-addon"><span class="fa fa-user"></span></span>
                                        </div>
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>
                                </br>
                                <div class="row">
                                    <div class="col-xs-offset-2 col-md-offset-3 col-lg-offset-3 col-xs-10 col-md-6 col-lg-6">
                                        <label for="listMostrar" >Rol en IOTMACH Server: </label>
                                        <br>
                                        <select class="form-control" style="width:75%" id = "listRoles" name = "listRoles">
                                            {% for i in lstRoles %}
                                                <option value="{{ i.id }}">{{ i.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
									<div class="panel panel-default">
										<div class="panel-heading">
                                            <strong>Acceso a Aplicaciones</strong>
                                        </div>
										<div class="panel-body">
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-offset-10 col-sm-10 col-md-offset-3 col-md-6">
                                                    <table class="table">
                                                    {% for i in apps %}
                                                        <tr>
                                                            <td style="text-align: center; vertical-align: middle">
                                                                {% if i.app_abreviatura == 'server' %}
                                                                    <input type="checkbox" name="{{ i.app_abreviatura }}" id="{{ i.app_abreviatura }}" checked disabled>
                                                                {% else %}
                                                                    <input type="checkbox" name="{{ i.app_abreviatura }}" id="{{ i.app_abreviatura }}">
                                                                {% endif %}
                                                            </td>
                                                            <td style="text-align: center; vertical-align: middle">
                                                                <img src="{{ i.app_logo.url }}" width="50">
                                                            </td>
                                                            <td style="vertical-align: middle">
                                                                {{ i.app_nombre }}
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                    </table>
                                                </div>
                                            </div>
										</div>
									</div>
								</div>
                        </div>
                    </div>
                </div>
                <div class="ibox-footer" style="border-top: 1px solid #d8d8d8">
                    <div>
                        <div class="row">
                            <div class="col-xs-offset-9 col-xs-3 col-md-offset-10 col-md-2">
                                <button type="submit" class="btn btn-primary" id = "btnRegistroUsuario"> Guardar <i class="fa fa-save fa-1x" ></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            </form>
        </div>
    </div>

        <div id="foo"></div>



    {% endif %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'agricultura/js/plugins/select2/select2.full.min.js' %}"></script>
    <script src="{% static 'recursos/validaciones/validacionesUsuarioForm.js' %}"></script>
    <script src="{% static 'plantilla/plugins/tree-multiselect.js/dist/jquery.tree-multiselect.min.js' %}"></script>
    {#    <script src="{% static 'loader/spin.min.js' %}" type="text/javascript"></script>#}
    <script>
        $('#contenedorUsuarios').addClass('active');
        $('#crearUsuarios').addClass('active');
        $(".select2").select2({});
        $("#listPermisos").treeMultiselect({
            collapsible:true,
            sortable:true,
            startCollapsed:true,
            //hideSidePanel:true
        });

        function validaSoloLetras() {
            if ((event.keyCode != 32) && (event.keyCode < 65) || (event.keyCode > 90) && (event.keyCode < 97) || (event.keyCode > 122) && (event.keyCode != 180) && (event.keyCode != 241)
                    && (event.keyCode != 250)&& (event.keyCode != 243) && (event.keyCode != 237) && (event.keyCode != 225) && (event.keyCode != 233))
                event.returnValue = false;
        }
    </script>
    {% endblock %}