{% extends "app_empresa/base.html" %}
{% block css %}
{#    <link rel="stylesheet" href="/static/recursos/css/dataTables.bootstrap.css"/>#}
{% endblock %}
{% block contenido %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
            <h2>Usuarios</h2>
            <h2 class="pull-right" style="margin-top: -35px;">{{empresa}}</h2>
            <ol class="breadcrumb">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Inicio<span class="caret"></span></a> {% include "dropdown-menu.html" %}
                </li>
                <li>
                    <a href="/empresa/inicio/">Usuario</a>
                </li>
                <li class="active">
                    <strong>Listar</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2"></div>
    </div>

    <br>
    {% if 'auth.list_user' in usuario.get_all_permissions %}
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="ibox float-e-margins">
                    <div class="ibox-title" style="border-bottom: 1px solid #d8d8d8">
                        <h5><i class="fa fa-group"></i> Lista de Usuarios</h5>
                    </div>
                    <div class="ibox-content">
                        <div id="id_proyecto_rol"></div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <table class="table table-bordered table-condensed" id="presentacion">
                                    <thead>
                                    <tr>
                                        <th>Nombres y Apellidos</th>
                                        <th>Nombre de Usuario</th>
                                        <th>Aplicaciones</th>
                                        <th>Rol</th>
                                        {% if 'auth.change_user' in usuario.get_all_permissions %}
                                            <th>Hab/Desh.</th>
                                            <th>Accesos</th>
                                        {% endif %}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for i in listUsuarios %}
                                        <tr>
                                            <td style="vertical-align: middle">{{ i.first_name }} {{ i.last_name }}</td>
                                            <td style="vertical-align: middle">{{ i.username }}</td>
                                            <td style="vertical-align: middle">{% for app in i.id_persona.apps.all %}
                                                - {{ app }}<br>
                                            {% endfor %}
                                            </td>
                                            <td style="vertical-align: middle">
                                                {% for j in i.groups.all %}
                                                    {{ j }}
                                                {% endfor %}
                                            </td>
                                            {% if 'auth.change_user' in usuario.get_all_permissions %}
                                                {% if usuario.pk != i.pk %}
                                                    <td style="vertical-align: middle">
                                                        {% if i.is_active %}
                                                            <input type="checkbox" checked id="c{{ i.pk }}" onclick="habilitar({{ i.pk }})"/>
                                                        {% else %}
                                                            <input type="checkbox" id="c{{ i.pk }}" onclick="habilitar({{ i.pk }})"/>
                                                        {% endif %}
                                                    </td>
                                                    <td style="vertical-align: middle">
                                                        <a href="/seguridad/usuarios/accesos/{{ i.pk }}" class="btn btn-primary btn-xs">
                                                            <i class="fa fa-edit"></i> Editar
                                                        </a>
                                                    </td>
                                                    {% else %}
                                                    <td></td>
                                                    <td></td>
                                                {% endif %}
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    {% endif %}
{% endblock %}

{% block scripts %}
{#    <script src="/static/recursos/js/jquery.dataTables.min.js"></script>#}
{#    <script src="/static/recursos/js/dataTables.bootstrap.js"></script>#}

    <script>
    $('#contenedorUsuarios').addClass('active');
    $('#lstUsuarios').addClass('active');
{#            document.onload=inicioTabla();#}
{#            function inicioTabla(){#}
{#                $('#presentacion').dataTable( {#}
{#                    "ordering": false#}
{#                } );#}
{#            }#}

            {% if 'auth.change_user' in usuario.get_all_permissions %}
                function habilitar(dato1){
                    var vCheck="c"+dato1;
                    $.ajax({
                        data: {activo: document.getElementById(vCheck).checked,
                            idUser:dato1},
                        url: '/seguridad/usuarios/inhabilitar/',
                        type: 'get',
                        success: function(data){
                            toastr.options={"progressBar": true}
                            toastr.success(data['mensaje'],'Estado')
                        }
                    })
                }
            {% endif %}
        </script>
{% endblock %}