{% extends "admin/base.html" %}

{% block title %} ADMINISTRACION IOTMACH {% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">ADMINISTRACION IOTMACH</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
