{% extends "app_empresa/base.html" %}

{% block css %}
<link href="/static/agricultura/css/plugins/chosen/chosen.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/footable/footable.core.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/cropper/cropper.min.css" rel="stylesheet">
<!--<link href="/static/agricultura/css/plugins/switchery/switchery.css" rel="stylesheet">-->


<link href="/static/agricultura/css/submenu.css" rel="stylesheet">
<!-- Data Tables -->
<link href="/static/iot/css/dataTables.bootstrap.css" rel="stylesheet">
<link href="/static/iot/css/dataTables.responsive.css" rel="stylesheet">
<link href="/static/iot/css/switch.css" rel="stylesheet">
<style>
.right {
    position: center;
    right: 4px;
    width: 100px;
    padding: 5px;
}
</style>
{% endblock css %}

{% block contenido %}

      <div class="row border-bottom white-bg page-heading">
        <div class="col-lg-12">
            <h2>Gestionar Áreas</h2>
            <h2 class="pull-right" style="margin-top: -35px;">{{empresa}}</h2>
            <ol class="breadcrumb">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Inicio<span class="caret"></span></a> {% include "dropdown-menu.html" %}
                </li>
                <li>
                <a href="/empresa/inicio/">Módulo Empresa</a>
                </li>
                <li class="active">
                    <strong>Gestionar Áreas</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2"></div>
    </div>
	
    <div class="wrapper wrapper-content animated fadeIn">

    <div class="row">
    </div>
    <div class="row">
        
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Listado de Áreas</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#">Config option 1</a>
                                </li>
                                <li><a href="#">Config option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="right">
                            <a class="btn btn-primary btn-sm btn-block" data-target='#modalVer' data-toggle='modal'>CREAR ÁREA</a>
                        </div>
                        
                        <table class="table table-stripped toggle-arrow-tiny" data-page-size="8" data-filter=#filter id="tblAre">
                            <thead>
                            <tr>
                                <th data-class="expand">ÁREA</th>
                                <th data-hide="always">DESCRIPCIÓN</th>
                                <th >ETIQUETA</th>
                                <th >EMPRESA</th> 
                                <!-- <th >SECTOR</th> -->
                                <th >NOMBRE SECTOR</th>
                                <th data-hide="always">DIRECCION</th>
                                <th >ESTADO</th>
                                <th >ACCIÓN</th>
                            </tr>
                            </thead>
                            <tbody>                            
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="6">
                                    <ul class="pagination pull-right"></ul>
                                </td>
                            </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>
            </div>
       

    </div>

</div>


    <!-- modales -->
<div class="modal inmodal fade" id="modalVer" tabindex="-1" role="dialog"  aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-md">
        <div class="modal-content animated bounceInRight">
             <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                <h4 class="modal-title" id="title">Crear Área</h4>
            </div>
            <form class="form-horizontal" id="frmAre">
            {% csrf_token %}
              <div class="modal-body">              
                    <div class="form-group">
                        <input type="hidden" id="are_id" name="are_id" class="form-control">
                        <input type="hidden" id="accion" value="0">
                        <input type="hidden" id="are_est_g" name="are_est_g">
                        <label class="control-label">Nombre</label>
                        <input type="text" class="form-control" placeholder="Nombre del área" name="are_nom" id="are_nom" required>
                        <label class="control-label">Descripción</label>
                        <textarea class="form-control" placeholder="Descripción del área" name="are_des" id="are_des" required></textarea>
                        <label class="control-label">Etiqueta</label>
                        <input type="text" class="form-control" placeholder="Etiqueta del área" name="are_etq" id="are_etq">
                        <!-- <label class="control-label">Empresa</label>
                        <select class="form-control" id="emp" name="emp" ></select> -->
                        <!-- Sector -->
                        <label class="control-label" for="id_sector_ubicacion">Ubicación:</label>
                        
                            <input class="form-control" id="basics1" name="basics1"/>
                            <input id="id_dependencias_typeahead" name="txt_dependencias_typeahead" type="hidden"/>
                            <button id="id_cambiar_ubicacion_typeahead" onclick="$('#basics1').prop('disabled', false);$('#basics1').focus();$('#id_cambiar_ubicacion_typeahead').prop('disabled', true);" disabled class="btn btn-link">Cambiar Ubicación</button>
                        
                        <!-- Fin Sector -->
                        <br>
                        <label class="control-label">Dirección</label>
                        <input type="text" class="form-control" placeholder="Dirección del área" name="are_dir" id="are_dir">
                    
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary" id="btnModalGuardar">Guardar</button>
            </div>
            </form>
        </div>
    </div>
</div>

{% endblock contenido %}

{% block scripts %}

<script src="/static/agricultura/js/plugins/chosen/chosen.jquery.js"></script>
<script src="/static/agricultura/js/plugins/cropper/cropper.min.js"></script>
<script src="/static/agricultura/js/plugins/switchery/switchery.js"></script>
<script src="/static/plantilla/plugins/typeahead/jquery.easy-autocomplete.min.js"></script>
<script src="/static/iot/js/jquery.dataTables.min.js"></script>    
<script src="/static/iot/js/dataTables.bootstrap.js"></script>    
<script src="/static/iot/js/datatables.responsive.js"></script>
<script src="/static/all.js"></script>
<script src="/static/app_empresa/area/area.js"></script>
<script src="/static/app_empresa/sector/sector.js"></script>
<script src="/static/app_empresa/sector/typeahead.js"></script>
<script>

    document.onload = cargarFunciones();
    function cargarFunciones(){
        $('#area').addClass('active');
    };
    cargarDependencias_typeahead("/empresa/sector/cargarDependencias/");
    cargarUbicaciones("{% url 'URLempresa:url_ubicaciones' %}");

</script>

{% endblock scripts %}