{% extends "app_empresa/base.html" %}

{% block css %}
    <link href="/static/agricultura/css/plugins/chosen/chosen.css" rel="stylesheet">    
    <link href="/static/agricultura/css/plugins/cropper/cropper.min.css" rel="stylesheet">
    <link href="/static/agricultura/css/plugins/switchery/switchery.css" rel="stylesheet">
    <!-- Data Tables -->
    <link href="/static/iot/css/dataTables.bootstrap.css" rel="stylesheet">
    <link href="/static/iot/css/dataTables.responsive.css" rel="stylesheet">
{% endblock css %}

{% block contenido %}

      <div class="row border-bottom white-bg page-heading">
        <div class="col-lg-12">
            <h2>Gestionar Sub Areas</h2>
            <h2 class="pull-right" style="margin-top: -35px;">{{empresa}}</h2>
            <ol class="breadcrumb">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Inicio<span class="caret"></span></a> {% include "dropdown-menu.html" %}
                </li>
                <li>
                <a href="/empresa/inicio/">Módulo Empresa</a>
                </li>
                <li class="active">
                    <strong>Gestionar Sub Areas</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2"></div>
    </div>

    <div class="row">
    <br>
    </div>
        <div class="row">    
        <div class="col-md-7">
            <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Lista de Subareas</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                    <div class="table-responsive" id="tabla_categoria">
                    <table class="table table-stripped toggle-arrow-tiny" id="tblSub" >
                    <thead>
                        <tr>
                            <th data-class="expand">Nombre</th>
                            <th data-hide="always">Etiqueta</th>
                            <th data-hide="always">Altura nivel del mar</th>
                            <th>Región</th>
                            <th>Latitud</th>                 
                            <th>Longitud</th>
                            <th>Area</th>
                            <th>Acciones</th>                        
                            
                        </tr>
                    </thead>
                    <tbody>
                    
                    </tbody>
                    </table>
                        </div>

                    </div>
                </div>
        </div>
    
        <div class="col-md-5">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Subarea</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" style="display: block;">
                    <form class="form-horizontal" id="frmSub">{% csrf_token %}
                        <div class="form-group"><label class="col-lg-2 control-label">Nombre</label>
                            <div class="col-lg-10">
                                <input type="text" placeholder="Nombre del Subarea" class="form-control" name="sub_nom" id="sub_nom" required onkeypress="">
                            </div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Etiqueta</label>
                            <div class="col-lg-10">
                                <input  placeholder="Etiqueta del Subarea" class="form-control" name="sub_etq" id="sub_etq" >
                            </div>
                        </div> 
                        
                        <div class="form-group"><label class="col-lg-2 control-label">Región</label>
                            <div class="col-lg-10">
                            <div id="contenedorSelect">
                                <select class="form-control" id = "regiones" name="regiones" >
                                    {% for i in regiones %}
                                        <option value="{{ i.id }}">{{ i.region }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            </div>
                        </div>
                        
                        <div class="form-group"><label class="col-lg-2 control-label">Altura nivel mar</label>
                            <div class="col-lg-10">
                            <input type="number" class="form-control" placeholder="Altura superficial al nivel del mar" name="alt_nivel" id="alt_nivel">
                            </div>
                        </div>                   

                        <div class="form-group"><label class="col-lg-2 control-label">Latitud</label>
                            <div class="col-lg-10">
                                <input type="number" step="0.01" placeholder="Latitud del Subarea" class="form-control" name="sub_lat" id="sub_lat" required>
                            </div>
                        </div>

                        <div class="form-group"><label class="col-lg-2 control-label">Longitud</label>
                            <div class="col-lg-10">
                                <input type="number" step="0.01" placeholder="Longitud del Subarea" class="form-control" name="sub_lng" id="sub_lng" required>
                            </div>
                        </div>
                        
                        <div class="form-group"><label class="col-lg-2 control-label">Hem_Lat</label>
                            <div class="col-lg-10">
                                <select class="form-control" name="sub_hla" id="sub_hla">
                                    <option value="N">Norte</option>
                                    <option value="S">Sur</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group"><label class="col-lg-2 control-label">Hem_Lon</label>
                            <div class="col-lg-10">
                                <select class="form-control" name="sub_hlo" id="sub_hlo">
                                    <option value="O">Oeste</option>
                                    <option value="E">Este</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="form-group"><label class="col-lg-2 control-label">Area</label>
                            {% if 'app_empresa.add_proy_area' in usuario.get_all_permissions %}
                                <div class="col-lg-8">
                            {% else %}
                                <div class="col-lg-10">
                            {% endif %}                        
                                <select class="form-control" id="are_id" name="are_id">               
                                </select>
                            </div>
                            {% if 'app_empresa.add_proy_area' in usuario.get_all_permissions %}
                            <!-- <a  data-target='#modalArea' data-toggle='modal'><img src="/static/admin/img/icon_addlink.gif" width="10" height="10" alt="Agregar"></a> -->
                            <a  onclick="agregarArea()" class="related-widget-wrapper-link add-related" id="add_id_sar_region" title="Agregar Áreas"><img src="/static/admin/img/icon_addlink.gif" width="10" height="10" alt="Agregar"></a>
                            {% endif %}
                        </div>

                        <div class="form-group text-rigth">
                            <div class="col-lg-offset-5">
                                <div id="contenedor_btn">
                                 <button class="btn btn-primary"  type="submit">Guardar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    
    </div>

<div class="modal inmodal fade" id="modalArea" tabindex="-1" role="dialog"  aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-md">
        <div class="modal-content animated bounceInRight">
             <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                <h4 class="modal-title" id="title">Crear Area</h4>
            </div>
            <form class="form-horizontal" id="frmAre">
            {% csrf_token %}
              <div class="modal-body">              
                    <div class="form-group">
                        <input type="hidden" id="are_id" name="are_id" class="form-control">
                        <input type="hidden" id="accion" value="0">
                        <input type="hidden" id="are_est_g" name="are_est_g">
                        <label class="control-label">Nombre</label>
                        <input type="text" class="form-control" placeholder="Nombre del Area" name="are_nom" id="are_nom" required>
                        <label class="control-label">Descripcion</label>
                        <textarea class="form-control" placeholder="Descripcion del Area" name="are_des" id="are_des" required></textarea>
                        <label class="control-label">Etiqueta</label>
                        <input type="text" class="form-control" placeholder="Etiqueta del Area" name="are_etq" id="are_etq">
                        <label class="control-label">Direccion</label>
                        <input type="text" class="form-control" placeholder="Direccion del Area" name="are_dir" id="are_dir">
                                                <!-- Sector -->
                        <label class="control-label" for="id_sector_ubicacion">Dependencia:</label>
                            <input class="form-control" id="basics1" name="basics1"/>
                            <input id="id_dependencias_typeahead" name="txt_dependencias_typeahead" type="hidden"/>
                            <button id="id_cambiar_ubicacion_typeahead" onclick="$('#basics1').prop('disabled', false);$('#basics1').focus();$('#id_cambiar_ubicacion_typeahead').prop('disabled', true);" disabled class="btn btn-link">Cambiar dependencia</button>
                        
                        <!-- Fin Sector -->
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-primary" id="btnModalGuardar">Guardar</button>
            </div>
            </form>
        </div>
    </div>
</div>

    <!--MODALES-->
    <div class="modal inmodal fade" id="modalVer" tabindex="-1" role="dialog"  aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-md">
            <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                <h4 class="modal-title">Editar Subarea</h4>
            </div>
            <form  class="form-horizontal" id="frmSubMod" >
            {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden" id="sub_id" name="sub_id">
                        
                        <label class="control-label">Nombre</label>
                        <input type="text" class="form-control" placeholder="Nombre del Subarea" name="sub_nom_m" id="sub_nom_m">
                        
                        <label class="control-label">Etiqueta</label>
                        <input class="form-control" placeholder="Etiqueta del Subarea" name="sub_etq_m" id="sub_etq_m">

                        <label class="control-label">Region</label>

                        <select class="form-control" id = "regiones_m" name="regiones_m" >
                            {% for i in regiones %}
                                <option value="{{ i.id }}">{{ i.region }}</option>
                            {% endfor %}
                        </select>
                        
                        <label class="control-label">Altura nivel mar</label>
                        <input type="number" class="form-control" placeholder="Altura superficial al nivel del mar" name="alt_nivel_m" id="alt_nivel_m">
                        
                        <label class="control-label">Latitud</label>
                        <input type="number" step="0.01" class="form-control" placeholder="Latitud del Subarea" name="sub_lat_m" id="sub_lat_m">
                        
                        <label class="control-label">Longitud</label>
                        <input type="number" step="0.01" class="form-control" placeholder="Longitud del Subarea" name="sub_lng_m" id="sub_lng_m">
                        
                        <label class="control-label">Hem_Lat</label>
                        <select class="form-control" name="sub_hla_m" id="sub_hla_m">
                            <option value="N">Norte</option>
                            <option value="S">Sur</option>
                        </select>

                        <label class="control-label">Hem_Lon</label>
                        <select class="form-control" name="sub_hlo_m" id="sub_hlo_m">
                            <option value="O">Oeste</option>
                            <option value="E">Este</option>
                        </select>

                        <label class="control-label">Area</label>
                        <select class="form-control" id="are_id_m" name="are_id_m"></select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary" onclick="guardar()">Guardar</button>
                </div>
            </form>
            </div>
        </div>
    </div>



{% endblock contenido %}

{% block scripts %}
<script src="/static/agricultura/js/plugins/chosen/chosen.jquery.js"></script>
<script src="/static/agricultura/js/plugins/cropper/cropper.min.js"></script>
<script src="/static/agricultura/js/plugins/switchery/switchery.js"></script>
<script src="/static/iot/js/jquery.dataTables.min.js"></script>
<script src="/static/iot/js/dataTables.bootstrap.js"></script>
<script src="/static/iot/js/datatables.responsive.js"></script>
<script src="/static/all.js"></script>
<script src="/static/app_empresa/area/subarea.js"></script>

<script src="/static/app_empresa/sector/sector.js"></script>
<script src="/static/app_empresa/sector/typeahead.js"></script>
<script src="/static/plantilla/plugins/typeahead/jquery.easy-autocomplete.min.js"></script>


<script>

    document.onload = cargarFunciones();
    function cargarFunciones(){
        $('#subarea').addClass('active');
    };
    function agregarArea(){
        $("#modalArea").modal()
        // window.open('/admin/app_empresa/proy_area/add/?_to_field=ar_id&_popup=1', "", "width=775,height=450,menubar=0,toolbar=0,directories=0,scrollbars=no,resizable=no,left=100,top=100");
    }
    $('#frmAre').on("submit",function(){
        event.preventDefault();
        url = "/empresa/areas/sav/";
        $.ajax({
            type:"POST",
            url: url,
            dataType: 'json',
            data:$(this).serialize(),
            success: function(response){
                $('#are_des').val("");
                $('#are_etq').val("");
                $('#are_dir').val("");
                $('#modalArea').modal('hide');
                toastr.options={"progressBar":true};
                toastr.success(response.mensaje,'Area');
                // $("#are_id").load(location.href+" #are_id>*","");
                // $('#are_id').ajax.reload();    
                $.get("/empresa/areas/get/",$.getDataArea);
                $('#are_nom').val("");
            },

            error: function(){
                toastr.options={"progressBar":true};
                toastr.error("Error",'Area');
            }
        });

    });

    $('#modalArea').bind('shown.bs.modal', function(e){
        are_nom.focus();
    });

    $('#modalArea').bind('hidden.bs.modal', function(e){
        $('#title').html("Crear Area");
        $('#are_nom').val("");
        $('#are_des').val("");
        $('#are_etq').val("");
        $('#are_dir').val("");
        $('#are_est').prop("checked",false);
        $('#accion').val("0");
    });
    cargarDependencias_typeahead("/empresa/sector/cargarDependencias/");
    cargarUbicaciones("{% url 'URLempresa:url_ubicaciones' %}");
</script>

{% endblock scripts %}
