<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  {% load static %}
    <title>IOTMACH</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
      <link rel="icon" href="{% static 'recursos/images/ico/iotmach.ico' %}"/>
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="{% static 'plantilla/bootstrap/css/bootstrap.min.css' %}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static 'font-awesome-4.3.0/css/font-awesome.min.css' %}">
    <!-- Ionicons >
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'plantilla/dist/css/AdminLTE.min.css' %}">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="{% static 'plantilla/dist/css/skins/_all-skins.min.css' %}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="{% static 'recursos/css/alertify.css' %}"/>

      <!-- jQuery 2.1.4 -->
    <script src="{% static 'plantilla/plugins/jQuery/jQuery-2.1.4.min.js' %}"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="{% static 'plantilla/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- SlimScroll -->
    <script src="{% static 'plantilla/plugins/slimScroll/jquery.slimscroll.min.js' %}"></script>
    <!-- FastClick -->
    <script src="{% static 'plantilla/plugins/fastclick/fastclick.min.js' %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static 'plantilla/dist/js/app.min.js' %}"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{% static 'plantilla/dist/js/demo.js' %}"></script>

    <!--loader-->
{#    <script src="{% static 'loader/spin.min.js' %}" type="text/javascript"></script>#}
    <script src="{% static 'recursos/js/alertify.min.js' %}"></script>


  </head>
  <!-- ADD THE CLASS layout-top-nav TO REMOVE THE SIDEBAR. -->
  <body class="hold-transition skin-blue layout-top-nav">


    <div class="">

      <header class="main-header">
        <nav class="navbar navbar-static-top" style="background: url({% static 'recursos/images/fondo.jpg' %}); height: 75px">
          <div class="container">
            <div class="navbar-header">
              <a href="/" class="navbar-brand">
                  <img src="{% static 'recursos_admin/dist/img/iotmach.png' %}" width="120" height="120" style="margin-top: -10px">
              </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse pull-left" id="navbar-collapse">

            </div><!-- /.navbar-collapse -->
            <!-- Navbar Right Menu -->

          </div><!-- /.container-fluid -->
        </nav>
      </header>
      <!-- Full Width Column -->
      <div class="content-wrapper" style="background:url({% static 'recursos/images/bright-squares.png' %})">
        <div class="container">


            <!-- Content Header (Page header) -->


          <!-- Main content -->
          <section class="content"><br><br><br><br><br>
            {% block contenido %}
    <div class="container">
        <div class="row">
            <div class="col-md-offset-3 col-md-6">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">{{ title }}</h4>
{#                        <img src="{% static 'recursos/images/ico/focoDYuyay.ico' %}" width="80" style="float: right; margin-top: -50px"/>#}
                    </div>
                    <div class="modal-body">
                        <div id="alerta_login"></div>
                        <form action="/recuperar_password/" method="post" onsubmit="return validarRecuperar();">{% csrf_token %}
                            <div class="row">
                                <div class="col-md-offset-2 col-md-8">
                                    <div class="form-group has-feedback">
                                        <input id="id_user" name="usuario" placeholder="Usuario" type="text" class="form-control" required title="Rellene este campo." style="width: 100%" autocomplete="off" autofocus>
                                        <span class="fa fa-user form-control-feedback"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-offset-2 col-md-8">
                                    <div class="form-group has-feedback">
                                        <input id="id_email" name="id_email" placeholder="Correo electrónico" type="text" class="form-control" required title="Rellene este campo." style="width: 100%" autocomplete="off">
                                        <span class="fa fa-retweet form-control-feedback"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-offset-2 col-md-8">
                                    <div class="form-group has-feedback">
                                        <input maxlength="128" id="id_password" name="password" type="password" class="form-control" style="width: 100%" placeholder="Contraseña" required>
                                        <span class="fa fa-key form-control-feedback"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-offset-2 col-md-8">
                                    <div class="form-group has-feedback">
                                        <input maxlength="128" id="id_password_confirm" name="password_confirm" type="password" class="form-control" style="width: 100%" placeholder="Confirmar contraseña" required>
                                        <span class="fa fa-key form-control-feedback"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-offset-2 col-md-8">
                                    <div>
                                        <div class="pull-right">
                                            <button type="submit" class="btn btn-success" title="Recuperar Cuenta">Guardar  <i class="fa fa-floppy-o"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <br/>
                        {% for msg in messages %}
                            {% if msg.tags == 'success' %}
                                <p style="color: green;text-align: center">{{ msg }}</p>
                            {% else %}
                                <p style="color: red;text-align: center">{{ msg }}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function validarRecuperar(){
            $("#alerta_login").empty();
            var contrasena1 = $("#id_password").val();

            if ($("#id_password").val() != $("#id_password_confirm").val()){
                $("#alerta_login").append('<div class="alert alert-danger fade in">' +
                '<a href="#" class="close" data-dismiss="alert">&times;</a>' +
                '<strong>Error: </strong>Las contraseñas no coinciden' +
                '</div>');
                return false
            }else if(contrasena1 == null || contrasena1.length == 0 || contrasena1.length < 6 || /^\s+$/.test(contrasena1)){
                $("#alerta_login").append('<div class="alert alert-danger fade in">' +
                '<a href="#" class="close" data-dismiss="alert">&times;</a>' +
                '<strong>Error: </strong>La contraseña deber ser mayor a 6 caracteres' +
                '</div>');
                return false
            }else{
                return true;
            }
        }
    </script>
{% endblock %}
          </section><!-- /.content -->
        </div><!-- /.container -->
      </div><!-- /.content-wrapper -->
      <footer class="main-footer">
        <div class="container">
          <div class="pull-right hidden-xs">
            Proyecto IOT
          </div>
          <strong>Copyright &copy; 2016 <a href="#">IOTMACH</a>.</strong> Todos los Derechos reservados.
        </div><!-- /.container -->
      </footer>
    </div><!-- ./wrapper -->
  </body>


</html>
