{% extends 'base.html' %}

{% block contenido %}
    <div class="row col-lg-12 " style="padding-top: 12%">
	<div class="col-xs-11 col-xs-offset-1 col-md-8 col-md-offset-4 col-lg-9 col-lg-offset-3">

			<div class="panel-body">
    <!-- 404 error -->
    <section id="error" class="container">
        <div class="row">
        <div class=" col-lg-2" style="border-right: #ed9d3d 2px solid">
            <dd style="margin-left: 5%;color: #ed9d3d" ><b>Error</b></dd>
            <dt style="padding-top: -5px"><b style="font-size: 85px">403</b></dt>
        </div>

        <div class=" col-lg-10"><h1><img class="" src="/static/recursos/errores/stop5.png" width="80" height="80"/>
            <b style="color: #c92523"> Alto</b></h1>
        <p><b>Lo sentimos {{ usuario.username }}, no posees los permisos necesarios <br/>para acceder a esta pagina!!<br>
            <a href="/">Ir al inicio</a></b></p></div>
        </div>
        <p style="color: #005983"></p>
    </section>
    <!-- /404 error -->
                </div>

    </div>
    </div>
{% endblock %}