        .chosen-container{
            width: 100% !important;
        }

        .product-imitation-modificado {
            text-align: center;
            padding: 15px 15px;
            background-color: #f8f8f9;
            color: #bebec3;
            font-weight: 600;
        }

        .product-price-modificado-on {
            font-size: 14px;
            font-weight: 600;
            color: #ffffff;
            background-color: #1c84c6;
            padding: 6px 12px;
            position: absolute;
            top: -32px;
            right: 0;
        }

        .product-price-modificado-off {
            font-size: 14px;
            font-weight: 600;
            color: #ffffff;
            background-color: #EE102B;
            padding: 6px 12px;
            position: absolute;
            top: -32px;
            right: 0;
        }

        #small-chat-modificado {
            position: fixed;
            bottom: 40px;
            right: 20px;
            z-index: 100;
        }

        .open-small-chat-modificado {
            height: 50px;
            width: 50px;
            display: block;
            background: #1ab394;
            padding: 9px 8px;
            text-align: center;
            color: #fff;
            border-radius: 50%;
        }

        .contenedor-panel {
            display: none;
        }

        .contenedor-panel.active {
            display: block;
        }

        .animacion {
            transition: all .5s;
        }
