{% extends "iot/base_iot.html" %} {% block css %}
<link href="/static/agricultura/css/plugins/chosen/chosen.css" rel="stylesheet">
<link href="/static/agricultura/css/style.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">
<!-- Toastr style -->
<link href="/static/agricultura/css/plugins/toastr/toastr.min.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/datapicker/datepicker3.css" rel="stylesheet" type="text/css">
<link href="/static/agricultura/css/imagenes/css/jasny-bootstrap.css" rel="stylesheet" type="text/css">
<link href="/static/agricultura/css/estilos_personalizados.css" rel="stylesheet" type="text/css"> {% endblock css %} {% block contenido %}
<div id="small-chat-modificado">
    <a class="open-small-chat-modificado">
        <i class="fa fa-search fa-2x"></i>
    </a>
</div>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>DashBoards</h2>
        <h2 class="pull-right" style="margin-top: -35px;">{{empresa}}</h2>
        <ol class="breadcrumb">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Inicio<span class="caret"></span></a> {% include "dropdown-menu.html" %}
            </li>
            <li>
                <a href="/iot/visualizar_zonas/">Módulo Monitoreo y Control</a>
            </li>
            <li class="active">
                <strong>Visualizar Zonas</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>
{% if 'agricultura.list_agr_zona_sensor_actuador' in usuario.get_all_permissions %}
<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-sm-3 contenedor-panel fadeInLeft animated">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Cuadro de Búsqueda</h5>
                    <div class="ibox-tools">
                        <a onclick="toggle();">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form id="busqueda" class="form-horizontal" method="post">{% csrf_token %}
                        <div class="form-group">
                            <label class="col-sm-1 control-label">Parcela:</label>
                            <div class="col-sm-12">
                                <select data-placeholder="Todos" class="chosen-select" style="width:210px;" tabindex="2" id="select_sub_area" name="select_sub_area">
                                    <option value="todos">Todos</option>
                                    {% for sa in sub_areas %}
                                    <option value="{{ sa.sar_id }}">{{ sa.sar_nombre }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label">Zona:</label>
                            <div class="col-sm-12">
                                <select data-placeholder="Todos" class="chosen-select" style="width:210px;" tabindex="2" id="select_zonas" name="select_zonas">
                                    <option value="todos">Todos</option>
                                    {% for i in zonas %}
                                    <option value="{{ i.zsa_id }}">{{i.sar_id.sar_nombre}} - {{ i.zsa_nombre }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-1 control-label" for="status">Estado:</label>
                            <div class="col-sm-12">
                                <select name="select_estado" id="select_estado" class="form-control">
                                    <option value="true">Activo</option>
                                    <option value="false">Inactivo</option>
                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="ibox-footer">
                            <br>
                            <div class="form-group text-rigth">
                                <div class="col-sm-offset-3">
                                    <div id="contenedor_btn">
                                        <a class="btn btn-primary col-sm-offset-1 col-sm-7" onclick="enviar_datos();"><i class="fa fa-search" aria-hidden="true"></i>Buscar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="contenedor_zonas">
            {% if zonas %} {% for z in zonas %}
            <div class="col-md-3">
                <div class="ibox fadeInLeft animated">
                    <div class="ibox-content product-box">
                        <div class="product-imitation-modificado">
                            <center>
                                {% if z.zsa_estado %}
                                    <a href="/agricultura/monitoreo/{{z.zsa_id}}" target="_blank">
                                        <img class="img-responsive" src="{{z.zsa_imagen.url}}" style="width:190px;height:190px;border-radius: 10px;">
                                    </a>
                                {% else %}
                                    <a href="#">
                                        <img class="img-responsive" src="{{z.zsa_imagen.url}}" style="width:190px;height:190px;border-radius: 10px;">
                                    </a>
                                {% endif %}
                            </center>
                        </div>
                        <div class="product-desc">
                            {% if z.zsa_estado %}
                            <span class="product-price-modificado-on">
                                        On
                                    </span> {% else %}
                            <span class="product-price-modificado-off">
                                        Off
                                    </span> {% endif %}
                            <small class="text-muted">{{z.sar_id.sar_nombre}}</small>
                            {% if z.zsa_estado %}
                                <a href="/agricultura/monitoreo/{{z.zsa_id}}" target="_blank" class="product-name"> {{z.zsa_nombre}}</a>
                            {% else %}
                                <a href="#" class="product-name"> {{z.zsa_nombre}}</a>
                            {% endif %}
                            <div class="small m-t-xs" style="min-height:60px">
                                {{z.zsa_descripcion}}
                            </div>
                            <div class="m-t text-righ">
                            {% if z.zsa_estado %}
                                <a href="/agricultura/monitoreo/{{z.zsa_id}}" target="_blank" class="btn btn-xs btn-outline btn-primary">Ver <i class="fa fa-long-arrow-right"></i> </a> 
                            {% else %}
                                <a href="#" class="btn btn-xs btn-outline btn-primary">Ver <i class="fa fa-long-arrow-right"></i> </a> 
                            {% endif %}
                            {% if z.zsa_nec_act %}
                                <span class="label label-warning">Necesita reconfigurarse</span>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %} {% else %}
            <div class="alert alert-warning" role="alert">
                <h2>No hay dashboards creados puede ingresarlos dando click <a href="/iot/zona_riego/all/" >aqui.</a></h1>
                  <center><span class="glyphicon glyphicon-exclamation-sign" style="font-size: 7em;" aria-hidden="true"></span></center>
                </div>
            {% endif %}
            </div>
        </div>
    </div>
{% endif %}

{% endblock contenido %}

{% block scripts %}
    <!-- Morris -->
    <script src="/static/agricultura/js/plugins/morris/raphael-2.1.0.min.js"></script>
    <script src="/static/agricultura/js/plugins/morris/morris.js"></script>
    <script src="/static/agricultura/js/demo/morris-demo.js"></script>

    <script src="/static/agricultura/js/plugins/datapicker/bootstrap-datepicker.js"></script>
    <script src="/static/agricultura/js/plugins/datapicker/bootstrap-datepicker.es.min.js"></script>
    <script src="/static/agricultura/css/imagenes/js/jasny-bootstrap.js"></script>
    <script src="/static/agricultura/css/imagenes/js/jasny-bootstrap.min.js"></script>
    <script src="/static/agricultura/js/plugins/chosen/chosen.jquery.js"></script>
    
    <script>

        function enviar_datos() {
            var datos = new FormData($('#busqueda')[0]);
            $.ajax({
                data: datos,
                url: '/iot/buscar_zonas/',
                type: 'POST',
                contentType: false,
                'dataType': 'json',
                processData: false,
                success: function(data) {
                    console.info(data);
                    if (data.result == 'OK') {
                        $('#contenedor_zonas').empty();
                        if(data.zonas.length > 0){
                            for(var i = 0; i< data.zonas.length; i++){
                                if(data.zonas[i].estado){
                                    cosntruirPanelesActivos(data.zonas[i].id,data.zonas[i].subareas,data.zonas[i].nombre,data.zonas[i].descripcion,data.zonas[i].imagen);
                                }else{
                                    cosntruirPanelesInactivos(data.zonas[i].id,data.zonas[i].subareas,data.zonas[i].nombre,data.zonas[i].descripcion,data.zonas[i].imagen,data.zonas[i].act);
                                }
                            }
                        }else{
                            toastr.options = {
                              "closeButton": true,
                              "debug": false,
                              "progressBar": true,
                              "preventDuplicates": false,
                              "positionClass": "toast-top-right",
                              "onclick": null,
                              "showDuration": "400",
                              "hideDuration": "1000",
                              "timeOut": "7000",
                              "extendedTimeOut": "1000",
                              "showEasing": "swing",
                              "hideEasing": "linear",
                              "showMethod": "fadeIn",
                              "hideMethod": "fadeOut"
                            }
                            toastr.info('Lo sentimos, No se encontraron datos de esa busqueda.', 'Informacion')
                        }
                    } else {
                        swal("Error en los datos", "Verifique los datos ingesados e intente nuevamente", "error");
                    }
                }
            });
        }

        function cosntruirPanelesActivos(id,subarea,nombre,descripcion,imagen){
            $('#contenedor_zonas').append('<div class="col-md-3"> <div class="ibox fadeInLeft animated"> <div class="ibox-content product-box"> <div class="product-imitation-modificado"> <center><a href="/agricultura/monitoreo/'+id+'" target="_blank"><img class="img-responsive" src="'+imagen+'" style="width:190px;height:190px;border-radius: 10px;"></a></center> </div><div class="product-desc"> <span class="product-price-modificado-on"> On </span> <small class="text-muted">'+subarea+'</small> <a href="/agricultura/monitoreo/'+id+'" target="_blank" class="product-name">'+nombre+'</a> <div class="small m-t-xs" style="min-height:60px">'+descripcion+'</div><div class="m-t text-righ"> <a href="/agricultura/monitoreo/'+id+'" target="_blank" class="btn btn-xs btn-outline btn-primary">Ver <i class="fa fa-long-arrow-right"></i> </a> </div></div></div></div></div>');
        }

        function cosntruirPanelesInactivos(id,subarea,nombre,descripcion,imagen,act){
            if(!act){
                $('#contenedor_zonas').append('<div class="col-md-3"> <div class="ibox fadeInLeft animated"> <div class="ibox-content product-box"> <div class="product-imitation-modificado"> <center><a href="#"><img class="img-responsive" src="'+imagen+'" style="width:190px;height:190px;border-radius: 10px;"></a></center> </div><div class="product-desc"> <span class="product-price-modificado-off"> Off </span> <small class="text-muted">'+subarea+'</small> <a href="#" class="product-name">'+nombre+'</a> <div class="small m-t-xs" style="min-height:60px">'+descripcion+'</div><div class="m-t text-righ"> <a href="#" class="btn btn-xs btn-outline btn-primary">Ver <i class="fa fa-long-arrow-right"></i> </a> </div></div></div></div></div>');
            }else{
                $('#contenedor_zonas').append('<div class="col-md-3"> <div class="ibox fadeInLeft animated"> <div class="ibox-content product-box"> <div class="product-imitation-modificado"> <center><a href="#"><img class="img-responsive" src="'+imagen+'" style="width:190px;height:190px;border-radius: 10px;"></a></center> </div><div class="product-desc"> <span class="product-price-modificado-off"> Off </span> <small class="text-muted">'+subarea+'</small> <a href="#" class="product-name">'+nombre+'</a> <div class="small m-t-xs" style="min-height:60px">'+descripcion+'</div><div class="m-t text-righ"> <a href="#" class="btn btn-xs btn-outline btn-primary">Ver <i class="fa fa-long-arrow-right"></i> </a> <span class="label label-warning">Necesita reconfigurarse</span> </div></div></div></div></div>');
            }
        }

        $('.open-small-chat-modificado').click(function () {
            $(this).children().toggleClass('fa-search').toggleClass('fa-remove');
            $('.contenedor-panel').toggleClass('active');
        });

        function toggle(){
            $('#small-chat-modificado').children().children().toggleClass('fa-search').toggleClass('fa-remove');
            $('.contenedor-panel').toggleClass('active');
        }


        document.onload = cargarFunciones();
        function cargarFunciones(){
            $('#lista_zona').addClass('active');
            select();
            mostrar_update();
        };

        function select() {
            var config = {
                '.chosen-select': {},
                '.chosen-select-deselect': {allow_single_deselect: true},
                '.chosen-select-no-single': {disable_search_threshold: 10},
                '.chosen-select-no-results': {no_results_text: 'Oops, nothing found!'},
                '.chosen-select-width': {width: "95%"}
            };
            for (var selector in config) {
                $(selector).chosen(config[selector]);
            }
        }

        function mostrar_update(){
            $.ajax({
            data: { 'id': 'h'},
            url: '/iot/verificar_update/',
            type: 'get',
            success: function(data) {
                var data = JSON.parse(data);
                if (data.result == "OK") {
                    toastr.options = { "progressBar": true, "showDuration": "7000" };
                    toastr.warning('Algunas zonas se desabilitaron porque se cambió o actualizó los dispositivo de donde se obtienen los datos', 'Información');
                }
            }
        });
    }

    </script>
{% endblock scripts %}
