{% extends "base_iot.html" %}

{% block css %}
	<link href="/static/agricultura/css/plugins/chosen/chosen.css" rel="stylesheet">
	<link href="/static/agricultura/css/plugins/select2/select2.min.css" rel="stylesheet">
	<link href="/static/agricultura/css/plugins/cropper/cropper.min.css" rel="stylesheet">
	<link href="/static/agricultura/css/plugins/switchery/switchery.css" rel="stylesheet">
    <!-- Data Tables -->
    <link href="/static/agricultura/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
    <link href="/static/agricultura/css/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
    <link href="/static/agricultura/css/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet">


{% endblock css %}

{% block contenido %}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
            <h2>Gestión de Sensores</h2>
            <h2 class="pull-right" style="margin-top: -35px;">{{empresa}}</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/agricultura">Inicio</a>
                </li>
                <li class="active">
                    <strong>Unidad de Medida</strong>
                </li>
            </ol>
        </div>
    </div>

	<div class="row">
	<br>
	</div>
    <!-- **************************TABLA TIPO DE SENSORES *****************-->
    <div class="row">    
		<div class="col-md-6">
            <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Lista de Unidades de Medida</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                    <div class="table-responsive" id="tabla_categoria">
                    <table class="table table-striped table-bordered table-hover " id="tblUniMed" >
                    <thead>
                    <tr>
                        <th class="footable-visible footable-first-column">Nombre</th>
                        <th class="footable-visible footable-first-column">Abreviatura</th>                        
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>                    
                    </tbody>                   
                    </table>
                        </div>

                    </div>
                </div>
		</div>
   
		<div class="col-md-6">
			<div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Unidad de Medida</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" style="display: block;">
                    <form class="form-horizontal" id="frmUniMed">
                    {% csrf_token %}
                        <div class="form-group"><label class="col-lg-2 control-label">Nombre</label>
                            <div class="col-lg-10">
                            	<input type="text" placeholder="Nombre de la Unidad de Medida" class="form-control" name="uni_nom" id="uni_nom">
                            </div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">Abreviatura</label>
                            <div class="col-lg-10">
                                <input type="text" placeholder="Abreviatura de la Unidad de Medida" class="form-control" name="uni_abr" id="uni_abr">
                            </div>
                        </div>                  	

	                    <div class="form-group text-rigth">
	                        <div class="col-lg-offset-5">
                                <div id="contenedor_btn">
	                             <button class="btn btn-primary" id="btnSave" type="submit">Guardar</button>
                                </div>
	                        </div>
	                    </div>
                    </form>
                </div>
            </div>
		</div>
    
	</div>

    <!--MODALES-->
    <div class="modal inmodal fade" id="modalVer" tabindex="-1" role="dialog"  aria-hidden="true" style="display: none;">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content animated bounceInRight">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                                            <h4 class="modal-title">Editar</h4>
                                        </div>
                                        <form id="frmUniMedMod" class="form-horizontal">
                                        {% csrf_token %}
                                              <div class="modal-body">
                                                    <div class="form-group">
                                                        <input type="hidden" id="uni_id" name="uni_id">

                                                        <label class="control-label">Nombre</label>
                                                        <input type="text" class="form-control" placeholder="Nombre de la Unidad de Medida" name="uni_nom_m" id="uni_nom_m">

                                                        <label class="control-label">Abreviatura</label>
                                                        <input type="text" class="form-control" placeholder="Nombre de la Abreviatura" name="uni_abr_m" id="uni_abr_m">
                                                    </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                                <button type="submit" class="btn btn-primary" id="btnModalGuardar">Guardar</button>
                                            </div>
                                        </form>   
                                    </div>
                                </div>
                            </div>



{% endblock contenido %}

{% block scripts %}
    <!-- DataTables -->
    <script src="/static/agricultura/js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="/static/agricultura/js/plugins/dataTables/dataTables.bootstrap.js"></script>
    <script src="/static/agricultura/js/plugins/dataTables/dataTables.responsive.js"></script>
    <script src="/static/agricultura/js/plugins/dataTables/dataTables.tableTools.min.js"></script>
    
    <script src="/static/app_empresa/all.js"></script>
    <script src="/static/app_empresa/sensor/unimed.js"></script>
{% endblock scripts %}