{% extends "base_iot.html" %}

{% block css %}
	<link href="/static/agricultura/css/plugins/chosen/chosen.css" rel="stylesheet">
	<link href="/static/agricultura/css/plugins/select2/select2.min.css" rel="stylesheet">
	<link href="/static/agricultura/css/plugins/cropper/cropper.min.css" rel="stylesheet">
	<link href="/static/agricultura/css/plugins/switchery/switchery.css" rel="stylesheet">
    <!-- Data Tables -->
    <link href="/static/agricultura/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
    <link href="/static/agricultura/css/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
    <link href="/static/agricultura/css/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet">


{% endblock css %}

{% block contenido %}

    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-12">
            <h2>Gestión de Sensores</h2>
            <h2 class="pull-right" style="margin-top: -35px;">{{empresa}}</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/agricultura">Inicio</a>
                </li>
                <li class="active">
                    <strong>Sensores</strong>
                </li>
            </ol>
        </div>
    </div>

	<div class="row">
	<br>
	</div>
        <div class="row">
    {% if 'agricultura.list_agr_especie_categoria' in usuario.get_all_permissions %}
		<div class="col-md-6">
            <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Lista de Ted's Ingresados</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                    <div class="table-responsive" id="tabla_categoria">
                    <table class="table table-striped table-bordered table-hover " id="tblTed" >
                    <thead>
                    <tr>
                        <th class="footable-visible footable-first-column">Formula</th>
                        <th class="footable-visible">Valor Maximo</th>
                        <th class="footable-visible">Valor Minimo</th>
                        <th class="footable-visible">Serie</th>
                        <th class="footable-visible">Descripcion</th>
                        <th class="footable-visible">Tipo de Sensor</th>
                        <th class="footable-visible">Unidad de Medida</th>
                        <th class="footable-visible">Fabricante</th>
                        <th>Acciones</th>           
                    </tr>
                    </thead>
                    <tbody>                    
                    </tbody>                    
                    </table>
                        </div>

                    </div>
                </div>
		</div>
    {% endif %}
    {% if 'agricultura.add_agr_especie_categoria' in usuario.get_all_permissions %}
		<div class="col-md-6">
			<div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>TED</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" style="display: block;">
                    <form class="form-horizontal" id="frmTed">
                    {% csrf_token %}
                        <div class="form-group"><label class="col-lg-2 control-label">Formula</label>
                            <div class="col-lg-10">
                            	<input type="text" placeholder="Formula" class="form-control" name="ted_for" id="ted_for" required onkeypress="">
                            </div>
                        </div>

                        <div class="form-group"><label class="col-lg-2 control-label">Valor Maximo</label>
                            <div class="col-lg-5">
                                <input type="number" placeholder="Valor Maximo" class="form-control" name="ted_max" id="ted_max" required onkeypress="">
                            </div>
                        </div>

                        <div class="form-group"><label class="col-lg-2 control-label">Valor Minimo</label>
                            <div class="col-lg-5">
                                <input type="number" placeholder="Valor Minimo" class="form-control" name="ted_min" id="ted_min" required onkeypress="">
                            </div>
                        </div>

                         <div class="form-group"><label class="col-lg-2 control-label">Serie</label>
                            <div class="col-lg-10">
                                <input type="text" placeholder="Serie del Sensor" class="form-control" name="ted_ser" id="ted_ser" required onkeypress="">
                            </div>
                        </div>

	                	<div class="form-group"><label class="col-lg-2 control-label">Descripcion</label>
							<div class="col-lg-10">
				                <textarea  placeholder="Descripcion del Sensor" class="form-control" name="ted_des" id="ted_des" ></textarea>
			                </div>
                        </div>

                        <div class="form-group"><label class="col-lg-2 control-label">Tipo</label>
                            <div class="col-lg-10">                                
                                <select class="form-control" id="tip" name="tip">                    
                                </select>
                            </div>
                        </div>

                        <div class="form-group"><label class="col-lg-2 control-label">Unidad de Medida</label>
                            <div class="col-lg-10">                                
                                <select class="form-control" id="med" name="med">                    
                                </select>
                            </div>
                        </div>

                        <div class="form-group"><label class="col-lg-2 control-label">Fabricante</label>
                            <div class="col-lg-10">                                
                                <select class="form-control" id="fab" name="fab">                    
                                </select>
                            </div>
                        </div>

	                    <div class="form-group text-rigth">
	                        <div class="col-lg-offset-5">
                                <div id="contenedor_btn">
	                             <button class="btn btn-primary" type="submit">Guardar</button>
                                </div>
	                        </div>
	                    </div>
                    </form>
                </div>
            </div>
		</div>
    {% endif %}
	</div>

    <!--MODALES-->
    <div class="modal inmodal fade" id="modalVer" tabindex="-1" role="dialog"  aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-md">
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                    <h4 class="modal-title">Editar</h4>
                </div>
                <form id="frmTedMod" class="form-horizontal">
                {% csrf_token %}
                  <div class="modal-body">
                        <div class="form-group">
                        <input type="hidden" id="ted_id" name="ted_id">
                        
                        <label class="control-label">Formula</label>
                        <input type="text" class="form-control" placeholder="Formula del Sensor" name="ted_for_m" id="ted_for_m">

                        <label class="control-label">Valor Maximo</label>
                        <input type="text" class="form-control" placeholder="Valor Maximo del Sensor" name="ted_max_m" id="ted_max_m">

                        <label class="control-label">Valor Minimo</label>
                        <input type="text" class="form-control" placeholder="Valor Minimo del Sensor" name="ted_min_m" id="ted_min_m">

                        <label class="control-label">Serie</label>
                        <input type="text" class="form-control" placeholder="Serie del Sensor" name="ted_ser_m" id="ted_ser_m">

                        <label class="control-label">Descripcion</label>
                        <textarea class="form-control" placeholder="Descripcion del Sensor" name="ted_des_m" id="ted_des_m"></textarea>

                        <label class="control-label">Tipo</label>
                        <select class="form-control" id="tip_m" name="tip_m"></select>

                        <label class="control-label">Unidad de Medida</label>
                        <select class="form-control" id="med_m" name="med_m"></select>

                        <label class="control-label">Fabricante</label>
                        <select class="form-control" id="fab_m" name="fab_m"></select>                                                
                    </div>
                </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary" id="btnModalGuardar">Guardar</button>
                    </div>

                </form>

            </div>
        </div>
    </div>



{% endblock contenido %}

{% block scripts %}
<!-- DataTables -->
    <script src="/static/agricultura/js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="/static/agricultura/js/plugins/dataTables/dataTables.bootstrap.js"></script>
    <script src="/static/agricultura/js/plugins/dataTables/dataTables.responsive.js"></script>
    <script src="/static/agricultura/js/plugins/dataTables/dataTables.tableTools.min.js"></script>
    <script src="/static/agricultura/js/plugins/jeditable/jquery.jeditable.js"></script>
    <script src="/static/app_empresa/all.js"></script>
    <script src="/static/app_empresa/sensor/ted.js"></script>

{% endblock scripts %}