{% extends "iot/base_iot.html" %}

{% block css %}
<link href="/static/agricultura/css/plugins/chosen/chosen.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/select2/select2.min.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/cropper/cropper.min.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/switchery/switchery.css" rel="stylesheet">
<!-- Data Tables -->
<link href="/static/agricultura/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/footable/footable.core.css" rel="stylesheet">

<link rel="stylesheet" href="/static/agricultura/multiselect/multiple-select.css"/>

<link href="/static/agricultura/css/formValidation.min.css" rel="stylesheet">
<style type="text/css" media="screen">
    .chosen-container{
        width: 100% !important;
    }
</style>

{% endblock css %}

{% block contenido %}
<div class="row border-bottom white-bg page-heading">
  <div class="row">
    <div class="col-lg-12">
        <h2>Gestión Sensores Actuadores</h2>
        <h2 class="pull-right" style="margin-top: -35px;">{{empresa}}</h2>
        <ol class="breadcrumb">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Inicio<span class="caret"></span></a>
                {% include "dropdown-menu.html" %}
            </li>
            <li>
                <a href="/iot/visualizar_zonas/">Módulo Monitoreo y Control</a>
            </li>
            <li class="active">
                <strong>Gestionar sensores actuadores</strong>
            </li>
        </ol>
    </div>
  </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
        {% if 'iot.list_iot_sensor_actuador' in usuario.get_all_permissions %}
            <div class="col-md-7">
            <div class="ibox float-e-margins">
                <div class="ibox-title" style="width: 100%;">
                    <h5>Lista de sensores y actuadores</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content">
                            <input type="text" class="form-control input-sm m-b-xs" id="filter"
                                   placeholder="Search in table">
                            <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="8" data-filter=#filter>
                                <thead>
                                <tr>
                                    <th data-toggle="true">Interfaz</th>
                                    <th>Nombre</th>
                                    <th>Categoria</th>
                                    <th>Ult. Medida</th>
                                    <th data-hide="all">Señal</th>
                                    <th data-hide="all">Estado</th>
                                    {% if 'iot.change_iot_sensor_actuador' in usuario.get_all_permissions %}
                                    <th>Editar</th>
                                    <th>Eliminar</th>
                                    {% endif %}
                                    <th data-hide="all">Dispositivo</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for sensor in datos_sensores %}
                                <tr>
                                    <td>{{ sensor.sa_interfaz }}</td>
                                    <td>{{ sensor.sa_nombre }}</td>
                                    <td>
                                    {% if sensor.sa_categoria == 's' %}
                                        Sensor
                                    {% else %}
                                        Actuador
                                    {%endif%}
                                    </td>
                                     <td>{{ sensor.sa_ult_medida}} {{ sensor.ted_id.um_id.umed_abreviatura }}</td>
                                    <td>
                                    {% if sensor.sa_senial == 'd'  %}
                                        Digital
                                    {% else %}
                                        Analogica
                                    {%endif%}
                                    </td>
                                    {% if 'iot.change_iot_sensor_actuador' in usuario.get_all_permissions %}
                                    <td>
                                            <div class="switch">
                                                <div class="onoffswitch">
                                                    {% if sensor.sa_estado %}
                                                        <input type="checkbox" checked class="onoffswitch-checkbox" value={{ sensor.sa_estado }} id={{ sensor.iot_id}} onchange="baja_sensor(this, '{{ sensor.iot_id }}')" >
                                                    {% else %}
                                                        <input type="checkbox" class="onoffswitch-checkbox" value={{ sensor.sa_estado }} id={{ sensor.iot_id}} onchange="baja_sensor(this, '{{ sensor.iot_id }}')">
                                                    {% endif %}
                                                        <label class="onoffswitch-label" for={{ sensor.iot_id }}>
                                                            <span class="onoffswitch-inner"></span>
                                                            <span class="onoffswitch-switch"></span>
                                                        </label>
                                                </div>
                                            </div>
                                    </td>
                                    <td>
                                        <button type="button" data-id="{{ sensor.iot_id }}" class="btn btn-warning btn-xs editButton">Editar</button>
                                    </td>
                                    <td><a onclick="eliminarSensor({{ sensor.iot_id }})" class="btn btn-danger btn-xs "data-toggle="tooltip" data-placement="top" title="" data-original-title="Mark as read"><i class="fa fa-times fa-xl"></i> </a>
                                    </td>
                                    {% else %}
                                    <td>
                                    {% if sensor.sa_estado %}
                                        <span class="label label-primary">ON</span>
                                    {% else %}
                                        <span class="label label-danger">OFF</span>
                                    {% endif %}
                                </td>
                                    {% endif %}
                                    <td>{{ sensor.dis_id.dis_nombre }}</td>
                                </tr>
                                {% endfor %}
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="5">
                                        <ul class="pagination pull-right"></ul>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
            </div>
            </div>
        {% endif %}
        {% if 'iot.change_iot_sensor_actuador' in usuario.get_all_permissions %}
             <div class="col-md-5">
			<div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Ingreso de datos</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" style="display: block;">
                    <form class="form-horizontal" id="form_categoria" method="post" action="{% url 'iot:url_sensor_agregar' %}">{% csrf_token %}
{#                        <form id="userForm" method="post" class="form-horizontal" style="display: none;">#}

    <div class="form-group">
        <label class="col-xs-3 control-label">Interfaz</label>
        <div class="col-xs-9">
            <input type="text" class="form-control" name="interfaz" placeholder="Interfaz donde esta conectado el sensor" />
        </div>
    </div>

    <div class="form-group">
        <input type="text" name="id" class="hide"/>
        <label class="col-xs-3 control-label">Última medida</label>
        <div class="col-xs-9">
            <input type="text" class="form-control" name="ult_medida" placeholder="Ultima medida registrada" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-3 control-label">Nombre</label>
        <div class="col-xs-9">
            <input type="text" class="form-control" name="nombre" placeholder="Nombre identificativo" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-3 control-label">Categoria</label>
        <div class="col-xs-9">
         <!--    <input type="text" class="form-control" name="categoria" /> -->
            <select class="chosen-select"  style="width: 100%" name="categoria" id="categoria">
                <option value="a">Actuador</option>
                <option value="s">Sensor</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-xs-3 control-label">Señal</label>
        <div class="col-xs-9">
            <!-- <input type="text" class="form-control" name="senial" /> -->
            <select class="chosen-select"  style="width: 100%" name="senial" id="senial">
                <option value="d">Digital</option>
                <option value="a">Analogica</option>
            </select>
        </div>
    </div>
         <div class="form-group">

        <label class="col-xs-3 control-label">Dispositivo</label>
        <div class="col-xs-9">
            <div id="contenedorSelect">
                <select class="chosen-select"  style="width: 100%" id = "dispositivos" name="dispositivos" >
                    {% for i in dispositivo %}
                        <option value="{{ i.dis_id }}">{{ i.dis_nombre }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
     <div class="form-group">

        <label class="col-xs-3 control-label">Ted</label>
        <div class="col-xs-9">
            <div id="contenedorSelect">
                <select class="chosen-select"  style="width: 100%" id = "ted" name="ted" >
                    {% for i in ted %}
                        <option value="{{ i.ted_id }}">{{ i.ted_name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>

                   <div class="form-group text-rigth">
	                        <div class="col-lg-offset-5">
                                <div id="contenedor_btn">
	                             <button class="btn btn-primary" type="submit">Guardar</button>
                                </div>
	                        </div>
	                    </div>
                    </form>
                </div>
            </div>
		</div>
{% endif %}
	</div>

</div>


{% endblock contenido %}

{% block scripts %}

<script>
    document.onload = cargarFunciones();
    function cargarFunciones(){
        $('#contenedorSensor').addClass('active');
        $('#sensor').addClass('active');
    };
</script>

<script src="/static/agricultura/js/plugins/chosen/chosen.jquery.js"></script>
<script src="/static/agricultura/js/plugins/select2/select2.full.min.js"></script>
<script src="/static/agricultura/js/plugins/cropper/cropper.min.js"></script>
<script src="/static/agricultura/js/plugins/switchery/switchery.js"></script>
    
<!-- DataTables -->
<script src="/static/agricultura/js/plugins/footable/footable.all.min.js"></script>

<script src="/static/agricultura/js/formValidation.min.js"></script>
<script src="/static/agricultura/js/bootstrapForm.min.js"></script>
    <script src="/static/agricultura/multiselect/jquery.multiple.select.js"></script>

<script src="/static/agricultura/scripts/op_especie.js"></script>

<script src="/static/agricultura/js/bootbox.js"></script>
<script>
$(document).ready(function() {
    $('#form_categoria')
        .formValidation({
            framework: 'bootstrap',
            icon: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                iterfaz: {
                    validators: {
                        notEmpty: {
                            message: 'Campo requierdo'
                        }
                    }
                },
                categoria: {
                    validators: {
                        notEmpty: {
                            message: 'Campo requierdo'
                        }

                    }
                },
                senial: {
                    validators: {
                        notEmpty: {
                            message: 'Campo requerido'
                        }
                    }
                }
            }
        })
        $('.editButton').on('click', function() {
        // Get the record's ID via attribute
        var id = $(this).attr('data-id');
        $.ajax({
            url: '/iot/obtenerSensor/' + id,
            method: 'GET'

        }).success(function(response) {
            // Populate the form fields with the data returned from server
            $('#form_categoria')
                .find('[name="id"]').val(response[0].id).end()
                .find('[name="interfaz"]').val(response[0].interfaz).end()
                .find('[name="nombre"]').val(response[0].nombre).end()
                .find('[name="categoria"]').val(response[0].categoria).end()
                .find('[name="senial"]').val(response[0].senial).end()
                .find('[name="ult_medida"]').val(response[0].ult_medida).end()
                .find('[name="ted"]').val(response[0].ted).end()
                .find('[name="dispositivos"]').val(response[0].dispositivo).end();
                $("#ted").trigger("chosen:updated");
                $("#dispositivos").trigger("chosen:updated");
                $("#categoria").trigger("chosen:updated");
                $("#senial").trigger("chosen:updated");
        });
    });
});
</script>
    <script>
            $("#website").multipleSelect({
                isOpen: true,
                keepOpen: false,
                filter: true,
                single:true,
                minimumCountSelected: 2,
            });
         //OPERACIONES
function baja_sensor(elemento, id) {
    var estado = true;
    if (elemento.checked == false) {
        estado = false;
    }
    $.ajax({
        data: { 'id': id, 'estado': estado },
        url: '/iot/bajaSensor/',
        type: 'get',
        success: function(data) {
            if (data.result == "OK") {
                toastr.options = { "progressBar": true }
                toastr.success('Se cambio de estado', 'Estado')
            } else {}
        }
    });
}

function eliminarSensor(id){

            swal({ title: "Esta seguro?",
                text: "Eliminar este sensor/actuador!",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Si",
                cancelButtonText: "No!",
                closeOnConfirm: false,
                closeOnCancel: false
            },
            function(isConfirm){
               if (isConfirm) {
                $.ajax({
                    data: {'id': id},
                    url: '/iot/eliminar_sen_act/',
                    type: 'get',
                    success: function (data) {
                        if(data.result == "OK"){
                            swal({   title: "Borrado!",
                                text: "El dato a sido borrado con exito",
                                type: "success",
                                confirmButtonText: "OK",
                                closeOnConfirm: false,
                                closeOnCancel: false
                            },
                                function(){
                                    location.href='/iot/sensor/';
                                });
                        }else{
                            alert('Parametro no encontrado');
                        }
                    }
                });
                } else {
                     swal("Cancelado", "No se ha borrado", "error");
                 }
             });
    }

    </script>
{% endblock scripts %}
