{% extends 'base.html' %}
{% load static %}
{% block contenido %}
    <br>
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <div class="ibox float-e-margins" style="border: 2px solid #adadad;">
                <div class="ibox-title" style="border-bottom: 1px solid #d8d8d8">
                    <label>Tecnologia</label>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-offset-1 col-md-10">
                            <div class="box box-primary collapsed-box">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Paquetes Instalados:</h3>
                                    <div class="box-tools pull-right">
                                        <button class="btn btn-box-tool" data-widget="collapse">
                                            <i class="fa fa-plus"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    <ul style="width:100%;overflow:hidden;" class="dos_columnas">
                                        {% for i in paquetes %}<li style="float:left;display:inline;width:50%;">{{ i }}</li>{% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-1 col-md-10">
                            <label>Nota:</label> Los Paquetes aqui instalados deben ser paquetes que no se encuentran el servidor web
                            y se gestionan con PIP
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-offset-1 col-md-10">
                            <label>Paquete:</label>
                            <div class="input-group">
                                <input class="form-control"  type="text" name="txt_nombre" required placeholder="Ingrese el nombre del paquete"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-primary"><i class="fa fa-chevron-circle-right"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
{% endblock %}