{% extends 'app_empresa/base.html' %}

{% block contenido %}

    <div class="row border-bottom white-bg page-heading">
        <div class="col-lg-12">
            <h2>Aplicaciones</h2>
            <h2 class="pull-right" style="margin-top: -35px;">{{empresa}}</h2>
            <ol class="breadcrumb">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Inicio<span class="caret"></span></a> {% include "dropdown-menu.html" %}
                </li>
                <li>
                    <strong>Aplicaciones</strong>
                </li>
                <li class="active">
                    <strong>Agregar</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2"></div>
    </div><br><br>
    <div class="row">
        <div class="col-lg-offset-1 col-lg-10">
            <div class="ibox float-e-margins">
                <div class="ibox-title" style="border-bottom: 1px solid #d8d8d8">
                    <h5><i class="fa fa-apple"></i> Agregar Aplicaciones</h5>
                </div>
                <div class="ibox-content">
                    <div id="id_proyecto_rol"></div>
                    <div class="row">
                        <div class="col-md-offset-2 col-md-8">
                            <form action="{{ url }}" method="post" enctype="multipart/form-data"> {% csrf_token %}
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4>Datos de Aplicaciones</h4>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-offset-1 col-md-10">
                                                <label>Nombre</label>
                                                <input type="text" name="txt_nombre" required class="form-control" value="{{ datos_app.app_nombre }}">
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-offset-1 col-md-10">
                                                <label>Descripción</label>
                                                <textarea type="text" name="txt_descripcion" required class="form-control" rows="3">{{ datos_app.app_descripcion }}</textarea>
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-offset-1 col-md-10">
                                                <label>Ícono</label>
                                                {% if datos_app.app_logo %}
                                                    <br>
                                                    <img src='{{ datos_app.app_logo.url }}' width="100" height="100">
                                                {% endif %}
                                                <input type="file" name="img_icono" accept="image/*">
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-offset-1 col-md-10">
                                                <label>Enlace</label>
                                                <input type="text" name="txt_enlace" required class="form-control" value="{{ datos_app.app_enlace }}">
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-offset-1 col-md-10">
                                                <label>Color</label>
                                                <input type="color" name="txt_color" required class="form-control" value="{{ datos_app.app_color }}">
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-offset-1 col-md-10">
                                                <label>Abreviatura</label>
                                                <input type="text" name="txt_abrev" required class="form-control" value="{{ datos_app.app_abreviatura }}">
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-offset-1 col-md-10">
                                                <label>Es exclusiva del grupo IOTMACH</label> &nbsp;&nbsp;&nbsp;
                                                {% if datos_app.app_iotmach %}
                                                    <input type="checkbox" name="chk_iotmach" checked>
                                                {% else %}
                                                    <input type="checkbox" name="chk_iotmach">
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4>Datos de las cookies de la aplicación</h4>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-offset-1 col-md-10">
                                                <label>Clave</label>
                                                <input type="text" name="txt_clave" required class="form-control" value="{{ datos_app.app_clave }}">
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-offset-1 col-md-10">
                                                <label>Valor de la clave</label>
                                                <input type="text" name="txt_valor" required class="form-control" value="{{ datos_app.app_valor_clave }}">
                                            </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                            <div class="col-md-offset-1 col-md-10">
                                                <label>Encriptar</label>&nbsp;&nbsp;&nbsp;
                                                {% if datos_app.app_encriptar %}
                                                    <input type="checkbox" name="chk_encrip" checked>
                                                {% else %}
                                                    <input type="checkbox" name="chk_encrip">
                                                {% endif %}
                                            </div>
                                        </div>
                                        <br>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <button class="btn btn-success pull-right">Guardar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    {% block scripts %}
        <script>
            $('#apps').addClass('active');
            $('#grd_apps').addClass('active');
        </script>
    {% endblock %}
{% endblock %}