{% extends 'app_empresa/base.html' %}

{% block contenido %}
    <div class="row border-bottom white-bg page-heading">
        <div class="col-lg-12">
            <h2>Aplicaciones</h2>
            <h2 class="pull-right" style="margin-top: -35px;">{{empresa}}</h2>
            <ol class="breadcrumb">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Inicio<span class="caret"></span></a> {% include "dropdown-menu.html" %}
                </li>
                <li>
                    <strong>Aplicaciones</strong>
                </li>
                <li class="active">
                    <strong>Listar</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2"></div>
    </div><br><br>
    <div class="row">
        <div class="col-lg-offset-1 col-lg-10">
            <div class="ibox float-e-margins">
                <div class="ibox-title" style="border-bottom: 1px solid #d8d8d8">
                    <h5><i class="fa fa-list"></i> Listar Aplicaciones</h5>
                </div>
                <div class="ibox-content">
                    <div id="id_proyecto_rol"></div>
                    <div class="row">
                        <div class="col-md-offset-1 col-md-10">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Descripción</th>
                                        <th>Ícono</th>
                                        <th>Enlace</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for i in lstApps %}
                                    <tr>
                                        <td>{{ i.app_nombre }}</td>
                                        <td>{{ i.app_descripcion }}</td>
                                        <td>
                                            <center><img src="{{ i.app_logo.url }}" width="75"></center>
                                        </td>
                                        <td><a href="{{ i.app_enlace }}" target="_blank">{{ i.app_enlace }}</a></td>
                                        <td>
                                            <a href="/seguridad/aplicaciones/editar/{{ i.app_id }}" class="btn btn-primary">
                                                <i class="fa fa-edit"></i></a>
                                            <button type="button" onclick="cargar_modal({{ i.pk }},'{{ i.app_nombre }}')" class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="/seguridad/aplicaciones/eliminar" method="post">{% csrf_token %}
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Confirmación</h4>
                    </div>
                    <div class="modal-body">
                        <p id="texto">?</p>
                        <p class="text-warning" style="display: none"><input type="text" name="txt_codigo" id="txt_codigo"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        $('#apps').addClass('active');
        $('#lst_apps').addClass('active');
        function cargar_modal(codigo, nombre){
            $('#txt_codigo').val(codigo);
            $('#texto').html('Desea eliminar la aplicación <strong>'+nombre+'</strong>?');
            $("#myModal").modal('show');
        };
    </script>
{% endblock %}