<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>IOTMACH - Agricultura</title>
    <link href="/static/agricultura/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/agricultura/font-awesome/css/font-awesome.css" rel="stylesheet">
    <!-- Toastr style -->
    <link href="/static/agricultura/css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <link href="/static/agricultura/css/plugins/sweetalert/sweetalert.css" rel="stylesheet">


    {% block css %}
        <style type="text/css">
            @import url(http://fonts.googleapis.com/css?family=Lato:400,700);
/*
 * Variables
 */
/*
 * CSS
 */

.wrapper {
  margin: 0.5em 0.5em 1em 0.5em;
  padding: 1em 0.5em 0.5em 0.5em;
  border-top: 0.5em solid #fff;
  /*border-bottom: 0.25em solid #bdc3c7 !important;*/
  background: #fff;
  /*box-shadow: 0 0 0 0.5em rgba(189, 195, 199, 0);*/
  -moz-transition: box-shadow 0.15s linear;
  -o-transition: box-shadow 0.15s linear;
  -webkit-transition: box-shadow 0.15s linear;
  transition: box-shadow 0.15s linear;
}
.wrapper:hover {
  box-shadow: 0 0 0 0.5em rgba(189, 195, 199, 0.6);
}
.wrapper h2 {
  font-size: 2em;
  font-weight: 700;
  margin: 0 0 0.5em 0;
}
.wrapper h3 {
  font-weight: 400;
  margin: 0;
  font-size: 1.2em;
  line-height: 1.2;
}
.wrapper address {
  font-style: normal;
  margin-bottom: 0.5em;
}
.wrapper ul {
  margin: 0;
}
.wrapper li {
  margin-bottom: 0.5em;
  border-bottom: .25em solid #fff;
  padding-bottom: 0.5em;
}
.wrapper li:last-child {
  border: none;
  padding-bottom: 0;
  margin-bottom: 0;
}
.wrapper label {
  cursor: pointer;
}
.wrapper input {
  width: 1.15em;
  height: 1.15em;
  background: #fff;
  margin-right: .25em;
  cursor: pointer;
  box-shadow: inset 0 0 0 .25em #fff;
  vertical-align: text-bottom;
  -moz-appearance: none;
  -webkit-appearance: none;
  -moz-transition: background 0.15s linear;
  -o-transition: background 0.15s linear;
  -webkit-transition: background 0.15s linear;
  transition: background 0.15s linear;
}
.wrapper input[type="number"] {
  width: 1.75em;
  height: 60%;
  border: none;
  padding: 0 0.25em;
  text-align: center;
  font-size: 2em;
  position: relative;
}
.wrapper input[type="number"]:focus {
  outline: none;
  background: #ecf0f1;
}
.wrapper input[type="number"]::-webkit-inner-spin-button, .wrapper input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  cursor: pointer;
  width: .5em;
  height: 100%;
  text-align: center;
  color: #bdc3c7;
}
.wrapper input[type="number"]::-webkit-inner-spin-button:before, .wrapper input[type="number"]::-webkit-outer-spin-button:before {
  position: absolute;
  left: 0;
  top: 0;
  content: '\25B4';
}
.wrapper input[type="number"]::-webkit-inner-spin-button:after, .wrapper input[type="number"]::-webkit-outer-spin-button:after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: '\25BE';
}
.wrapper input:checked {
  background: #ccc;
}
.wrapper img {
  max-width: 100%;
  max-height: 8em;
  border: .25em solid #fff;
}
.wrapper table {
  width: 100%;
  border-spacing: 0 0.25em;
  border-collapse: separate;
  margin-top: -0.25em;
}
.wrapper th {
  text-align: right;
  padding-right: 1em;
}
.wrapper thead {
  background: #e74c3c;
}
.wrapper thead th {
  text-align: left;
  padding: 0.5em;
  color: #fff;
}
.wrapper thead th:last-child {
  text-align: right;
}
.wrapper tr.alpha {
  background: #e74c3c;
  color: #fff;
}
.wrapper tr.alpha > th {
  padding: 0.5em 1em 0.5em 0.5em;
}
.wrapper hr {
  border: none;
  border-bottom: 0.25em solid #fff;
}
.wrapper button {
  border: none;
  padding: 0.5em;
  background: #ecf0f1;
  -moz-appearance: none;
  -webkit-appearance: none;
  -moz-transition: background 0.15s linear;
  -o-transition: background 0.15s linear;
  -webkit-transition: background 0.15s linear;
  transition: background 0.15s linear;
}
.wrapper button:hover {
  background: #bdc3c7;
}
.wrapper button:before {
  content: attr(data-icon);
  padding-right: 0.5em;
}
.wrapper button.alpha:before {
  content: "x";
  color: #e74c3c;
}
.wrapper button.beta {
  background: #1abc9c;
  color: #fff;
  font-weight: 700;
  padding: 1em;
  margin-top: 0.25em;
  font-size: 1.25em;
}
.wrapper button.beta:hover {
  background: #16a085;
}
.wrapper button.beta:before {
  content: '\25B6';
}
.wrapper button.gamma:before {
  content: '\25AA';
  color: #bdc3c7;
}
.wrapper button.gamma:hover:before {
  color: #ecf0f1;
}
.wrapper .text--right {
  text-align: right;
}
.wrapper .helper--alpha {
  padding-left: 1.5em;
}
.wrapper .wrapper--box {
  color: #fff;
  padding: 0.5em;
  list-style-type: none;
}
.wrapper.wrapper__alpha {
  border-color: #27ae60;
}
.wrapper.wrapper__alpha .wrapper--box {
  background: #27ae60;
}
.wrapper.wrapper__alpha h2 {
  color: #2ecc71;
}
.wrapper.wrapper__beta {
  border-color: #2980b9;
}
.wrapper.wrapper__beta .wrapper--box {
  background: #2980b9;
}
.wrapper.wrapper__beta h2 {
  color: #3498db;
}
.wrapper.wrapper__beta li {
  border-color: #3498db;
}
.wrapper.wrapper__beta input:checked {
  background: #3498db;
}
.wrapper.wrapper__gamma {
  border-color: #c0392b;
}
.wrapper.wrapper__gamma .wrapper--box {
  border-top: 0.5em solid #c0392b;
  color: #000;
}
.wrapper.wrapper__gamma h2,
.wrapper.wrapper__gamma h3 {
  color: #e74c3c;
}
.wrapper.wrapper__gamma hr {
  border-color: #e74c3c;
}
.wrapper.wrapper__delta {
  border-color: #9b59b6;
}
.wrapper.wrapper__delta .wrapper--box {
  background: #8e44ad;
}
.wrapper.wrapper__delta h2 {
  color: #9b59b6;
}
.wrapper.wrapper__delta li {
  border-color: #9b59b6;
}
.wrapper.wrapper__delta input:checked {
  background: #9b59b6;
}

        </style>
    {% endblock css %}

    <link href="/static/agricultura/css/animate.css" rel="stylesheet">
    <link href="/static/agricultura/css/style.css" rel="stylesheet">

    <link href="/static/agricultura/css/submenu.css" rel="stylesheet">
    <!-- Importaciones Propias -->
    <link rel="shortcut icon" href="{{ STATIC_URL }}agricultura/img/iotmach.ico">
    <link href="/static/agricultura/css/hover.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/recursos/css/dataTables.bootstrap.css"/>
</head>

<body>

    <div id="wrapper">
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <a data-toggle="dropdown" class="dropdown-toggle">
                                <a href="/" class="logo">
                                    <span class="logo-lg">
                                        <img src="{{ STATIC_URL }}recursos_admin/dist/img/iotmach.png" width="75" height="75"><b></b>
                                    </span>
                                </a>
                             </a>
                        </div>
                        <div class="logo-element">
                            <span class="logo-mini"><img src="{{ STATIC_URL }}recursos_admin/dist/img/iotmach.png" width="50" height="50"></span>
                        </div>
                    </li>
                    {% for i in menu %}                        
                        {% if i.men_plantilla == "empresa" %}
                            {% if i.men_estado_url %}
                                <li class="treeview">
                                    <a href="{{ i.men_ruta }}" title="{{ i.men_nombre }}">
                                        <i class="{{ i.men_icono }}"></i> <span class="texto_menu">{{ i.men_nombre }}</span></a>
                                </li>
                            {% else %}
                                <li id="{{ i.men_nombre }}" class="treeview">
                                    <a href="#" title="{{ i.men_nombre }}">
                                        <i class="{{ i.men_icono }}"></i><span class="texto_menu">{{ i.men_nombre }}</span>
                                        <span class="fa arrow"></span>
                                    </a>
                                    <ul class="nav nav-second-level collapse">
                                        {% for j in submenu %}
                                            {% if i.pk == j.men_id_padre.pk %}
                                                {% if j.men_estado_url %}
                                                    <li>
                                                        <a href="{{ j.men_ruta }}">{{ j.men_nombre }}</a>
                                                    </li>
                                                {% else %}
                                                    <li>
                                                        <a href="#">{{ j.men_nombre }} <span class="fa arrow"></span></a>
                                                        <ul class="nav nav-third-level collapse">
                                                            {% for k in items %}
                                                                {% if j.pk == k.men_id_padre.pk %}
                                                                    <li>
                                                                        <a href="{{ k.men_ruta }}">
                                                                            <i class="fa {{ k.men_icono }}"></i> {{ k.men_nombre }}</a>
                                                                    </li>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </ul>
                                                    </li>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% for j in submenu %}
                        {% if j.men_id_padre == None and j.men_plantilla == "empresa"%}
                            {% if j.men_estado_url %}
                                <li id="{{ j.men_id_active }}" class="treeview">
                                    <a href="{{ j.men_ruta }}" title="{{ j.men_nombre }}">
                                        <i class="{{ j.men_icono }}"></i><span class="texto_menu">{{ j.men_nombre }}</span></a>
                                </li>
                            {% else %}
                                <li id="{{ j.men_id_active }}" class="treeview">
                                    <a href="#" title="{{ j.men_nombre }}"><i class="{{ j.men_icono }}"></i>
                                        <span class="texto_menu">{{ j.men_nombre }}</span><span class="fa arrow"></span></a>
                                    <ul class="nav nav-second-level collapse">
                                        {% for k in items %}
                                            {% if j.pk == k.men_id_padre.pk %}
                                                <li id="{{ k.men_id_active }}" class="treeview">
                                                    <a href="{{ k.men_ruta }}" title="{{ k.men_nombre }}">
                                                        <i class="{{ k.men_icono }}"></i>{{ k.men_nombre }}
                                                    </a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% for k in items %}
                        {% if k.men_id_padre == None and k.men_plantilla == "empresa" %}
                            <li id="{{ k.men_id_active }}">
                                <a href="{{ k.men_ruta }}" title="{{ k.men_nombre }}">
                                    <i class="fa {{ k.men_icono }}"></i>
                                    <span class="texto-menu">{{ k.men_nombre }}</span>
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </nav>
{# dashbard-1 #}
        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
                <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary" href="#"><i class="fa fa-bars"></i> </a>
                        </div>
                        <div class="navbar-collapse" id="nav1">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown" style="margin-left: 100px;width: 250px">
                                    <a style="color:white" href="#" id="dlabel" class="btn btn-success dropdow-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-user"></i> {{ usuario.get_full_name }}
                                        <span class="caret"></span>
                                    </a>
                                    <ul class="dropdown-menu" arial-labelledby="dlabel">
                                        <li>
                                            <a href="/empresa/personas/editar/" title="Haga click aqui para ver su perfil">
                                                Ver Perfil
                                            </a>
                                        </li>
                                        <li>
{#                                            <a href="http://192.168.1.5:6001" title="Ir al Panel de aplicaciones">Panel de Aplicaciones</a>#}
                                        </li>
                                        <li>
                                            <a href="/cerrarsesion/" title="Haga click aqui para cerrar sesión">
                                                Cerrar Sesión
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            {% block contenido %}
              <div class="row border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>Empresa {{ empresa }}</h2>
                    <ol class="breadcrumb">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Inicio<span class="caret"></span></a> {% include "dropdown-menu.html" %}
                        </li>
                        <li class="active">
                            <strong>Módulo Empresa</strong>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-2"></div>
            </div><br><br>
                <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div class="ibox float-e-margins">
                    <div class="ibox-title" style="border-bottom: 1px solid #d8d8d8">
                        <h5><i class="fa fa-group"></i> Grupo de Trabajo</h5>
                    </div>
                    <div class="ibox-content">
                        <div id="id_proyecto_rol"></div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <table class="table table-bordered table-condensed" id="presentacion">
                                    <thead>
                                    <tr>
                                        <th>Nombres</th>
                                        <th>Apellidos</th>
                                        <th>Correo Electronico</th>
                                        <th>Teléfono</th>
                                        <th>Rol</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for i in listUsuarios %}
                                        <tr>
                                            <td>{{ i.first_name }}</td>
                                            <td>{{ i.last_name }}</td>
                                            <td>{{ i.email }}</td>
                                            <td>{{ i.id_persona.per_telef_movil  }}</td>
                                            <td>{{ i.groups.values.0.name }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
            {% endblock contenido %}

            <div class="footer">
                <div class="pull-right hidden-xs">
                    Proyecto IOT
                </div>
                <div>
                    <strong>Copyright &copy; 2016 <a href="#">IOTMACH</a>.</strong> Todos los Derechos reservados.
                </div>
            </div>
        </div>


        </div>
        

    <!-- Mainly scripts -->
    <script src="/static/agricultura/js/jquery-2.1.1.js"></script>
    <script src="/static/agricultura/js/bootstrap.min.js"></script>
    <script src="/static/agricultura/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/static/agricultura/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Flot -->
    <script src="/static/agricultura/js/plugins/flot/jquery.flot.js"></script>
    <script src="/static/agricultura/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
    <script src="/static/agricultura/js/plugins/flot/jquery.flot.spline.js"></script>
    <script src="/static/agricultura/js/plugins/flot/jquery.flot.resize.js"></script>
    <script src="/static/agricultura/js/plugins/flot/jquery.flot.pie.js"></script>
    <script src="/static/agricultura/js/plugins/flot/jquery.flot.symbol.js"></script>
    <script src="/static/agricultura/js/plugins/flot/jquery.flot.time.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="/static/agricultura/js/inspinia.js"></script>
    <script src="/static/agricultura/js/plugins/pace/pace.min.js"></script>

    <!-- Sparkline -->
    <script src="/static/agricultura/js/plugins/sparkline/jquery.sparkline.min.js"></script>

    <!-- Toastr script -->
    <script src="/static/agricultura/js/plugins/toastr/toastr.min.js"></script>
    
    <!-- Sweet alert -->
    <script src="/static/agricultura/js/plugins/sweetalert/sweetalert.min.js"></script>
    <script src="/static/agricultura/scripts/validaciones.js"></script>


    {% block scripts %}
        
    {% endblock scripts %}

 <div class="theme-config" style="margin-top: 17px;">
    <div class="theme-config-box">
        <div class="spin-icon">
            <i class="fa fa-cogs fa-spin"></i>
        </div>
        <div class="skin-setttings">
            <div class="title">Configuracion</div>
            <div class="setings-item">
                    <span>
                        Collapse menu
                    </span>

                <div class="switch">
                    <div class="onoffswitch">
                        <input type="checkbox" name="collapsemenu" class="onoffswitch-checkbox" id="collapsemenu">
                        <label class="onoffswitch-label" for="collapsemenu">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="setings-item">
                    <span>
                        Fixed sidebar
                    </span>

                <div class="switch">
                    <div class="onoffswitch">
                        <input type="checkbox" name="fixedsidebar" class="onoffswitch-checkbox" id="fixedsidebar">
                        <label class="onoffswitch-label" for="fixedsidebar">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="setings-item">
                    <span>
                        Top navbar
                    </span>

                <div class="switch">
                    <div class="onoffswitch">
                        <input type="checkbox" name="fixednavbar" class="onoffswitch-checkbox" id="fixednavbar">
                        <label class="onoffswitch-label" for="fixednavbar">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="setings-item">
                    <span>
                        Boxed layout
                    </span>

                <div class="switch">
                    <div class="onoffswitch">
                        <input type="checkbox" name="boxedlayout" class="onoffswitch-checkbox" id="boxedlayout">
                        <label class="onoffswitch-label" for="boxedlayout">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="setings-item">
                    <span>
                        Fixed footer
                    </span>

                <div class="switch">
                    <div class="onoffswitch">
                        <input type="checkbox" name="fixedfooter" class="onoffswitch-checkbox" id="fixedfooter">
                        <label class="onoffswitch-label" for="fixedfooter">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                </div>
            </div>

           <div class="title">Skins</div>
            <div class="setings-item default-skin">
                    <span class="skin-name ">
                         <a href="#" class="s-skin-0">
                             Defecto
                         </a>
                    </span>
            </div>
            <div class="setings-item blue-skin">
                    <span class="skin-name ">
                        <a href="#" class="s-skin-1">
                            Azul
                        </a>
                    </span>
            </div>
            <div class="setings-item yellow-skin">
                    <span class="skin-name ">
                        <a href="#" class="s-skin-3">
                            Amarillo/Morado
                        </a>
                    </span>
            </div>
        </div>
    </div>
</div>

    <script src="/static/recursos/js/jquery.dataTables.min.js"></script>
    <script src="/static/recursos/js/dataTables.bootstrap.js"></script>
<script>
    // Config box

    // document.onload = tema();

    // function tema(){
    //     $("body").removeClass("skin-2");
    //     $("body").removeClass("skin-3");
    //     $("body").addClass("skin-1");
    // }

    // Enable/disable fixed top navbar
    $('#fixednavbar').click(function () {
        if ($('#fixednavbar').is(':checked')) {
            $(".navbar-static-top").removeClass('navbar-static-top').addClass('navbar-fixed-top');
            $("body").removeClass('boxed-layout');
            $("body").addClass('fixed-nav');
            $('#boxedlayout').prop('checked', false);

            if (localStorageSupport) {
                localStorage.setItem("boxedlayout",'off');
            }

            if (localStorageSupport) {
                localStorage.setItem("fixednavbar",'on');
            }
        } else {
            $(".navbar-fixed-top").removeClass('navbar-fixed-top').addClass('navbar-static-top');
            $("body").removeClass('fixed-nav');

            if (localStorageSupport) {
                localStorage.setItem("fixednavbar",'off');
            }
        }
    });

    // Enable/disable fixed sidebar
    $('#fixedsidebar').click(function () {
        if ($('#fixedsidebar').is(':checked')) {
            $("body").addClass('fixed-sidebar');
            $('.sidebar-collapse').slimScroll({
                height: '100%',
                railOpacity: 0.9
            });

            if (localStorageSupport) {
                localStorage.setItem("fixedsidebar",'on');
            }
        } else {
            $('.sidebar-collapse').slimscroll({destroy: true});
            $('.sidebar-collapse').attr('style', '');
            $("body").removeClass('fixed-sidebar');

            if (localStorageSupport) {
                localStorage.setItem("fixedsidebar",'off');
            }
        }
    });

    // Enable/disable collapse menu
    $('#collapsemenu').click(function () {
        if ($('#collapsemenu').is(':checked')) {
            $("body").addClass('mini-navbar');
            SmoothlyMenu();

            if (localStorageSupport) {
                localStorage.setItem("collapse_menu",'on');
            }

        } else {
            $("body").removeClass('mini-navbar');
            SmoothlyMenu();

            if (localStorageSupport) {
                localStorage.setItem("collapse_menu",'off');
            }
        }
    });

    // Enable/disable boxed layout
    $('#boxedlayout').click(function () {
        if ($('#boxedlayout').is(':checked')) {
            $("body").addClass('boxed-layout');
            $('#fixednavbar').prop('checked', false);
            $(".navbar-fixed-top").removeClass('navbar-fixed-top').addClass('navbar-static-top');
            $("body").removeClass('fixed-nav');
            $(".footer").removeClass('fixed');
            $('#fixedfooter').prop('checked', false);

            if (localStorageSupport) {
                localStorage.setItem("fixednavbar",'off');
            }

            if (localStorageSupport) {
                localStorage.setItem("fixedfooter",'off');
            }


            if (localStorageSupport) {
                localStorage.setItem("boxedlayout",'on');
            }
        } else {
            $("body").removeClass('boxed-layout');

            if (localStorageSupport) {
                localStorage.setItem("boxedlayout",'off');
            }
        }
    });

    // Enable/disable fixed footer
    $('#fixedfooter').click(function () {
        if ($('#fixedfooter').is(':checked')) {
            $('#boxedlayout').prop('checked', false);
            $("body").removeClass('boxed-layout');
            $(".footer").addClass('fixed');

            if (localStorageSupport) {
                localStorage.setItem("boxedlayout",'off');
            }

            if (localStorageSupport) {
                localStorage.setItem("fixedfooter",'on');
            }
        } else {
            $(".footer").removeClass('fixed');

            if (localStorageSupport) {
                localStorage.setItem("fixedfooter",'off');
            }
        }
    });

    // SKIN Select
    $('.spin-icon').click(function () {
        $(".theme-config-box").toggleClass("show");
    });

        // Default skin
    $('.s-skin-0').click(function () {
        $("body").removeClass("skin-1");
        $("body").removeClass("skin-2");
        $("body").removeClass("skin-3");
        if (localStorageSupport) {
            localStorage.setItem("skin",'default');
        }
    });

    // Blue skin
    $('.s-skin-1').click(function () {
        $("body").removeClass("skin-2");
        $("body").removeClass("skin-3");
        $("body").addClass("skin-1");
        if (localStorageSupport) {
            localStorage.setItem("skin",'skin-1');
        }
    });

    // Inspinia ultra skin
    $('.s-skin-2').click(function () {
        $("body").removeClass("skin-1");
        $("body").removeClass("skin-3");
        $("body").addClass("skin-2");
        if (localStorageSupport) {
            localStorage.setItem("skin",'skin-3');
        }
    });

    // Yellow skin
    $('.s-skin-3').click(function () {
        $("body").removeClass("skin-1");
        $("body").removeClass("skin-2");
        $("body").addClass("skin-3");
        if (localStorageSupport) {
            localStorage.setItem("skin",'skin-2');
        }
    });

    if (localStorageSupport) {
        var collapse = localStorage.getItem("collapse_menu");
        var fixedsidebar = localStorage.getItem("fixedsidebar");
        var fixednavbar = localStorage.getItem("fixednavbar");
        var boxedlayout = localStorage.getItem("boxedlayout");
        var fixedfooter = localStorage.getItem("fixedfooter");
        var skin        = localStorage.getItem("skin");

        if (collapse == 'on') {
            $('#collapsemenu').prop('checked','checked')
        }
        if (fixedsidebar == 'on') {
            $('#fixedsidebar').prop('checked','checked')
        }
        if (fixednavbar == 'on') {
            $('#fixednavbar').prop('checked','checked')
        }
        if (boxedlayout == 'on') {
            $('#boxedlayout').prop('checked','checked')
        }
        if (fixedfooter == 'on') {
            $('#fixedfooter').prop('checked','checked')
        }
        if (skin == 'default'){
            setDefault();
        }
        if (skin == 'skin-1'){
            setSkin1();
        }
        if (skin == 'skin-2'){
            setSkin2();
        }
    }

    function setDefault(){
        $("body").removeClass("skin-1");
        $("body").removeClass("skin-2");
        $("body").removeClass("skin-3");
    }

    function setSkin1(){
        $("body").removeClass("skin-2");
        $("body").removeClass("skin-3");
        $("body").addClass("skin-1");
    }

    function setSkin2(){
        $("body").removeClass("skin-1");
        $("body").removeClass("skin-2");
        $("body").addClass("skin-3");
    }

    document.onload = inicio();
    document.onload=inicioTabla();
            function inicioTabla(){
                $('#presentacion').dataTable( {
                    "ordering": false
                } );
            }

    function inicio() {
        //toastr.options.positionClass = 'toast-top-center';
        {% if messages %}
            {% for msg in messages %}
                {% if msg.tags == 'success' %}
                    toastr.options={"progressBar": true}
                    toastr.success('{{ msg }}','Estado')
                {% else %}
                    {% if msg.tags == 'warning' %}
                        toastr.options={"progressBar": true ,"showDuration": "500", "hideDuration": "3000", "timeOut": "10000","extendedTimeOut": "3000"}
                        toastr.warning('{{ msg }}','Estado')
                    {% else %}
                        toastr.options={"progressBar": true}
                        toastr.error('{{ msg }}','Estado')
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% endif %}
        }
</script>


</body>
</html>
