{% extends "app_empresa/base.html"%}
{% load static %}
{% block  contenido%}
{#    <section class="content-header">#}
{#    <div id="alerta_editar_perfil"></div>#}
{#    {% block titulo_pagina %}#}
{#        <h1>#}
{#            Perfil de usuario#}
{#        </h1>#}
{#    {% endblock %}#}
{#    </section>#}
    <br>
    <!-- Main content -->
    <div class="ibox float-e-margins">
        <div class="ibox-title" style="border-bottom: 1px solid #d8d8d8">
            <h5><i class="fa fa-user"></i> Datos del Perfil de Usuario</h5>
        </div>
        <div class="ibox-content">

        <div class="row">
        <div class="col-md-3">
        <!-- Profile Image -->
        <div class="box box-primary">
            <div class="box-body box-profile">
                {% if persona.per_foto.url != None %}
                    <img src="{{ persona.per_foto.url }}" class="profile-user-img img-responsive img-circle" alt="User Image">
                {% else %}
                    <img src="{% static 'recursos_admin/dist/img/usuariod.jpg' %}" class="profile-user-img img-responsive img-circle" alt="User Image">
                {% endif %}
                <h3 class="profile-username text-center">{{ usuario.get_full_name }}</h3>
                {% for i in roles %}
                    <p class="text-muted text-center">{{ i.rol_nombre }}</p>
                {% endfor %}
{#                <a href="#"  onclick="mostrarModal()" class="btn btn-primary btn-block"><b>Cambiar Imágen de Perfil</b></a>#}
            </div><!-- /.box-body -->
        </div><!-- /.box -->
            <!-- About Me Box -->
            <div class="ibox float-e-margins" style="border: 1px solid #c6c6c6;" >
                <div class="ibox-title">
                    <h3 class="box-title">Datos Personales</h3>

                </div><!-- /.box-header -->
                <div class="ibox-content">
                    <strong><i class="fa fa-calendar margin-r-5"></i>  Registro</strong>
                    <p class="text-muted">
                        Registrado desde el {{ usuario.date_joined.date }}
                    </p>
                    <hr>
                    <strong><i class="fa fa-map-marker margin-r-5"></i> Ubicación</strong>
                    {% if persona.per_direccion == None %}
                        <p class="text-muted">No hay datos de ubicación</p>
                    {% else %}
                        <p class="text-muted">{{ persona.per_direccion }}</p>
                    {% endif %}
                    <hr>

                    <strong><i class="fa fa-phone margin-r-5"></i> Nº Teléfono</strong>
                    {% if not persona.per_telef_fijo and not persona.per_telef_movil %}
                        <p class="text-muted">No hay datos de números de teléfono</p>
                    {% else %}
                        <p class="text-muted">Celular: {{ persona.per_telef_movil }}</p>
                        <p class="text-muted">Fijo: {{ persona.per_telef_fijo }}</p>
                    {% endif %}
                    <hr>
                    <strong><i class="fa fa-mail-reply-all margin-r-5"></i> Correo Electrónico</strong>
                    {% if persona.per_email == None %}
                        <p class="text-muted">No hay datos de correo electrónico </p>
                    {% else %}
                        <p class="text-muted">{{ persona.per_email }}</p>
                    {% endif %}

                    </div>
            </div><!-- /.box -->
        </div><!-- /.col -->
        <div class="col-md-9">
            <div class="nav-tabs-custom" >
                <ul class="nav nav-tabs" style="font-style: italic">
                    <li class="active"><a href="#activity" data-toggle="tab">Actividades</a></li>
                    <li><a href="#actualizar" data-toggle="tab">Actualizar Datos</a></li>
                    <li><a href="#settings" data-toggle="tab">Cambiar Contraseña</a></li>
                </ul>
                <div class="tab-content" >
                    <div class="active tab-pane" id="activity">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <table class="table" id="presentacion">
                                    <thead>
                                    <tr>
                                        <th>Acción</th>
                                        <th>Fecha</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for i in lstLogs %}
                                        <tr>
                                            <td>{{ i.la_accion }}</td>
                                            <td>{{ i.la_fecha_hora }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div><!-- /.tab-pane -->
                    <div class="tab-pane" id="actualizar">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row  " style="padding-bottom: 2% ">
                                    <div class="col-md-1 col-lg-1"></div>
                                    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                                        <form method="post" action="/empresa/personas/actualizar/" onsubmit="return validarDatos();" enctype="multipart/form-data">{% csrf_token %}
                                            </br>
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                                    <label for="txtUsuario" >Usuario: </label>
                                                    <input title="Ingresar nombre de usuario" type="text"
                                                           maxlength="30" class="form-control" id="txtUsuario" name="txtUsuario"
                                                           placeholder="Nombre de Usuario" required value="{{ usuario.username }}">
                                                </div>
                                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                                    <label for="txtCorreo" >Correo: </label>
                                                    <input title="Ingresar su correo electronico"
                                                           maxlength="200" type="email" class="form-control"
                                                           id="txtCorreo" name="txtCorreo" placeholder="Correo Electronico"
                                                           required value="{{ persona.per_email }}">
                                                </div>
                                                <div class="col-md-2"></div>
                                            </div>
                                            </br>
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                                    <label for="txtNombre" >Nombres: </label>
                                                    <input title="Ingresar Su Nombre" type="text" class="form-control"
                                                           id="txtNombre" name="txtNombre" placeholder="Nombre de Usuario"
                                                           maxlength="30" required value="{{ usuario.first_name }}">
                                                </div>
                                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                                    <label for="txtApellido" >Apellidos:</label>
                                                    <input title="Ingresar Su Apellido" type="text" class="form-control"
                                                           id="txtApellido" name="txtApellido" placeholder="Escriba Su Apellido"
                                                           maxlength="30" required value="{{ usuario.last_name }}">
                                                </div>
                                                <div class="col-md-2"></div>
                                            </div>
                                            </br>
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                    <label for="txtDireccion" >Dirección: </label>
                                                    <input title="Ingresar Su direccion" type="text" class="form-control" id="txtDireccion"
                                                    maxlength="500" name="txtDireccion" placeholder="Nombre de Usuario" required value="{{ persona.per_direccion }}">
                                                </div>
                                            </div>
                                            </br>
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                                    <label for="txtMovil" >Móvil:</label>
                                                    <input title="Ingresar Su Apellido" type="text" class="form-control" id="txtMovil"
                                                    maxlength="10" name="txtMovil" placeholder="Escriba Su numero movil" required value="{{ persona.per_telef_movil }}">
                                                </div>
                                                <div class="col-md-2"></div>
                                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                                    <label for="txtTlfono" >Fijo:</label>
                                                    <input maxlength="10" title="Ingresar Su Apellido" type="text" class="form-control" id="txtTlfono" name="txtTlfono" placeholder="Escriba Su numero telefono fijo" required value="{{ persona.per_telef_fijo }}">
                                                </div>
                                            </div><br>
                                            <div class="row">
                                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                                    <label for="txtPassword" >Contraseña : </label>
                                                    <input title="Registrar su Contraseña" type="password"
                                                           class="form-control" id="txtPassword" name="txtPassword" placeholder="Escriba su Contreseña" required>
                                                </div>
                                                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                                    <label for="txtPAswwordV" >Confirme Su Contraseña:</label>
                                                    <input title="Confirme Su Contraseña" type="password"
                                                           class="form-control" id="txtPAswwordV" name="txtPAswwordV" placeholder="Verifique su Contraseña" required>
                                                </div>
                                                <div class="col-md-2"></div>
                                            </div><br>
                                            <div class="row">
                                                <div class="col-xs-5 col-sm-8 col-md-8 col-lg-8"></div>
                                                <div class="col-xs-2 col-sm-4 col-md-4 col-lg-4">
                                                    <button type="submit" class="btn btn-success" id = "btnRegistroUsuario">
                                                        Guardar <i class="fa fa-save fa-1x" >   </i></button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.tab-pane -->
                    <div class="tab-pane" id="settings">
                        <h4 class="modal-title">¿Desea Cambiar la contraseña?</h4>
                        <form onsubmit="return validarCambiarPass();" action="/seguridad/usuarios/cambio/" method="post">{% csrf_token %}
                            <div class="modal-body">
                                <br/>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-1"></div>
                                        <div class="col-md-10">
                                            <div class="form-group">
                                                <label>Contraseña Actual</label>
                                                <input placeholder="Escriba su contraseña actual" class="form-control" type="password"
                                                       maxlength="128" id="txtPasswordActual" name="txtPasswordActual"/>
                                            </div>
                                            <div class="form-group">
                                                <label>Nueva Contraseña</label>
                                                <input type="password" class="form-control" placeholder="Escriba su nueva contraseña"
                                                       maxlength="128" name="txtPasswordN" id="txtPasswordN" required>
                                            </div>
                                            <div class="form-group">
                                                <label>Confirme la nueva Contraseña</label>
                                                <input class="form-control"  required type="password" id="txtPasswordC"
                                                       maxlength="128" placeholder="Repita la contraseña" name="txtPasswordC"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-success" id="modificar">Cambiar</button>
                            </div>
                        </form>
                    </div><!-- /.tab-pane -->
                </div><!-- /.tab-content -->
            </div><!-- /.nav-tabs-custom -->
        </div><!-- /.col -->
        </div><!-- /.row -->

        </div>
    </div><br><br><br>


    <div class="modal" id="fotoPerfil">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="/empresa/personas/cambiar/foto/" method="post" enctype="multipart/form-data">{% csrf_token %}
                    <div class="modal-header" style="background: #3d8ebc">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" style="color: #ffffff">Imágen de Perfil</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row" style="text-align: center">
                            <label>Foto Actual:</label> <br/>
                            {% if persona.per_foto.url != None %}
                                <img src="{{ persona.per_foto.url }}" width="300" height="250" id="imgPerfil">
                            {% else %}
                                <img src="{% static 'recursos_admin/dist/img/usuariod.jpg' %}" width="300" height="250" id="imgPerfil">
                            {% endif %}
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-md-12">
{#                                <a href="{{ persona.per_foto.url }}">Actualmente {{ persona.per_foto.name }}</a><br/>#}
                                <label>Foto Nueva:</label>
                                <input type="file" accept="image/*" name="nuevaFoto" id="nuevaFoto" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="background: #3d8ebc">
                        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-success">Guardar Cambios</button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->



{% endblock %}
{% block css %}
    <link rel="stylesheet" href="/static/recursos/css/dataTables.bootstrap.css"/>
{% endblock %}
{% block scripts %}
<script src="{% static 'recursos/validaciones/validacionesEditarPerfil.js' %}"></script>
    <script src="/static/recursos/js/jquery.dataTables.min.js"></script>
    <script src="/static/recursos/js/dataTables.bootstrap.js"></script>
    <script>
{#        function inicioTabla(){#}
{#            $('#presentacion').dataTable( {#}
{#                ordering:  false#}
{#            } );#}
{#        }#}

        function mostrarModal(){
            $("#fotoPerfil").modal('show');
        }


    function archivo(evt) {
        var files = evt.target.files; // FileList object

        // Obtenemos la imagen del campo "file".
        for (var i = 0, f; f = files[i]; i++) {
        //Solo admitimos imágenes.
        if (!f.type.match('image.*')) {
            continue;
        }

        var reader = new FileReader();

        reader.onload = (function(theFile) {
            return function(e) {
              // Insertamos la imagen
                document.getElementById('imgPerfil').setAttribute("src", e.target.result);
            };
        })(f);

        reader.readAsDataURL(f);
        }
    }
    document.getElementById('nuevaFoto').addEventListener('change', archivo, false);
    </script>

    <script>
{#        $(document).ready(function(){#}
{#            {% for msg in messages %}#}
{#                {% if msg.tags == 'success' %}#}
{#                     $("#alerta_base_inicio").append('<div class="alert alert-success fade in">' +#}
{#                     '<a href="#" class="close" data-dismiss="alert">&times;</a>' +#}
{#                     '<strong>Correcto: </strong>{{ msg }}' +#}
{#                     '</div>');#}
{#                {% else %}#}
{#                     $("#alerta_base_inicio").append('<div class="alert alert-danger fade in">' +#}
{#                     '<a href="#" class="close" data-dismiss="alert">&times;</a>' +#}
{#                     '<strong>Error: </strong>{{ msg }}' +#}
{#                     '</div>');#}
{#                {% endif %}#}
{#            {% endfor %}#}
{#        });#}
    </script>
{% endblock %}