{% extends "base.html"%}

{% block contenido %}
    <script src="/static/recursos/validaciones/manejadorImagen.js"></script>
	</br>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-user fa-fw"></i> <label>Editar Perfil</label></h3>
                </div>
                <div class="box-body">
                    <div class="row  " style="padding-bottom: 2% ">
                        <div class="col-xs-1 col-sm-2 col-md-3 col-lg-1"></div>
                        <div class="col-xs-10 col-sm-8 col-md-6 col-lg-10">
                            <form method="post" action="/proyecto/perfil/actualizar/" enctype="multipart/form-data">{% csrf_token %}
                                </br>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-6">
                                        <label for="txtUsuario" style="color:#5E4F40 ">Usuario: </label>
                                        <input title="Ingresar nombre de usuario" type="text" class="form-control" id="txtUsuario" name="txtUsuario" placeholder="Nombre de Usuario" required value="{{ usuario.username }}">
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-6">
                                        <label for="txtCorreo" style="color:#5E4F40 ">Correo: </label>
                                        <input title="Ingresar su correo electronico" type="email" class="form-control" id="txtCorreo" name="txtCorreo" placeholder="Correo Electronico" required value="{{ usuario.email }}">
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>                                
                                </br>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-6">
                                        <label for="txtNombre" style="color:#5E4F40 ">Nombres: </label>
                                        <input title="Ingresar Su Nombre" type="text" class="form-control" id="txtNombre" name="txtNombre" placeholder="Nombre de Usuario" required value="{{ usuario.first_name }}">
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-6">
                                        <label for="txtApellido" style="color:#5E4F40 ">Apellidos:</label>
                                        <input title="Ingresar Su Apellido" type="text" class="form-control" id="txtApellido" name="txtApellido" placeholder="Escriba Su Apellido" required value="{{ usuario.last_name }}">
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>
                                </br>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-6">
                                        <label for="txtNombre" style="color:#5E4F40 ">Direccion: </label>
                                        <input title="Ingresar Su direccion" type="text" class="form-control" id="txtDireccion"
                                               name="txtDireccion" placeholder="Nombre de Usuario" required value="{{ persona.per_direccion }}">
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-6">
                                        <label for="txtApellido" style="color:#5E4F40 ">Movil:</label>
                                        <input title="Ingresar Su Apellido" type="text" class="form-control" id="txtMovil"
                                               name="txtMovil" placeholder="Escriba Su numero movil" required value="{{ persona.per_telef_movil }}">
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>
                                </br>
                                <div class="row">                                    
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-6">
                                        <label for="txtApellido" style="color:#5E4F40 ">Fijo:</label>
                                        <input title="Ingresar Su Apellido" type="text" class="form-control" id="txtTlfono" name="txtTlfono" placeholder="Escriba Su numero telefono fijo" required value="{{ persona.per_telef_fijo }}">
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-6">
                                        <label for="txtImagen" style="color:#5E4F40 ">Foto de Perfil:</label>
                                        <input title="Ingresar Su Foto" onblur="esImagen(this)"
                                               type="file" class="form-control" id="txtImagen"
                                               name="txtImagen" placeholder="Escriba Su numero telefono fijo"
                                               required value="{{ persona.per_telef_fijo }}">
                                    </div>
                                    <div class="col-md-2"></div>
                                </div><br>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-6">
                                        <label for="txtPassword" style="color:#5E4F40 ">Contraseña : </label>
                                        <input title="Registrar su Contraseña" type="password" class="form-control" id="txtPassword" name="txtPassword" placeholder="Escriba su Contreseña" required>
                                    </div>
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-6">
                                        <label for="txtPAswwordV" style="color:#5E4F40 ">Confirme Su Contraseña:</label>
                                        <input title="Confirme Su Contraseña" type="password" class="form-control" id="txtPAswwordV" name="txtPAswwordV" placeholder="Verifique su Contraseña" required>
                                    </div>
                                    <div class="col-md-2"></div>
                                </div><br>
                                <div class="row">
                                    <div class="col-xs-5 col-sm-8 col-md-8 col-lg-8"></div>
                                    <div class="col-xs-2 col-sm-4 col-md-4 col-lg-4">
                                        <button type="submit" class="btn btn-success" id = "btnRegistroUsuario">
                                            Guardar <i class="fa fa-save fa-1x" >   </i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>

    </script>

{%endblock %}