{% extends "app_empresa/base.html"%}
{% load static %}
<link rel="stylesheet" href="{% static 'font-awesome-4.3.0/css/font-awesome.min.css' %}">
{% block contenido %}

     <br>
    <form method="post" action="/empresa/datos/editar_datos/" enctype="multipart/form-data" id="form_registro_empresa" name="form_registro_empresa">
        {% csrf_token %}
        <div id="id_form_empresa" class="row step">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                <div class="ibox-title" style="border-bottom: 1px solid #d8d8d8">
                    <h5><i class="fa "></i> Datos de la Empresa</h5>
                </div>
                <div class="ibox-content">
                    <div class="row  " style="padding-bottom: 2% ">
                        <div class="row" style="padding-bottom: 2% ">
                            <div class="col-xs-1 col-sm-2 col-md-3 col-lg-1" ></div>
                            <div class="col-xs-10 col-sm-8 col-md-6 col-lg-10">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <label for="txt_ruc">Ruc de la Empresa: </label>
                                        <label class="text-red">*</label>
                                        <div class="input-group">
                                            <input id="txt_id_empresa" name="txt_id_empresa" value="{{ empresa_editar.id }}" type="hidden"/>
                                            <input value="{{ empresa_editar.emp_ruc }}" maxlength="50" type="text" class="form-control" id="txt_ruc" name="txt_ruc" placeholder="Ingresar su RUC empresarial" disabled>
                                            <span class="input-group-addon"><span class="fa fa-qrcode"></span></span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <label for="txt_correo_e">Correo Empresarial: </label>
                                        <label class="text-red">*</label>
                                        <div class="input-group">
                                            <input value="{{ empresa_editar.emp_email }}" title="Ingrese un correo válido" maxlength="500" type="email" class="form-control" id="txt_correo_e" name="txt_correo_e" placeholder="Ingresar su correo empresarial" required>
                                            <span class="input-group-addon"><span class="fa fa-envelope"></span></span>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <label for="txt_nombre_c">Nombre Comercial:</label>
                                        <label class="text-red">*</label>
                                        <div class="input-group">
                                            <input value="{{ empresa_editar.emp_nombre_comercial}}" title="Ingresar el Nombre Comercial" type="text" maxlength="200" class="form-control" id="txt_nombre_c" name="txt_nombre_c" placeholder="Nombre comercial" required>
                                            <span class="input-group-addon"><span class="fa fa-bookmark"></span></span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <label for="txt_nombre_j">Nombre Jurídico: </label>
                                        <label class="text-red">*</label>
                                        <div class="input-group">
                                            <input value="{{ empresa_editar.emp_nombre_juridico }}" title="Ingresar el Nombre Juridico" type="text" maxlength="200" class="form-control" id="txt_nombre_j" name="txt_nombre_j" placeholder="Nombre jurídico" required>
                                            <span class="input-group-addon"><span class="fa fa-university"></span></span>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <label for="txt_dominio">Dominio: </label>
                                        <label class="text-red">*</label>
                                        <div class="input-group">
                                            <input value="{{ empresa_editar.emp_dominio_correo }}" title="Ingresar su dominio" type="text" maxlength="500" class="form-control" id="txt_dominio" name="txt_dominio" placeholder="Ingresar su dominio" required>
                                            <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <label for="txt_logo">Logo: </label>
                                        <label class="text-red">*</label>
                                        <div class="input-group">
                                            <input title="Suba su logo" style="padding-top: 5px ;padding-bottom: 5px" type="file" accept="image/*" onblur="esImagen(this)" class="form-control" id="txt_logo" name="txt_logo">
                                            <span class="input-group-addon"><span class="fa fa-image"></span></span>
                                        </div>
                                        <div id="content"></div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <label for="txt_web">Url Web: </label>
                                        <label class="text-red">*</label>
                                        <div class="input-group">
                                            <input value="{{ empresa_editar.emp_web }}" title="Ingresar su direccion web" maxlength="500" type="url" pattern="https?\:\/\/[a-zA-Z0-9\-\.]+\.[a-zA-Z]{2,}" class="form-control" id="txt_web" name="txt_web" placeholder="Ejm. https://wwww.ejemplo.com" required>
                                            <span class="input-group-addon"><span class="fa fa-tablet"></span></span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <label for="txt_grupo">Grupo: </label>
                                        <label class="text-red">*</label>
                                        <div class="input-group">
                                            <input value="{{ empresa_editar.emp_grupo_empresa }}" title="Ingrese un grupo" type="text" maxlength="200" class="form-control" id="txt_grupo" name="txt_grupo" placeholder="Ingrese un grupo">
                                            <span class="input-group-addon"><span class="fa fa-tasks"></span></span>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <label for="txt_direccion_e">Dirección:</label>
                                        <label class="text-red">*</label>
                                        <div class="input-group">
                                            <textarea title="Ingresar Su Dirección" type="text" maxlength="200" class="form-control" id="txt_direccion_e" name="txt_direccion_e" placeholder="Ejm. Av. el Ejemplo" required rows="5" style="resize: none">{{ empresa_editar.emp_direccion }}</textarea>
                                            <span class="input-group-addon"><span class="fa fa-map-marker"></span></span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <label for="txt_descripcion_e">Descripción: </label>
                                        <div class="input-group">
                                            <textarea type="text" onkeypress="return validaSoloLetras();" class="form-control" id="txt_descripcion_e" maxlength="500" placeholder="Descripción de la Empresa" name="txt_descripcion_e" rows="5" style="resize: none">{{ empresa_editar.emp_descripcion }}</textarea>
                                            <span class="input-group-addon"><span class="fa fa-tags"></span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-lg-10 col-md-6 col-sm-12 col-xs-12 col-lg-offset-1">
                                <label class="text-red">Campos Obligatorios (*) </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ibox-footer" style="border-top: 1px solid #d8d8d8">
                    <div class="row">
                        <div align="right" class="col-lg-11">
                            <button type="submit" class="btn btn-success" style="margin: 7px;">Guardar  <i class="fa fa-floppy-o"></i></button>
                        </div>
                    </div>
                </div>
            </div>

                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title"><label> </label></h3>
                    </div>
                    <div id="alerta_empresa"></div>
                    <div class="box-body">

                    </div>
                </div>
            </div>

            <br/>
        </div>
        <!-- Botones de Control del Formulario de Paso -->

    </form>
    <div id="foo"></div>

{% endblock %}

{% block scripts %}
    <script src="{% static 'recursos/validaciones/manejadorImagen.js' %}"></script>
    <script src="{% static 'recursos/validaciones/validacionesEmpresa.js' %}"></script>
    <script>
    $('#contenedorDatos').addClass('active');
    $('#frmActDatos').addClass('active');
    $(document).ready(function() {
        {% if empresa_editar.emp_logo.url != None %}
        $("#content").html('<a id="logo_actual" href="{{ empresa_editar.emp_logo.url }}" title="" >Actualmente: {{ empresa_editar.emp_logo.name }}</a>');
        {% endif %}
    $("#content #logo_actual").tooltip({ content: '<img src="http://icdn.pro/images/fr/a/v/avatar-barbe-brun-homme-utilisateur-icone-9665-128.png" />' });

    });
    </script>
{% endblock %}