﻿{% extends "baseInicio.html" %}
{% load static %}
<link rel="stylesheet" href="{% static 'font-awesome-4.3.0/css/font-awesome.min.css' %}">
{% block contenido1 %}
    <section class="title">
        <div class="container">
            <div class="row-fluid">
                <div class="span6">
                    <legend>Registrar Empresa</legend>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block contenido %}
    <!-- Page Heading -->
<section id="contact-page" class="container">
    <form method="post" onsubmit="return false;" enctype="multipart/form-data" id="form_registro_empresa" name="form_registro_empresa">
        {% csrf_token %}
        <div id="id_form_empresa" class="row step">
            <div class="col-lg-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title"><label> Datos de la Empresa</label></h3>
                    </div>
                    <div id="alerta_empresa"></div>
                    <div class="box-body">
                        <div class="row" style="padding-bottom: 2% ">
                            <div class="col-xs-1 col-sm-2 col-md-3 col-lg-1" ></div>
                            <div class="col-xs-10 col-sm-8 col-md-6 col-lg-10">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <label for="txt_ruc">Ruc de la Empresa: </label>
                                        <label class="text-red">*</label>
                                        <div class="input-group">
                                            <input title="Ingresar su ruc empresarial" maxlength="50" type="text" class="form-control" id="txt_ruc" name="txt_ruc" placeholder="Ingresar su RUC empresarial" required>
                                            <span class="input-group-addon"><span class="fa fa-qrcode"></span></span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <label for="txt_correo_e">Correo Empresarial: </label>
                                        <label class="text-red">*</label>
                                        <div class="input-group">
                                            <input title="Ingrese un correo válido" maxlength="500" type="email" class="form-control" id="txt_correo_e" name="txt_correo_e" placeholder="Ingresar su correo empresarial" required>
                                            <span class="input-group-addon"><span class="fa fa-envelope"></span></span>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <label for="txt_nombre_c">Nombre Comercial:</label>
                                        <label class="text-red">*</label>
                                        <div class="input-group">
                                            <input title="Ingresar el Nombre Comercial" type="text" maxlength="200" class="form-control" id="txt_nombre_c" name="txt_nombre_c" placeholder="Nombre comercial" required>
                                            <span class="input-group-addon"><span class="fa fa-bookmark"></span></span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <label for="txt_nombre_j">Nombre Jurídico: </label>
                                        <label class="text-red">*</label>
                                        <div class="input-group">
                                            <input title="Ingresar el Nombre Juridico" type="text" maxlength="200" class="form-control" id="txt_nombre_j" name="txt_nombre_j" placeholder="Nombre jurídico" required>
                                            <span class="input-group-addon"><span class="fa fa-university"></span></span>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <label for="txt_dominio">Dominio: </label>
                                        <label class="text-red">*</label>
                                        <div class="input-group">
                                            <input title="Ingresar su dominio" type="text" maxlength="500" class="form-control" id="txt_dominio" name="txt_dominio" placeholder="Ingresar su dominio" required>
                                            <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <label for="txt_logo">Logo: </label>
                                        <label class="text-red">*</label>
                                        <div class="input-group">
                                            <input title="Suba su logo" style="padding-top: 5px ;padding-bottom: 5px" type="file" accept="image/*" onblur="esImagen(this)" class="form-control" id="txt_logo" name="txt_logo" required>
                                            <span class="input-group-addon"><span class="fa fa-image"></span></span>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <label for="txt_web">Url Web: </label>
                                        <label class="text-red">*</label>
                                        <div class="input-group">
                                            <input title="Ingresar su direccion web" maxlength="500" type="url" pattern="https?\:\/\/[a-zA-Z0-9\-\.]+\.[a-zA-Z]{2,}" class="form-control" id="txt_web" name="txt_web" placeholder="Ejm. https://wwww.ejemplo.com" required>
                                            <span class="input-group-addon"><span class="fa fa-tablet"></span></span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <label for="txt_grupo">Grupo: </label>
                                        <label class="text-red">*</label>
                                        <div class="input-group">
                                            <input title="Ingrese un grupo" type="text" maxlength="200" class="form-control" id="txt_grupo" name="txt_grupo" placeholder="Ingrese un grupo">
                                            <span class="input-group-addon"><span class="fa fa-tasks"></span></span>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <label for="txt_direccion_e">Dirección:</label>
                                        <label class="text-red">*</label>
                                        <div class="input-group">
                                            <textarea title="Ingresar Su Dirección" type="text" maxlength="200" class="form-control" id="txt_direccion_e" name="txt_direccion_e" placeholder="Ejm. Av. el Ejemplo" required rows="5" style="resize: none"></textarea>
                                            <span class="input-group-addon"><span class="fa fa-map-marker"></span></span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <label for="txt_descripcion_e">Descripción: </label>
                                        <div class="input-group">
                                            <textarea type="text" onkeypress="return validaSoloLetras();" class="form-control" id="txt_descripcion_e" maxlength="500" placeholder="Descripción de la Empresa" name="txt_descripcion_e" rows="5" style="resize: none"></textarea>
                                            <span class="input-group-addon"><span class="fa fa-tags"></span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-lg-10 col-md-6 col-sm-12 col-xs-12 col-lg-offset-1">
                                <label class="text-red">Campos Obligatorios (*) </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <br/>
        </div>
        <!-- Segundo Tab del Formulario -->
        <div id="id_form_representante" style="display: none" class="row step">

            <div class="col-lg-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title"><label>Datos del Representante</label></h3>
                    </div>
                    <div id="alerta_empresa2"></div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-1 col-sm-2 col-md-3 col-lg-1" ></div>
                            <div class="col-xs-10 col-sm-8 col-md-6 col-lg-10">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <label for="txt_nombre_p">Nombres: </label>
                                        <label class="text-red">*</label>
                                        <div class="input-group">
                                            <input title="Ingresar su dominio" maxlength="200" type="text" onkeypress="return validaSoloLetras();" class="form-control" id="txt_nombre_p" name="txt_nombre_p" placeholder="Ingrese su nombre" required>
                                            <span class="input-group-addon"><span class="fa fa-street-view"></span></span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <label for="txt_apellido_p">Apellidos: </label>
                                        <label class="text-red">*</label>
                                        <div class="input-group">
                                            <input title="Ingresar su apellido" maxlength="200" type="text" onkeypress="return validaSoloLetras();" class="form-control" id="txt_apellido_p" name="txt_apellido_p" placeholder="Ingrese su apellido" required>
                                            <span class="input-group-addon"><span class="fa fa-street-view"></span></span>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <label for="txt_telefono_f">Teléfono Fijo: </label>
                                        <label class="text-red">*</label>
                                        <div class="input-group">
                                            <input onkeypress="return validaSoloNumeros();" maxlength="10" type="text" class="form-control" id="txt_telefono_f"name="txt_telefono_f" placeholder="Ingrese su telefono" required>
                                            <span class="input-group-addon"><span class="fa fa-phone-square"></span></span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <label for="txt_telefono_m">Teléfono Móvil: </label>
                                        <div class="input-group">
                                            <input onkeypress="return validaSoloNumeros();" maxlength="10" type="text" class="form-control" id="txt_telefono_m" name="txt_telefono_m" placeholder="Ingrese su telefono" required>
                                            <span class="input-group-addon"><span class="fa fa-mobile"></span></span>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <label for="txt_fecha_i">Fecha de ingreso: </label>
                                        <label class="text-red">*</label>
                                        <div class="input-group">
                                            <input type="date" class="form-control" id="txt_fecha_i" name="txt_fecha_i" onchange="fechaMininaFase('txt_fecha_i', 'txt_fecha_f')" required>
                                            <span class="input-group-addon"><span class="fa fa-calendar-o"></span></span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <label for="txt_fecha_f">Fecha de finalización: </label>
                                        <label class="text-red">*</label>
                                        <div class="input-group">
                                            <input type="date" class="form-control" id="txt_fecha_f" name="txt_fecha_f" required>
                                            <span class="input-group-addon"><span class="fa fa-calendar-o"></span></span>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <label for="txt_correo_p">Correo Electrónico: </label>
                                        <label class="text-red">*</label>
                                        <div class="input-group">
                                            <input type="email" class="form-control" maxlength="200" id="txt_correo_p"  name="txt_correo_p" placeholder="Ingrese su correo" required>
                                            <span class="input-group-addon"><span class="fa fa-envelope-square"></span></span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <label for="txt_usuario_p">Nombre de usuario: </label>
                                        <label class="text-red">*</label>
                                        <div class="input-group">
                                            <input type="text" maxlength="30" placeholder="Nombre de usuario" class="form-control" id="txt_usuario_p" name="txt_usuario_p" required>
                                            <span class="input-group-addon"><span class="fa fa-user"></span></span>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <label for="txt_password">Contraseña: </label>
                                        <label class="text-red">*</label>
                                        <div class="input-group">
                                            <input placeholder="Contraseña" maxlength="128" type="password" class="form-control" id="txt_password" name="txt_password" required>
                                            <span class="input-group-addon"><span class="fa fa-eye"></span></span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <label for="txt_password_v">Verificar Contraseña: </label>
                                        <label class="text-red">*</label>
                                        <div class="input-group">
                                            <input type="password" maxlength="128" placeholder="Vuelva a escribir la contraseña" class="form-control" id="txt_password_v" name="txt_password_v" required>
                                            <span class="input-group-addon"><span class="fa fa-eye-slash"></span></span>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <label for="txt_direccion_p">Dirección: </label>
                                        <label class="text-red">*</label>
                                        <div class="input-group">
                                            <textarea title="Ingresar su dirección" type="text" maxlength="500" class="form-control" id="txt_direccion_p" name="txt_direccion_p" placeholder="Ejm. Av. el Ejemplo" required rows="5" style="resize: none"></textarea>
                                            <span class="input-group-addon"><span class="fa fa-map-marker"></span></span>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                                        <label for="txt_descripcion_p">Descripción: </label>
                                        <label class="text-red">*</label>
                                        <div class="input-group">
                                            <textarea type="text" onkeypress="return validaSoloLetras();" class="form-control" id="txt_descripcion_p" maxlength="800" placeholder="Escriba una descripción" name="txt_descripcion_p" rows="5" style="resize: none"></textarea>
                                            <span class="input-group-addon"><span class="fa fa-tags"></span></span>
                                        </div>
                                    </div>
                                </div>
                                <br/>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-lg-10 col-md-6 col-sm-12 col-xs-12 col-lg-offset-1">
                                <label class="text-red">Campos Obligatorios (*) </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Botones de Control del Formulario de Paso -->
        <div class="row">
            <div align="right" class="col-lg-11">
                <a id="btn_atras" onclick="btnAtras()" class="btn btn-primary" style="margin: 7px; display: none;"><i class="fa fa-arrow-left"></i>  Atrás</a>
                <a id="btn_guardar" onclick="btnGuardar()" class="btn btn-success" style="margin: 7px; display: none;">Guardar  <i class="fa fa-floppy-o"></i></a>
                <a id="btn_siguiente" onclick="btnSiguiente()" class="btn btn-primary" style="margin: 7px">Siguiente  <i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
    </form>
    </section>
    <div id="foo"></div>
    <script src="{% static 'recursos/validaciones/manejadorImagen.js' %}"></script>
    <script src="{% static 'recursos/validaciones/validacionesEmpresa.js' %}"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.7/jquery.validate.min.js"></script>
    <script>
        $(document).ready(function(){
            alertify.alert("<p align='justify'>Bienvenido a Dyuyay Server, le recordamos que para el correcto funcionamiento del sistema usted debe ingresar <b>el mismo" +
                    " número de RUC</b> de la empresa registrada en Dyuyay Client. Esto le permitirá realizar la sincronización de sus datos sin ningún problema.</p><br />Atentamente equipo Dyuyay");
            fechaActualFase('txt_fecha_i', 'txt_fecha_f');
        });

    </script>
{% endblock %}
