﻿{% extends "baseInicio.html" %}
<link rel="stylesheet" href="{{ STATIC_URL }}font-awesome-4.3.0/css/font-awesome.min.css">
{% block contenido1 %}
    <section class="title">
        <div class="container">
            <div class="row-fluid">
                <div class="span6">
                    <h1>Registrar Empresa</h1>
                </div>
                <div class="span6">
                    <ul class="breadcrumb pull-right">
                        <li><a href="/">Inicio</a> <span class="divider">/</span></li>
                        <li class="active">Registrar</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


{% endblock %}
{% block contenido %}

    <!-- Page Heading -->
 <section id="contact-page" class="container">
        <div class="row-fluid" style=" padding-left: 1%;" >
            <div class="span2"></div>
            <div class="span8">
                <form action="/proyecto/empresa/guardar/" method="post" onsubmit="return validacion()"
                      enctype="multipart/form-data">{% csrf_token %}
                    <legend>Datos de la Empresa</legend>
                    <div class="row-fluid">
                    <div class="span6">
                         <label for="txt_ruc" style="color:#5E4F40 ">Ruc de la Empresa: </label>
                       <input title="Ingresar su ruc empresarial" type="text" class="input-block-level"
                              id="txt_ruc" name="txt_ruc" placeholder="Ingresar su ruc empresarial" required>
                    </div>
                    <div class="span6">
                        <label for="txt_correo_e" style="color:#5E4F40 ">Correo Empresarial: </label>
                            <input title="Ingrese un correo válido" type="email" class="input-block-level" id="txt_correo_e"
                                   name="txt_correo_e" placeholder="Ingresar su correo empresarial" required>
                    </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6">
                            <label for="txt_nombre_c" style="color:#5E4F40 ">Nombre Comercial:</label>
                            <input title="Ingresar el Nombre Comercial" type="text" class="input-block-level" id="txt_nombre_c"
                                    name="txt_nombre_c" placeholder="Nombre comercial" required>
                        </div>
                        <div class="span6">
                            <label for="txt_nombre_j" style="color:#5E4F40 ">Nombre Jurídico: </label>
                            <input title="Ingresar el Nombre Juridico" type="text" class="input-block-level" id="txt_nombre_j"
                                   name="txt_nombre_j" placeholder="Nombre jurídico" required>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6">
                            <label for="txt_dominio" style="color:#5E4F40 ">Dominio: </label>
                            <input title="Ingresar su dominio" type="text" class="input-block-level" id="txt_dominio"
                                   name="txt_dominio" placeholder="Ingresar su dominio" required>
                        </div>
                        <div class="span6">
                            <label for="txt_logo" style="color:#5E4F40 ">Logo: </label>
                            <input title="Suba su logo" style="padding-top: 5px ;padding-bottom: 5px" type="file" onblur="esImagen(this)"
                                   class="input-block-level" id="txt_logo" name="txt_logo" required>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6">
                            <label for="txt_web" style="color:#5E4F40 ">Url Web: </label>
                            <input title="Ingresar su direccion web" type="text" class="input-block-level" id="txt_web"
                                   name="txt_web" placeholder="Ingresar su dirección web" required>
                        </div>
                        <div class="span6">
                            <label for="txt_grupo"style="color:#5E4F40 ">Grupo: </label>
                            <input title="Ingrese un grupo" type="text" class="input-block-level" id="txt_grupo"
                                   name="txt_grupo" placeholder="Ingrese un grupo">
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6">
                            <label for="txt_direccion_p" style="color:#5E4F40 ">Direccion:</label>
                            <input title="Ingresar Su Direccion" type="text" class="input-block-level"
                                   id="txt_direccion_p" name="txt_direccion_p" placeholder="Ejm Av el Ejemplo" required>
                        </div>
                        <div class="span6">
                            <label for="txtDescripcionP" style="color:#5E4F40 ">Descripcion: </label>
                            <input type="text" class="input-block-level" id="txtDescripcionP"
                                   placeholder="Descripcion de la Empresa"name="txtDescripcionP" required>
                        </div>
                    </div>
                    <br/><legend>Datos del Representante</legend>
                    <div class="row-fluid">
                        <div class="span6">
                            <label for="txtNombreP" style="color:#5E4F40 ;padding-top: 10px">Nombres: </label>
                            <input title="Ingresar su dominio" type="text" class="input-block-level" id="txtNombreP"
                                   name="txtNombreP" placeholder="Ingrese su nombre" required>
                        </div>
                        <div class="span6">
                            <label for="txtApellidoP" style="color:#5E4F40 ">Apellidos: </label>
                            <input title="Ingresar su apellido" type="text" class="input-block-level" id="txtApellidoP"
                                   name="txtApellidoP" placeholder="Ingrese su apellido" required>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span12">
                            <label for="txtDireccionP" style="color:#5E4F40 ">Direccion: </label>
                            <input type="text" class="input-block-level" id="txtDireccionP" name="txtDireccionP"
                               placeholder="Ingrese su dirección" required>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6">
                            <label for="txtTelefonoF" style="color:#5E4F40 ">Telefono Fijo: </label>
                            <input type="text" class="input-block-level" id="txtTelefonoF"name="txtTelefonoF"
                                   placeholder="Ingrese su telefono" required>
                        </div>
                        <div class="span6">
                            <label for="txtTelefonoM" style="color:#5E4F40 ">Telefono Movil: </label>
                            <input type="text" class="input-block-level" id="txtTelefonoM"
                                   name="txtTelefonoM" placeholder="Ingrese su telefono" required>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6">
                            <label for="txtFechaI" style="color:#5E4F40 ">Fecha de ingreso: </label>
                            <input type="date" class="input-block-level" id="txtFechaI"name="txtFechaI" required>
                        </div>
                        <div class="span6">
                             <label for="txtFechaF" style="color:#5E4F40 ">Fecha de finalizacion: </label>
                            <input type="date" class="input-block-level" id="txtFechaF" name="txtFechaF" required>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6">
                            <label for="txtUsuarioP" style="color:#5E4F40 ">Usuario: </label>
                            <input type="text" class="input-block-level" id="txtUsuarioP"
                                   name="txtUsuarioP" required>
                        </div>
                        <div class="span6">
                            <label for="txtCorreoP" style="color:#5E4F40 ">Correo Electronico: </label>
                            <input type="text" class="input-block-level" id="txtCorreoP"  name="txtCorreoP"
                                   placeholder="Ingrese su correo" required>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span6">
                            <label for="txtPassword" style="color:#5E4F40 ">Contraseña: </label>
                            <input type="password" class="input-block-level" id="txtPassword"
                                   name="txtPassword" required>
                        </div>
                        <div class="span6">
                            <label for="txtPasswordv" style="color:#5E4F40 ">Verificar Contraseña: </label>
                            <input type="password" class="input-block-level" id="txtPasswordv"
                                   name="txtPasswordv" required>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <button type="submit" class="btn btn-primary btn-large pull-right"
                                style="margin-top: 30px">Enviar</button>
                    </div>
                <p> </p>

            </form>
        </div>
     </div>
</section>
    <script src="/static/recursos/validaciones/manejadorImagen.js"></script>
    <script>
        function validacion(){
            if (document.getElementById("txtPassword").value != document.getElementById("txtPasswordv").value){
                var notification = alertify.notify('Las contraseñas no coinciden'.toUpperCase(),'error',
                                5, function(){  console.log('dismissed'); });
                return false
            }
            var contrasena1 = $("#txtPassword").val();
            if(contrasena1 == null || contrasena1.length == 0 || contrasena1.length < 6 || /^\s+$/.test(contrasena1)) {
                alertify.set('notifier','position', 'top-right');
                alertify.error('La contraseña deber ser mayor a 6 caracteres' ,10);
                return false
            }
            return true
        }
    </script>
{% endblock %}