{% extends "baseInicio.html" %}
{% block contenido1 %}
    <section class="title">
        <div class="container">
            <div class="row-fluid">
                <div class="span6">
                    <h1>Productos</h1>
                </div>
                <div class="span6">
                    <ul class="breadcrumb pull-right">
                        <li><a href="/base/">Inicio</a> <span class="divider">/</span></li>
                        <li class="active">Prodcutos</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block contenido %}
    <section id="pricing-table" class="container">
        <div class="row-fluid center clearfix">
            {% for p in proy_productos %}
            {% if forloop.counter == 1 or forloop.counter == 3 or forloop.counter == 4%}
            <div class="span3">
                <ul class="plan plan1">
                    <li class="plan-name">
                        <h3>{{ p.pro_nombre }}</h3>
                    </li>
                    <li style="background: #ffffff ;color: #000000">{{ p.pro_descripcion1 }}</li>
                    <li style="background: #ffffff ;color: #000000">{{ p.pro_descripcion2 }}</li>
                    <li style="background: #ffffff ;color: #000000">{{ p.pro_descripcion3 }}</li>
                    <li style="background: #ffffff ;color: #000000">{{ p.pro_descripcion4 }}</li>
                    <li style="background: #ffffff ;color: #000000">{{ p.pro_descripcion5 }}</li>

                    <li class="plan-action">
                        {% if forloop.counter == 1 %}
                            <a href="#" data-toggle="modal" class="btn btn-transparent"><i class="icon-briefcase"> </i> Contratar</a>
                        {% else %}
                            <a href="#modal_precios" onclick="comprar({{ p.id }}, {{ p.pro_precio }}, '{{ p.pro_nombre }}')" data-toggle="modal" class="btn btn-transparent"><i class="icon-shopping-cart"> </i> Comprar</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
            {% else %}
                <div class="span3">
                <ul class="plan plan2 featured">
                    <li class="plan-name">
                        <h3>{{ p.pro_nombre }}</h3>
                    </li>
                    <li style="background: #ffffff ;color: #000000">{{ p.pro_descripcion1 }}</li>
                    <li style="background: #ffffff ;color: #000000">{{ p.pro_descripcion2 }}</li>
                    <li style="background: #ffffff ;color: #000000">{{ p.pro_descripcion3 }}</li>
                    <li style="background: #ffffff ;color: #000000">{{ p.pro_descripcion4 }}</li>
                    <li style="background: #ffffff ;color: #000000">{{ p.pro_descripcion5 }}</li>

                    <li class="plan-action">
                        <a href="#modal_precios" data-toggle="modal" onclick="comprar({{ p.id }}, {{ p.pro_precio }}, '{{ p.pro_nombre }}')" class="btn btn-transparent"><i class="icon-shopping-cart"> </i> Comprar</a>
                    </li>
                </ul>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <p>&nbsp;</p>
    </section>

    <!-- modal-->
    <div id="modal_precios" class="modal hide fade">
        <a class="close-modal" href="javascript:" data-dismiss="modal" aria-hidden="true"><i class="icon-remove icon-2x"></i></a>
        <div class="modal-body">
            <div class="panel panel-default">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover" >
                        <thead style="background: #145d96;color: #ffffff">
                            <tr>
                                <td colspan="3" style="text-align: center;font-size: 15px"><b> Elija su Paquete </b><i class="icon-shopping-cart icon-2x"></i></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><b>  Paquete Actual: </b></td>
                                <td colspan="2"><label id="pro_nombre"></label></td>
                            </tr>
                            <tr>
                                <td><b>  Costo del Paquete: $</b></td>
                                <td colspan="2"><label id="pro_precio"></label></td>
                            </tr>
                        </tbody>
                        <thead style="background: #145d96;color: #ffffff">
                            <tr>
                                <th>Tiempo</th>
                                <th>Precio</th>
                                <th>Seleccion</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for s in proy_suscripcion %}
                            <tr>
                                <td>{{ s.sus_tiempo_meses }}  Meses</td>
                                <td>$ {{ s.sus_costo_meses }}</td>
                                <td><input onchange="sumar_precios({{ s.sus_costo_meses }})" type="radio" name="suscripcion" value="{{ s.id }}"></td>
                            </tr>
                            {% endfor %}
                            <tr>
                              <td></td>
                              <td><b><label>Costo del Paquete: $</label></b></td>
                              <td><label id="pro_precio_suma" style="font-size: 15px"></label></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="panel_datos" class="panel panel-default">
                    <div class="panel panel-default">
                        <div class="table-responsive">
                            <form onsubmit="return false">{% csrf_token %}
                                <table class="table table-bordered table-hover" >
                                    <thead style="background: #b8b8b8;color: #ffffff">
                                        <tr>
                                            <th colspan="2" style="cursor: pointer" onclick="datos()" ><i class="icon-pencil icon-1x"> </i><a> Datos Personales </a></th>
                                        </tr>
                                    </thead>

                                    <tbody id="info">

                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" id="panel_pago" style="display: none">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" style="cursor: pointer" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><i class="icon-credit-card icon-1x"> Opción de pago</i></a>
                    </h4>
                </div>
                <div class="panel-body" id="boton_paypal" align="center">
                    {{ proy_paypal_formulario.render }}
                </div>
                <input id="pro_id" type="hidden" value="1"/>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function comprar(id, precio, nombre){
            $('input[name="suscripcion"]').prop('checked', false);
            $('#pro_nombre').text(nombre);
            $('#pro_precio').text(precio);
            sumar_precios(0);
            $('#pro_id').val(id);
           cargar_valores(id, 0);
        }

        function sumar_precios(precio){
            var id = $('#pro_id').val();
            var copia = parseFloat($('#pro_precio').text());
            var suma = copia+precio;
            $('#pro_precio_suma').text(suma);
            cargar_valores(id, precio);
        }

        function cargar_valores(id, precio){
            $("#boton_paypal").load("{% url 'paypal_pedido' %}?item="+id+"&precio="+precio+" #boton_paypal");
        }

        function guardar_compra(){
            if($('input:radio[name=suscripcion]:checked').val() == null){
                 alert("Debe escoger un paquete")
            }else{
                $.ajax({
                    type: "POST",
                    url:"{% url "compra_crear" %}",
                    dataType: "json",
                    async: true,
                    data:{
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        txtEmail: $("#pay_email").val(),
                        txtNombre: $("#pay_nombre").val(),
                        txtApellido: $("#pay_apellido").val(),
                        txtSuscripcion: $('input:radio[name=suscripcion]:checked').val(),
                        txtProducto: $('#pro_id').val(),
                        txtPrecioSuma: $('#pro_precio_suma').text()
                    },
                    success: function(json){
                        if (json.result == "OK"){
                            setCookie("_dyuyay_paypal_1",$('#pay_email').val(),7);
                            setCookie("_dyuyay_paypal_2",$('#pay_nombre').val(),7);
                            setCookie("_dyuyay_paypal_3",$('#pay_apellido').val(),7);
                            setCookie("_dyuyay_paypal_4",$('input:radio[name=suscripcion]:checked').val(),7);
                            setCookie("_dyuyay_paypal_5",$('#pro_id').val(),7);
                            setCookie("_dyuyay_paypal_6",json.compra,7);
                            $("#panel_datos").hide();
                            $("#panel_pago").show();
                            enviar_correo();

                        }else{
                            alertify.error("¡Ha ocurrido un error al guardar sus datos!");
                        }
                    }
                });
            }
        }

        function datos() {
            $('#info').empty();
            $('#info').append('<tr><td colspan="2" class="center"><h4>Nombre:<input id = "pay_nombre" style="width: 94%;min-height: 5%;margin-bottom: -2%"type="text" class="input-medium" placeholder="Escriba su Nombre"></h4></br>' +
                    '<h4>Apellido:<input id = "pay_apellido" style="width: 94%;min-height: 5% "type="text" class="input-medium" placeholder="Escriba su apellido"></h4>' +
                    '<h4>Correo:<input id = "pay_email" style="width: 94%;min-height: 5% "type="text" class="input-medium" placeholder="Escriba su correo"></h4>' +
                    '<h4><button onclick="guardar_compra()" class="btn btn-primary" id = "paypal_registro" name="nn">Guardar</button></h4></td></tr>')
        }

        function enviar_correo(){
            $.ajax({
                type: "POST",
                url:"{% url "compra_correo" %}",
                dataType: "json",
                async: true,
                success: function(json){
                    if (json.result == "OK"){
                        alertify.success(json.message);
                    }else{
                        alertify.error("Se ha producido el error:  "+json.message);
                    }
                }
            });
        }
    </script>

{% endblock %}