{% extends "app_empresa/base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'agricultura/css/plugins/select2/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'plantilla/plugins/tree-multiselect.js/dist/jquery.tree-multiselect.min.css' %}">
{% endblock %}

{% block contenido %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Roles</h2>
            <ol class="breadcrumb">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Inicio<span class="caret"></span></a> {% include "dropdown-menu.html" %}
                </li>
                <li>
                    <a href="/empresa/inicio/">Roles</a>
                </li>
                <li class="active">
                    <strong>Agregar</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2"></div>
    </div>
    <div class="row  " style="padding-bottom: 7%; padding-top: 3% ">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <form method="post" action="/seguridad/roles/guardar/" onsubmit="return validar()">{% csrf_token %}
            <div class="ibox float-e-margins">
                <div class="ibox-title" style="border-bottom: 1px solid #d8d8d8">
                    <h5><i class="fa fa-plus-circle"></i> REGISTROS DE ROLES</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-xs-1 col-sm-2 col-md-3 col-lg-1"></div>
                        <div class="col-xs-10 col-sm-8 col-md-6 col-lg-10">
                            <br/>
                            <div id="alerta_rol"></div>
                                <div class="row">
                                    <div class="col-xs-12 col-md-12 col-lg-12">
                                        <label for="txtRol">Rol: </label>
                                        <div class="input-group">
                                            <input title="Ingresar nombre del Rol" type="text" class="form-control" id="txtRol" name="txtRol" placeholder="Nombre del Rol..." required autofocus autocomplete="off">
                                            <span class="input-group-addon"><span class="fa fa-sitemap"></span></span>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-xs-12  col-md-12 col-lg-12">
                                        <label for="listPermisos">Permisos: </label>
                                        <select multiple="multiple" style="width: 100%" data-placeholder="Seleccionar Permisos"
                                                id = "listPermisos" name="listPermisos">
                                            {% regroup item by content_type as content_list %}
                                            {% for content_type in content_list %}
                                                {{ content_type.grouper }}
                                                {% for permiso in content_type.list %}
                                                    <option value="{{ permiso.id }}" data-section="{{ permiso.content_type }}" data-index="{{ permiso.id }}" >{{ permiso.name }}</option>
                                                {% endfor %}
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="ibox-footer" style="border-top: 1px solid #d8d8d8">
                    <div class="row">
                        <div class="col-xs-offset-9 col-xs-3 col-md-offset-9 col-md-2">
                            <button type="submit" class="btn btn-primary " id = "btnRegistroRoles"> Guardar <i class="fa fa-save fa-1x" >   </i></button>
                        </div>
                    </div>
                </div>
            </div>
            </form>
        </div>
    <br>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'agricultura/js/plugins/select2/select2.full.min.js' %}"></script>
    <script src="{% static 'recursos/validaciones/validacionesRoles.js' %}"></script>
    <script src="{% static 'plantilla/plugins/tree-multiselect.js/dist/jquery.tree-multiselect.min.js' %}"></script>
    <script>
        $('#roles').addClass('active');
        $('#grd_rol').addClass('active');
        $('.select2').select2({
            width:"100%"
        });
        $("#listPermisos").treeMultiselect({
            collapsible:true,
            sortable:true,
            startCollapsed:true,
            //hideSidePanel:true
        });
        $(document).ready(function(){
            {% for msg in messages %}
                {% if msg.tags == 'success' %}
                    $("#alerta_rol").append('<div class="alert alert-success fade in">' +
                    '<a href="#" class="close" data-dismiss="alert">&times;</a>' +
                    '<strong>Correcto: </strong>{{ msg }}' +
                    '</div>');
                {% else %}
                    $("#alerta_rol").append('<div class="alert alert-danger fade in">' +
                    '<a href="#" class="close" data-dismiss="alert">&times;</a>' +
                    '<strong>Error: </strong>{{ msg }}' +
                    '</div>');
                {% endif %}
            {% endfor %}
        });
    </script>
{% endblock %}