{% extends "app_empresa/base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'agricultura/css/plugins/select2/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'plantilla/plugins/tree-multiselect.js/dist/jquery.tree-multiselect.min.css' %}">
{% endblock %}
{% block contenido %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Roles</h2>
            <ol class="breadcrumb">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Inicio<span class="caret"></span></a> {% include "dropdown-menu.html" %}
                </li>
                <li>
                    <a href="/empresa/inicio/">Roles</a>
                </li>
                <li class="active">
                    <strong>Listar</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2"></div>
    </div>
    <br>
    {% if 'auth.list_group' in usuario.get_all_permissions %}
{#        <div id="modalUsuarios" class="modal fade">#}
{#            <div class="modal-dialog">#}
{#                <div class="modal-content">#}
{#                    <div class="modal-header">#}
{#                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>#}
{#                        <h4 class="modal-title">Usuarios</h4>#}
{#                    </div>#}
{#                    <div class="modal-body">#}
{#                        <div class="row">#}
{#                            <div class="col-md-2"></div>#}
{#                            <div class="col-xs-12  col-md-9 col-lg-9">#}
{#                                <label for="listPermisos" style="color:#5E4F40 ">Usuarios: </label>#}
{#                                <select multiple class="form-control select2" style="width: 100%" id = "listUsuarios" name="listUsuarios">#}
{#                                    <option value="a">Hola</option>#}
{#                                    {% for i in lstUsuarios %}#}
{#                                        <option value="{{ i.id }}">{{ i.get_full_name }}</option>#}
{#                                    {% endfor %}#}
{#                                </select>#}
{#                            </div>#}
{#                        </div>#}
{#                        <br/><br/><br/><br/><br/><br/><br/>#}
{#                    </div>#}
{#                    <div class="modal-footer">#}
{#                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>#}
{#                        <button class="btn btn-success" id="guardarUsuarios" data-dismiss="modal">Guardar</button>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}

        <div id="modalPermisos" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Permisos</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-xs-12  col-md-12 col-lg-12">
                                <label for="listPermisos">Permisos: </label>
                                <!---------- permisos modall --------------->
                                <select multiple="multiple" style="width: 100%" id = "listPermisos" name="listPermisos">
                                </select>
                            </div>
                        </div>
                        <br/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button class="btn btn-success" id="guardarPermisos" data-dismiss="modal">Guardar</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="modalNombreRol" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Nombre de Rol</h4>
                    </div>
                    <div class="modal-body">
                        <label>Nombre: </label>
                        <input type="text" id="txtNombreRol" name="txtNombre" class="form-control"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button class="btn btn-success" id="guardarNombre" data-dismiss="modal">Guardar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div class="ibox float-e-margins" style="border: 2px solid #adadad;">
                    <div class="ibox-title" style="border-bottom: 1px solid #d8d8d8">
                        <h5><i class="fa fa-list"></i> Lista de Roles</h5>
                    </div>
                    <div class="ibox-content">
                        <div id="alerta_rol"></div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                                {% for i in lstRoles %}
                                    <div class="panel panel-default" style="padding: 10px">
                                        <div class="panel-heading">
                                            <div id="nombre{{ i.id }}">
                                                {{ i.name }}
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-sm-4 col-md-16 col-lg-6">
                                                    <strong>Opciones:</strong>
    {#                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Estado:#}
    {#                                                    {% if i.rol_estado %}#}
    {#                                                        <input type="checkbox" checked id="c{{ i.id }}" onclick="habilitar({{ i.id }})"/>#}
    {#                                                    {% else %}#}
    {#                                                        <input type="checkbox" id="c{{ i.id }}" onclick="habilitar({{ i.id }})"/>#}
    {#                                                    {% endif %}#}
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                    {% if 'auth.change_group' in usuario.get_all_permissions %}
                                                        Editar Nombre de Rol: &nbsp;
                                                        <a onclick="modalNombre({{ i.id }})" class="btn"><i class="fa fa-edit"></i></a>
                                                        <br/><br/>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-offset-1 col-sm-5 col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
                                                    <table class="table table-bordered" style="border: 1px solid #adadad">
                                                        <tr><th>
                                                            <strong>Permisos:
                                                                {% if 'auth.change_group' in usuario.get_all_permissions %}
                                                                    <a class="btn btn-primary btn-xs" style="margin-left:1em" title="Editar Permisos del Rol"
                                                                       onclick="editarPermisos(event,{{ i.id }})">
                                                                        <i class="fa fa-edit"></i>
                                                                    </a>
                                                                {% endif %}
                                                            </strong>
                                                            <a class="btn btn-primary btn-xs btn-editar" title="Guardar Permisos del Rol"
                                                               onclick="guardarPermisos(event,{{ i.id }})">
                                                                <i class="fa fa-floppy-o"></i> Guardar
                                                            </a>
                                                        </th></tr>
                                                        <tbody>
                                                        <tr class="tbodypermiso"><td>
                                                            <select class="listPermisos" multiple="multiple" id="permisos{{ i.id }}" style="text-align: center">
                                                                {% regroup lstMenu by content_type as content_read %}
                                                                {% for content_type in content_read %}
                                                                    {{ content_type.grouper }}
                                                                    {% for permiso in content_type.list %}
                                                                        <option value="{{ permiso.id }}" {% if permiso in i.permissions.all %}
                                                                                selected="selected" {% endif %}
                                                                        data-section="{{ permiso.content_type }}" data-index="{{ permiso.id }}" >{{ permiso.name }}</option>
                                                                    {% endfor %}
                                                                {% endfor %}
                                                            </select>
                                                        </td></tr>
                                                        <tr class="tbodypermisoeditar"><td>
                                                            <select class="listPermisosEditar" multiple="multiple" id="permisoseditar{{ i.id }}" style="text-align: center">
                                                                {% regroup lstMenu by content_type as content_list %}
                                                                {% for content_type in content_list %}
                                                                    {{ content_type.grouper }}
                                                                    {% for permiso in content_type.list %}
                                                                        <option value="{{ permiso.id }}" {% if permiso in i.permissions.all %}
                                                                                selected="selected" {% endif %}
                                                                        data-section="{{ permiso.content_type }}" data-index="{{ permiso.id }}" >{{ permiso.name }}</option>
                                                                    {% endfor %}
                                                                {% endfor %}
                                                            </select>
                                                        </td></tr>
                                                        </tbody>
                                                    </table>
                                                </div>
{#                                                <div class="col-sm-4 col-md-4 col-lg-4">#}
{#                                                    <table class="table table-bordered" style="border: 1px solid #adadad">#}
{#                                                        <tr><th>#}
{#                                                            <strong>Usuarios:#}
{#                                                                <a class="btn btn-primary btn-xs" style="margin-left: 50px" title="Editar Usuarios del Rol"#}
{#                                                                   onclick="modalUsuarios({{ i.id }})">#}
{#                                                                    <i class="fa fa-edit"></i>#}
{#                                                                </a>#}
{#                                                            </strong>#}
{#                                                        </th></tr>#}
{#                                                        <tbody>#}
{#                                                        <tr>#}
{#                                                            <td id="usuarios{{ i.id }}" style="text-align: center">#}
{#                                                                {% for k in lstUsuarios %}#}
{#                                                                    {% for j in k.groups.all %}#}
{#                                                                        {% if i.name == j.name %}#}
{#                                                                            {{ k.get_full_name }}<br>#}
{#                                                                        {% endif %}#}
{#                                                                    {% endfor %}#}
{#                                                                {% endfor %}#}
{#                                                            </td>#}
{#                                                        </tr>#}
{#                                                        </tbody>#}
{#                                                    </table>#}
{#                                                </div>#}
                                            </div>

                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                    </div>
                    </div>
                </div>

            </div>
        </div>
        <br><br><br>


    {% endif %}


{% endblock %}

{% block scripts %}
    <script src="{% static 'agricultura/js/plugins/select2/select2.full.min.js' %}"></script>
    <script src="{% static 'plantilla/plugins/tree-multiselect.js/dist/jquery.tree-multiselect.min.js' %}"></script>
    <script src="{% static 'recursos/validaciones/validacionesRoles.js' %}"></script>
    <script>
        $('#roles').addClass('active');
        $('#lst_rol').addClass('active');
            idRol="";
            {% if 'auth.change_group' in usuario.get_all_permissions %}
                // Inicializando muestra de permisos
                $(".tbodypermisoeditar").hide();
                $(".btn-editar").hide();
                $(".tbodypermiso").hide("fast",function(){
                   $(this).parent().append("<tr><td><button class='btn btn-primary btn-sm vermas' style='display:block;margin:auto' onclick='mostrarPermisos(event)'>Ver Más</button></td></tr>");
                });

                $(".listPermisos").treeMultiselect({
                    freeze:true,
                    //hideSidePanel:true,
                    collapsible:true,
                    startCollapsed:true,
                });

                $(".listPermisosEditar").treeMultiselect({
                    //hideSidePanel:true,
                    collapsible:true,
                    startCollapsed:true,
                });

                function editarPermisos(event, id){
                    idRol=id;
                    var panelPermiso = $(event.target).parents("table").find(".tbodypermisoeditar");
                    var readonlypanel = $(event.target).parents("table").find(".tbodypermiso");
                    if(panelPermiso.is(":visible")){
                        readonlypanel.hide();
                    }else{
                        var button = $(event.target).parents("table").find("button.vermas");
                        var buttone = $(event.target).parents("table").find(".btn-editar");
                        button.text("Esconder");
                        panelPermiso.show("fast",function(){
                            button.parent("tr").hide();
                            readonlypanel.hide();
                        });
                        buttone.show();
                    }
                }

                function mostrarPermisos(event){
                    var panelPermiso = $(event.target).parents("tbody").find(".tbodypermiso");
                    var panelPermisoEditar = $(event.target).parents("tbody").find(".tbodypermisoeditar");
                    var buttone = $(event.target).parents("table").find(".btn-editar");
                    if(panelPermiso.is(":visible") || panelPermisoEditar.is(":visible")){
                        $(event.target).text("Ver Más");
                        panelPermiso.hide("fast",function(){
                            $(event.target).parent("tr").show();
                        });
                        panelPermisoEditar.hide();
                        buttone.hide();
                    }else{
                        $(event.target).text("Esconder");
                        panelPermiso.show("fast",function(){
                            $(event.target).parent("tr").hide();
                        });
                    }
                }

                function habilitar(dato1){
                    var vCheck="c"+dato1;
                    $.ajax({
                        data: {activo: document.getElementById(vCheck).checked,
                            id:dato1},
                        url: '/seguridad/roles/inhabilitar/',
                        type: 'get',
                        success: function(data){                    //alert(data)
                            $("#alerta_rol").append('<div class="alert alert-'+data[1]+' fade in">' +
                                    '<a href="#" class="close" data-dismiss="alert">&times;</a>' +
                                    data[0] +
                                    '</div>');
                            $('html,body').animate({
                                scrollTop: $("#alerta_rol").offset().top
                            }, 500);
                        }
                    })
                }

                function modalNombre(id){
                    idRol=id;
                    $("#modalNombreRol").modal('show');
                    txt=document.getElementById('nombre'+id).innerText;
                    $('#txtNombreRol').val(txt);
                    //console.log(txt)
                }

                function modalUsuarios(id){
                    idRol=id;
                    document.getElementById("listUsuarios").length=0;
                    usuarios=document.getElementById('usuarios'+id).innerText;
                    vUsuarios=usuarios.split('\n');
                    contador=0;
                    $("#modalUsuarios").modal('show');
                    {% for i in lstUsuarios %}
                        var x = document.getElementById("listUsuarios");
                        var option = document.createElement("option");
                        valor = "{{ i.get_full_name }}";
                        option.value="{{ i.id }}";
                        option.text = valor;
                        for(j =0; j < vUsuarios.length-1; j++){
                            if(valor==vUsuarios[j]){
                                option.selected=true;
                            }
                        }
                        x.add(option);
                        contador++;
                    {% endfor %}
                    //$('#listUsuarios').multipleSelect('setSelects', lstUsuarios);
                    $(".select2").select2();
                }

                $('#guardarUsuarios').click(function(){
                    lstUsuarios=[];
                    for(i=0; i<document.getElementById('listUsuarios').length; i++){
                        if (document.getElementById('listUsuarios')[i].selected){
                            lstUsuarios.push(parseInt(document.getElementById('listUsuarios')[i].value))
                        }
                    }
                    $(event.target).parents("table").find("button.vermas");
                    console.log(lstUsuarios);
                    $.ajax({
                        data: {usuarios: lstUsuarios, id:idRol},
                        url: '/seguridad/roles/usuarios/',
                        type: 'get',
                        success: function(data){
                            //$('#listusuarios').multipleSelect('setSelects', []);
                            $("#alerta_rol").append('<div class="alert alert-'+data['tipo']+' fade in">' +
                                    '<a href="#" class="close" data-dismiss="alert">&times;</a>' +
                                    data['mensaje'] +
                                    '</div>');
                            $('html,body').animate({
                                scrollTop: $("#alerta_rol").offset().top
                            }, 500);
                            // var notification = alertify.notify(data[0],data[1],
                            //         5, function(){  console.log('dismissed'); });
                            // setTimeout('document.location.reload()',3000);
                        }
                    })
                });

                function guardarPermisos(event,id){
                    lstPermisos=[];
                    for(i=0; i<document.getElementById('permisoseditar'+id).length; i++){
                        if (document.getElementById('permisoseditar'+id)[i].selected){
                            lstPermisos.push(parseInt(document.getElementById('permisoseditar'+id)[i].value));
                        }
                    }
                    var close = $(event.target).parents("table").find("button.vermas");

                    $.ajax({
                        data: {permisos: lstPermisos, id:idRol},
                        url: '/seguridad/roles/permisos/',
                        type: 'get',
                        success: function(data){
                            //$('#listPermisos').multipleSelect('setSelects', []);
                            $("#alerta_rol").append('<div class="alert alert-'+data['tipo']+' fade in">' +
                                    '<a href="#" class="close" data-dismiss="alert">&times;</a>' +
                                    data['mensaje'] +
                                    '</div>');
                            $('html,body').animate({
                                scrollTop: $("#alerta_rol").offset().top
                            }, 500);
                            // var notification = alertify.notify(data[0],data[1],
                            //         5, function(){  console.log('dismissed'); });
                            // setTimeout('document.location.reload()',4000);
                        }
                    }).done(function(){
                       close.click();
                    });
                }

                $('#guardarNombre').click(function(){
                    $.ajax({
                        data: {nombre: document.getElementById("txtNombreRol").value,id:idRol},
                        url: '/seguridad/roles/nombres/',
                        type: 'get',
                        success: function(data){                    //alert(data)
                            document.getElementById('nombre'+idRol).innerText= document.getElementById("txtNombreRol").value;
                            $("#alerta_rol").append('<div class="alert alert-'+data['tipo']+' fade in">' +
                                    '<a href="#" class="close" data-dismiss="alert">&times;</a>' +
                                    data['mensaje'] +
                                    '</div>');
                            $('html,body').animate({
                                scrollTop: $("#alerta_rol").offset().top
                            }, 500);
                        }
                    })
                });


            {% endif %}
        </script>
{% endblock %}