{% extends "base.html" %}
{% block contenido %} <!-- Page Heading -->
    </br>

    <div id="modalUsuarios" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Usuarios</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-xs-12  col-md-9 col-lg-9">
                            <label for="listPermisos" style="color:#5E4F40 ">Usuarios: </label>
                            <select multiple style="width: 100%" id = "listUsuarios" name="listUsuarios">
                                {% for i in lstUsuarios %}
                                    <option value="{{ i.id }}">{{ i.get_full_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <br/><br/><br/><br/><br/><br/><br/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button class="btn btn-success" id="guardarUsuarios" data-dismiss="modal">Guardar</button>
                </div>
            </div>
        </div>
    </div>

    <div id="modalPermisos" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Permisos</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12  col-md-12 col-lg-12">
                            <label for="listPermisos">Permisos: </label>
                            <select multiple class="form-control select2" style="width: 100%" id = "listPermisos" name="listPermisos">
                                {% for i in lstMenu %}
                                    <option value="{{ i.id }}">{{ i.men_nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                <br/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button class="btn btn-success" id="guardarPermisos" data-dismiss="modal">Guardar</button>
                </div>
            </div>
        </div>
    </div>

    <div id="modalNombreRol" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Nombre de Rol</h4>
                </div>
                <div class="modal-body">
                    <label>Nombre: </label>
                    <input type="text" id="txtNombreRol" name="txtNombre" class="form-control"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button class="btn btn-success" id="guardarNombre" data-dismiss="modal">Guardar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-10">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-star"></i> <label>Lista de Roles</label></h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                            {% for i in lstRoles %}
                                <div class="box box-solid box-primary">
                                        <div class="box-header with-border">
                                            <h3 class="box-title">
                                                <div id="nombre{{ i.id }}">
                                                    {{ i.rol_nombre }}
                                                </div></h3>
                                        </div>
                                        <div class="box-body">
                                            <div class="row">
                                                <div class="col-sm-4 col-md-16 col-lg-6">
                                                    <strong>Opciones:</strong>
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Estado:
                                                    {% if i.rol_estado %}
                                                        <input type="checkbox" checked id="c{{ i.id }}" onclick="habilitar({{ i.id }})"/>
                                                    {% else %}
                                                        <input type="checkbox" id="c{{ i.id }}" onclick="habilitar({{ i.id }})"/>
                                                    {% endif %}
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                    Editar Nombre de Rol: &nbsp;
                                                    <a onclick="modalNombre({{ i.id }})" class="btn"><i class="fa fa-edit"></i></a>
                                                    <br/><br/>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-4 col-md-6 col-lg-6">
                                                <strong>Permisos:
                                                    <a class="btn" style="margin-left: 50px" onclick="modalPermisos({{ i.id }})">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                </strong> <br/>
                                                <div id="permisos{{ i.id }}" style="margin-left: 10px">
                                                {% for j in lstPermisos %}
                                                     {% if j.rol_id.id == i.id %}
                                                         {{ j.men_id.men_nombre }}<br/>
                                                     {% endif %}
                                                {% endfor %}
                                                </div>
                                            </div>
                                                <div class="col-sm-4 col-md-6 col-lg-6">
                                                <strong>Usuarios:
                                                    <a class="btn" style="margin-left: 50px" onclick="modalUsuarios({{ i.id }})">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                                </strong> <br/>
                                                <div id="usuarios{{ i.id }}" style="margin-left: 10px">
                                                {% for j in lstUsuRol %}
                                                    {% if j.rol_id.id == i.id %}
                                                        {{ j.usu_id.get_full_name }}<br/>
                                                    {% endif %}
                                                {% endfor %}
                                                </div>
                                            </div>
                                            </div>

                                        </div>
                                    </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script>

        idRol=""
        document.onload=inicioTabla()
        function inicioTabla(){
            $('#presentacion').dataTable( {
                ordering:  false
            } );
        }

        function habilitar(dato1){
            var vCheck="c"+dato1

            //alert(Admin)
            $.ajax({
                data: {activo: document.getElementById(vCheck).checked,
                    id:dato1},
                url: '/seguridad/roles/inhabilitar/',
                type: 'get',
                success: function(data){                    //alert(data)
                    var notification = alertify.notify(data[0],data[1],
                            5, function(){  console.log('dismissed'); });
                }
            })

        }

        function modalNombre(id){
            idRol=id
            $("#modalNombreRol").modal('show');
            txt=document.getElementById('nombre'+id).innerText
            $('#txtNombreRol').val(txt)
            //console.log(txt)
        }

        function modalUsuarios(id){
            $('#listUsuarios').multipleSelect('setSelects', []);
            idRol=id
            $("#modalUsuarios").modal('show');
            usuarios=document.getElementById('usuarios'+id).innerText
            vUsuarios=usuarios.split('\n')
            lstUsuarios=[]
            for(j=0; j<vUsuarios.length; j++){
                for(i=0; i<document.getElementById('listUsuarios').length; i++){
                    if (vUsuarios[j] == document.getElementById('listUsuarios')[i].text){
                        lstUsuarios.push(parseInt(document.getElementById('listUsuarios')[i].value))
                    }
                }
            }
            $('#listUsuarios').multipleSelect('setSelects', lstUsuarios);
        }

        function modalPermisos(id){
            //$('#listPermisos').multipleSelect('setSelects', []);
            //idRol=id
            $("#modalPermisos").modal('show');
            permisos=document.getElementById('permisos'+id).innerText
            vPermisos=permisos.split('\n')
            lstPermisos=[]
            for(j=0; j<vPermisos.length; j++){
                for(i=0; i<document.getElementById('listPermisos').length; i++){
                    if (vPermisos[j] == document.getElementById('listPermisos')[i].text){
                        //$("#listPermisos option[text='" + vPermisos[j] + "']").attr("selected", 1);
                        //document.getElementById('listPermisos')[i].selected=true
                        lstPermisos.push(parseInt(document.getElementById('listPermisos')[i].value))
                        document.getElementById("listPermisos")[i].selected = true;
                    }
                }
            }
            $(".select2").select2();
            //$('#listPermisos').multipleSelect('setSelects', lstPermisos);
            //$('#txtNombreRol').val(txt)
        }



        $('#guardarUsuarios').click(function(){
            lstUsuarios=[]
            for(i=0; i<document.getElementById('listUsuarios').length; i++){
                if (document.getElementById('listUsuarios')[i].selected){
                    lstUsuarios.push(parseInt(document.getElementById('listUsuarios')[i].value))
                }
            }
            console.log(lstUsuarios)
            $.ajax({
                data: {usuarios: lstUsuarios, id:idRol},
                url: '/seguridad/roles/usuarios/',
                type: 'get',
                success: function(data){
                    $('#listusuarios').multipleSelect('setSelects', []);
                    var notification = alertify.notify(data[0],data[1],
                            5, function(){  console.log('dismissed'); });
                    setTimeout('document.location.reload()',3000);
                }
            })
        })

        $('#guardarPermisos').click(function(){
            lstPermisos=[]
            for(i=0; i<document.getElementById('listPermisos').length; i++){
                if (document.getElementById('listPermisos')[i].selected){
                    lstPermisos.push(parseInt(document.getElementById('listPermisos')[i].value))
                }
            }
            console.log(lstPermisos)
            $.ajax({
                data: {permisos: lstPermisos, id:idRol},
                url: '/seguridad/roles/permisos/',
                type: 'get',
                success: function(data){
                    $('#listPermisos').multipleSelect('setSelects', []);
                    var notification = alertify.notify(data[0],data[1],
                            5, function(){  console.log('dismissed'); });
                    setTimeout('document.location.reload()',4000);
                }
            })
        })

        $('#guardarNombre').click(function(){
            $.ajax({
                data: {nombre: document.getElementById("txtNombreRol").value,id:idRol},
                url: '/seguridad/roles/nombres/',
                type: 'get',
                success: function(data){                    //alert(data)
                    document.getElementById('nombre'+idRol).innerText= document.getElementById("txtNombreRol").value
                    var notification = alertify.notify(data[0],data[1],
                            5, function(){  console.log('dismissed'); });
                }
            })
        })
    </script>


{% endblock %}