{% extends "agricultura/base_agricultura.html" %}

{% block css %}

<link href="/static/agricultura/css/plugins/chosen/chosen.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/select2/select2.min.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/cropper/cropper.min.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/switchery/switchery.css" rel="stylesheet">

<!-- Data Tables -->
<link href="/static/agricultura/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet">
<link href="/static/agricultura/css/plugins/footable/footable.core.css" rel="stylesheet">

{% endblock css %}

{% block contenido %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Gestión de Especies</h2>
        <h2 class="pull-right" style="margin-top: -35px;">{{empresa}}</h2>
        <ol class="breadcrumb">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Inicio<span class="caret"></span></a> {% include "dropdown-menu.html" %}
            </li>
            <li>
                <a href="/agricultura/inicio">Módulo agricultura</a>
            </li>   
            <li class="active">
                <strong>Especies</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
    {% if 'agricultura.list_agr_especie_cultivo' in usuario.get_all_permissions %}
		<div class="col-md-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title hvr-overline-from-left" style="width: 100%;">
                    <h5>Lista de Especies Ingresadas</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content">
                            <input type="text" class="form-control input-sm m-b-xs" id="filter"
                                   placeholder="Search in table">
                            <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="8" data-filter=#filter>
                                <thead>
                                <tr>
                                    <th data-toggle="true">Nombre</th>
                                    {% if 'agricultura.change_agr_especie_cultivo' in usuario.get_all_permissions %}
                                        <th>Editar</th>
                                        <th>Parámetros</th>
                                        <th>Estado</th>
                                    {% endif %}
                                    <th data-hide="all">Categoria: </th>
                                    <th data-hide="all">Imagen</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for especie in datos_especie %}
                                <tr>
                                    <td>{{ especie.esp_nombre }}</td>
                                    {% if 'agricultura.change_agr_especie_cultivo' in usuario.get_all_permissions %}
                                    <td>
                                    <a onclick="editar_especie({{ especie.esp_id }})"  class="btn btn-warning btn-xs "data-toggle="tooltip" data-placement="top" title="Editar" data-original-title="Mark as read"><i class="fa fa-edit fa-xl"> Editar</i> </a>
                                    </td>
                                    <td>
                                        <a data-target="#modalParametros"
                                           data-esp-nombre='{{especie.esp_nombre }}'
                                           data-esp-id='{{especie.esp_id }}'
                                           class="btn btn-info btn-xs "data-toggle="modal" data-placement="top" title="Agregar Parametros" data-original-title="Mark as read"><i class="fa fa-leaf fa-xl"></i> </a>
                                    </td>
                                        <td>
                                            <div class="switch">
                                                <div class="onoffswitch">
                                                    {% if especie.esp_estado %}
                                                        <input type="checkbox" checked class="onoffswitch-checkbox" value={{ especie.esp_estado }} id={{ especie.esp_id}} onchange="baja_especie(this, '{{ especie.esp_id }}')" >
                                                    {% else %}
                                                        <input type="checkbox" class="onoffswitch-checkbox" value={{ especie.esp_estado }} id={{ especie.esp_id}} onchange="baja_especie(this, '{{ especie.esp_id }}')">
                                                    {% endif %}
                                                        <label class="onoffswitch-label" for={{ especie.esp_id }}>
                                                            <span class="onoffswitch-inner"></span>
                                                            <span class="onoffswitch-switch"></span>
                                                        </label>
                                                </div>
                                            </div>
                                    </td>
                                    {% endif %}
                                    <td>{{ especie.esp_categoria.cat_nombre  }}
                                    </td>
                                <td>
                                    <a href="#modalver" class="btn btn-info btn-xs " data-toggle="modal" data-esp-imagen='{{especie.esp_imagen.url}}' data-target="#modalVer" data-placement="top" title="Ver" data-original-title="Mark as read"><i class="fa fa-eye fa-xl"></i> Ver</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5">
                                    <ul class="pagination pull-right"></ul>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        {% endif %} {% if 'agricultura.add_agr_especie_cultivo' in usuario.get_all_permissions %}
        <div class="col-md-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title hvr-overline-from-left" style="width: 100%;">
                    <h5>Especies</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" id="reiniciar" style="display: block;">
                    <form class="form-horizontal" id="form_especie" name="form_especie" method="post" enctype="multipart/form-data" action="{% url 'agricultura:url_especie_agregar' %}">{% csrf_token %}
                        <p>Ingrese todos los parámetros a continuación</p>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">Nombre</label>
                            <input name="id" class="hide" id="id">
                            <div class="col-lg-10">
                                <input type="text" placeholder="Nombre de le especie" class="form-control" id="txt_especie" name="txt_especie" required>
                            </div>
                        </div>
						<div class="col-lg-12">
			                <div class="ibox float-e-margins">
			                    <div class="ibox-content">
			                        <div class="row">
			                            <div class="col-md-12">
			                        	<h4>Imagen</h4>
			                                <div class="image-crop" style="max-height: 300px; max-width:100%;">
                                                <div id="contenedor_img">
			                                    <!--<img src="/static/agricultura/img/p3.jpg">-->
                                                 </div>
			                                </div>
			                            </div>
			                            <div class="col-md-3">
			                                <div class="img-preview img-preview-sm" style="display: none;"></div>
			                                <br>
			                                <div class="btn-group">
			                                    <label title="Upload image file" for="inputImage" class="btn btn-primary">
			                                        <!--<input type="file" accept="image/*" name="file" id="inputImage" class="hide">
			                                        Seleccionar Imagen-->
                                                    <input type="file" accept="image/*" name="file1" id="inputImage1">
			                                    </label>
			                                </div>
			                            </div>
			                        </div>
			                    </div>
			                </div>
            			</div>

	                	<div class="form-group"><label class="col-lg-2 control-label">Categoria</label>
							<div class="col-lg-5">
                            <div id="contenedorSelect">
				                <select data-placeholder="Escoga Categoria..." class="chosen-select" style="width:200px;" tabindex="2" id="select_categoria_especie" name="select_categoria_especie">
                                    {% for i in datos_categoria %}
                                        <option value="{{ i.cat_id }}">{{ i.cat_nombre }}</option>
                                    {% endfor %}
			                	</select>
                            </div>
			                </div>
                            <div class="col-lg-4">
                                        {% if 'agricultura.add_agr_especie_categoria' in usuario.get_all_permissions %}
                                            <a  onclick="agregarCategoria()" class="related-widget-wrapper-link add-related" id="" title="Agregar Categoría"><img src="/static/admin/img/icon_addlink.gif" width="10" height="10" alt="Agregar"></a>
                                        {% endif %}
                                        </div>
                        </div>
                        <div id="div_estado">
                        <div class="form-group"><label class="col-lg-2 control-label">Estado</label>
                            <div class="switch col-lg-10">
                                <input type="checkbox" class="js-switch" checked id="check_estado" name="check_estado" />
                                </div>
                        </div>
                        </div>
                        <div class="ibox-footer">
	                    <div class="form-group text-rigth" >
	                        <div class="col-lg-offset-3">
                                <div id="contenedor_btn">
	                             <button class="btn btn-primary col-lg-offset-3 col-lg-3" type="submit">Guardar</button>
                                </div>
                            </div>
	                    </div>
                        </div>
                    </form>
                </div>
            </div>
		</div>
    {% endif %}
	</div>

</div>


    <!-- modales -->
    <div class="modal inmodal fade" id="modalVer" tabindex="-1" role="dialog"  aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="animated bounceInRight">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
            <center>
                <img id="imagen" width="400" class="img-circle" height="400">
            </center>
        </div>
    </div>
</div>
    <div class="modal inmodal fade" id="modalParametros" tabindex="-1" role="dialog"  aria-hidden="true" style="display: none;">
        <div class="modal-dialog"> <!-- modal-sm -->
            <div class="modal-content animated bounceInRight">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                        <h4><label class="modal-title" id="nombre">Nombre de especie</label></h4>
{#                        <cite title="" data-original-title="">Si existen datos seran modificados</cite>#}
                </div>
                  <div class="modal-body">
                    <form class="form-horizontal" id="form_parametros" name="form_parametros" method="post" enctype="multipart/form-data" action="{% url 'agricultura:url_especie_valores' %}">{% csrf_token %}
                        <div class="row" id="form-Modal">
                        </div>
                        <input type="text" id="id" name="id" class="hide"/>
                {% if 'agricultura.change_agr_especie_parametros' in usuario.get_all_permissions or 'agricultura.change_agr_especie_parametros' in usuario.get_all_permissions %}
                    <div class="modal-body">
                        <button class="btn btn-primary" type="submit">Guardar</button>
                    </div>
                {% endif %}
                </form>
                </div>
            </div>
        </div>
    </div>
{% include "includes/modales.html" %}

{% endblock contenido %}

{% block scripts %}

<script>
    document.onload = cargarFunciones();
    function cargarFunciones(){
        $('#contenedorEspecie').addClass('active');
        $('#especie').addClass('active');
        $('#form_categoria').on("submit",function(){
        event.preventDefault();
        $.ajax({
            type:"POST",
            url: "/agricultura/categoria_especie_agregar/",
            dataType: 'json',
            data:$(this).serialize(),
            success: function(response){
                $('#txt_cat_nombre').val("");
                $('#txt_cat_observacion').val("");
                $('#modalCategoria').modal('hide');
                toastr.options={"progressBar":true};
                toastr.success(response.mensaje,'Categoria');
                $.get("/agricultura/categoria_especie/",$.getDataCategoria); // get without token_crsf
            },
            error: function(){
                toastr.options={"progressBar":true};
                toastr.error("Error",'Categoria');
            }
        });
    });

    $.getDataCategoria = function(response)
    {
        var datos = "";
        data = response.data;
        $.each(response.data, function(i,value){
            datos+= "<option value="+value.cat_id+">"+value.cat_nombre+"</option>";
        });
        $('#select_categoria_especie').html(datos);       
        $("#select_categoria_especie").trigger("chosen:updated");
    };
    }
    function agregarCategoria(){
        $("#modalCategoria").modal()
    

    }
</script>

<script src="/static/agricultura/js/plugins/chosen/chosen.jquery.js"></script>
<script src="/static/agricultura/js/plugins/select2/select2.full.min.js"></script>
<script src="/static/agricultura/js/plugins/cropper/cropper.min.js"></script>
<script src="/static/agricultura/js/plugins/switchery/switchery.js"></script>

<!-- DataTables -->
<script src="/static/agricultura/js/plugins/footable/footable.all.min.js"></script>


<script src="/static/agricultura/scripts/op_especie.js"></script>
{% endblock scripts %}
