{% extends "agricultura/base_agricultura.html" %}

{% block css %}
	<link href="/static/agricultura/css/plugins/chosen/chosen.css" rel="stylesheet">
	<link href="/static/agricultura/css/plugins/select2/select2.min.css" rel="stylesheet">
	<link href="/static/agricultura/css/plugins/cropper/cropper.min.css" rel="stylesheet">
	<link href="/static/agricultura/css/plugins/switchery/switchery.css" rel="stylesheet">
    <!-- Data Tables -->
    <link href="/static/agricultura/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
    <link href="/static/agricultura/css/plugins/dataTables/dataTables.responsive.css" rel="stylesheet">
    <link href="/static/agricultura/css/plugins/dataTables/dataTables.tableTools.min.css" rel="stylesheet">


{% endblock css %}

{% block contenido %}

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
        <h2>Gestión Categoría de Especies</h2>
        <h2 class="pull-right" style="margin-top: -35px;">{{empresa}}</h2>
        <ol class="breadcrumb">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Inicio<span class="caret"></span></a> {% include "dropdown-menu.html" %}
            </li>
            <li>
                <a href="/agricultura/inicio">Módulo agricultura</a>
            </li>   
            <li class="active">
                <strong>Categoría Especies</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2"></div>
</div>

	<div class="row">
	<br>
	</div>
        <div class="row">
    {% if 'agricultura.list_agr_especie_categoria' in usuario.get_all_permissions %}
		<div class="col-md-6">
            <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Lista de Categorías Ingresadas</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                    <div class="table-responsive" id="tabla_categoria">
                    <table class="table table-striped table-bordered table-hover " id="editable" >
                    <thead>
                    <tr>
                        <th class="footable-visible footable-first-column">Nombre</th>
                        <th>Acciones</th>
                        {% if 'agricultura.change_agr_especie_categoria' in usuario.get_all_permissions %}
                            <th>Estado</th>
                        {% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for categoria in datos_categoria %}
                        <tr class="gradeX">
                        <td>{{ categoria.cat_nombre }}</td>
                        <td>
                            <a  href="#modalver"class="btn btn-warning btn-xs " data-toggle="modal"
                                                            data-cat-nombre='{{categoria.cat_nombre }}'
                                                            data-cat-observacion='{{categoria.cat_observacion }}' data-target="#modalVer" data-toggle="tooltip" data-placement="top" title="" data-original-title="Mark as read"><i class="fa fa-eye fa-xl"></i> </a>
                            {% if 'agricultura.change_agr_especie_categoria' in usuario.get_all_permissions %}
                                <a onclick="editar_categoria({{ categoria.cat_id }})" class="btn btn-info btn-xs "data-toggle="tooltip" data-placement="top" title="" data-original-title="Mark as read"><i class="fa fa-edit fa-xl"></i> </a>
                            {% endif %}
                        </td>
                        {% if 'agricultura.change_agr_especie_categoria' in usuario.get_all_permissions %}
                            <td><div class="switch">
                            <div class="onoffswitch">
                        {% if categoria.cat_estado %}
                            <input type="checkbox" checked class="onoffswitch-checkbox" value={{ categoria.cat_estado }} id={{ categoria.cat_id}} onchange="baja_categoria(this, '{{ categoria.cat_id }}')" >
                        {% else %}
                            <input type="checkbox" class="onoffswitch-checkbox" value={{ categoria.cat_estado }} id={{ categoria.cat_id}} onchange="baja_categoria(this, '{{ categoria.cat_id }}')">
                        {% endif %}
                                    <label class="onoffswitch-label" for={{ categoria.cat_id }}>
                                        <span class="onoffswitch-inner"></span>
                                        <span class="onoffswitch-switch"></span>
                                    </label>
                                </div>
                            </div></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>Nombre</th>
                        <th>Acciones</th>
                        {% if 'agricultura.change_agr_especie_categoria' in usuario.get_all_permissions %}
                            <th>Estado</th>
                        {% endif %}
                    </tr>
                    </tfoot>
                    </table>
                        </div>

                    </div>
                </div>
		</div>
    {% endif %}
    {% if 'agricultura.add_agr_especie_categoria' in usuario.get_all_permissions %}
		<div class="col-md-6">
			<div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Categoría de Especies</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" style="display: block;">
                    <form class="form-horizontal" id="form_categoria" method="post" action="{% url 'agricultura:url_categoria_agregar' %}">{% csrf_token %}
                        <div class="form-group"><label class="col-lg-2 control-label">Nombre de la Categoría</label>
                            <div class="col-lg-10">
                            	<input type="text" placeholder="Nombre de la categoría" class="form-control" name="txt_cat_nombre" id="txt_cat_nombre" required onkeypress="validaSoloTexto()">
                            </div>
                        </div>
	                	<div class="form-group"><label class="col-lg-2 control-label">Observación</label>
							<div class="col-lg-10">
				                <textarea  placeholder="Observaciones" class="form-control" name="txt_cat_observacion" id="txt_cat_observacion" ></textarea>
			                </div>
                        </div>
                        <div id="div_estado">
                        <div class="form-group"><label class="col-lg-2 control-label" name="cat_est">Estado</label>
                            <div class="col-lg-10">
                            	<input type="checkbox" class="js-switch" checked name="check_cat_estado"  id="check_cat_estado"/>
                                    </div>
                            </div>
                        </div>

	                    <div class="form-group text-rigth">
	                        <div class="col-lg-offset-5">
                                <div id="contenedor_btn">
	                             <button class="btn btn-primary" type="submit">Guardar</button>
                                </div>
	                        </div>
	                    </div>
                    </form>
                </div>
            </div>
		</div>
    {% endif %}
	</div>

    <!--MODALES-->
    <div class="modal inmodal fade" id="modalVer" tabindex="-1" role="dialog"  aria-hidden="true" style="display: none;">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content animated bounceInRight">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
                                            <h4 class="modal-title">Categoria</h4>
                                        </div>
                                          <div class="modal-body">
                                                <div class="form-group">
                                                    <label class="control-label">Nombre</label>
                                                    <small class="text" id="nombre"></small><br/>
                                                    <label class="control-label">Observaciones</label>
                                                    <small class="text" id="observacion"></small>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



{% endblock contenido %}

{% block scripts %}

    <script>
        document.onload = cargarFunciones();
        function cargarFunciones(){
            $('#contenedorEspecie').addClass('active');
            $('#categoriaEspecie').addClass('active');
        }
    </script>

    <script src="/static/agricultura/js/plugins/chosen/chosen.jquery.js"></script>
    <script src="/static/agricultura/js/plugins/select2/select2.full.min.js"></script>
    <script src="/static/agricultura/js/plugins/cropper/cropper.min.js"></script>
    <script src="/static/agricultura/js/plugins/switchery/switchery.js"></script>

    <!-- DataTables -->

    <script src="/static/agricultura/js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="/static/agricultura/js/plugins/dataTables/dataTables.bootstrap.js"></script>
    <script src="/static/agricultura/js/plugins/dataTables/dataTables.responsive.js"></script>
    <script src="/static/agricultura/js/plugins/dataTables/dataTables.tableTools.min.js"></script>
    <script src="/static/agricultura/js/plugins/jeditable/jquery.jeditable.js"></script>
    <script src="/static/agricultura/scripts/op_categoriaEspecie.js"></script>

{% endblock scripts %}
